[2017-12-08 10:36] jskeet commented on #1767
See https://googlecloudplatform.github.io/google-cloud-dotnet/docs/faq.html#how-can-i-use-non-default-credentials-for-grpc-based-apis

[2017-12-08 10:40] amitchaudhary commented on #1767
Just updated the comment for more details? any direct sample for VideoIntelligenceServiceClient?

[2017-12-08 10:40] chrisdunelm commented on #1767
Yes, this is not as simple and obvious as it should be.

You need to create a gRPC `Channel` instance using your credentials, then pass that to `VideoIntelligenceServiceClient.Create(channel);`

To create the `Channel` instance, and then the `VideoIntelligenceServiceClient` instance do something like this:

[code]

[2017-12-08 13:56] jskeet commented on #1767
Closing as Chris has provided the details.

[2017-12-08 13:56] #1767 closed

[2017-12-08 14:05] jskeet commented on #1625
This is documented to be returned by default from `SpannerDataReader.GetFieldValue(string)` for struct fields - I suspect that means we can't fix it now. Do you agree?

[2017-12-08 14:16] chrisdunelm commented on #1625
Which documentation is this?

[2017-12-08 14:17] jskeet commented on #1625
https://googlecloudplatform.github.io/google-cloud-dotnet/docs/Google.Cloud.Spanner.Data/api/Google.Cloud.Spanner.Data.SpannerDbType.html#Google_Cloud_Spanner_Data_SpannerDbType_StructOf_System_Collections_Generic_IDictionary_System_String_Google_Cloud_Spanner_Data_SpannerDbType__

[2017-12-08 14:23] chrisdunelm commented on #1625
Oh right. And it's GAed, so now can't be changed presumably. That's a (small) shame.

[2017-12-08 14:47] jskeet commented on #1394
Now managed to reproduce it once with the adhoc test. Interestingly, it looks like we *did* get some information (middle line)

[code]

(I've replaced the real values with xxx.)

[2017-12-08 15:21] mastoj commented on #1394
Great to see progress on this weird bug.
On Fri, 8 Dec 2017 at 15:47, Jon Skeet <notifications@github.com> wrote:

[2017-12-08 15:39] jskeet commented on #1764
Fixed by #1765.

[2017-12-08 15:39] #1764 closed

[2017-12-08 16:46] jskeet commented on #1394
So, I've added more diagnostics - basically making the HTTP request in my own code directly, and timing it.
Since making the change, I haven't seen the problem again - and more importantly, I haven't seen a request take more than a second (which is our timeout). I have seen it take about 0.65s though - suggesting that 1s isn't outside the bounds of possibility.

I wonder whether we should bump the

[2017-12-08 23:23] iantalarico commented on #1038
@JustinBeckwith The link you have here 404s now.  Do you have updated context on this?

[2017-12-11 06:12] amitchaudhary commented on #1767
Small typo/correction -
ChannelCredentials channelCredential = credential.ToChannelCredentials();

[2017-12-11 09:46] jskeet commented on #723
Just tried this, and it failed appropriately.

(It fails when calling MoveNext on the response stream, rather than on the request, but I think that's okay.)

[2017-12-11 09:46] #723 closed

[2017-12-11 10:40] jskeet commented on #1581
Failed to reproduce this after trying several times. Closing for now.

[2017-12-11 10:40] #1581 closed

[2017-12-11 11:08] jskeet commented on #1641
Progress report: the code is in the support library now; when that's next released, I can implement the Google.Cloud.Storage.V1 part.

[2017-12-11 11:22] chrisdunelm commented on #1767
@amitchaudhary Thanks, updated.

[2017-12-11 11:42] jskeet opened #1776 "Fix Bigtable admin pagination workarounds before GA"
The Bigtable admin API doesn't fully support pagination, but we've got workarounds in the library to allow PagedEnumerable (etc) to be implemented, so long as users never set a page size.

We should almost certainly not go to GA with those in place.

[2017-12-12 09:37] AnidjarDavid opened #1781 "FireStore"
Hi,
I am trying the example from [http://googlecloudplatform.github.io/google-cloud-dotnet/docs/Google.Cloud.Firestore/index.html].
this is the main function in a dot.net console application.

`Environment.SetEnvironmentVariable("GOOGLE_APPLICATION_CREDENTIALS", @"C:\PathToJsonFile\xxxxxxxxxxxxxxxxx.json");
            var authFile = Environment.GetEnvironmentVariable("GOOGLE_APPLICATION_CREDENTIA

[2017-12-12 10:11] jskeet commented on #1781
Did you change `"project-id"` in the example to your actual project ID? Have you definitely enabled Firestore? Are you able to use any of the other methods, e.g. listing collections?

[2017-12-12 10:14] AnidjarDavid commented on #1781
Hi thanks for responding.
Of course i did, otherwise i would not get to the AddAsync method

[2017-12-12 10:18] jskeet commented on #1781
Yes you would. Nothing until `AddAsync` makes any RPCs. The `db.Collection` method just creates a `CollectionReference` in memory - it doesn't ask the server for anything.

[2017-12-12 10:25] AnidjarDavid commented on #1781
Thanks again Jon.
This my first Firestore Project.
the rules for the database
`service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write;
    }
  }
}`

which mean it does not require any authentication

[2017-12-12 10:33] jskeet commented on #1781
Well you'll be using the authentication specified in the service account JSON file you set the environment variable to. Did you add those rules yourself, or were they there to start with? I've never had to change or even look at the rules for the database myself. It may be worth trying to get back to a blank slate.

[2017-12-12 10:41] AnidjarDavid commented on #1781
The rules were there to start with.
It is a newly and empty project. it is in a blank state.
I will try to struggle with it a bit more and the I guess I will follow tour suggestion
Thanks very much

[2017-12-12 10:42] jskeet commented on #1781
Okay, next thing to check is that the service account you're using really is the right one. Is it definitely associated with the project that owns that database? I know that due to the "No Firestore and Datastore in the same project" limits, I've got two projects I use.

[2017-12-12 10:46] AnidjarDavid commented on #1781
I have created a new mail account for this project and created a single project.

[2017-12-12 10:50] jskeet commented on #1781
You shouldn't need a new Google account - just a GCP project. And the JSON file is a service account for that project? It should look something like:

[code]

[2017-12-12 11:27] AnidjarDavid commented on #1781
Hi jon,
You were right!
I had another GCP project and the JSON file was not the correct one.
I changed it and now it seems to work!!

Thank you very much !!!!

[2017-12-12 11:28] jskeet commented on #1781
Excellent - very glad to hear that :) Closing.

[2017-12-12 11:28] #1781 closed

[2017-12-12 16:19] chrisdunelm commented on #1643
@adhikaribi Is this issue now resolved? Or are you still having problems with messages not being acknowledged?

If you're not already using the latest nuget version (`Google.Cloud.PubSub.V1` version 1.0.0-beta15), then please upgrade as this fixes all currently known issues.
Also note that a server update was made about 2 or 3 weeks ago that should have improved ACK reliability.

[2017-12-12 16:20] chrisdunelm commented on #1610
@iantalarico Is this now resolved? I've looked at some of the integration test failures, and they don't seem be caused by pubsub.
Can this issue be closed?

[2017-12-12 16:22] chrisdunelm commented on #1591
It is required to not use a cancellation token in the call to `MoveNext()`. There is a comment in #1724 explaining why.

[2017-12-12 16:22] #1591 closed

[2017-12-12 16:24] chrisdunelm commented on #1188
Still an ongoing conversation with pubsub server team about this.

As far as I know, this is the last issue to be resolved with the pubsub client before it can go GA.

[2017-12-12 16:25] chrisdunelm commented on #1395
Closing, as unrecoverable errors are thrown, and recoverable errors are hidden from the user. Which I think is the correct behaviour.
@SurferJeffAtGoogle Please re-open with more details if this is incorrect.

[2017-12-12 16:25] #1395 closed

[2017-12-12 16:26] iantalarico commented on #1610
Yea, I haven't seen this failure in awhile.

[2017-12-12 16:26] #1610 closed

[2017-12-12 16:34] chrisdunelm commented on #1653
@hach-que It is expected that a `StreamingPull()` connection will periodically be closed by the server. The client code must expect this, and re-start the streaming-pull if the error is recoverable. See [Extensions. IsRecoverable()](https://github.com/GoogleCloudPlatform/google-cloud-dotnet/blob/master/apis/Google.Cloud.PubSub.V1/Google.Cloud.PubSub.V1/Extensions.cs#L68) for a list of recoverable

[2017-12-14 13:48] jskeet opened #1784 "StorageClient.DownloadObject fails for compressed data with a client configured not to decompress"
This is a special case of #1641, and more of a corner case.

If the client has been explicitly configured to disable decompression support, but tries to download an object which has `Content-Encoding: gzip`, the server will provide the hash of the compressed data, but will serve the decompressed data. There's no way of validating the hash provided.

There are two options here:

- The server could

[2017-12-15 11:42] #1641 closed

[2017-12-22 00:42] EatonZ opened #1790 "NuGet Packages and Dependencies"
**Environment**
-Visual Studio 2015
-.NET 4.6.2 Console Application

When installing a Google .NET package, such as `Google.Apis.CloudKMS.v1`, it wants to install a bunch of dependencies that don't really make sense. In the .NET Framework, these libraries and associated classes are already available, thus downloading these packages seems completely unnecessary.

[code]

Through my research and cle

[2017-12-22 09:00] jskeet commented on #1790
Just to check, which Google packages are you using? All the ones maintained in this repo are Google.Cloud.*. If you're only using Google.Apis.*, we should move this over to https://github.com/google/google-api-dotnet-client (I'm happy to create the new issue for you).

It does seem odd that we have a requirement for System.Net.Http, but I know that things get complicated for that particular packag

[2017-12-22 10:15] chrisdunelm commented on #1790
Looks like this is a `Google.Apis` issue, so needs transfering to `google-api-dotnet-client`. Will wait for confirmation from @EatonZ before investigating.

[2017-12-22 15:29] EatonZ commented on #1790
Oops, I guess it goes there. My impression from the readme in that client repository was that it was being discontinued and that this was the successor project.

[2017-12-22 15:38] chrisdunelm commented on #1790
Your impression is mostly correct. This repo contains the new `Google.Cloud` client libraries; and is where all (well, almost all) current and future development occurs. However, not all client libraries are available here yet; hence the [`Google.Apis` repo](https://github.com/google/google-api-dotnet-client) is still maintained.

The `Google.Apis.CloudKMS.v1` package you referred is a `Google.Api

[2017-12-22 15:38] #1790 closed

[2017-12-22 16:47] chrisdunelm opened #1791 "Fix bigtable server-streaming method flattening before release"
GAPIC codegen currently doesn't support flattenings on server-streaming methods.
So a hand-written flattened method has been temporarily included. The code-gen must be fixed, and the code-gen'ed version must be used before release.

[2017-12-22 16:48] chrisdunelm commented on #1643
Closing. Please re-open if there is still a problem.

[2017-12-22 16:48] #1643 closed

[2017-12-22 16:48] chrisdunelm commented on #1653
Closing. Please re-open if there is still a problem.

[2017-12-22 16:48] #1653 closed

[2017-12-22 16:58] chrisdunelm commented on #1791
This applies to the `SampleRowKeys` method (and possibly more).

[2017-12-25 09:59] Thaina commented on #1618
Nearly end of the year and still no support for C# while all the admin SDK got update last week

And not even a roadmap was solid

[2017-12-25 11:00] jskeet commented on #1618
No support for this specific API call yet, no. We'll get there, but we're doing lots of other work too.

[2017-12-26 04:44] hach-que commented on #1653
@chrisdunelm I'm currently trying to move over to SimpleSubscriber, however with the Pub/Sub emulator it never seems to fire handler. Looking at the code, it doesn't have any fallback to PullAsync if the Pub/Sub endpoint reports NotSupported, which I believe is the case for the emulator.

Can you confirm that SimpleSubscriber works when using the Cloud Pub/Sub Emulator? If it doesn't, then SimpleS

[2017-12-26 07:10] art-grig commented on #1394
Hi all,
seems I've got exactly the same bug with .Net Core 2.0 on flex engine, it also dissapears after redeploy, but as far as redeploy takes ~8+ mins it's really painful.

My app.yaml:
[code]

[2017-12-26 08:50] jskeet commented on #1394
@art-grig: How reproducible is this for you? So far I've seen it once after trying about a hundred reboots on a VM - and I've never managed to reproduce it in an ASP.NET Core app. To be clear, I absolutely believe everyone reporting it - I'm just trying to find the most consistent way of reproducing this so we can look into fixing it. This is obviously a very real and annoying problem that needs f

[2017-12-26 09:39] art-grig commented on #1394
Unfortunately in my case it has appeared just twice last month and I've always fixed it with redeploying.
Not really sure what might be the root cause. Maybe something with versioning?
That's how I deploy it:
`gcloud app deploy -v v018`

[2017-12-26 14:11] Thaina opened #1793 "Please add MessageParser<Value>.TryParse api"
I would like to suggest that MessageParser base class should have TryParse function for additional to `ParseDelimitedFrom` `ParseFrom` and `ParseJson` that return boolean and out value

So we could check for message that it parsable and handle alternate logic if it not parsable instead of expensive try/catch

[2017-12-26 14:53] jskeet commented on #1793
Did you mean to post this in the google/protobuf repo? This repo is for the API client libraries. I don't anticipate that we'd add TryParse functionality to protobuf though - there'd be quite a significant API surface addition to add it, including to interfaces (which would be a breaking change).

Closing this issue; please reopen in the protobuf repo if you still think it's worth it.

[2017-12-26 14:53] #1793 closed

[2017-12-26 19:27] jskeet commented on #1394
No, I don't think you're doing anything wrong at all. I'll have another go at reproducing this on Flex in the New Year. Maybe if I deploy requiring a minimum of 10 instances, and auto-detect the failure and log it, I'll be able to reproduce it more easily... although doing the logging after it's failed to get the default credentials could require a bit of work :)

[2017-12-26 20:27] alyaros opened #1794 "Spanner C# Driver - NPE Exception."
Code:
var spannerCommand =  spannerConnection.CreateInsertCommand("TableNameHere", spannerParameterCollection);
return await spannerCommand.ExecuteNonQueryAsync();

Error:

   at Google.Cloud.Spanner.V1.TransactionPool.SessionInfo.<CreateTransactionImplAsync>d__21.MoveNext() in C:\Users\benwu\spanner\google-cloud-dotnet\releasebuild\apis\Google.Cloud.Spanner.V1\Google.Cloud.Spanner.V1\TransactionP

[2017-12-26 20:44] jskeet commented on #1794
Thanks for the report. Any other relevant information? What parameters are you supplying, for example?

[2017-12-26 20:46] jskeet commented on #1794
(I'll let Ben assign a priority when he's looked at it. Please bear with us if it takes a bit longer to diagnose over the holiday period... I know I'm not working again until January; I don't know if Ben is in the same situation.)

[2017-12-28 15:13] recyclethis commented on #1618
From a server side perspective this would be very useful for integrating data collected by mobile devices into line of business systems.

I take it the heavy lifting for this is in the protocol, and there does not exist yet anything in Google.Cloud.Firestore.V1Beta1 to support this? If support is in V1Beta1 it should be fairly trivial to add an `onSnapshot` method to `QuerySnapshot`.

[2017-12-28 15:32] jskeet commented on #1618
It's far from trivial to provide the kind of support we want to provide. We would rather take time and do it properly than rush a shoddy option. You can use the client property to get the raw gRPC if you want in the meantime. We will attend this feature request over time, but will resist calls to rush.

[2017-12-28 17:15] recyclethis commented on #1618
Thanks @jskeet. I'll look at `FirestoreClient.Listen` to achieve this. Maybe I will be able to create extension methods on `QuerySnapshot` and `DocumentSnapshot` until support is officially added. There is a snippet which lays out the groundwork.

[2017-12-28 20:00] alyaros commented on #1794
looks like this problem arise only when I'm trying to perform multiple inserts. (It fails on the second insert)

[2018-01-02 10:33] chrisdunelm opened #1799 "Pubsub high performance subscriber does not work against pubsub emulator"
See https://github.com/GoogleCloudPlatform/google-cloud-dotnet/issues/1653#issuecomment-353916790 for original bug report.

[2018-01-02 10:33] chrisdunelm commented on #1653
@hach-que Apologies for the late reply. We were all on vacation over Christmas and New Year.
Just to check, you're talking about the emulator here: https://cloud.google.com/pubsub/docs/emulator ?
You are correct that the `SimpleSubscriber` does not fallback to `PullAsync` if the streaming call fails. This code has not been tested against the emulator, only the real cloud service.
I've created #179

[2018-01-02 11:22] hach-que commented on #1653
@chrisdunelm Hi, I ended up getting it working against the emulator a couple of hours ago. It turns out I forgot to explicitly pass the credentials and service endpoint to the SimpleSubscriber (which is required when you want to point it at the emulator). Once I did that, it started working again. I was going to post an update here once it went out to production, but that hasn't happened yet.

For

[2018-01-02 11:26] chrisdunelm commented on #1653
@hach-que Great, glad to hear it's working, and thanks for the code example. I'll close #1799, as it sounds like there's nothing to do :)

[2018-01-02 11:27] chrisdunelm commented on #1799
Turns out it does work against the emulator, so closing. See #1653 for a code example of how to connect to the emulator.

[2018-01-02 11:27] #1799 closed

[2018-01-02 12:09] jskeet opened #1801 "Integration tests fail due to Storage bucket creation/deletion rate quota"
We should sleep when we create or delete a bucket to avoid this.

[2018-01-02 14:59] evildour opened #1802 "[Bigtable] Support row filters for literal strings"
In the Bigtable project, there is a `RowFilters` static class with factory methods for creating `RowFilter` instances. There are four `...Regex(string)` methods taking in regular expression patterns for matching row keys, column family names, column qualifiers, or cell values. For example, one would use `RowFilters.ValueRegex(@"A\d")` to create a cell value filter for matching cells with value 'A'

[2018-01-02 20:27] cleversolutions commented on #1618
For anyone else who drops by here, I've played around with Google.Cloud.Firestore.V1Beta1 to create some very basic support for listen. It's not complete, and it's not terribly pretty yet, but it will listen for document and query changes. Checkout the [FirebaseDocumentListener](https://github.com/cleversolutions/FirebaseDotNetRamblings/blob/master/FirebaseDocumentListener.cs) class. Now that the

[2018-01-02 20:33] schmidt-sebastian commented on #1618
Note that there is now also a reference implementation in Java (https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2665)

[2018-01-03 09:44] Thaina opened #1805 "cloud FireStore error "Invalid property path" when key in a map has colon"
I have object look like this

[code]

I try to query it with orderby filter out only a documents with specific key

As example below I try to get all docs that has key `Type:XXX:2:2` in `statistics` so I write this code

[code]

I expect to get document that has id `uid0` and `uid2`

But it return error

[code]

Is it not possible or it was another kind of problem?

[2018-01-03 09:48] jskeet commented on #1805
Please give details about which API you're using - we don't have any context here. I'm *guessing* it's Datastore, but I'm not sure...

[2018-01-03 09:50] Thaina commented on #1805
@jskeet Sorry I was remove some wrong line when copy my code

[2018-01-03 09:55] jskeet commented on #1805
You should escape your property path as per https://github.com/GoogleCloudPlatform/google-cloud-dotnet/blob/5c17c4f593782223943e227e209c32249f8eccab/apis/Google.Cloud.Firestore/Google.Cloud.Firestore/FieldPath.cs#L109

... alternatively, just use the FieldPath class itself. We're not encouraging users to use the low-level API directly - the Google.Cloud.Firestore API is preferred in general.

[2018-01-03 10:30] Thaina commented on #1805
I see thank you very much

Still it not obvious when class `StructuredQuery.Types.FieldReference.FieldPath` itself is string not a `FieldPath` class. This google sdk somehow complicate about class that verify things like this

[2018-01-03 10:32] jskeet commented on #1805
I'm afraid I don't understand your last sentence, but the `FieldPath` class is in the `Google.Cloud.Firestore` API, rather than being a protobuf message. The whole point of the `Google.Cloud.Firestore` API is to avoid users having to worry about details like this. If you choose to use the low-level underlying API, there *will* be a lot more work to do.

[2018-01-03 10:36] Thaina commented on #1805
@jskeet Sorry for not being clear. I understand about `FieldPath` class. But the API for using FirestoreClient not using `FieldPath` class itself. Instead it use `StructuredQuery.Types.FieldReference` class and `StructuredQuery.Types.FieldReference` class also not use `FieldPath` class. But `FieldPath` property is just string

The reason why I don't use the `Google.Cloud.Firestore` higher level AP

[2018-01-03 10:49] jskeet commented on #1805
Yes, so you use the `EncodedPath` property of `FieldPath`. You can still use that part of the higher level API even if you don't use anything else.

Alternatively, use a local fork of the higher level API with your PR in it for now - or write a temporary method to convert your `Dictionary<string, Value>` into an appropriate `Dictionary<string, Object>` so that you can use the higher level API, alb

[2018-01-03 10:53] Thaina commented on #1805
@jskeet Thanks for your suggestion but because I don't actually know about how the higher API wrapper really work that's why I don't want to hack it without official release

But the low level one is somehow work understandably. So in the meantime I would still use it

Also I test your guidance and it work. So thank you very much

[2018-01-03 10:53] #1805 closed

[2018-01-03 13:44] jskeet opened #1806 "Listing log hangs fails if filter is invalid"
Not sure what's going on here yet - will update with a repro when I have one.

[2018-01-03 16:43] jskeet commented on #1394
@mastoj @art-grig @helgejfo: Could you let me know which GCP regions you're running in?

I now have an automated system for stopping/starting AppEngine services every few minutes and gathering the results of their logging. Unfortunately that hasn't shown the problem yet, or the metadata server taking longer than a second to respond... the closest has been about 700ms.

Different data centers appea

[2018-01-03 17:05] chrisdunelm commented on #1188
The decision has been made to rename the auto-generated classes to: `PublisherServiceApiClient` and `SubscriberServiceApiClient`.
And the handwritten classes to `PublisherClient` and `SubscriberClient`.

A PR for this is expected in the next few days, and a new beta release will be pushed to nuget.

[2018-01-03 17:21] art-grig commented on #1394
@jskeet, I am running on us-central.

[2018-01-03 21:11] cleversolutions commented on #1618
I've updated my [FirebaseDocumentListener](https://github.com/cleversolutions/FirebaseDotNetRamblings/blob/master/FirebaseDocumentListener.cs) to include an extension method for `Query`. Since I'm working outside of `Google.Cloud.Firestore` I've had to use some reflection to access internal methods and properties. You can now use the listener like this:
[code]

[2018-01-03 23:31] SurferJeffAtGoogle commented on #1576
Exactly how bad is it?  How costly is it to use two channels for two clients instead of one?  I've never heard a user say anything, positive or negative, about channels.  They don't want to learn about channels just to publish a message.  It's an implementation detail.  The more we can hide it from them, the better.

Is there a way (or proposed way) to pass a json credentials path to PublisherClie

[2018-01-04 00:46] SurferJeffAtGoogle opened #1811 "LanguageServiceClient.Create(channel) throws a Grpc.Core.RpcException"
This code:
[code]

Throws this exception:
[code]

Whereas this code, with GOOGLE_APPLICATION_CREDENTIALS set to the exact same path, succeeds:

[code]

See this PR for sample code and test failures:
https://github.com/GoogleCloudPlatform/dotnet-docs-samples/pull/418

[2018-01-04 06:47] jskeet commented on #1811
I'll test this today, but I expect this is because you haven't included any scopes. There are two options here:

- Specify scopes as documented [in the FAQ](https://googlecloudplatform.github.io/google-cloud-dotnet/docs/faq.html#how-can-i-use-non-default-credentials-for-grpc-based-apis)
- Upgrade to Grpc.Core version 1.8.0, where this problem goes away

The latter approach is what we're hoping to

[2018-01-04 07:39] jskeet commented on #1811
Just tested, and the first approach works. The code change is this:

[code]

to this:

[code]

Changing the Grpc.Core dependency *hasn't* worked for me, and I don't know why - I need to investigate that further.

[2018-01-04 07:44] jskeet commented on #1576
Not disposing of channels isn't *usually* a problem, but you wouldn't want to create a new channel on every request. `PublisherClient.Create()` will use a shared channel for all clients created that way. If you're using custom credentials, it would be best to create a single client instance.

While it would be nice to be able to hide all this away as an implementation detail, that's not always fea

[2018-01-04 07:59] helgejfo commented on #1394
@jskeet, I have seen the issue in both us-central and europe-west.

[2018-01-04 08:02] jskeet commented on #1394
Thanks for the details folks. I'm running tests in us-central and europe-west. I still haven't seen anything above 700ms (after literally thousands of restarts), but this could be something that's specific to a DC at a particular time. I'll keep running the tests and see if anything shows up.

If anyone has any more insight - or purely speculation at this point! - please share. It's frustrating fo

[2018-01-04 14:08] mastoj commented on #1394
us-central is what I'm using.

[2018-01-04 16:45] #1811 closed

[2018-01-04 16:45] SurferJeffAtGoogle commented on #1811
Thanks Jon!

[2018-01-04 20:00] EatonZ commented on #1417
@jskeet Finally getting around to checking this out.
Is there anything else I need to know besides setting `UploadObjectOptions.UploadValidationMode`?

[2018-01-04 20:13] jskeet commented on #1417
You shouldn't need to set anything unless you want a different option to `DeleteAndThrow` (the default).

It's now been released as 2.1.0 GA btw. No need for betas :)

[2018-01-04 21:22] EatonZ commented on #1417
@jskeet I have tested it and it appears to work as expected. Uploads work fine and a tampered hash throws the expected exception.

My only comment is about the `generation` query string you include on the DELETE call. I don't think you need that since the upload should technically be the latest version of the object, but I guess it doesn't hurt to include it to be safe.

[2018-01-04 21:29] jskeet commented on #1417
While it's unlikely, it's possible that between our code finishing the upload and trying to delete it, another version is uploaded from somewhere else. We wouldn't want to delete that file.

[2018-01-04 22:23] SurferJeffAtGoogle commented on #1576
I'm having trouble imagining the near and distant future auth.

In this pull request:
https://github.com/GoogleCloudPlatform/dotnet-docs-samples/pull/417
I wrote code that represents, ideally, what I think auth code should look like.  Of course the code does not compile.

Other DPEs disagree with some points anyway, so don't spend too much time critiquing that code.

But to help me understand the

[2018-01-05 07:08] Thaina opened #1815 "[FireStore Question] What's difference between Unary.IsNull and Binary.Equal null ? Are there Unary.NotNull?"
What's difference between Unary.IsNull and Binary.Equal null ?

Is it has any difference behavior? Can we use it to find document that has specific field exist or not exist?

At first I look at UnaryOperator to find operator for NotNull

I have document like this

[code]

I want to query for all document that already has any result. And also I want to query for any document that don't has any resu

[2018-01-05 07:17] jskeet commented on #1815
As far as I can tell, you should use `Unary.IsNull` to check for null equality. I don't *think* there's a "not equal" operator in any sense, either for null or comparing for inequality with another value.

cc @schmidt-sebastian

[2018-01-05 07:18] Thaina commented on #1815
@jskeet Can `Unary.IsNull` also check for missing field?

[2018-01-05 07:22] jskeet commented on #1815
I don't know, I'm afraid - I suggest you just give it a try.

Given that this isn't .NET-specific, I'd suggest using one of the support mechanisms listed in https://firebase.google.com/support/ - that way you're more likely to interact with people who know a lot more about Firestore than I do. (I'm not on the Firestore or Firebase team; I'm only responsible for the C# libraries.)

[2018-01-05 07:22] Thaina commented on #1815
@jskeet Thank you very much

[2018-01-05 07:23] jskeet commented on #1576
For the near future, imagine:

[code]

... where `CreateWithCredentialsFromFile` is certainly a name that needs discussing.

We're not at a stage where we're ready to create a PR showing longer-term options yet, but I suspect that discussion would be better in a design doc anyway.

[2018-01-05 07:24] jskeet commented on #1815
Closing as not really an issue for the .NET libraries per se.

[2018-01-05 07:24] #1815 closed

[2018-01-05 16:00] jskeet commented on #1394
Okay... I've now merged PRs to update the timeout to 2000ms for both credentials and platform detection. The timeout is handled slightly differently in different cases, so it's not *entirely* clear to me what's going to happen, but I don't think I want to change anything else right now. None of this will take effect until the next release of GAX and Google.Apis.Auth, of course - and even then you'

[2018-01-05 18:01] schmidt-sebastian commented on #1815
There is no "not equals" operator for any field type. You can check for the existing of a field by ordering by it. `query.order(field)` will only return results that have the key `field`.

[2018-01-06 06:42] Thaina commented on #1815
@schmidt-sebastian  Thanks for your suggestion but I try to avoid that because I would like to use ordering field for query other field

[2018-01-09 05:04] Thaina opened #1818 "Could we have ValueSerializer be public ?"
https://github.com/GoogleCloudPlatform/google-cloud-dotnet/blob/20147cde365ffc97ddf7b4d86e95ec50c5fc6171/apis/Google.Cloud.Firestore/Google.Cloud.Firestore/ValueDeserializer.cs#L36

It useful when we use low level API

Also I would like to have implicit operator, at least for Bcl, in `Value` class

[2018-01-09 06:47] Thaina commented on #1815
@schmidt-sebastian I was curious, how was `null` and `array` and `map` would be sorted in firestore when we use ordering? Can we sort by `> null` to query everything that not null?

[2018-01-09 12:23] Thaina opened #1819 "What if we use UpdateDocumentAsync with empty mask?"
`UpdateDocumentAsync` api has required parameters `document` and `updateMask`

The document just state that if any fields does not specified in the mask it would not be overridden. Which means if document already exist and we put an empty `new DocumentMask()` it would not write any changed field existing isn't it?

If it behave like this, what API should we call for override everything?

[2018-01-09 13:38] jskeet commented on #1819
If you specify an empty document mask, it wouldn't change any fields - or would throw an exception; I can't remember offhand.

If you want to completely overwrite the existing data, use `Set` instead of `Update`.

[2018-01-09 13:40] jskeet commented on #1818
I would rather not do either of these - at least for now.

While `ValueDeserializer` is internal, we can change it at will - which we may well want to do quite a bit. Having it as part of the public API would make it a lot harder to modify later. Once we're completely confident that we'll never need to change it, I would consider making it public, but I definitely don't want to do it now.

[2018-01-09 13:40] #1818 closed

[2018-01-09 13:46] Thaina commented on #1818
@jskeet Thanks but then should you keep this issue open for being reminder in the meantime?

[2018-01-09 13:50] jskeet commented on #1818
I would rather not, as I think it'll be a very long time before it's stable enough, and it'll just clutter up our issues when I'm looking for things I want to work on actively. I'll add it to the backlog file though.

[2018-01-09 14:08] Thaina commented on #1819
@jskeet I see. Because I have seen no `Set` api for the low level firestoreClient

So I just look for high level and it seem `Set` just use `ExtractDocumentMask` then update

Is it really normal for firestore that we use update with mask of all field to override everything?

[2018-01-09 14:18] jskeet commented on #1819
I believe so, but I'd have to look at the code in more detail to check. (I'm currently at a conference, just trying to catch up with mail - I'm not working in my normal capacity this week.) Again, for low-level API details it's probably best to ask in a Firestore-specific forum rather than here, as I'm really not an expert in Firestore in general.

cc @schmidt-sebastian

[2018-01-09 15:48] plaisted opened #1821 "Unable to connect to local Pub/Sub emulator with PubSub.V1"
I'm using the following code to try connecting to the Pub/Sub emulator running on localhost. It's basically a direct copy of the example code with the `ServiceEndpoint` changed.

[code]

No errors are thrown but no messages are received either. Looking at the emulator logs I see:

[code]

A quick google let me to https://stackoverflow.com/questions/43657112/creating-topic-on-pubsub-emulator sugges

[2018-01-09 15:52] jskeet commented on #1821
See https://googlecloudplatform.github.io/google-cloud-dotnet/docs/faq.html#how-can-i-use-emulators for this - basically you need to create a channel and pass that into SubscriberClient.Create.

Please check whether this works for you - I'll assign this to Chris to look into if you have any more issues.

[2018-01-09 16:38] plaisted commented on #1821
That worked perfectly, not sure how I missed that. Spent an hour searching for a solution but somehow missed the synchronous Create() that accepts a preconfigured Channel.

[2018-01-09 16:38] #1821 closed

[2018-01-09 17:11] schmidt-sebastian commented on #1815
Yes, you can sort types against one another. Specifying `> null` would return everything that is defined and not `null` since `null` sorts first in Firestore. I don't know out of the top of my head if we have any publicly available documentation on our ordering semantics, but you can take a look here to see how types compare: https://github.com/googleapis/nodejs-firestore/blob/master/src/order.js#

[2018-01-09 18:39] Thaina commented on #1819
@schmidt-sebastian Thank you very much. Is that was documented anywhere? Because I have seen only mention that a field which not exist in mask will not get update, but it I have seen nowhere mention that if there is no mask at all it would be full overridden

I suspect this behavior just not sure and not see document about it

[2018-01-09 18:42] Thaina commented on #1819
@schmidt-sebastian

https://github.com/GoogleCloudPlatform/google-cloud-dotnet/blob/3cc3a1b31bc1cf827deb243d115f8d8456cade13/apis/Google.Cloud.Firestore/Google.Cloud.Firestore/WriteBatch.cs#L143-L154

[2018-01-11 06:31] sg-blake opened #1824 "memory leak in dotnet speech client"
In the attached sample code, I’m experiencing a memory leak using function Call2(), while function Call1() works normally.
Could you check my problem please?

Call1() uses Recognize, and Call2() uses StreamingRecognize.
Creating a Channel instance only once and reusing it would control the memory increase,
but I need to handle a situation where a single client makes multiple speech recognition req

[2018-01-11 12:47] jskeet commented on #1824
Thanks for reporting this. I'm at a conference this week, but I'll try to reproduce it next week. (I'm also at a different conference for a lot of next week, but I've got a couple of days to try to get this done.)

[2018-01-12 03:14] Thaina opened #1825 "Other firebase service and Firestore for unity"
In addition to firestore I would like to request including all firebase admin service in C# along with it in this repo, especially Auth and Database

Is there a plan to do so or it would be in other repo?

Also, is there a way to use dll from this repo in unity3D? I want to use firestore but there are no C# support in firebase unity package

[2018-01-12 05:31] jskeet commented on #1825
No, nothing here can be used from Unity at the moment. There are very significant technical difficulties in doing so. We'd like to do it in the future, but we have nothing to announce at this point.

Similarly while it's entirely possible that we'll be supporting other Firebase services in the future, it really depends on when they support gRPC, which is what the codegen used for packages in this

[2018-01-12 05:31] #1825 closed

[2018-01-12 22:48] deepthi-bhattachar opened #1826 "iOS Unit Test/MockRespons Firestore Calls"
iOS:
Not able to find any articles related to Firestore calls unit testing. Is there anyway to mock the data? If yes, can you please share some links.

Firestore.firestore().collection(COLLECTION_NAME)
            .whereField(Constants.DOCUMENT_CODE, isEqualTo: inviteCode)
            .addSnapshotListener { querySnapshot, error in
                guard let snapshot = querySnapshot else {

[2018-01-13 01:02] jskeet commented on #1826
This is the github repo for the .NET code - which language were you looking for?

[2018-01-14 22:23] deepthi-bhattachar commented on #1826
Oops sorry... Dint see that. I am looking for iOS App - SWIFT.

How would you test for .NET?

[2018-01-14 22:28] jskeet commented on #1826
We're still considering how to best test Firestore apps on .NET, but I wouldn't necessarily expect the same approach as in Swift... and the mobile SDK is different anyway I believe.

It looks like https://github.com/firebase/firebase-ios-sdk is the repo to address this though, if it's a feature request.

[2018-01-14 22:28] #1826 closed

[2018-01-15 08:39] jskeet commented on #1819
The code path you've shown is when `SetOptions.Merge` is set to true.

Otherwise, it uses an empty set of paths:

https://github.com/GoogleCloudPlatform/google-cloud-dotnet/blob/fac8204336424cb797aa120461f883cf9fdd5ac2/apis/Google.Cloud.Firestore/Google.Cloud.Firestore/WriteBatch.cs#L175

[2018-01-15 09:17] schmidt-sebastian commented on #1819
As far as I can tell, this is not yet documented in the Protobuf definition. I created an internal PR to add this caveat.

[2018-01-15 09:30] Thaina commented on #1819
Thank you very much for all of responses

[2018-01-15 09:30] #1819 closed

[2018-01-15 18:04] jskeet commented on #1824
What makes you think you can't perform multiple streaming operations in parallel on a single channel? I'd expect that to be fine.

In your example, you've commented out a lot of code in Call2 - do you see the memory increase both with and without that code? Are you seeing any exceptions?

[2018-01-16 04:47] Thaina opened #1829 "What's difference between DocumentRootName and DatabaseRootName?"
https://github.com/GoogleCloudPlatform/google-cloud-dotnet/blob/master/apis/Google.Cloud.Firestore.V1Beta1/Google.Cloud.Firestore.V1Beta1/ResourceNames.cs

It seem both class has nearly the same code and property. And `DocumentRootName` was not used anywhere. Something seem wrong here

Also I was suspect that `DocumentRootName` and `DocumentPathName` and `AnyPathName` should contains "CollectionID

[2018-01-16 05:25] sg-blake commented on #1824
Thanks for the reply.

I thought a single channel could take only one streaming call, but after checking I understood that multiple streaming call processing is available, thanks for pointing it out.
However, if I ShutdownAsync() the channel it becomes no longer usable, but the memory used doesn’t get released. I’m suspicious that there’s a problem inside SpeechClient and gRPC modules.

The commen

[2018-01-16 08:01] jskeet commented on #1829
No, they're different as they represent different resource names. `DatabaseRootName` has a path of `projects/{project}/databases/{database}`; `DocumentRootName` has a path of `projects/{project}/databases/{database}/documents`.

It's possible that `AnyPathName` should take a `collectionId` rather than a `documentId`.

As it happens, none of these resource names are used at the moment - normally th

[2018-01-16 08:14] Thaina commented on #1829
@jskeet I see. Thank you very much

But still I think `DocumentPathName` and `AnyPathName` both should take `collectionID` because every document must live under a collection and that collection could be deep in hierachy

Also I have seen at least some mention about each ResourceNames, such as `DocumentPathName` have comment on link below. But `DocumentRootName` is nowhere

https://github.com/Goog

[2018-01-16 08:17] jskeet commented on #1829
Yes, there's a comment - but that's just a comment, and should be ignored for now. (It's not a doc comment; just a thought to myself about *potential* changes later.)

The way resource names work for open-ended paths would make it odd for `DocumentPathName` to have a collection ID, IMO. We'll take a closer look at the configuration to see why these resource names are being generated at all - they

[2018-01-16 08:23] jskeet commented on #1824
I believe this is a problem in Grpc.Core, and I'll report it on the gRPC repo and link to it from here.

Here's a shorter example that demonstrates the problem:

[code]

If the commented-out line is uncommented then:

- The memory leak goes away
- The shutdown occurs more rapidly too

So for the moment, you have two workarounds: reusing the same channel, or ensuring that you observe the end of the

[2018-01-16 08:31] jskeet commented on #1824
Reopened as now I'm seeing different behaviour even for the same code - this is very strange. I'll continue investigating.

[2018-01-16 08:32] Thaina commented on #1829
@jskeet Still it need to be parsed I think. And currently now I was using low level package because the high level package from nuget has a problem on serializing dictionary that not a `Dictionary<string,object>`

[2018-01-16 08:35] jskeet commented on #1829
I don't know what you mean by that. The fact that the high-level library doesn't use any of these resource name types proves that you don't need to either.

Rather than persist with the low-level API, could I suggest that you build your own local copy of the high-level API and keep that in a local nuget repository? If you really can't do that, I'll look into creating a new beta release of the high

[2018-01-16 08:44] jskeet commented on #1824
Okay, closing again - the difference is in Grpc.Core 1.8.3, which makes this a lot worse. (I'll include that in the bug...)

[2018-01-16 08:44] #1824 closed

[2018-01-16 08:54] jskeet commented on #1824
Filed https://github.com/grpc/grpc/issues/14021

[2018-01-16 08:54] Thaina commented on #1829
@jskeet It would not be the problem that your high level API has no bug from the start and that is the reason. I was rely on low level API as of now because it has no bug. I was testing it and it work more than your low level API

And you know I was making report with pull request so many days ago to fix that problem. But I have seen no update in nuget for 2 weeks so I think you would still fixing

[2018-01-16 08:58] jskeet commented on #1829
I merged a change to allow serialization of protobufs on January 3rd: https://github.com/GoogleCloudPlatform/google-cloud-dotnet/commit/82e04814473b10f5db1a7273b3fcca7e9c8166a2

I haven't built a NuGet package with that commit in, but as I say, you could easily do so yourself locally - you don't need to apply any code changes.

Note that I don't regard not serializing protos as a bug - it's just s

[2018-01-16 09:01] Thaina commented on #1829
@jskeet I cannot build my own because I use CI pipeline on bitbucket that would use `dotnet restore` to pull from nuget before publish it to the aws lambda server

If it not in nuget then I have only option is to scram all the repo into my project

[2018-01-16 09:02] jskeet opened #1830 "Update dependencies"
We should update to the latest version of Google.Protobuf and Google.Protobuf.Tools, and potentially Grpc.Core, although we might want to hold off on the latter due to https://github.com/grpc/grpc/issues/14021.

In particular, Google.Protobuf now supports:

- Retaining unknown fields
- Better comparisons of `double` values in the face of NaN (which would allow a slight test simplification)

This n

[2018-01-16 09:02] sg-blake commented on #1824
For others who would search about this issue in the future,
I'll add my test results to this thread.
jskeet's MoveNext() solution works on Grpc.Core 1.6.1,
(which was default in Google's Speech sample code),
while 1.8.0, 1.8.3 still has the leak.

Thanks for the solution, jskeet. You saved my day :)

[2018-01-16 09:04] jskeet commented on #1829
Right, that's all you needed to say, rather than implying that there were still code changes needed due to bugs.

I'll check with the Firestore team whether they're happy to create a new release.

In the meantime, I'll leave this issue open as I think we need to check whether the resource names are desirable at all - but rest assured that you never *have* to use them.

[2018-01-16 09:11] jskeet commented on #1824
My pleasure :) Note that Grpc.Core 1.7.x seems to be okay as well, if you call `MoveNext()`. The leak in Grpc.Core 1.8.x is much more noticeable (at least on my machine) than the non-MoveNext leak in earlier versions - there are some figures in the linked issue.

[2018-01-16 09:31] Thaina commented on #1829
@jskeet I don't said this issue relate to the bug. I just see that while the low level was being public and also reliable, it has ambiguous property like these class

And the bug from weeks ago is not just **not serializing protos** at that time it cannot serialize any dictionary that not attach `IDictionary<string,object>`

And I was doing investigation again. It came from `SerializeMap` function

[2018-01-16 09:40] jskeet commented on #1829
Okay, I'm not sure I understand the issue - please file a separate clear issue about this. In that issue, please provide an example using the *public* API, with expected results vs actual results. I'm very happy to try to improve the library, but the requests need to be clear and specific. It's always worth filing an issue rather than just a pull request, too, so that it's clear what you're trying

[2018-01-16 09:52] Thaina commented on #1829
OK @jskeet

**First** - This issue. I just file a question that these documents on the repo seem not complete. It just minor suspicious that if you say it would not be used anywhere then it's OK that it should be removed sometimes later and I agree with it. I just use it currently because it work like a path parser and state keeper

**Second** - You try to convince me to not use low level API. Thi

[2018-01-16 10:51] jskeet commented on #1829
Yes, I raised the high level API in this issue - because if we can fix everything that's preventing you from using the high level API, you won't need to worry about things like this issue. I will always prioritize issues with the high level API over questions around the low level API because they will be useful to more customers.

It sounds like a single new issue is all that's required, explainin

[2018-01-16 11:36] jskeet commented on #1830
Note that updating gRPC to 1.8.x or higher will help with manually-created channels - no need for scopes.

[2018-01-16 11:54] danielbenedykt commented on #851
I installed the nuget into Xamarin and it seems to compile and start running without any issues.

But it's not clear to me how to authenticate.

How do I authenticate ?  using GOOGLE_APPLICATION_CREDENTIALS   or some other way ?

[2018-01-16 11:56] jskeet commented on #851
Which NuGet package? I wouldn't expect any package that uses gRPC to work unless you're running on an x86/x64 processor.

As for how you authenticate - you *could* use `GOOGLE_APPLICATION_CREDENTIALS` if you're happy to have a service account JSON file on the device, but that's not ideal in many cases. You could use other ways of getting user credentials, but the auth library doesn't support Xamar

[2018-01-16 11:59] danielbenedykt commented on #851
Thanks for the quick response.

My bad,  it runs on iOS simulator (x64) but it does not run on the device.

[2018-01-16 12:33] jskeet commented on #1794
Could you provide a minimal but complete example that would help us reproduce this?

[2018-01-16 12:52] amarlot opened #1832 "Use proxy with Google.Cloud.Storage.V1"
Hello team,

By design in our "on prem" datacenter we need to use a proxy to go though internet.
We have been able to upload some file to our GCS without any proxy but we are stuck to upload a file when we need to use a proxy.

We use:
- .NET Core 2
- Windows Server 2016 to run our website

Where should we define the proxy in the API ? We didn't find any way to do it ! Is it even possible ?
We tri

[2018-01-16 13:50] jskeet commented on #1832
The Storage library uses `HttpClient` under the hood. I'd expect you to be able to configure your proxy in the same way you do for any other `HttpClient` - ideally at a system or application level.

(I believe that `WebRequest.DefaultWebProxy` is the simplest way to set a global proxy for the application.)

If you need to do it just for the specific `HttpClient`, you can modify the `HttpHandler` a

[2018-01-16 14:13] cstech-carlcamilleri commented on #1832
Hi,

To add some further information:
storageClient.Service.HttpClient.MessageHandler is of type ConfigurableMessageHandler
Inheriting from DelegatingHandler
Inheriting from HttpMessageHandler
Implementing IDisposable

We cannot override the proxy at any level in .NET Core.

Essentially, we also note that this line:
`var storageClient = StorageClient.Create(credential);`
may need to get an OAuth t

[2018-01-16 14:21] jskeet commented on #1832
Doh, sorry - the first line should have been

[code]

Basically we need to loop to get the innermost handler.

However, you don't need to worry about the credentials part - creating the `StorageClient` doesn't fetch any credentials in itself - so long as you set the proxy before you make any calls, you should be okay.

[2018-01-17 07:23] cstech-carlcamilleri commented on #1832
Hi,

This seems to work as expected! We'll be running further tests but looks OK for now, and we will post further updates to share other detail!

Thanks,
Carl

[2018-01-17 08:50] jskeet commented on #1832
Great! Thanks for letting me know. Will close this for now - but you can still add updates.

[2018-01-17 11:22] #1829 closed

[2018-01-17 11:25] Thaina opened #1837 "Do we have BatchGetDocuments function in high level api?"
I was seeing this API in grpc and use it from low level API. But it seem there was not mention in other SDK

Is the transaction API already cover the batchget or it not supported yet?

[2018-01-17 23:07] jskeet commented on #1837
We currently use `FirestoreDb.GetDocumentSnapshotsAsync` to fetch multiple snapshots, but that's not exposed directly.

@schmidt-sebastian: Any thoughts on whether/how this might be exposed?

[2018-01-19 16:55] jskeet commented on #1837
Have checked with @schmidt-sebastian offline, and yes, we'll add it. (Precise name TBD - it's `getAll(DocumentReference[])` in Java; it'll be async in C# so will *at least* end with an Async suffix.)

[2018-01-19 16:56] jskeet commented on #1837
Will probably try to get this done before the Watch API work, just because it should be easier to bite off and do a new (useful) release with...

[2018-01-19 19:22] danoscarmike commented on #1188
Hi @chrisdunelm, any updates?

[2018-01-21 14:46] ArtificialInsights commented on #1618
I just found this thread today - I am working on a large project in Angular and we would like also offer a C# Desktop application for this project. All of my data resides in Firestore. Is their a library yet for Firestore in C#? I saw a mention above for a Google.Cloud.Firestore.V1Beta1. Is this the current library for C#? Is it still in beta? I really don't need real time listening functions in t

[2018-01-21 15:01] jskeet commented on #1618
The library you want to use is `Google.Cloud.Firestore` which provides a much higher level abstraction than `Google.Cloud.Firestore.V1Beta1` - but both the library and the underlying API are still in beta.

[2018-01-21 19:48] ArtificialInsights commented on #1618
OK - Thanks - Yeah, I have been working on this all morning - There are no clear videos or explanations on how to integrate this into a C# project... such as, showing a step by step video on setting up the project in GCP, connecting the Firestore API and setting/Downloading the json file, setting up the environmental variables, etc... so I am in the process of creating such a video... will post sh

[2018-01-22 08:58] chrisdunelm commented on #1188
@danoscarmike Sorry, was busy with conference/demo for the last week or two. A new beta with this rename will be published in the next day or two. This is expected to be the final beta, with the GA release following shortly.

[2018-01-22 21:25] benwulfe commented on #1794
Also please provide the full exception message and text.  Sometimes you will get an exception creating a Session if you have supplied invalid arguments in your connection string.  A very common error is to use a capital letter for your database or instance -- which is illegal.  For example, connecting to database "Orders" instead of "orders"

[2018-01-23 13:16] markwalsh-liverpool opened #1848 "Catching rate limit exceptions"
I highly doubt I will reach the threshold of 400 reqs per second but just incase how should I handle any rate limit exceptions I might encounter, here is a sample of code I am using currently:

[code]

[2018-01-23 13:37] jskeet commented on #1848
That's really an application decision - you may want to wait and then retry, maybe wait and fail any incoming requests until then, or keep passing in requests until they start working again. Without more context it's hard to know what to recommend, I'm afraid.

[2018-01-23 13:49] chrisdunelm commented on #1848
Or did you mean what error will your client-side code see if you hit the rate limit?

I expect an [`RpcException`](https://github.com/grpc/grpc/blob/master/src/csharp/Grpc.Core/RpcException.cs) would be thrown, with a `StatusCode` indicating the problem.
For a rate limit, I would expect a `StatusCode` of [`ResourceExhausted`](https://github.com/grpc/grpc/blob/master/src/csharp/Grpc.Core/StatusCode

[2018-01-23 14:06] markwalsh-liverpool commented on #1848
Hello, thanks for the replies.  I do mean handling this via client-side code indeed!

I am thinking about implementing the batch functionality exposed to me but I wondered what would happen if I hit the 400 images per second threshold whilst I was processing these.  I would expect the status code of ResourceExhausted as you mentioned.

[2018-01-23 14:37] #1837 closed

[2018-01-23 14:38] jskeet commented on #1837
This is closed because the fix has been merged, but I want to wait a little while before doing another release as I may have more changes imminently.

[2018-01-23 14:40] chrisdunelm commented on #1188
Fixed by #1843 and pushed to nuget as beta16.

[2018-01-23 14:40] #1188 closed

[2018-01-23 14:41] jskeet commented on #1802
Mike, was this fixed by #1823?

[2018-01-23 14:47] evildour commented on #1802
Yup, sorry I forgot I created an issue for this.

[2018-01-23 14:47] #1802 closed

[2018-01-23 19:09] benwulfe commented on #1794
alyaros@ does this still repro?
Possibly this was fixed with this fix? https://github.com/GoogleCloudPlatform/google-cloud-dotnet/pull/1650
There shouldnt be any way for a NPE to occur in the method given.

[2018-01-23 19:45] alyaros commented on #1794
Hey,
Sorry for the delay, took me some while to get to it.

Anyway, I have changed my implementation since - to overcome the issue mentioned above but mainly in order to avoid multiple round trips and so now on write I'm using the "Google.Cloud.Spanner.V1" For Write Flow and "Google.Cloud.Spanner.Data -Version 1.0.0" For Read flow.
This allows me both to enjoy the benefits of the new ADO Driver an

[2018-01-23 20:23] alyaros commented on #1794
As For The Index Support I've tried to do something like this:

` public static class SpannerIndexSupport
{
public static IQueryable<TSource> WithIndex<TSource>(this IQueryable<TSource> query, string indexName)
        {
            var methodDefinition = typeof(SpannerIndexSupport).GetTypeInfo().GetMethods().Single(m => m.Name == "WithIndex");
            var method = methodDefinition.MakeGeneric

[2018-01-24 05:57] benwulfe commented on #1794
If you manually create and specify a transaction for a SpannerCommand write, you will be able to write multiple times and only have it send one message to the server when you finally call CommitAsync() on the transaction.  If you only wish to avoid multiple trips to the server, you shouldn't need to drop down to V1.
Haven't had a look at index support yet.  Will try soon.  Thanks for the pointer.

[2018-01-24 06:01] benwulfe commented on #1794
you can find an example of insert SpannerCommands in a single ADO.NET transaction here:
https://github.com/benwulfe/google-cloud-dotnet/blob/master/apis/Google.Cloud.Spanner.Data/Google.Cloud.Spanner.Data.IntegrationTests/SpannerStressTests.cs#L96

[2018-01-24 06:38] jerarl opened #1853 "Return content for GetSchemaTable() of Spanner DataReader"
We have a generic implementation for ADO.net that relies on reading the GetSchemaTable(). Currently it returns null but we need it to have some data for the ColumnName, Ordinal, and DataType with the addition of NumericPrecision, NumericScale and ColumnSize even if these 3 columns would just be empty.

[2018-01-24 06:43] jerarl opened #1854 "Spanner DataReader return DBNull value instead of null"
When using the GetValues(object[] values), can we return DBNull value instead of null for null data?

[2018-01-24 08:08] jskeet commented on #1853
Assigned to Ben for comment on feasibility.

[2018-01-24 08:09] jskeet commented on #1854
Ben, any reason not to do this? (I'm happy to implement the code - just checking whether it's appropriate.)

[2018-01-24 11:32] jskeet opened #1860 "No protobuf constructors in generated documentation"
I suspect that the filterconfig is responsible for this.

[2018-01-24 12:15] #1860 closed

[2018-01-24 12:20] jskeet commented on #1860
This will gradually be picked up as we publish new docs. I'm not going to explicitly regenerate everything, as that would pick up changes that haven't made it to a NuGet release yet.

[2018-01-24 18:36] MaikuMori commented on #1394
Happened to us as well. `us-central`. Don't have any debug logs except the exception:

[code]

[2018-01-24 18:57] jskeet commented on #1394
@chrisbacon Maybe we should do a patch release of the auth library to get the increased timeout going? (I'm not sure it's worth waiting for the next minor release.)

[2018-01-25 07:25] cstech-carlcamilleri commented on #1832
Hi,

We have made further tests on this and the results are as follows.

Considering the below code snippet:

[code]
In the above, we are requesting that connections pass through a Fiddler installation.

In Fiddler, we see these requests:
![fiddler_requests](https://user-images.githubusercontent.com/35494465/35375840-c65afa32-01a8-11e8-8691-ea671fffd53e.png)

In fact we do not seem to see any requ

[2018-01-25 07:33] jskeet commented on #1832
You're creating a GoogleCredential but not specifying any scopes - in that situation it will create a JWT, which doesn't require any additional requests to get auth tokens.

I do wonder whether Fiddler is changing the results here - my understanding is that that works *as a proxy*, so anything which is manually setting the proxy may effectively be bypassing Fiddler for that reason.

You might want

[2018-01-25 10:43] cstech-carlcamilleri commented on #1832
Hi,

In fact we are manually setting the proxy to be Fiddler, in the following line:
`clientHandler.Proxy = new WebProxy("127.0.0.1", 8888);`

Since the upload is successful when running under a Windows User Account that has a System Proxy configured, but not when running the same application under a different Windows User Account that doesn't have a system proxy configured, does this not indicate

[2018-01-25 10:54] jskeet commented on #1832
Hmm... I'm slightly lost at this point.

To take the API part out of things, what happens if you get the `HttpClient` out of the service, and make a request to some HTTP site with it? You should be able to see what that's doing very clearly in Wireshark.

[2018-01-25 11:13] jskeet commented on #1832
Ah, I've just thought of something that could be messing things up - these days there are potentially multiple `HttpClientHandler` objects created - see https://github.com/google/google-api-dotnet-client/blob/b84eae30720de5225a17f7b8d56b866cc120405e/Src/Support/Google.Apis.Core/Http/HttpClientFactory.cs#L50

In particular, the second client *will* be used for object download in Google.Cloud.Storag

[2018-01-25 16:16] cstech-carlcamilleri commented on #1832
Hi,

We have made further tests on this and in fact it does seem that there are other HTTP(S) requests being made with other HttpClientHandlers

The code that we have now is:

[code]

Different from the previous version we are also setting the proxy configuration in:
1. storageClient.Service.HttpClient.MessageHandler
2. storageClient.Service.HttpClientInitializer.UnderlyingCredential

With this lo

[2018-01-25 18:54] jskeet commented on #1832
That's good detective work - sorry you had to go through it!

@chrisdunelm It feels like we should probably make all of this rather simpler. Thoughts?

[2018-01-26 04:07] SimplifyMSP commented on #1618
@ArtificialInsights Please know that I'm extremely interested in those videos. I hope that, even if I'm the only one who watches, you'll still be releasing them.

I've set the authenticate JSON file as an Environment Variable but my application still won't authenticate. I'd appreciate some more granular instructions.

I'm honestly surprised by the lack of C# support from Google. For what it's wort

[2018-01-26 06:36] jskeet commented on #1618
@SimplifyMSP: You should be able to use Google.Cloud.Firestore from a desktop application. Are there features that you consider to be missing, or is it just the auth issue that you're facing?

[2018-01-26 08:21] amarlot commented on #1832
Hello,
If could support an easy way to use a proxy it would be great :)
In France most of compagnies use proxy everywhere.
Alex

[2018-01-26 08:25] jskeet commented on #1832
@amarlot: In most cases, it will work transparently, just using the system-defined or application-defined proxy. We'd only be providing extra support for the case where *just the Google API access* needed to use a proxy. I would hope that's a relatively rare use case.

[2018-01-26 11:22] cstech-carlcamilleri commented on #1832
Hi,

To add some further detail, in fact our use case is that we need to use the same proxy throughout the application (for any external resource).

In traditional .NET configuration, we could do this via a web.config setting e.g.:
[code]

The issue is that in a .NET Core application, we cannot (so far) configure centrally a proxy for the application, and therefore the application:
1. Either inher

[2018-01-26 11:33] jskeet commented on #1832
Hmm. This feels like something that would be better addressed at a .NET Core level, ideally. While we could potentially do something in Google.Apis for this, it could easily become redundant.

Digging through the .NET Core code, I *suspect* that setting the `http_proxy` environment variable would work on Unix boxes, but that's not ideal of course.

Are you aware of any feature request issues for M

[2018-01-26 11:47] cstech-carlcamilleri commented on #1832
Hi,

Very much in agreement, in fact we do see a few related requests:
https://github.com/dotnet/corefx/issues/26493
https://github.com/dotnet/corefx/issues/24574

Thanks,
Carl

[2018-01-26 14:17] jskeet commented on #1832
Thanks for those links. Will consider how best to provide support here with that in mind.

[2018-01-26 18:05] quoctruong opened #1866 "Issue when using uploading AVRO using `BigQueryClient`"
I was using the `UploadAvro` function like this:
[code]
And I get a request error with the message: "You should not provide a schema when loading self-describing binary formats. In the future this will fail with an error."

The same code snippet worked about 2 or 3 months ago. Is this because of some changes in the BigQuery API?

[2018-01-26 18:29] jskeet commented on #1866
Sounds like it may well be, yes. Will investigate on Monday.

[2018-01-29 04:38] jerarl opened #1867 "Spanner: Method Google.Api.Gax.Grpc.ClientHelper.BuildApiCall: type argument 'Google.Cloud.Spanner.V1.CreateSessionRequest' violates the constraint of type parameter 'TRequest'."
Hey guys, we're using the latest Google.Cloud.Spanner.Data 1.1.0-alpha01 and our clients suddenly encounters this error during runtime which hurts their production.

Message : Method Google.Api.Gax.Grpc.ClientHelper.BuildApiCall: type argument 'Google.Cloud.Spanner.V1.CreateSessionRequest' violates the constraint of type parameter 'TRequest'.
Source : Google.Cloud.Spanner.V1

Nuget tags the Google

[2018-01-29 07:38] jskeet commented on #1867
Hmm... I can't reproduce this, and I can't see why it would be an issue: `BuildApiCall` is [here](https://github.com/googleapis/gax-dotnet/blob/1cf2fed0cebfa96a9d6ba418667fe8d660b3faf6/src/Google.Api.Gax.Grpc/ClientHelper.cs#L59) and has this declaration:

[code]

`CreateSessionRequest` is [here](https://github.com/GoogleCloudPlatform/google-cloud-dotnet/blob/master/apis/Google.Cloud.Spanner.V1/Go

[2018-01-29 11:33] jskeet commented on #1866
Thanks for spotting this. Our integration tests and snippets weren't sensitive enough to spot this non-fatal error.

Unfortunately it's hard to deprecate a parameter like this, and even adding overloads would be really tricky due to the nature of overload resolution. I'm creating a PR that simply ignores the provided schema in all cases, but doesn't change the signature. (Obviously the documentati

[2018-01-29 12:30] #1866 closed

[2018-01-29 17:15] art-grig commented on #1394
@jskeet I am just getting that error right now again, in case if you want to take a look

[2018-01-29 17:18] jskeet commented on #1394
@art-grig: Could you manually add a dependency on Google.Apis.Auth version 1.32.1? (You'll already have an implicit dependency on an earlier version.) That has the longer timeout. If you still see the problem with the longer timeout, I'll need to go back to the drawing board.

I completely understand if you can't easily change your dependencies. Any extra information you can give about your app wo

[2018-01-29 17:34] vuukle commented on #1394
@jskeet we are trying your suggestion and will let you know ASAP. What other information could I provide? Im happy to do a team viewer session or google hangout to help solve this issue

[2018-01-29 17:37] jskeet commented on #1394
@vuukle: That's awesome - thanks! In general, all of these are useful:

- Deployment environment (Container Engine, AppEngine Flex etc)
- Deployment image (some people use our image, others use a vanilla one)
- All package versions (both Google and not)
- GCP Region (us-central, europe-west etc)
- What you were doing - redeploying an existing version, deploying a new version etc
- Any stats around

[2018-01-29 17:53] art-grig commented on #1394
@jskeet Thanks for advice, it worked, but not sure is it's really about updating dependencies or just one more redeploying

[2018-01-29 18:08] jskeet commented on #1394
@art-grig: Understood. Unless it was already failing reliably, it's hard to be sure of anything :(

[2018-01-29 19:19] cleversolutions commented on #1618
@jskeet if there is anything I can do to help with this let me know.

[2018-01-30 07:14] jskeet opened #1872 "Modify semantics of "missing documents""
In Firestore, if a document is "missing" (e.g. retrieved via SnapshotAllAsync, but it didn't exist) all operations fail. Instead, operations which can be modified to return null should be so changed. (Details TBD)

[2018-01-30 07:15] jskeet opened #1873 "Support document snapshot cursors"
Queries should support startAt/EndAt (etc) for document snapshots. This will require modifying the query appropriately, fetching fields from the documents based on the ordering, etc.

[2018-01-30 07:15] jskeet opened #1874 "Implement query conformance tests"
The protobuf-based tests now have query support. We need to implement those tests.

[2018-01-30 10:37] jerarl commented on #1867
Unable to reproduce this running in a console with simple implementation. DLLs are running in a web and windows service and seems to be ok if we use the package Google.Cloud.Spanner.V1 -Version 1.0.0.

[2018-01-30 10:39] jskeet commented on #1867
Could you give more details of the versions of all libraries in the broken case? Also, if you're running a Windows service does that mean it's .NET Framework desktop rather than Core? Could you tell us the version of that as well please?

[2018-01-30 10:58] jerarl commented on #1867
<package id="Google.Api.CommonProtos" version="1.1.0" targetFramework="net471" />
  <package id="Google.Api.Gax" version="2.2.1" targetFramework="net471" />
  <package id="Google.Api.Gax.Grpc" version="2.2.1" targetFramework="net471" />
  <package id="Google.Apis" version="1.30.0" targetFramework="net471" />
  <package id="Google.Apis.Auth" version="1.30.0" targetFramework="net471" />
  <package i

[2018-01-30 11:03] jerarl commented on #1867
That's the final packages were using and this gives us an error now:

Message : Method not found: 'Grpc.Core.ChannelCredentials Grpc.Auth.GoogleGrpcCredentials.ToChannelCredentials(Google.Apis.Auth.OAuth2.ITokenAccess)'.
	Source : Google.Cloud.Spanner.Data

But still works in a console app.

[2018-01-30 11:08] jskeet commented on #1867
That's very odd. It sounds like something is *very* confused about the versions of libraries. Is that new error a build-time error or an exception at execution time?

Does this happen on multiple machines, or just one?

[2018-01-30 11:31] tomferreira opened #1876 "Its's impossible set contexts in Google Speech V1"
How define contexts in RecognitionConfig's instance (Google Speech V1)?

The class don't have a setter for SpeechContexts property.

Best regards.

[2018-01-30 11:37] jerarl commented on #1867
An exception during runtime. All machines seems to be affected.

[2018-01-30 11:44] jerarl commented on #1867
There seems to be some mixed up versions on some assemblies

![spanner-dependencies](https://user-images.githubusercontent.com/11646073/35564695-fc7babce-05f5-11e8-8914-157848e4096d.PNG)

[2018-01-30 11:48] jskeet commented on #1867
That screenshot is fine - that just shows a variety of dependency versions. The highest version should be loaded automatically.

If this is only reproducible in a web app, is it possible to create a minimal web app to demonstrate it? (Basically I'm stuck until I can reproduce it, but then we should be able to work out what's going on.)

[2018-01-30 12:19] tomferreira commented on #1876
Thanks!

[2018-01-30 12:19] #1876 closed

[2018-01-30 22:18] #1873 closed

[2018-01-30 22:18] #1874 closed

[2018-02-01 08:06] jerarl commented on #1867
Just an update, since the application was running in a larger part of the system we added below to the main app config and the issue was resolve.

      <dependentAssembly>
      <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAsse

[2018-02-01 08:22] jskeet commented on #1867
Excellent - glad it's fixed. I'd expect assembly binding redirects to be added automatically by NuGet, but it's probably not worth trying to reconstruct why they weren't in this case.

[2018-02-01 08:22] #1867 closed

[2018-02-01 16:32] art-grig commented on #1394
@jskeet it's me again, and we faced this issue again :(
1. Appengine flex
2. Standard image
<img width="205" alt="dependencies" src="https://user-images.githubusercontent.com/11050992/35690074-02b931c8-0786-11e8-86a0-bd02cd696b53.PNG">
4. us-central
5. deploying new version (with gcloud tools for vs2017)
6. not sure about stats, but it happens quite often

[2018-02-01 16:41] jskeet commented on #1394
@art-grig: Okay, that's unfortunate but very helpful in terms of confirming that it still happens with 1.32.1.

Back to the drawing board... can I just check, am I right in saying that you see this immediately after deployment, i.e. the deployed container never makes any successful requests? If you're seeing it after a container has already been successfully active for a while, that would suggest

[2018-02-01 17:06] art-grig commented on #1394
@jskeet Actually it makes successful requests, furthermore it's blinking: like you are getting 200-200-500-200-500-500-200-500 statuses while trying to access any resource.

[2018-02-01 17:12] jskeet commented on #1394
@art-grig: From a single server? Okay, that's really interesting and very, very bizarre. Your initial report showed a `TypeInitializationException` - I assume that's *not* what you're getting in your "blinking" example? Can you provide a new stack trace if possible?

[2018-02-02 07:51] jskeet opened #1882 "Firestore: support equality on Query objects"
- Two Query objects will be equal if they represent the same query (same ordering etc)
- A CollectionReference will never be equal to a Query, even if they're logically equal. For example, `collection.Offset(0).Equals(collection)` will return false, as the two objects are of different types.

[2018-02-02 07:51] jskeet opened #1883 "Firestore: Implement equality for Firestore public types"
Precise semantics are being discussed in the Firestore team.

[2018-02-02 07:53] jskeet opened #1884 "Firestore: make QuerySnapshot implement IReadOnlyList<DocumentSnapshot>"

[2018-02-02 08:09] jskeet opened #1885 "Firestore: allow batch-get of snapshots in a transaction"

[2018-02-02 08:14] jskeet commented on #1394
Anyone else experiencing this issue - could you each clarify which of the following situations you're in, *on a per server basis*? (Multiple servers leading to an overall "sometimes working, sometimes doesn't" result isn't as interesting.)

1. Only "new" instances fail: if a server ever successfully services a request that needs an API, it keeps doing so until it's taken down
2. An instance starts

[2018-02-02 08:21] Thaina commented on #1885
Would you pleased to make a release after this feature?

[2018-02-02 08:34] jskeet commented on #1885
Yes, that should be doable. I'm making a few other changes in the near future though, so I'll wait until that batch is complete before releasing.

[2018-02-02 08:58] helgejfo commented on #1394
In my case I have seen both 1 and 3.

Case 1 usually happens where the DatastoreDb is created in a singleton service, so naturally it will fail on startup without any retry / recovery logic.

Case 3 happens when DatastoreDb is created on a per request basis, however I cannot say if this is because one App Engine instance fails and another succeeds or if it both fails and succeeds on the same insta

[2018-02-02 09:06] jskeet commented on #1394
@helgejfo: Thanks; I *suspect* you're right that case 3 is just a matter of having multiple instances. I'm going to try more tests bringing up and tearing down lots of instances, and creating actual DatastoreDb instances rather than just code that I'd *expect* to be equivalent. It'll be so much easier to fix if I can reproduce this, even if it's still somewhat transient.

[2018-02-02 09:16] vuukle commented on #1394
@jskeet is there a minute chance it could be related to the version number we promote e.g. v22 or v02022018t20189, I always deploying using Visual Studio instead of using powershell, next time i see this issue .. i am happy to do a teamviewer/hangout session if it helps at all

[2018-02-02 09:18] jskeet commented on #1394
@vuukle: I can't see how it could be, but I'd be happy to be contradicted if anyone spots a pattern. My own tests have been initially deployed from VS as well, so have that style of version number. I'm not immediately sure what I'd be able to see on a Hangout, but I appreciate the offer and will think about it further. A complete stack trace would be really helpful if you have one.

[2018-02-02 09:21] jskeet commented on #1872
Proposed changes:

- Modify `Deserialize<T>` to constrain `T` to be a reference type
- Make both `Deserialize<T>` and `ToDictionary` return null for missing documents

[2018-02-02 12:38] vuukle commented on #1394
@jskeet I am experiencing the issue this very moment.. i did a release and i get 200-500-500-200-200
curl -X POST --header 'Content-Type: application/json-patch+json' --header 'Accept: text/html' -d '{"apiKey":"ee7ab44c-17ef-47d2-8fef-a6eea380cb68","host":"cranky-lumiere-e81cb7.netlify.com","articleId":"35667751234456","uri":"https://cranky-lumiere-e81cb7.netlify.com/","globalRecommendation":true,

[2018-02-02 12:44] jskeet commented on #1394
@vuukle: Could you look at the logs to tell whether the successful requests are going to a different instance?

[2018-02-02 12:45] vuukle commented on #1394
Ok i am checking .. i am a little new to GCP, can you possibly guide me please?

[2018-02-02 12:48] vuukle commented on #1394
![image](https://user-images.githubusercontent.com/2103977/35733956-6518a596-0845-11e8-8395-816c81e6fd33.png)

[2018-02-02 12:50] vuukle commented on #1394
Thats the 500 log error
2018-02-02 18:06:27.009 IST
POST
500
0 B
73 ms
Chrome 63
/api/v1/Comments/loadVuukle
 122.176.163.45 - "POST /api/v1/Comments/loadVuukle" 500 undefined "http://api.vuukle.com/swagger/" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.132 Safari/537.36"
Expand all | Collapse all {
 httpRequest: {
  latency:  "0.073s"
  refere

[2018-02-02 12:51] vuukle commented on #1394
And this is the 200 Success

122.176.163.45 - "POST /api/v1/Comments/loadVuukle" 200 956 "http://api.vuukle.com/swagger/" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.132 Safari/537.36"
Expand all | Collapse all {
 httpRequest: {
  latency:  "0.003s"
  referer:  "http://api.vuukle.com/swagger/"
  remoteIp:  "122.176.163.45"
  requestMethod:  "P

[2018-02-02 12:59] jskeet commented on #1394
Not at my computer right now, but will check when I'm back.

[2018-02-02 13:17] jskeet commented on #1394
Right, I'm back now. Those requests are definitely to different instances - the appengine.googleapis.com/instance_name part confirms that.

For the moment, until we have concrete evidence otherwise, I'm going to assume that if an instance is broken, it's broken right from the first request, and stays broken. Today I'm going to d more work trying to reproduce this. We'll see what happens...

[2018-02-02 13:21] vuukle commented on #1394
Great, i deleted my comments if you need debug information i am available on ravi@vuukle.com

I am doing a redeploy and deleting all old instances since we only use one flex instance

[2018-02-02 13:54] #1872 closed

[2018-02-02 13:54] #1882 closed

[2018-02-02 13:54] #1884 closed

[2018-02-02 13:55] jskeet commented on #1848
Apologies for not updating this issue between calls.

Out of interest, have you tried deliberately making a huge number of requests to see what happens? If you haven't, I'm happy to try it for you.

[2018-02-02 16:51] #1885 closed

[2018-02-02 17:49] benwulfe commented on #1853
This is possible, but there are a few issues.

1. The first and most important issue is that once you return any somewhat viable table from GetSchemaTable( ), DbDataAdapter attempts to use that to create and manage datasets.  This is very easy to break if you do not have complete information to build a proper schema table (which spanner does not) -- so its much safer to return null and get default

[2018-02-02 17:54] benwulfe commented on #1854
The only reason not to do this is the potential of breaking changes.

Note that the spanner 1.1 alpha release added support for setting DbNull  (see https://github.com/GoogleCloudPlatform/google-cloud-dotnet/blob/d52a5788d4307d93a93af1620da149d846b9f3b9/apis/Google.Cloud.Spanner.Data/Google.Cloud.Spanner.Data/SpannerDbType.ValueConversion.cs#L103)
which is back compatible (since it would just do t

[2018-02-02 20:41] bgrainger commented on #1394
I think I'm also affected by this problem (i.e., not user error but I'm happy to be proven wrong). I just added Stackdriver error reporting to a simple C# ASP.NET Core application hosted in App Engine flexible environment (us-central) as per [these instructions](https://cloud.google.com/error-reporting/docs/setup/app-engine-flexible-environment). I thought it would "just work" as per [this informa

[2018-02-03 08:15] jskeet commented on #1394
@bgrainger: Yes, that sounds like it's the same issue. Can I ask how regularly/reliably you're seeing this? (Any way of provoking it more often would be very welcome.)

I appreciate everyone's patience on this. I expect to make this my main work item next week, seeing as the previous attempts didn't fix it.

[2018-02-03 08:21] jskeet commented on #1854
Is it just `GetValues()` that has this problem, or do we return a null reference from all methods that should actually be returning `DBNull`?

[2018-02-03 08:35] jskeet commented on #1853
Creating a new method sounds like a good plan to me, but @jerarl presumably that wouldn't fit into your generic framework?

(I guess another possibility would be to make this an opt-in option somehow...)

[2018-02-03 08:36] vuukle commented on #1394
I’ve noticed that re-publishing via power shell fixes the issue but to confirm I will try to only use power shell to see if the issue happens again or not

[2018-02-03 16:20] bgrainger commented on #1394
@jonskeet it's happened every single time I've run `gcloud app deploy` (which is three times in total) since adding the Stackdriver code. (I added logging and error reporting and tracing all at once so I can't specifically narrow it down to one cause, except from the call stack. But I could reduce it to one to simplify the repro.)

[2018-02-03 16:21] jskeet commented on #1394
@bgrainger: That's useful to know, thanks. On Monday I'll try following exactly what you've done and see whether that reproduces it for me.

[2018-02-04 02:17] bgrainger commented on #1394
I just tried to recreate the problem in a new ASP.NET Core project, but was unsuccessful. I then went back to the project where I was having problems and `gcloud app deploy` deployed successfully (with Stackdriver logging, error reporting, and tracing). (I didn't change any `gcloud` settings, so I was redeploying to the same App Engine project.) At this point it's "working" for me, but I'm unsure

[2018-02-04 06:26] jerarl commented on #1853
Yes, it wouldn't fit at all since it relies on the GetSchemaTable() method. How is it would work if we make this an opt-in option?

[2018-02-04 09:22] jskeet commented on #1853
Basically we could put options into the connection string that would tweak the behavior of some aspects, but I'm not 100% sure it's a good idea.

[2018-02-04 09:23] jskeet commented on #1394
@bgrainger: I strongly suspect it's just intermittent. Will be looking into it more tomorrow.

[2018-02-04 10:00] ShiroYacha commented on #1618
I'm working on Xamarin and realtime update is really crutial... +1 for the feature!

[2018-02-05 03:19] jerarl commented on #1853
I think its awesome and it should work in our case without affecting current users.

[2018-02-05 09:56] jskeet commented on #1830
gRPC 1.9.0 is now out. I'll start planning the update.

[2018-02-05 09:56] jskeet commented on #1830
(Although if #1394 means another change to Google.Apis.Auth, it may be worth rolling that in too.)

[2018-02-05 17:11] benwulfe commented on #1853
You can see an initial version of this method I left commented out here:

https://github.com/GoogleCloudPlatform/google-cloud-dotnet/blob/master/apis/Google.Cloud.Spanner.Data/Google.Cloud.Spanner.Data/SpannerDataReader.cs#L336

If you use that, it most likely will break tests that use dbdataadapter.  Maybe there is a way to get dbdataadapter into a somewhat functional state with this code -- but

[2018-02-05 17:16] benwulfe commented on #1854
I suspect you will want to change this line:

https://github.com/GoogleCloudPlatform/google-cloud-dotnet/blob/master/apis/Google.Cloud.Spanner.Data/Google.Cloud.Spanner.Data/SpannerDbType.ValueConversion.cs#L44

to return DbNull if the DbNull type is assignable to the target type (and opt-in flag is set) and continue to fall thru to "return null" otherwise.
This should primarily affect the indexer

[2018-02-06 05:30] Thaina commented on #822
Got this error sometimes. "Transport closed" and "GOAWAY"

Using firestore in serverless lambda

[2018-02-06 07:46] jskeet commented on #822
@Thaina: Is that when using the streaming Watch API? If so, that's a different situation, and one that the Watch API support in the client library will handle transparently.

[2018-02-06 07:46] jerarl opened #1890 "SpannerDataAdapter fills DataTable with Timestamp instead of Date"
Can be reproduce by selecting a Date. Sample below:

Returns "10/07/1971 12:00:00 AM" instead of "1971-10-07"

[2018-02-06 07:56] jskeet commented on #1890
.NET doesn't have a date-only type. I suspect you're just seeing the string representation of a `DateTime` value.

[2018-02-06 08:01] jskeet commented on #1854
Hmm. I'm thinking about whether we should just consider this to be a bug, and fix it to return `DBNull.Value` by default, with a compatibility opt-in switch. I can't see any ADO.NET documentation requiring it to to return `DBNull.Value` but I suspect more clients would expect that.

With a small number of current users, it may well be better to make a breaking change now than force all future user

[2018-02-06 08:16] jerarl commented on #1890
but using the SpannerDataReader returns "1971-10-07" using the same SQL

[2018-02-06 08:17] jskeet commented on #1890
What *exactly* do you mean by "but using the SpannerDataReader"? *How* are you using the SpannerDataReader?

[2018-02-06 08:17] Thaina commented on #822
@jskeet I don't know is it internally used streaming watch API. I only use transaction, batch write, and normal get/query

[2018-02-06 08:18] jskeet commented on #822
@Thaina: Please open a new issue with a lot more detail. At the moment we know almost nothing about your context.

[2018-02-06 08:27] Thaina opened #1891 ""Transport Closed" and "GOAWAY received" error on StreamAsync"
For some days using firestore. Sometimes I got this error on using this library on aws dotnet lambda with this code

[code]

The error is

[code]

and

[code]

Seem like it not really about `StreamAsync` api but it is the first API that would be get called on my server

[2018-02-06 08:28] jerarl commented on #1890
Yep, I see what's wrong now. The datareader reads the content as String while the datatable is using DateTime. Thanks!

[2018-02-06 08:28] #1890 closed

[2018-02-06 08:32] jskeet commented on #1891
Please give more details about how you've used the stream and anything else you've noticed:

- Do you consume the stream immediately, or do you create it and then only consume it much later?
- What's the timing in terms of when the channel is created (and last used) vs when you receive this error?
- Do you receive both kinds of error from the same code? Have you noticed any patterns as to which is

[2018-02-06 08:52] jskeet commented on #1891
Thanks for the extra detail. The underlying Grpc code should refresh the channel these days, so I don't *think* it should be an idle channel issue. Have you noticed any patterns in terms of how often you're seeing it?

cc @schmidt-sebastian for anything Firestore-specific and @jtattermusch for any gRPC insight.

[2018-02-06 09:01] Thaina commented on #1891
@jskeet It not very often just 5 times for since 2 days ago. But right now my server still in testing and I got this error after I run the client which connect to server which trigger many firestore API for some period of time. Then close the client to code some more and run it again, repeat this process eventually will got this error

Another possibility might be that. We have 2 programmer that c

[2018-02-06 09:11] jskeet commented on #1891
Concurrent requests should be absolutely fine, although I'm sure there are quota limits. (If you trigger a *deluge* of queries, that could explain the "go away" response, potentially?)

I'm not sure what you mean by "Then close the client to code some more" - what's the client here?

If you could keep an informal log of your activity and when you see the error, that could help to diagnose what's g

[2018-02-06 09:14] Thaina commented on #1891
@jskeet The client is just unity program. But it not related, it just connect to server by HTTP response one at a time and only the server is responsible for connection to firestore

[2018-02-06 15:58] choenden opened #1892 "Add support for BigQuery customer-managed encryption keys"
BigQuery customer-managed encryption keys allow users to specify a Cloud KMS key to protect their BigQuery table.

API:
Jobs: https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs
In a job, there is a destinationEncryptionConfiguration field, which indicates which Cloud KMS key should be used for the destination.

Tables: https://cloud.google.com/bigquery/docs/reference/rest/v2/tables
In a

[2018-02-06 16:01] jskeet commented on #1892
For my own future reference, this is the storage equivalent of getServiceAccount:
https://googlecloudplatform.github.io/google-cloud-dotnet/docs/Google.Cloud.Storage.V1/api/Google.Cloud.Storage.V1.StorageClient.html#Google_Cloud_Storage_V1_StorageClient_GetStorageServiceAccountEmail_System_String_Google_Cloud_Storage_V1_GetStorageServiceAccountEmailOptions_

[2018-02-06 16:03] jskeet commented on #1892
Keeping this issue open for now, as full support should include:

- An integration test and/or snippet
- The get service account call

[2018-02-07 03:54] Thaina commented on #1891
@jskeet Seem like GOAWAY might really came from quota limit. But howabout `Transport Closed` ?

[2018-02-07 06:06] jskeet commented on #1891
I don't know at the moment I'm afraid, and I don't have time to look into it right now - I'm hoping @jtattermush or @schmidt-sebastian may have more suggestions.

[2018-02-07 06:25] Thaina commented on #1885
Would you please update nuget for batch functionality. I need to use batchget with masking data. I need some API that could check existing document without downloading bulk data. Or else I need to revert back to use low level API

[2018-02-07 06:28] Thaina commented on #1891
Also have seen some mention about version of grpc https://github.com/grpc/grpc/issues/14088

They said they need to revert to 1.7.3

[2018-02-07 07:07] jskeet commented on #1885
What do you mean by "with masking data"? If the current code doesn't do what you need, I'm afraid I won't be able to get to it in the next week and a half.

If you just need the current code released, I'll see what I can do in the next couple of days, but please be aware that I have *many* other things I'm working on besides Firestore. (I'd hoped to complete #1883 before releasing again too, but I

[2018-02-07 07:13] Thaina commented on #1885
@jskeet I don't know if you have make it support internally but I have seen at least batchGet API have a field named `mask` that could mask the returned document

https://cloud.google.com/firestore/docs/reference/rest/v1beta1/projects.databases.documents/batchGet#request-body

As I said I want to just query to check that document already exist or not. And this document is so large. So I wish I cou

[2018-02-07 07:14] jskeet commented on #1891
Interesting - I wasn't aware of that issue, and it could be related. Could you try upgrading to Grpc.Core 1.9.0?

[2018-02-07 07:15] Thaina commented on #1891
Thanks for the suggestion. I will try

And so what Grpc version this repo normally used?

[2018-02-07 07:17] Thaina commented on #1891
I use `<PackageReference Include="Google.Cloud.Firestore" Version="1.0.0-beta02" />` and so it was pull their own dependency, include all Grpc, from nuget by itself. If I specifically set Grpc version will it got overridden?

[2018-02-07 07:18] jskeet commented on #1891
Different API client libraries are at different versions of gRPC, but normally when we do a minor version change, we'll go to the latest gRPC if we're confident in it. (We skipped the 1.8 series for other reasons.) We can't change dependency minor versions on only a patch version change, as that breaks semantic versioning - which is why there are different libraries with different dependencies.

I

[2018-02-07 07:20] jskeet commented on #1885
No, the batch-get functionality I've implemented (see #1888) just takes a collection of document references. It sounds like doing a release won't help you after all.

@schmidt-sebastian Did you have any plans around this?

[2018-02-07 07:21] jskeet commented on #1891
Yes, just add a dependency to Grpc.Core, version 1.9.0, and that's what will be used.

[2018-02-07 07:21] jskeet commented on #1891
Yes, just add a dependency to Grpc.Core, version 1.9.0, and that's what will be used.

[2018-02-07 09:42] Thaina commented on #1891
Using Grpc.Core version 1.9.0 and got the new error named `Socket Closed` and still got `Transport closed` but don't see goaway yet

also got the stack trace

[code]

[code]

[2018-02-07 10:43] jtattermusch commented on #1891
These seems to be the places where the messages are coming from:
https://github.com/grpc/grpc/blob/f4a94b61266dc468af2de213ea50b997a39b7508/src/core/ext/transport/chttp2/transport/chttp2_transport.cc#L2445
https://github.com/grpc/grpc/blob/f4a94b61266dc468af2de213ea50b997a39b7508/src/core/lib/iomgr/tcp_posix.cc#L420

It looks like that the remote endpoint might just be closing the TCP connection o

[2018-02-07 10:47] Thaina commented on #1891
@jtattermusch I will add that env and wait for the next encounter

[2018-02-07 10:51] jtattermusch commented on #1891
Sg, feel tree to experiment with what tracers give you the best insight into what's going on.

[2018-02-08 00:35] tswast commented on #1892
Also, I think full support should include the property at https://googlecloudplatform.github.io/google-cloud-dotnet/docs/Google.Cloud.BigQuery.V2/api/Google.Cloud.BigQuery.V2.CreateTableOptions.html as folks will want to set the encryption option when they create a table.

[2018-02-08 01:15] tswast commented on #1892
I started on a snippet at https://github.com/tswast/google-cloud-dotnet/commit/57ebcfcbf82444164f797934322e7070b336b7f6 but I couldn't figure out how to run the tests. Leaving it here for now, since @choenden offered to help with C# samples. I'll do a complete set in Python first.

[2018-02-08 06:29] Thaina commented on #1891
Use that env variable and got this chunk

[code]

By the logger I have it would be too hard to export the full log but the bottom chunk json is like this

[code]

[2018-02-08 08:20] jskeet commented on #1892
Note that the property *isn't* currently present for UploadJsonOptions (and CSV and Avro). I'm happy to be guided as to whether it should be.

[2018-02-08 08:23] jskeet commented on #1892
I suspect we'll want the "fetch service account" part before a complete snippet is feasible, so we can generate the key (rather than using a hard-coded one) and provide access to it. I'll happily have a look at that.

[2018-02-08 09:41] iantalarico opened #1894 "Integrate OpenCensus with Google implementation"
This will involve work for both HTTP and gRPC libraries.

For HTTP libraries we need to ensure they can easily accept a HttpMessageHandler (This already works but is complicated).

For gRPC we need to work with the gRPC team to see how we can hook into the native lib.

cc: @jskeet @chrisdunelm

[2018-02-08 13:36] #1892 closed

[2018-02-08 14:02] jskeet commented on #1394
There's now a new release: Google.Apis.Auth v1.32.2.

This has a per-request timeout of 500ms, but it makes up to 3 requests. It also uses the IP address rather than the name. This now matches the Java implementation.

I'm going to close this issue yet again - but obviously, I'll reopen it if 1.32.2 turns out not to help for whatever reason. All the testing we've performed suggests it should be ab

[2018-02-08 14:02] #1394 closed

[2018-02-08 16:25] helgejfo commented on #1394
Thanks Jon, appreciate yor effort on this one.

[2018-02-08 16:37] tswast commented on #1892
Interesting. I would have that UploadJsonOptions would derive from [CreateLoadJobOptions](https://googlecloudplatform.github.io/google-cloud-dotnet/docs/Google.Cloud.BigQuery.V2/api/Google.Cloud.BigQuery.V2.CreateLoadJobOptions.html) but apparently it doesn't. What are UploadJsonOptions (and CSV and Avro) classes for? Do they create a load job?

As discussed elsewhere, keys rings aren't deletable,

[2018-02-08 16:40] jskeet commented on #1892
Yes - details all in https://github.com/GoogleCloudPlatform/google-cloud-dotnet/blob/master/apis/Google.Cloud.BigQuery.V2/Google.Cloud.BigQuery.V2/BigQueryClientImpl.InsertData.cs.

Those options are tailored for the specific use cases though - while it would be quite nice to have common options via inheritance, it ends up getting messy quickly, so I've lived with duplication.

Sounds like I shoul

[2018-02-08 16:50] choenden commented on #1892
Oh, interesting. Thanks for catching it and looking into the fix Jon!

[2018-02-09 08:03] apolcyn commented on #1891
@Thaina in the original post you seem to have received an `Internal` status code, and you mentioned that starting with the 1.9.0 release you have not seen it, but you are still seeing the `Unavailable` status codes. And for the `unavailable` status codes - at what frequency are you seeing these?

I'm not actually certain what error code is sent for going above usage quota (as mentioned above as a

[2018-02-09 08:35] Thaina commented on #1891
@apolcyn I'm not sure too but I actually use blaze plan so is it really be related to quota?

There is no pattern actually and my coworker said it somehow frequent. Every 2-3 launching the app will got this error once

[2018-02-09 14:13] jskeet commented on #1892
Fix was implemented in #1898.

[2018-02-09 18:00] apolcyn commented on #1891
do we have a rough guess of the number of RPC's that occurred in this time though?

that is, do you have a rough order of magnitude estimate of the number of `failed/successful` calls you are seeing to `firestoreDB` ?

[2018-02-10 04:16] Thaina commented on #1891
@apolcyn If rough estimation of firestore API call I think it would be around 20 times for this happen once

But I don't know about internal rpc call

[2018-02-10 14:17] Hussamalsh opened #1899 "Google.Cloud.Firestore: authentication"
Hi,
I am using Google.Cloud.Firestore for my asp.net project, but i got this error =
"System.InvalidOperationException: 'The Application Default Credentials are not available. They are available if running in Google Compute Engine. Otherwise, the environment variable GOOGLE_APPLICATION_CREDENTIALS must be defined pointing to a file defining the credentials. See https://developers.google.com/"

My

[2018-02-10 18:29] jskeet commented on #1899
Please tell us how you're *trying* to authenticate. Do you have the environment variable set as described?

[2018-02-10 20:13] Hussamalsh commented on #1899
This is my question, how i can authenticate to use this library in my project?

[2018-02-10 20:18] jskeet commented on #1899
Download a service account JSON file and then set the environment variable to point to it. See https://developers.google.com/identity/protocols/OAuth2ServiceAccount

[2018-02-10 23:30] Hussamalsh commented on #1899
Doesn't work for me, give me same error.

[2018-02-10 23:35] jskeet commented on #1899
Setting it from a command prompt won't affect the environment used by ASP.NET. You need to set the ambient environment variables.

[2018-02-10 23:57] Hussamalsh commented on #1899
used With Powershell:
$env:GOOGLE_APPLICATION_CREDENTIALS="C:\Users\hussa\Source\Repos\WebSite1\WebSite1\Trials4Us-4c192b52adf3.json"

still same error

[2018-02-11 00:03] jskeet commented on #1899
Set the environment variable in the Windows environment settings instead.

[2018-02-11 00:10] Hussamalsh commented on #1899
https://www.awesomescreenshot.com/upload//795767/13456765-4af6-4489-400b-58526a1646d2.png
same error ^^

[2018-02-11 00:30] jskeet commented on #1899
And are you actually running as that user? (We don't have any context of how you're running this.) If you're getting that error, the environment variable isn't set as far as the code is concerned. I suggest you add some logging of the environment variable right at the start of your app.

[2018-02-14 13:09] vuukle commented on #1394
I pushed my application to production and i am getting this error
Grpc.Core.RpcException: Status(StatusCode=Unauthenticated, Detail="Deadline Exceeded")
at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw
at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification
at Grpc.Core.Internal.AsyncCall`2.UnaryCall
at Grpc.Core.DefaultCallInvoker.BlockingUnaryCall[TR

[2018-02-14 13:19] jskeet commented on #1394
@vuukle: That sounds like it's at least a *different* problem by that point. I'm not quite sure why it would be a status code of Unauthenticated with a detail of Deadline Exceeded... could you raise a different issue for that, with any more details?

(I'm on vacation at the moment, so I won't be terribly responsive until next week, but I'll do what I can.)

[2018-02-16 10:55] michivo commented on #1394
I guess I had this problem with an ASP.net Core/App Engine Flex application, too. 9 out of 10 deployments failed, always with the same error message as described above upon startup:
`System.InvalidOperationException: The Application  Default Credentials are not available. They are available if running in Google Compute Engine. Otherwise, the environment variable GOOGLE_APPLICATION_CREDENTIALS must

[2018-02-16 12:02] chrisdunelm commented on #1394
@michivo Thanks for letting us know. It's nice to get confirmation that the changes in v1.32.2 have been successful (at least for the issue you were experiencing).

[2018-02-16 15:27] UkrZilla opened #1900 "BigQuery: Unexpected cancellation at Google.Apis.Upload.ResumableUpload"
Hi guys,

Sometimes we catch unexpected cancellation at Google.Apis.Upload.ResumableUpload during uploading CSV file using method UploadCsvAsync, but we know that file uploaded successfully. So exception is not GoogleApiException type, what should we do in this case?

Our code something like that:
[code]

Thanks

[2018-02-16 15:35] jskeet commented on #1900
I'm afraid I'm on vacation today, but I'll look at this first thing on Monday.

[2018-02-16 21:58] art-grig opened #1903 "Grpc.Core.RpcException: Status(StatusCode=Unauthenticated, Detail="Deadline Exceeded") ?"
We are deploying asp.net core 2.0 project to app engine flex(while previous version is under load: about 200req/sec), and in some cases we are getting "Grpc.Core.RpcException: Status(StatusCode=Unauthenticated, Detail="Deadline Exceeded")" while trying to run query on datastore with standard datastore client, sometimes errors are gone and sometimes they are rising again, not sure if it depends on

[2018-02-16 23:30] jskeet commented on #1903
@jtattermusch: Does this sound like it's anything to do with gRPC, or might it be from Datastore itself? It does seem like an odd combination of error status/message.

[2018-02-17 01:09] evildour commented on #1903
@jskeet, We're seeing something similar on a jenkins slave running endurance tests for the BigtableClient: `Status(StatusCode=Unavailable, Detail="Deadline Exceeded")`

I haven't tried reproducing it yet locally, so I can't give much more information, but it sounds like they may be related.

[2018-02-17 06:25] vuukle commented on #1903
Further to what @art-grig posted above we deployed our service live which receives approx 200-250req/sec and without making any changes the above error keeps happening every few hours.

Is there any timeout on data store? Does it have any kind of restrictions on concurrent requests? Initially we thought this was due to us using background tasks to fetch data from data store but we removed those an

[2018-02-17 15:15] jskeet commented on #1900
Are you certain that it's during `UploadCsvAsync` rather than `PollUntilCompletedAsync`? Either way actually, it's always possible for the final request to be made just before the cancellation token times out, but at that point the server actually *has* all the data.

Are you observing that the exception is thrown at an expected time, in terms of your timeouts? If you're seeing a timeout much soon

[2018-02-18 17:07] jskeet opened #1904 "Check SourceLink best practices re PDB files"
See https://github.com/dotnet/sdk/issues/1458 and https://github.com/ctaggart/SourceLink - we may be able to remove the extra chunk of the project file that talks about copying the PDBs.

[2018-02-19 05:34] Thaina opened #1905 "ListDocuments with ShowMissing for delete nested collection"
Under the low level API, the ListDocumentRequest can specified ShowMissing argument to query deleted document that still contain subcollection. It needed for clearing whole database so please have high level API for it

[2018-02-19 08:42] vuukle commented on #1903
@jskeet any help on this would be much appreciated, we are receiving almost 100K errors every hour

![image](https://user-images.githubusercontent.com/2103977/36368798-eb203bf4-157e-11e8-8ed0-3745ea57ed7f.png)

[2018-02-19 08:52] vuukle commented on #1903
According to the stack trace, this is where the exception happens

        public IEnumerable<Entity> GetByProperties(params Tuple<string, object>[] props)
        {
            IEnumerable<Entity> res = null;
            if (res == null)
            {
                var q = new Query(Kind);
                q.Filter = ConstructFilter(props);

                res = _db.RunQuery(q).Entities?.AsEnum

[2018-02-19 09:01] jskeet commented on #1903
@vuukle: I'll see if I get this when running my integration tests. Interesting that you're both seeing it with Datastore.

Does explicitly using a particular version of Grpc.Core help? It'll be using 1.7.1 by default, but you could add a dependency to get 1.9.0. At the moment I have very little idea why this is happening, but I'll ask Datastore folks internally too.

[2018-02-19 09:09] jskeet commented on #1903
(Having seen again that @evildour saw this with Bigtable, it sounds like it's more *likely* to be a gRPC issue than a Datastore issue. Too early to say for sure though.)

[2018-02-19 09:17] vuukle commented on #1903
@jskeet  i'll try your suggestion. Also, i have noticed that sometimes on re-deploy the error vanishes for X hours

[2018-02-19 09:22] jskeet commented on #1903
@vuukle That's good information, thanks. For deployments that are failing, do you have any idea what the failure rate is compared with the success rate? (We can see that there are lots of failures, but we don't know whether that's 1%, 50% or 100% of the calls you're making...)

[2018-02-19 09:25] vuukle commented on #1903
@jskeet hope this helps

![image](https://user-images.githubusercontent.com/2103977/36370430-d6ce7c64-1584-11e8-8860-980543f73e8b.png)

[2018-02-19 09:26] vuukle commented on #1903
for example, i just did a re-deploy a few minutes ago and errors have stopped, i'm sure if i do another re-deploy it will cause the errors to re-appear

[2018-02-19 09:50] vuukle commented on #1903
i just added the grpc 1.9.0 and deployed, now i am getting a ton of these

System.InvalidOperationException: The Application Default Credentials are not available. They are available if running in Google Compute Engine. Otherwise, the environment variable GOOGLE_APPLICATION_CREDENTIALS must be defined pointing to a file defining the credentials. See https://developers.google.com/accounts/docs/appl

[2018-02-19 10:34] jskeet commented on #1903
Yeesh - I'm really sorry about that. I don't understand why changing to gRPC 1.9.0 would cause problems with that at all.

So just to get the timeline with what you're seeing:

- Before Google.Apis.Auth 1.32.2 you saw the "Application Default Credentials are not available" very occasionally
- With Google.Apis.Auth 1.32.2 but Grpc.Core 1.7.1 you see the Status(StatusCode=Unavailable, Detail="Deadli

[2018-02-19 10:35] jskeet commented on #1905
@schmidt-sebastian: Can you comment on this please?

[2018-02-19 10:40] vuukle commented on #1903
Yes, and on re-deploying two ties the application default credentials are gone.

I also increased the instances to 10

env: flex
runtime: aspnetcore
resources:
 cpu: 16
 memory_gb: 14.4

automatic_scaling:
  min_num_instances: 10
  max_num_instances: 20
  cool_down_period_sec: 180
  cpu_utilization:
    target_utilization: 0.5

[2018-02-19 10:43] vuukle commented on #1903
also the upgrading to 1.9.0 has not helped, with the latest deploy the "deadline exceeded" error is back

![image](https://user-images.githubusercontent.com/2103977/36373990-dbe29fb8-158f-11e8-880b-b3cb8469c123.png)

[2018-02-19 10:45] jskeet commented on #1903
Okay, thanks for the details. This is very bizarre :( Does it seem to affect all operations? I'll try to reproduce with an application that simple fetches a Datastore entity, if it looks like that should fail.

[2018-02-19 10:46] jskeet commented on #1903
Can I just check - when using Grpc.Core 1.9.0, you've still got an explicit dependency on Google.Apis.Auth 1.32.2, yes?

[2018-02-19 10:51] vuukle commented on #1903
@jskeet
![image](https://user-images.githubusercontent.com/2103977/36374157-640f72da-1590-11e8-9ba8-04ecd912c471.png)

For now we are only doing data store read operations, could you please simulate it with 200 concurrent users per sec for a long period of time. We tried loader.io for testing and it was fine but when we rolled it out to our production environment, it throws up the error above.

I

[2018-02-19 10:56] jskeet commented on #1903
When you were using loader.io, how did you specify credentials? If this is all about authentication, it could well be that it makes a huge difference whether it's running on GCP or not. I wouldn't _expect_ the load to be relevant to this, as once the credentials are established, it should be fine. (Not having used loader.io myself, I'm not quite sure what you're testing or how.)

Are you able to d

[2018-02-19 11:05] vuukle commented on #1903
Its a public API - https://api.vuukle.com/api/v1/emote_ratings/getEmoteRatings?host=nbc-2.com&articleId=37535211 , i simply added the above api in loader.io to simulate upto 1000 concurrent connections per sec for 5minutes, and everything seemed fine, there were timeouts but about 0.1%

(btw i am not getting the authentication error anymore)

the only error i get now is RpcException: Status(Status

[2018-02-19 11:35] jskeet commented on #1903
Oh, hang on, I've just noticed - that's a different error. So we've now seen three errors reported in this issue:

- RpcException: Status(StatusCode=Unauthenticated, Detail="Deadline Exceeded")
- InvalidOperationException with default credentials not being available
- RpcException: Status(StatusCode=DeadlineExceeded, Detail="Deadline Exceeded")

Can I check - are you now *only* seeing the last of

[2018-02-19 11:37] jskeet commented on #1903
One final question for now - @art-grig and @vuukle, are you both working on the same project? If this is happening in completely different projects, that would be good to know, as it suggests a more varied set of conditions under which it can occur.

[2018-02-19 11:38] vuukle commented on #1903
@jskeet same project, will answer your earlier question shortly

[2018-02-19 11:40] vuukle commented on #1903
@jskeet i did a redeploy and changed the config to 32 cpu and 4 instances this time and error rate is 100%

![image](https://user-images.githubusercontent.com/2103977/36376059-c88416ec-1597-11e8-82b3-bf127dea9fa9.png)

[2018-02-19 11:44] vuukle commented on #1903
also i get 502 bad gateway, not sure if this information helps

![image](https://user-images.githubusercontent.com/2103977/36376217-4cda0d5c-1598-11e8-9b60-51e2374665af.png)

[2018-02-19 11:51] jskeet commented on #1903
No idea where the bad gateway error would come from, I'm afraid - but looking in the AppEngine logs might help diagnose that.

If fewer instances causes the problem to get much worse, that's suggestive of being channel-bound as I mentioned before as a possibility. That would only be seen under load - but I'd hope it should be fairly easily reproducible.

Note that just using a different `Datastore

[2018-02-19 12:08] vuukle commented on #1903
@jskeet increasing number of instances helps somewhat but the only two errors that are happening right this very moment are

Grpc.Core.RpcException: Status(StatusCode=Unavailable, Detail="Deadline Exceeded")
OR
Grpc.Core.RpcException: Status(StatusCode=DeadlineExceeded, Detail="Deadline Exceeded")

Does it make any difference if datastore table we are querying has 10million rows?

Please let us kn

[2018-02-19 12:11] jskeet commented on #1903
Okay, so you're still seeing *both* errors? That's good to know (though saddening, of course).

In terms of the Datastore table size - that depends on whether it's making the queries slow and/or returning a lot of data. (The more data that's being returned, the more the channel will be a bottleneck, I suspect. Will need to verify that though.)

Do you have any information about how long the failed

[2018-02-19 12:13] jskeet commented on #1900
(More information here would be really helpful in terms of working out what's going on. At the moment we don't know what your poll settings are like, or what cancellation token you're passing in.)

[2018-02-19 12:15] jskeet commented on #1899
I'm afraid I can't help any more on this issue without more information - please see my previous comment.
(To avoid stale issues cluttering up github, I'll close this in about a week if there are no further replies. You could still reply later at which point I'd potentially reopen the issue, of course.)

[2018-02-19 12:28] vuukle commented on #1903
@jskeet can you guide me on how to check the duration of failed requests please?

[2018-02-19 12:34] jskeet commented on #1903
If you go into the AppEngine dashboard, select "latency" and you should be able to see the 50th/95th/99th percentile for all calls - I'd expect that to give a good first pass.

If you have Stackdriver Trace support enabled, that would probably help too - or add your own timing and logging around the problematic call. (That's what I'm going to do while I'm trying to reproduce this.)

[2018-02-19 12:38] vuukle commented on #1903
![image](https://user-images.githubusercontent.com/2103977/36378192-ddbede86-159f-11e8-8705-18ebec1e02c3.png)

[2018-02-19 13:10] jskeet commented on #1903
Okay, so 5% of your calls are taking at least 7 minutes and 1% of them are taking 15 minutes.

Would you *expect* these calls to take a long time? Are you making many Datastore calls within each of your requests?

[2018-02-19 13:16] vuukle commented on #1903
@jskeet yes, we are making about 3/4 calls to data store in each HTTP request. Would that be an issue? These are mostly just fetching a few records in each datastore request

[2018-02-19 13:19] jskeet commented on #1903
Making 3 or 4 calls per request should be fine - but 5% of requests taking 7 minutes is pretty surprising, unless you're *expecting* some of them to be really slow. If you look at the same graph but include 5:05 when all the requests were failing, does the latency graph look much worse then?

[2018-02-19 13:23] vuukle commented on #1903
![image](https://user-images.githubusercontent.com/2103977/36379865-2acf36d4-15a6-11e8-9eb3-60f84130eeec.png)

[2018-02-19 13:25] vuukle commented on #1903
@jskeet we are using memcache to store the results but there is a good chance that there will be a lot of new requests causing it to skip memcache and go directly to datastore. Is there a limit on number of concurrent connections to data store?

Other than reading from data store i dont expect these requests to be slow

[2018-02-19 13:36] jskeet commented on #1903
Unless you're creating new channels explicitly, you'll be using a single channel to Datastore per instance, as that's what the channel pooling does.

If you'd like me to put together a sample for how you could use multiple channels, I'd be happy to do that - it's just a matter of whether I do that before or after working on the repro locally.

If you're able to create a separate service that skips

[2018-02-19 13:38] vuukle commented on #1903
@jskeet
1. please let us know how to create multi channel to see if that helps
2. i can make the service skip memcache and do a simple GET request- should take me a few minutes to do this, will update you asap

[2018-02-19 13:40] jskeet commented on #1903
Just to be clear, I'm not suggesting you make any change to any *production* service - only a test one for the purposes of diagnostics.

I'll work up a sample for multi-channel clients. I assume you're using `DatastoreDb` rather than just `DatastoreClient` - do you use the same database name for all requests?

[2018-02-19 13:50] UkrZilla commented on #1900
Hi @jskeet
1. We discovered that it happens when we reach full bandwidth of our Internet channel (100 Mbit/s) during 15 minutes and decided to urgently increase it
2. We use timeout=1h, and poll delay=5 seconds

I will inform you if the issue fixed

[2018-02-19 13:50] vuukle commented on #1903
@jskeet Yes, i understood that part :)

Yes we are using `protected readonly DatastoreDb _db;`

[2018-02-19 13:53] jskeet commented on #1900
Thanks. If you were saturating the network connection, it wouldn't entirely surprise me for the operation to time out. I'll wait for more details before doing any more investigation.

[2018-02-19 14:03] vuukle commented on #1903
@jskeet adding this has stopped the errors

 _db.RunQuery(q, null, Google.Api.Gax.Grpc.CallSettings.FromCallTiming(Google.Api.Gax.Grpc.CallTiming.FromTimeout(TimeSpan.FromMinutes(5)))).Entities?.AsEnumerable();

Does this information help?

[2018-02-19 14:06] vuukle commented on #1903
as you can see the moment i did the deploy with the above change the errors zapped

![image](https://user-images.githubusercontent.com/2103977/36381595-1b9aef2c-15ac-11e8-9be8-1b90d2a632fd.png)

[2018-02-19 14:11] jskeet commented on #1903
That's very interesting. The default settings for RunQuery are:

[code]

Various bits of that:

- IdempotentRetryFilter: `RetrySettings.FilterForStatusCodes(StatusCode.DeadlineExceeded, StatusCode.Unavailable)`
- GetDefaultRetryBackoff(): delay of 100ms, max of 1 minute, 1.3x multiplier
- GetDefaultTimeoutBackoff(): delay of 1 minute, max of a minute

So my guess (and at the moment is that it *is*

[2018-02-19 14:16] vuukle commented on #1903
when we run the query from our local machines, it never takes more than 60 seconds but yes we have seen the query sometimes taking longer than average. Can large indexes cause a problem?

We have about 20 indexes on an average 1GB per index

[2018-02-19 14:31] jskeet commented on #1903
I'm afraid I don't know details about Datastore itself - I work on a lot of different APIs, so don't know very much about each of them. I just make sure you can get requests from C# code to the server...

Here's a small sample for you for the pooling. You'd create an instance on start-up, then keep that instance everywhere, calling `var db = pool.GetNextInstance();` each time you wanted to make a

[2018-02-19 15:38] benwulfe opened #1906 "Sample for retries with Cloud Spanner should use same SpannerConnection."
This is technically a sample bug.  When spanner throws a transient fault, you should really try to use the same session on subsequent retries as spanner gives higher priority to retries in high contention scenarios.  This can be achieved in the ADO.NET provider by using the same open connection (which reserves a single session for use).

So really the sample here:
https://cloud.google.com/spanner/

[2018-02-19 15:43] jskeet commented on #1906
Have filed https://github.com/GoogleCloudPlatform/dotnet-docs-samples/issues/450 so it's in the right repo.

[2018-02-19 15:43] #1906 closed

[2018-02-19 16:20] evildour commented on #1903
Not sure if it's important, but just so it doesn't go unnoticed: the original error was

Status(StatusCode=**Unauthenticated**, Detail="Deadline Exceeded")

But in [this comment](https://github.com/GoogleCloudPlatform/google-cloud-dotnet/issues/1903#issuecomment-366672814), after adding the dependency to Grpc.Core 1.9.0, @vuukle said they are now seeing

Status(StatusCode=**Unavailable**, Detail="

[2018-02-19 16:23] vuukle commented on #1903
after increasing the time out, i didnt get any errors until i made another deploy but this time the error was different

Grpc.Core.RpcException: Status(StatusCode=Unavailable, Detail="Getting metadata from plugin failed with error: Exception occurred in metadata credentials plugin.")

at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw
at System.Runtime.CompilerServices.TaskAwaiter.Han

[2018-02-19 16:25] jskeet commented on #1903
@evildour: [This comment](https://github.com/GoogleCloudPlatform/google-cloud-dotnet/issues/1903#issuecomment-366672814) suggests they're now seeing both :(

And now yet another different one... it's very hard to work out what's going on with so many different problems.

@vuukle: Has that instance failed consistently? It would be really good to know which failure mode we're looking at with each of

[2018-02-19 17:38] jskeet commented on #1903
@vuukle: Was there an InnerException in the RpcException at all, when you saw the "Getting metadata from plugin failed" error? I'd expect *some* more information than that.

[2018-02-19 17:43] MoustafaS commented on #1903
Hello Jon, I am from the Vuukle team, the logs had no inner Exception in them.
Only these:
[code]

[2018-02-19 17:45] jskeet commented on #1903
Okay, thanks for the response. I'll have a look tomorrow at why we wouldn't have any extra info.

Have you had a chance to try the `RoundRobinDatastoreDbPool` yet?

[2018-02-19 18:29] vuukle commented on #1903
@jskeet will try RoundRobinDatastoreDbPool tomorrow

[2018-02-20 05:24] vuukle commented on #1903
@jskeet we tried the roundrobindbpool last night and had increased the timeout to 5minutes and have the rpc 1.9.0 - we did about 5 deployments and no errors were soon. We are now seeing errors again after 12 hours, and we are see three different eceptions

`Grpc.Core.RpcException: Status(StatusCode=Unavailable, Detail="Getting metadata from plugin failed with error: Exception occurred in metadata

[2018-02-20 07:10] jskeet commented on #1903
Hmm. I'm not sure whether that's encouraging or not. In terms of advice, this is a bit of a guess, but increasing the pool size shouldn't be required. Basically each channel should be able to handle a fair amount of concurrent traffic - I'd be surprised if having more than 8 channels was actually useful.

What does the latency graph for the same time period look like?

I think that in order to rep

[2018-02-20 08:37] jskeet commented on #1903
The "transport closed" error may be related to #1891 by the way - we're not sure of the cause of that yet.

[2018-02-20 09:02] vuukle commented on #1903
the latency increases every time the load increases, right now its going towards 400 req/sec and errors increase with higher requests. What we tried so far:
1. We increased instances from 8 -> 12 and decreased CPU from 16 -> 8 - didnt work
2. We increased kept instances same and increased cpu to 16 - error rate went down somewhat
3. Now I am increased instances to 16 and keeping cpu at 16

One thi

[2018-02-20 09:08] jskeet commented on #1903
If your datastore only contains test data, that would be very useful. If it contains production data or any sensitive information, I'd like to at least *try* to reproduce the problem without using it directly, just on general principle.

I *suspect* the memory graph is total memory across all instances, but I wouldn't like to claim to be 100% sure. The CPU usage being low would fit with the networ

[2018-02-20 09:17] vuukle commented on #1903
here are the graphs
![image](https://user-images.githubusercontent.com/2103977/36415588-758252aa-164c-11e8-8970-aacf557b79a9.png)

![image](https://user-images.githubusercontent.com/2103977/36415604-886bf934-164c-11e8-9edf-f1ab029d60c5.png)

![image](https://user-images.githubusercontent.com/2103977/36415632-98e209fc-164c-11e8-9289-0ca7618d8ff9.png)

![image](https://user-images.githubusercontent.

[2018-02-20 09:30] jskeet commented on #1903
That latency graph looks like it's not for the same period as you showed earlier for the pool test. The 5am-11am graph showing errors starting around 10am would be ideal - so we can see how the latency trends over the same period.

I very much doubt that changing CPU and memory will make a significant difference. I also wouldn't be terribly sure about "the errors stopped" in any particular situati

[2018-02-20 09:37] vuukle commented on #1903
I can share the schema, the data would have email addresses so it would be sensitive info, please give me 30min and I’ll send you schema and sample data points, does data store have slow query graph or any insight?

[2018-02-20 09:38] jskeet commented on #1903
I'm afraid I don't know enough about Datastore to answer the last questions, although the documentation may have more details.

Note that we probably don't need the full schema - just enough for what you're querying on so that I can create somewhat-representative data.

[2018-02-20 11:02] vuukle commented on #1903
@jskeet i have an interesting observation - I wanted to reduce the number of CPU from 16 -> 8 and keep everything exactly the same and errors jumped back as before... to test my theory i changed it back to 16 and errors are gone, does this help in understanding what is causing this exactly? Is it just load? or is there a bottleneck we are not able to identify? I am getting you the schema shortly

[2018-02-20 11:04] vuukle commented on #1903
i spoke to soon, errors continue even though i reverted it back to the old config :(

[2018-02-20 11:06] jskeet commented on #1904
Yay, it looks like this works, although it requires a newer SDK version.

PR for GAX: https://github.com/googleapis/gax-dotnet/pull/236

Once that's in, I'll apply it to this repo too.

[2018-02-20 11:48] UkrZilla commented on #1900
Hi @jskeet

Just increased bandwidth of our network connection and the issue fixed. Thanks

[2018-02-20 11:52] vuukle commented on #1903
@jskeet here is a structure of the table
{"data":{"createdTimestamp":1517059360,"emote":5,"host":"nbc-2.com","uri":"http://www.nbc-2.com/story/37361289/president-trumps-solar-tariff-hits-home-for-swfl","articleId":"37361289","title":"President Trump's solar tariff hits home for SWFL","articleAvatar":"http://wbbh.images.worldnow.com/images/15914650_G.jpg","tag":"","apiKey":"8f291d07-5577-46be-ae2e-

[2018-02-20 11:58] jskeet commented on #1900
Great - I'll close this issue in that case. Thanks very much for confirming!

[2018-02-20 11:58] #1900 closed

[2018-02-20 11:59] jskeet commented on #1903
Yes, if you could tell me the kind of query you're running and the number of results you see, that would be great.

[2018-02-20 12:15] vuukle commented on #1903
@jskeet i just found something in our code, it seems we are skipping memcache and we are simply doing a direct query to the datastore for a row that actually doesnt exist in the datastore. So if you actually create a simple table and query by property 400 GET req/sec you should simulate the issue we have

We are now adding a fix so that it stores a "not-found" in memcache to avoid multiple request

[2018-02-20 12:40] vuukle commented on #1903
to answer your earlier question each req will return a maxmium of 5 rows of data like this is just one

{"data":{"createdTimestamp":1517059360,"emote":5,"host":"nbc-2.com","uri":"http://www.nbc-2.com/story/37361289/president-trumps-solar-tariff-hits-home-for-swfl","articleId":"37361289","title":"President Trump's solar tariff hits home for SWFL","articleAvatar":"http://wbbh.images.worldnow.com/ima

[2018-02-20 13:04] jskeet commented on #1903
Okay, so you're still running a query, but by a property. Can you provide a sample of how you're querying, just to avoid me making invalid assumptions?

Beyond that, it sounds like I'll have enough information, thanks!

[2018-02-20 13:05] vuukle commented on #1903
public IEnumerable<Entity> GetByProperties(params Tuple<string, object>[] props)
        {
            IEnumerable<Entity> res = null;
            //res = _cache.Get(string.Format("{0}-{1}", Kind, modelId.ToString())) as T;
            //res = _cache.Get<T>(string.Format("{0}-{1}", Kind, modelId.ToString()));
            if (res == null)
            {
                var q = new Query(Kind);

[2018-02-20 13:09] jskeet commented on #1903
Thanks - but what does `ConstructFilter` do, exactly? (I don't *think* you've shown that anywhere.)

For your example, would it be just a matter of

[code]

? (Presumably you have your own conversion code to create a `Value` from the host/article ID?)

[2018-02-20 13:12] vuukle commented on #1903
yes exactly .. you can ignore contructFilter and assume Filter.And(new[] { Filter.Equal("Host", host), Filter.Equal("ArticleId", articleId))

Its just doing a simple get request based on two properties from the datastore - so even if there no data stored it should give you the same error i hope, in my table i have 5-6million entries

[2018-02-20 13:15] jskeet commented on #1903
And are both of those properties indexed? Is `articleId` actually a numeric value in Datastore, or is it a string?

[2018-02-20 13:19] vuukle commented on #1903
it seems they are not indexed, these are the index we have on the articles table

![image](https://user-images.githubusercontent.com/2103977/36426004-c0cdae9a-166e-11e8-9749-e1fcf350089d.png)

[2018-02-20 13:23] jskeet commented on #1903
So `host` *is* indexed, but `articleId` isn't. Okay, thanks. I suspect it would be best if you *did* add an `articleId`  index, but I'll try to reproduce the problem without :)

[2018-02-20 13:25] vuukle commented on #1903
sure we have added the index and also the memcache fix .. hopefully it will bring down the number of direct calls to the datastore but i would have assumed datastore would easily handle a load of 400req/sec

[2018-02-20 14:53] jskeet commented on #1903
Right, I'm currently generating entities, then I'll look at querying them...

[2018-02-20 15:18] jskeet commented on #1903
Ah - more information about the "Exception occurred in metadata credentials plugin" error. If you turn on gRPC error logging, I believe you'll get more information there. It would be nice if it were an `InnerException`, but I suspect that's really tricky. (I've filed a [feature request](https://github.com/grpc/grpc/issues/14461) anyway.)

If you set the `GRPC_VERBOSITY` environment variable to `ER

[2018-02-20 15:21] vuukle commented on #1903
@jskeet will do thanks @art-grig

[2018-02-20 16:53] jskeet commented on #1891
Just received this myself loading data into Datastore - the process had been running for approximately two hours.

[2018-02-21 11:52] #1904 closed

[2018-02-21 11:52] jskeet commented on #1625
I think we can close this issue now as we've done as much as we can without breaking compatibility.

[2018-02-21 11:52] #1625 closed

[2018-02-21 11:53] jskeet commented on #1854
Just as an update, this hasn't fallen off my radar completely - but there are some other Spanner changes in motion that I want to get out first; I'll then look at what we do about this issue.

[2018-02-21 11:54] jskeet commented on #1853
Just as an update, this hasn't fallen off my radar completely - but there are some other Spanner changes in motion that I want to get out first; I'll then look at what we do about this issue.

[2018-02-21 14:02] vuukle commented on #1903
@jskeet we are again seeing the issue appear after being dormant for almost 15hours

![image](https://user-images.githubusercontent.com/2103977/36484010-e0ee8d5a-173d-11e8-8a09-5a8b3d35d718.png)

[2018-02-21 14:16] vuukle commented on #1903
this was the exception as usual, i am adding the grpc_verbosity now to see if it gives more info

![image](https://user-images.githubusercontent.com/2103977/36484640-e8c59562-173f-11e8-9b51-f40ed386bf50.png)

[2018-02-21 14:26] vuukle commented on #1903
@jskeet can you please guide us how to add GRPC_VERBOSITY i cant seem to find any documentation?

[2018-02-21 17:00] jskeet commented on #1903
It's just an environment variable. It may be simplest to just set it at the start of the Main method. (I can't give a sample now, as I'm on a mobile.)

I now have a populated Datastore - will reproduce tomorrow with any luck.

[2018-02-21 18:24] SurferJeffAtGoogle opened #1916 "Datastore: Lookup key 0 never completes."
I created a key like this:
[code]

Later, I tried looking it up:
[code]

That task never completes.  I expect it to complete and throw an exception, because key 0 is not a valid datastore key.

[2018-02-21 18:50] jskeet commented on #1916
Will look into reproducing tomorrow.

[2018-02-22 08:25] vuukle commented on #1903
i get this error stack trace now

E0222 08: 21:02.654043 Grpc.Core.Internal.NativeMetadataCredentialsPlugin Exception occurred in metadata credentials plugin. This is likely not a problem with gRPC itself. Please verify that the code supplying the metadata (usually an authentication token) works correctly. System.Threading.Tasks.TaskCanceledException: A task was canceled.
at System.Runtime.Compile

[2018-02-22 08:35] alyaros commented on #1794
Hey,
We changed our EF driver to use ADO for Read path and V1 for Write Path.
The problem I mentioned in this ticket was related to the Write Path via ADO which I'm no longer using - so I have no new input on this issue. If it does not occurred for others and based on the inputs above I think we close this ticket.

[2018-02-22 08:36] jskeet commented on #1794
Fine by me - we can always reopen it if anyone else reports a similar issue. Thanks for getting back to me.

[2018-02-22 08:36] #1794 closed

[2018-02-22 08:40] jskeet commented on #1903
Thanks for the extra information. I'll try to follow the flow of where the cancellation token comes from. There are a couple of possibilities here:

- The cancellation token could effectively be a timeout, suggesting that we couldn't get to the authentication server in time
- The cancellation token could be triggered by some other user code. Do you cancel any CancellationTokenSources in your code?

[2018-02-22 09:35] jskeet commented on #1916
Hmm... I couldn't reproduce this. I received an error very quickly:

Sample code (requires C# 7.1 for async main):

[code]

Could you try that code in your environment (after changing the project/namespace/kind appropriately)? We can then get a better idea of what's going on.

[2018-02-22 13:05] tomerpeled opened #1920 "Grpc.Core.RpcException: Status(StatusCode=Cancelled, Detail="Cancelled") in Spanner, UnobservedTaskException"
Hi,

We're getting a weird RpcException message on our servers from time to time:
**Grpc.Core.RpcException: Status(StatusCode=Cancelled, Detail="Cancelled")**

Also, there is no stacktrace, so we couldn't trace this one... :(

We are working with the Spanner ADO.Net to connect to our db.

What can cause this exception?

We saw that someone else complaint about it in tome grpc thread:
https://githu

[2018-02-22 13:23] jskeet commented on #1920
No stack trace at all? Not even from where you catch the exception? That's very surprising. After the exception has been thrown, does the server recover for other requests, or does it fail permanently?

It doesn't sound like you're running into the same problem as the linked gRPC issue, as that results in an InvalidOperationException. I'd have to check the exact gRPC behavior in different scenario

[2018-02-22 13:48] evildour opened #1921 "[Bigtable] Decide how to expose AppProfileIds"
The AppProfileIds are currently an alpha feature for Bigtable. Make sure we're not locked into anything that may change before we go GA. This applies to both `BigtableClient.Create[Async]` and `BigtableClient.WithAppProfileId`.

[2018-02-22 14:36] #1038 closed

[2018-02-22 16:01] vuukle commented on #1903
@jskeet any luck reproducing the error?

We use this function often
[code]
 to run any function behind the scenes, could this cause any issues?

[2018-02-22 16:04] tomerpeled commented on #1920
Yes, we don't have any stacktrace.
The server recovers like there was no issue at all...

Before the exception occurs we our doing queries and updates, but **all** the operations works as expected...

[2018-02-22 16:11] jskeet commented on #1903
I'm still working on the test harness - I'm hoping to get it running the queries regularly (with lots of stats recorded) before I finish for the day, expecting it to fail overnight.

That `RunBackground` method shouldn't cause problems, but equally it's not adding any value for you over just calling `Task.Run(fn)`. Calling `ConfigureAwait` and ignoring the result doesn't have any effect.

[2018-02-22 16:14] jskeet commented on #1920
Just to check what you mean, are you suggesting that none of the operations have actually failed, you're just getting logs of an RpcException which is presumably then retried?

How are you seeing the RpcException - is it in the console output?

[2018-02-22 16:57] jskeet commented on #1903
Okay, I now have 10 instances each making 40 queries per second and recording the latencies, errors etc. We'll see what happens when I leave it running overnight...

[2018-02-22 17:13] vuukle commented on #1903
looking forward 👍

[2018-02-22 18:07] #1577 closed

[2018-02-22 20:55] tomerpeled commented on #1920
Well, we register our app to the UnobservedTaskException via the TaskScheduler and we get the described error from there - with no stacktrace...

Notice, that it seems that even though we get those errors from the UnobservedTaskException event, non of them seems to influence our flows.

[2018-02-22 21:18] jskeet commented on #1920
Ah, interesting. I wonder whether it's something to do with the connectivity checked.

@jtattermusch does that sound feasible?

[2018-02-23 09:35] jskeet commented on #1920
Out of interest, do you have records of when you receive this exception? Is it at regular intervals on each server?

[2018-02-23 09:39] jskeet commented on #1903
Okay, well it's been running for 17 hours now, and I haven't seen any errors :( I'm currently only keeping track of the *average* latency (over each 1-minute interval, so ~2400 queries per server) - that's never gone above ~250ms, and is normally only ~15ms. Certainly nothing like the minutes-long latency you're seeing.

Note that I'm only making the "don't find anything" queries at the moment - p

[2018-02-23 10:20] vuukle commented on #1903
@jskeet unfortunately, we are still reviving those errors and its frustrating because we can not take the system live and burning a lot of cash just upsizing and downsizing instances to find the right config.

One thing i noticed is that or syste is doing 1-2million DataStore reads per hour and whenever we try to optimize and reduce this the error goes away.

The CPU graph is quite misleading beca

[2018-02-23 10:26] jskeet commented on #1903
At this point I suspect you really need a Datastore expert to help you. I'll reach out internally to try to find someone who can help.

[2018-02-23 20:00] tomerpeled commented on #1920
Well I didn't find any regular interval pattern.

[2018-02-24 23:36] Dafeesh opened #1923 "Support connecting to Datastore emulator"
[Related issue in 'google-cloud-python' repo](https://github.com/GoogleCloudPlatform/google-cloud-python/issues/4840)

Support for connecting to the gcloud Datastore emulator is absolutely crucial for unit testing. Currently a whole host of issues arise when attempting to connect to the gcloud Datastore emulator. From what I understand this is because the gcloud emulator doesn't yet support gRPC(?

[2018-02-26 03:56] Thaina opened #1925 "[error] An empty string was provided, but is not valid"
[code]

Throw this error

[code]

I think this might be intentional but is it really not valid? I just wan to query every document that has that field be any string. Empty string is also valid value

[2018-02-26 06:24] jerarl commented on #1853
Thanks, we're still waiting on when this will be implemented

[2018-02-26 06:24] jerarl commented on #1854
Thanks, we're still waiting on when this will be implemented

[2018-02-26 09:33] jskeet commented on #1925
This is not an issue in the .NET Client. I'd suggest asking on the [Google Group](https://groups.google.com/forum/#!forum/firebase-talk) for Firebase discussions - this isn't language-specific.

The simple fix is just to not call `StartAfter` though.

[2018-02-26 09:47] Thaina commented on #1925
@jskeet I see. I think it is only cause in this sdk. Thanks

[2018-02-26 09:52] jskeet commented on #1925
Oh, hang on - sorry, I'd thought this was a server-side validation. Will reopen and check more carefully later. I'd have to check why we're calling ValidateId.

[2018-02-26 09:59] Thaina commented on #1925
@jskeet before I reply to you I already check with jssdk and it seem it also cause (somehow difference) error in jssdk too. It look like startAt would not handle empty string in any sdk because it will construct a path  `/path/{key}/` which would become `/path//`

I don't know it was intentional or not

[2018-02-26 12:12] jskeet commented on #1923
I'll have a look at this - I'm pretty sure it used to work, although you need to specify the endpoint and credentials explicitly, as per https://googlecloudplatform.github.io/google-cloud-dotnet/docs/faq.html#how-can-i-use-emulators

I'll try that when I get a chance and report here.

[2018-02-26 12:16] jskeet commented on #1925
I wouldn't expect to see this problem unless your ordering was actually `OrderBy(FieldPath.DocumentId)`, not `OrderBy("SomeField")`. If you're just ordering by a string field, it should just be converting the string into a value.

If you *are* ordering by document ID, this is behaving as I'd expect it to - you have to provide a valid reference path to start at.

[2018-02-26 12:52] Thaina commented on #1925
I see. Does it means only orderby docid was difference from other field?

By somefield I put there it actually is a variable and I test it with docid first. I would try to test with other field tomorrow. Might be my fault here

[2018-02-26 13:35] jskeet commented on #1925
I don't understand the question in your first paragraph, I'm afraid. Could you restate it? If you're asking whether docid fields are handled differently to other field names, the answer is yes - the cursor value for a docid field must be either a DocumentReference or a string that's a valid path within the collection.

[2018-02-26 13:41] Thaina commented on #1925
You understand it correctly. Thanks

[2018-02-26 14:45] jtattermusch commented on #1920
@tomerpeled, just to clarify: you seeing the RpcException when you are invoking calls as a client (i.e. using Grpc.Core.Channel to invoke calls) or on a server (e.g. handling calls using Grpc.Core.Server)?

[2018-02-26 14:48] jtattermusch commented on #1920
Btw, if you're calls are using deadlines, you can either get DeadlineExceeded status  or Cancelled status if the call times out (it is because both the server and the client see the same deadline and one of them terminates the call by cancelling it a little earlier than the counterpart - which then sees a cancelled call, because the call was indeed cancelled by the peer).

[2018-02-26 15:11] jtattermusch commented on #1903
@jskeet  I read through the entire log and I didn't see anything that would indicate that this a problem in gRPC itself. Because there is relatively high number of requests to datastore (and some of the queries are taking very long), but guess would be that this is more likely to be Datastore  specific rather than gRPC-specific.

@vuukle  is there any chance you could run a simplified version of y

[2018-02-26 15:31] jskeet commented on #1903
@jtattermusch: Thanks for that. @vuukle now has a separate conversation going on with the full support team - given the wide range of errors noted here, I suspect there will be multiple different causes. One around refresh tokens is in progress here: https://github.com/google/google-api-dotnet-client/pull/1166

[2018-02-26 15:51] vuukle commented on #1903
@jtattermusch @jskeet I do feel the errors are related to datastore but since datastore doesn't give me analytics related to slow queries or avg query response time or if there are any throttling limits on concurrent connections.

Ever since we enabled memcache and reduced the number of concurrent connections to the datastore, the errors have almost disappeared.

As an experiment, i can disable me

[2018-02-26 16:00] vuukle commented on #1903
Also, i am not sure if this helps but during the time errors happened we noticed this random instance (ah-builtin-python-bundle) running despite deleting all previously deployed versions
https://stackoverflow.com/questions/48878798/google-cloud-appengine-1-9-54-release

[2018-02-26 18:40] vuukle commented on #1903
the errors started again straight after our last deploy
![image](https://user-images.githubusercontent.com/2103977/36688429-7ba43918-1b52-11e8-912b-1eae3ff5478e.png)

[2018-02-26 19:02] vuukle commented on #1903
the deadline exceeded exception always points to the following line of code

![image](https://user-images.githubusercontent.com/2103977/36689498-9e356ae4-1b55-11e8-91dd-87c041887478.png)

[2018-02-26 19:18] vuukle commented on #1903
We just tried making another deployment with absolutely no code changes just upgraded the version number during deployment, the moment the deployment succeeded the errors stopped, the bug cant be on my end for sure now

![image](https://user-images.githubusercontent.com/2103977/36690279-cf71d64a-1b57-11e8-8e13-7a89162ae7c2.png)

Our deployment is stuck because of this error :(

[2018-02-26 20:26] tomerpeled commented on #1920
Well, we are using both Spanner SDKs:
https://github.com/GoogleCloudPlatform/google-cloud-dotnet/tree/master/apis/Google.Cloud.Spanner.Data

https://github.com/GoogleCloudPlatform/google-cloud-dotnet/tree/master/apis/Google.Cloud.Spanner.V1

So I believe those use the Grpc.Core.Channel.

[2018-02-26 21:32] SurferJeffAtGoogle opened #1926 "Logged with log4net but log lines never appear in stackdriver."
Like this user report on stack overflow,
https://stackoverflow.com/questions/48962850/cant-write-log-entry-with-google-clouds-log4net-integration
I followed the instructions here:
https://googlecloudplatform.github.io/google-cloud-dotnet/docs/Google.Cloud.Logging.Log4Net/index.html
Wrote this code:
https://github.com/SurferJeffAtGoogle/csharp-docs-samples/tree/log4net/logging/api/Log4NetSample
And

[2018-02-27 02:29] Dafeesh commented on #1923
Thanks jskeet, I was finally able to get it working with the link you provided. An insecure channel was the answer.

I feel like this could be easier for a user to discover in the code base, bit it does look like you guys are working for a broader solution already which is good news.

[2018-02-27 06:08] vuukle commented on #1903
Sorry dont mean to spam this thread but i logged in this morning and as you can see errors started to happen without any change in code

![image](https://user-images.githubusercontent.com/2103977/36713242-b10a74ea-1bb2-11e8-92a3-198f7ffadb8b.png)

[2018-02-27 06:44] jskeet commented on #1923
We definitely want to have a cleaner solution, but been I've been resisting doing this in dribs and drabs.

The good news is that if that code worked for you from C# then the emulator definitely *does* still support gRPC, and other languages should be able to connect to it to.

Closing this issue now, as there's no work required for the moment.

[2018-02-27 06:44] #1923 closed

[2018-02-27 06:45] jskeet commented on #1925
Closing as this is working as intended.

[2018-02-27 06:45] #1925 closed

[2018-02-27 07:19] jskeet commented on #1903
Yes, that fits in with what we've seen previously. We still don't know whether that means there's one instance that has started failing every request, or whether it's a mixture of failures across instances though. Can you look on a per-instance basis to find that out?

[2018-02-27 07:32] vuukle commented on #1903
how do I check per instance? There is no error reporting on per instance basis

On Feb 27, 2018, at 12:49 PM, Jon Skeet <notifications@github.com<mailto:notifications@github.com>> wrote:

Yes, that fits in with what we've seen previously. We still don't know whether that means there's one instance that has started failing every request, or whether it's a mixture of failures across instances though

[2018-02-27 07:34] vuukle commented on #1903
One of the google cloud support from Mexico wrote this to me on email

“Judging by the stack trace that you sent, there’s a timeout for BeginTransaction, which is a non-idempotent call - so that operation won’t be retried. Unless you have specified different settings, the timeout for said operation is set to be 1 minute.”

I have no idea what this means?

On Feb 27, 2018, at 12:49 PM, Jon Skeet <n

[2018-02-27 07:39] jskeet commented on #1903
Checking per instance: you may need to add some extra logging to see this. It's very possible that there *is* already a way of checking this, that I'm just not aware of, but adding logging would probably be simplest. Or if you're already logging errors, you could just look at the errors you've got and see whether they're all from the same instance.

In terms of the BeginTransaction error: we were

[2018-02-27 07:40] jskeet commented on #1920
What confuses me is why it's an unobserved exception - I'm not sure how we can find out which call was being made here. @jtattermusch is there anything within an RpcException which would identify the RPC being made?

[2018-02-27 07:41] jskeet commented on #1926
(Assigned to Chris as our Log4Net expert.)

[2018-02-27 09:18] vuukle commented on #1903
i'll check how to add instance based logging. Just to provide more information, the error comes and goes even when we have not changed the code

The code to call datastore is very simple as below, we started adding a time out of _10sec_ thinking that may be there is some query that is causing a bottleneck somewhere, should i remove this timeout? What do you think would be the next steps please?

p

[2018-02-27 09:26] vuukle commented on #1903
Yes, instances recover without any re-deployment. You can see from the analytics here that from below

![image](https://user-images.githubusercontent.com/2103977/36720513-4de22bc6-1bce-11e8-98c1-1f838b0f0912.png)

I have also noticed that sometimes with instance goes in _debug_ mode without any doing on our end, is it normal that 2 out of 8 instances would randomly go in debug mode?

[2018-02-27 09:27] chrisdunelm commented on #1926
I'll look at reproducing this now.

[2018-02-27 09:30] vuukle commented on #1903
Here is the stack trace and i dont see any begin transaction statement

Grpc.Core.RpcException: Status(StatusCode=Unauthenticated, Detail="Deadline Exceeded")
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at Grpc.Core.Internal.AsyncCall`2.UnaryCall(TRequest msg)
   at Grpc

[2018-02-27 09:31] jskeet commented on #1903
That's *a* stack trace, but you shared another one with support which included BeginTransaction (called from VuukleCore.Logic.Impl.BaseCrudService`1.Create)

[2018-02-27 09:35] jskeet commented on #1903
As mentioned before, it would really help if we could reproduce this with a very simple test service, which only performed a single call. That's what I tried to reproduce before, with the query that didn't return anything - but I never saw the issue.

You've shown us one call to RunQuery, but we don't know whether that's the only one your code is making. Are you able to simplify your test service

[2018-02-27 09:56] vuukle commented on #1903
would a quick screenshare/hangout work? That ways i can quickly show you the code and give you what you need to further debug the issue, i am also happy to give you bitbucket access?

also, during the time of errors there are always only 2 GET requests happening which are reading from datastore

In the last 25 hours the deadline exceeded errors happened approx 100K times but none of the stack trac

[2018-02-27 09:59] jskeet commented on #1903
A screenshare this afternoon UK time would work for me, if that works for you. If you can reduce your code as far as possible, that will make it easier to go over. I'll email you to arrange the screenshare.

[2018-02-27 10:00] vuukle commented on #1903
yes that works for me too, looking forward

[2018-02-27 10:02] chrisdunelm commented on #1926
My implementation of pretty much exactly @SurferJeffAtGoogle's code works as expected, and the expected log entry appears in Google Stackdriver logging.

Because this is running on my local machine, it appears as a "global" log entry.
If running on GCE the log entry will appear as a "GCE VM Instance", "GAE Application", or "GKE Container" entry, depending on the exact platform.
This is defined in

[2018-02-27 11:26] MoustafaS commented on #1903
Jon, We have changed the Datastore polling class, and just intentionally created a new instance on every injection, after pushing this only change, the errors have gone for now, could this be a reason of locking, or the 300 instances weren't enough before ?
The errors may come back in few hours, but once we pushed they stopped.
Attached screenshot of the change
![datastore](https://user-images.git

[2018-02-27 13:04] evildour opened #1930 "Determine when retry settings aren't generated for streaming call"
Despite having idempotent retry settings [in the GAPIC config](https://github.com/googleapis/googleapis/blob/399ee9300491ddf376bf82dd8bc9c776f1d19840/google/bigtable/v2/bigtable_gapic.yaml#L104), the generator [does not generate the RetrySettings for BigtableClient's MutateRows](https://github.com/GoogleCloudPlatform/google-cloud-dotnet/blob/80a56f78d90be847cd5e286275889da43c0a6477/apis/Google.Clo

[2018-02-27 15:56] #1104 closed

[2018-02-27 18:01] jtattermusch commented on #1903
I've done a bit of experimenting with what could generate the  `Grpc.Core.RpcException: Status(StatusCode=Unauthenticated, Detail="Deadline Exceeded")`  or  Grpc.Core.RpcException: Status(StatusCode=Unavailable, Detail="Deadline Exceeded") errors.

It looks like that if the "auth plugin" callback (the code that fetches the credentials from google token server, usually in form of GoogleCredential f

[2018-02-27 18:13] vuukle commented on #1903
jtattermusch thanks but would you be able to guide me with some simple code on where exactly I need to add the log statement please?

[2018-02-27 18:41] SurferJeffAtGoogle commented on #1926
Can you provide a screenshot where you see the log entry?
I see no way to select a "global" log.
![image](https://user-images.githubusercontent.com/11778530/36747785-c938c0ec-1baa-11e8-9ac8-5492aac62a0b.png)

[2018-02-27 18:44] SurferJeffAtGoogle commented on #1926
I hacked the uri to see the global log, but I still see nothing:
![image](https://user-images.githubusercontent.com/11778530/36747916-30561734-1bab-11e8-91c4-bbca050438e1.png)

[2018-02-27 18:49] jtattermusch commented on #1903
@jskeet   can you help recommending a place where to add logging to see if the GoogleCredential is returning  on time? You know the datastore client library more than I do (and I'm not sure how exactly are the credentials setup in the client library).

[2018-02-27 19:43] vuukle commented on #1903
@jtattermusch @jskeet i found this thread on SO https://stackoverflow.com/questions/46458079/google-app-engine-updated-health-checks i am testing the theory about increasing the readiness_check & liveness_check to see if this helps or not

[2018-02-27 19:46] vuukle commented on #1903
one more thing to note the 502 errors happen only on 2 out of 6 of the instances

[2018-02-27 21:35] vuukle commented on #1903
There almost 20 liveness and readiness checks per second, i tried increasing the check to 65 sec but it wont deploy if  I add this to my app yaml file, i have tried almost 12 times now

readiness_check:
  path: "/readiness_check"
  check_interval_sec: 65
  timeout_sec: 4
  failure_threshold: 2
  success_threshold: 2
  app_start_timeout_sec: 300

I see the following errors in my logs

2018-02-28 03

[2018-02-28 06:59] vuukle commented on #1903
Okay, this should be interesting. I reverted to the legacy health checks by running the following command

This is allowed me to publish with the following app.yaml

env: flex
runtime: aspnetcore
health_check:
  enable_health_check: False
  check_interval_sec: 65
  timeout_sec: 4
  unhealthy_threshold: 2
  healthy_threshold: 2

resources:
 cpu: 12
 memory_gb: 14.4

automatic_scaling:
  min_num_ins

[2018-02-28 07:16] vuukle commented on #1903
Based on the suggestion here i managed to stop the healthchecks https://stackoverflow.com/questions/27145997/how-to-disable-health-checking-for-gcloud-preview-app-run

vm_health_check:
  enable_health_check: False

That's a bug in the Google Documentation https://cloud.google.com/appengine/docs/flexible/dotnet/configuring-your-app-with-app-yaml

[2018-02-28 07:29] jskeet commented on #1903
Could you go into *why* you're disabling the health checks? While I can understand that their frequency is somewhat alarming, I wouldn't expect it to cause real problems to the app.

That said, if increasing the disk size helped, that could be a root cause for a lot of issues - if you're running out of disk space, all kinds of things could go wrong. Did you check that you *were* running out of dis

[2018-02-28 08:23] jskeet commented on #1883
Still needs implementing:

- QuerySnapshot
- SetOptions
- TransactionOptions
- Precondition

[2018-02-28 08:23] jskeet commented on #1899
Closing as stale.

[2018-02-28 08:23] #1899 closed

[2018-02-28 08:51] jskeet commented on #1848
One side note by the way: `Image.FromUri` *doesn't* load the image into memory. Instead, the URI is sent in the request. If you want to load the image data into memory and then send that in a request, use `FetchFromUri` or `FetchFromUriAsync` instead.

Finally trying to provoke the error so I can confirm its status.

[2018-02-28 08:57] jskeet commented on #1848
Confirmed: the error status code is `ResourceExhausted`. I'd expect this to be consistent across APIs, and I know that's the case for Speech for example.

Closing as I think we've answered everything we can here - exactly how you *handle* that error is up to your application, as I mentioned before.

[2018-02-28 08:57] #1848 closed

[2018-02-28 09:23] henkmollema opened #1932 "Log names in ASP.NET Core logging"
We have integrated the `Google.Cloud.Diagnostics.AspNetCore` package into our project and noticed that the logger passes the "category name" (`ILogger<TCategory>`) of the logger instance to `LogTarget` which creates a `logName` property:

https://github.com/GoogleCloudPlatform/google-cloud-dotnet/blob/d0c81fd0756e69b664610b4438f4240f42d0f005/apis/Google.Cloud.Diagnostics.AspNetCore/Google.Cloud.Di

[2018-02-28 09:28] jskeet commented on #1930
Chris, could you have a look at this? It would be nice to remove the extra settings code as soon as we could.

Is it possibly related to MutateRows being a server-side streaming call?

[2018-02-28 09:31] jskeet commented on #1891
@jtattermusch @apolcyn Ping for any more thoughts on this?

[2018-02-28 09:31] henkmollema commented on #1932
I would like to send a PR if any changes are necessary 😄

[2018-02-28 09:55] henkmollema opened #1933 "ASP.NET Core logging request correlation"
Currently the ASP.NET Core logger adds the request trace identifier to every log message, for example:
![image](https://user-images.githubusercontent.com/1521207/36781223-90ce6a4c-1c75-11e8-9ac8-d04eb4213865.png)

However, it's not possible to easily filter on this ID as it's embedded in the log message not available as a standalone property. Is it possible for the logger to add custom properties

[2018-02-28 09:57] henkmollema commented on #1933
It would be nice if these log messages could be correlated to the nginx request log as well:
![image](https://user-images.githubusercontent.com/1521207/36781407-118c969a-1c76-11e8-8c1f-bdc54c20b292.png)

[2018-02-28 14:00] vuukle commented on #1903
Re: disabling the healthcheck, i read in the following [link](https://stackoverflow.com/questions/27145997/how-to-disable-health-checking-for-gcloud-preview-app-run) and this [one](https://groups.google.com/forum/#!topic/google-appengine/6gvlur9tXW0) where multiple people were seeing 502's or 404's due to the freq of healthchecks.

Now to summarize:

1. **Disk Space** Forgot to take a snapshot bef

[2018-02-28 14:11] jskeet commented on #1903
I'm afraid I know no more about the health checking than you - probably less given the research you've done. I suggest you ask the Cloud Support Engineer you're having a conversation with about that, as they're very likely to know more.

If the health checks are swamping the network somehow, *maybe* that would explain why the queries time out either due to it not refreshing the auth token in time

[2018-02-28 14:15] vuukle commented on #1903
@jskeet i have already emailed them yesterday night, hoping to get a response soon

[2018-02-28 16:20] jskeet commented on #1854
Just implementing this now, there's a fly in the ointment: arrays. An individual spanner value can be an array, and we allow the clients to ask for (say) a `string[]`.

Proposal: only the top-level value is ever returned as `DbNull.Value`. Within arrays, the existing behaviour will be used instead (which is slightly unfortunate in terms of an `int[]` that contains a null Spanner value will have th

[2018-02-28 16:28] jskeet commented on #1854
Ah - except repeated field elements can't be null, so this may not be a problem after all. I think we've got some integration tests which are testing for an impossible scenario.

[2018-02-28 16:58] schmidt-sebastian commented on #1905
This matches a more general feature request of the Query API that is already on our roadmap. We will eventually allow querying the entire subtree of documents, which will then include data hidden away in empty documents.

We can likely prioritize the specific use case (empty documents at the collection level) as it is indeed required to enumerate all Firestore data. I will update this issue after

[2018-02-28 17:07] iantalarico commented on #1932
@henkmollema Always glad to hear about customers using our bits and engaging with us! :-)

Some info about the reason for the current design:
- The [convention](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?tabs=aspnetcore2x#log-category) is to use the full class name (given how Stackdriver shows the logs I can understand this may be a little painful).
- If you create an ILogg

[2018-02-28 17:18] iantalarico commented on #1933
@henkmollema This is possible but I think we be fairly complicated and edge case.  The information the logger gets when logging isn't much and mostly just formats the message and adds it to the log entry.

https://github.com/GoogleCloudPlatform/google-cloud-dotnet/blob/d0c81fd0756e69b664610b4438f4240f42d0f005/apis/Google.Cloud.Diagnostics.AspNetCore/Google.Cloud.Diagnostics.AspNetCore/Logging/Goog

[2018-02-28 19:00] henkmollema commented on #1933
Yeah, I figured a text search would help out. Thanks!

Are there any hooks to populate telemetry with additional data? For example, Application Insights has a concept of [telemetry intializers](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-api-filtering-sampling#add-properties-itelemetryinitializer).

[2018-02-28 19:06] #1933 closed

[2018-02-28 19:07] henkmollema commented on #1933
Thanks! I'll open an issue and think about a possible implementation. 👍

[2018-02-28 19:15] SurferJeffAtGoogle opened #1936 "Pubsub keeps giving me the same messages despite my handler returning SubscriberClient.Reply.Ack"
I'm using the SubscriberClient API:
[code]
[code]
I've stepped through the code in a debugger, and I see my code returning SubscriberClient.Reply.Ack for literally millions of messages.  But then those same messages are once again delivered to ProcessOneMessage().

Current code is here:
https://github.com/SurferJeffAtGoogle/csharp-docs-samples/blob/sudoku/appengine/flexible/Sudokumb2.0/WebLib/Solv

[2018-02-28 19:33] henkmollema commented on #1932
@iantalarico kudos to you and the rest of team for providing such a great experience with Google services and .NET! 😄

I understand that the design is to use full class names for the logger category. That's also the problem with your second point: I'd like to follow this convention and Microsoft follows it as well (e.g. `Microsoft.AspNetCore.Hosting.Internal.WebHost`). These Microsoft logger insta

[2018-02-28 20:00] henkmollema opened #1937 "Provide a logging hook to add custom labels to log entries"
It would be useful if the diagnostics library provided a hook to add custom labels to log entries. Application Insights, for example, has a concept of [telemetry initializers](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-api-filtering-sampling#add-properties-itelemetryinitializer) which allows you to add additional properties to telemetry.

Currently you can use `Logger

[2018-02-28 20:17] iantalarico commented on #1932
@henkmollema That sounds reasonable.  Let me think on it some more.

@jskeet Does this sound reasonable to you?  Can we do this swap in a minor change or would this require a major version?

[2018-02-28 20:30] iantalarico commented on #1937
@henkmollema I'm assigning this to myself for now as I'd be the one to look into this more.  I'm a little low on bandwidth so this probably wouldn't happen for some time.  However, if you had a suggested design followed by PR I could manage that right now :)

[2018-02-28 20:44] henkmollema commented on #1937
I'll see if I can put something together :smile:

[2018-02-28 20:47] #1883 closed

[2018-02-28 20:57] jskeet commented on #1932
Re versioning: it's a tricky change, much like the one I'm facing with Spanner at the moment. I think it would *probably* be okay, but it's a bit uncomfortable, certainly.

One thing to bear in mind is that you should (I think) be able to filter categories with wildcards - so you could use "Microsoft.AspNetCore.*" - you'd need to set up that filter by clicking on *one* of the names and then editin

[2018-02-28 21:33] henkmollema commented on #1932
@jskeet thanks for the tip about filtering. I will check that out in a bit. However, that would mean I have to add a filter for each unique first part of a namespace. E.g. `Microsoft`, `MyCompany`, `ThirdPartyComponent`.

[2018-03-01 09:56] henkmollema commented on #1937
@iantalarico I'm thinking about a mechanism where as a user you can define one or more "log entry label providers" (e.g. `ILogEntryLabelProvider`? naming is hard) which are invoked in `GoogleLogger.Log(...)`:

https://github.com/GoogleCloudPlatform/google-cloud-dotnet/blob/94161eb1a9230c71b94c6b1ab4cfc4cc0f53bc54/apis/Google.Cloud.Diagnostics.AspNetCore/Google.Cloud.Diagnostics.AspNetCore/Logging/

[2018-03-01 14:11] chrisdunelm commented on #1930
Yes, this is because `MutateRows` is a server-streaming call.

[2018-03-01 14:12] chrisdunelm commented on #1930
In the general case, we cannot do retry when server-streaming. So hand-written in this special case is most likely the correct thing to do.

[2018-03-01 14:18] evildour commented on #1930
Ok thanks Chris, so I'll add the OnConstruction partial to the generator. @jskeet, do you still have questions/issues about how I'm replacing the settings here?

[2018-03-01 14:46] iantalarico commented on #1937
@henkmollema

I think the general approach is okay (and yes naming is hard but that name looks good).

The issue I see with this is ```IHttpContextAccessor``` from ```HttpContextAccessorWrapper``` is only available if when tracing is enabled.  That means if a user is only using logs and they define a ```ILogEntryLabelProvider``` the labels won't be added.

I also agree the HttpContextAccessorWrapp

[2018-03-01 14:55] henkmollema commented on #1937
Yeah, it's very hacky 😄 I've considered your argument as well. For the sake quickly getting a design together I used the `HttpContextAccessorWrapper`.

I think it would be better to pass an `IServiceProvider` instance to the logger as that enables this feature without being in the context of an HTTP request. Or some composable configuration object. That would cause breaking changes though, as you

[2018-03-01 14:59] iantalarico commented on #1937
@henkmollema Yes ideally we should pass an IServiceProvider into the logger and that would solve most issues like this moving forward.

@jskeet Do you think it's worthwhile to do another major release to enable this? It makes me cringe a little to do this so soon.

[2018-03-01 15:26] jskeet commented on #1930
Yes, I think we need to check what retry on a server streaming call will actually retry. Chris knows more about that than I do.

[2018-03-01 15:27] jskeet commented on #1937
Let's have a VC about it - I don't think I have enough context right now. (But this moment I'm in a car park...)

[2018-03-01 15:51] evildour commented on #1930
Actually, we should always be stripping out the retry settings and use them manually, but I see now that the way I have it setup, they're being sent down to the first call and only being stripped out for the retry calls. If I fix that up so we never pass down the retry settings to the underlying call, would you be ok with this approach?

[2018-03-01 16:08] iantalarico commented on #1937
@jskeet Ping me if you have a few minutes to sync today or tomorrow.

[2018-03-01 16:41] jskeet commented on #1930
I think I see what you mean, but I'm not sure of the right approach. Anyone using the generated underlying client would still end up seeing the retry settings, which won't actually do what they expect. I wonder whether the right thing to do is leave the default call settings for the call, but then in the manual code derive some retry settings from whatever you're given. Does that make sense?

[2018-03-01 17:09] chrisdunelm commented on #1926
I will investigate and see if this can be fixed.

[2018-03-01 17:53] chrisdunelm commented on #1936
pubsub doesn't not guarantee only-once message delivery, it only guarantees once-or-more delivery.
However, having said that, it *usually* only delivers a message once.

In tests I have run, when I'm publishing millions of messages rapidly, there are always a some duplicate messages received.

Do you now what proportion of messages you're seeing duplicated? And are you getting two copies of these

[2018-03-01 17:57] chrisdunelm opened #1939 "Documentation is broken"
All the links from https://googlecloudplatform.github.io/google-cloud-dotnet/ are 404s.
And it looks like some CSS might be missing from the index page.

[2018-03-01 17:58] jskeet commented on #1939
Eek. Looking now.

[2018-03-01 18:15] jskeet commented on #1939
Now fixed :) We had docs/index.html as index.html from my last releasebuild. Our instructions need updating.

[2018-03-01 18:15] #1939 closed

[2018-03-01 18:17] iantalarico commented on #1939
@jskeet The instructions need updating or the release script?  I'm happy to fix this as I'm fairly sure I broke it :)

[2018-03-01 18:26] chrisdunelm commented on #1926
OK, so this is broken in two ways:

1. The [LogManager.Flush](https://git-wip-us.apache.org/repos/asf?p=logging-log4net.git;a=blob;f=src/LogManager.cs;h=2c969436fe74db9dae6421e1ce94d5aaf6594cc1;hb=HEAD#l759) call does absolutely nothing in .NETStandard projects; and this sample is .NETStandard, so it cannot work.
2. On full .NET framework code, `LogManager.Flush()` requires the appender to impleme

[2018-03-01 18:31] evildour commented on #1930
Well I don't think we want anyone to use the underlying client, but just in case, it may be best to not mess with the settings. So are you saying the retry settings shouldn't really be customizable though (directly)? I guess we could do that and just expose a separate property/option on the higher-level client to control that if we get any requests for it.

[2018-03-01 18:57] iantalarico commented on #1937
@henkmollema After some more thought and discussion with @jskeet I think we are okay doing a major version bump for this.

The last hurdle I am seeing is ensuring that we support the[ recommended way of adding the providers in 2.x code](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?tabs=aspnetcore2x#how-to-add-providers).  Thoughts?

[2018-03-01 19:01] jskeet commented on #1939
@iantalarico: Having checked, it's buildrelease.sh itself. This:

[code]

should be

[code]

That's all :)

[2018-03-01 19:04] iantalarico commented on #1939
@jskeet Yes just sent out PR #1940   :)

[2018-03-01 19:20] henkmollema commented on #1937
@iantalarico awesome! Do you want to consolidate all these changes into one PR or split them up? E.g. should we start with refactoring the `HttpContextAccessorWrapper` to an `IServiceProvider`.

We could add new extensions methods to the [`ILoggingBuilder`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.logging.iloggingbuilder?view=aspnetcore-2.0) interface. At least for ASP.NET

[2018-03-01 19:20] jskeet commented on #1930
I'm saying that changing the settings in the way that we're doing at the moment isn't ideal - it could easily cause confusion, and has indeed confused us.

Exposing a new property is probably the simplest option, yes.

[2018-03-01 19:24] evildour commented on #1930
Ok, sounds good. Do you think the `BigtableServiceApiSettings` is the right place for it even though it will be ignored if someone _does_ use the underlying client? I think it would be best to keep all the settings in one place.

[2018-03-01 19:34] jskeet commented on #1930
I'd be happy enough with that - @chrisdunelm does that sound okay to you?

[2018-03-01 22:28] iantalarico commented on #1937
@henkmollema  I always would rather have smaller PRs but won't complain if it's too much work to split them up.

Yes we want to keep support for 1.x and for 2.0.  I think adding a new extension to ```ILoggingBuilder``` works.  Are you thinking of passing the ```IServiceProvider``` then?  I'm not sure we can get it during the initialization.

[2018-03-02 04:07] jboarman opened #1941 "GOOGLE_APPLICATION_CREDENTIALS -- Is this this ONLY way to auth for Datastore Client?"
I need to access Google Datastore from an Azure resource.  In this particular environment, all keys are maintained in the Key Vault.

However, it _seems_ like an actual _physical_ file is required to be referenced in an environment variable called `GOOGLE_APPLICATION_CREDENTIALS` to provide the path to the raw json text file.

Is there not a way to stream in the credentials by calling `GoogleCrede

[2018-03-02 04:30] jboarman commented on #1941
I think I'm finding clues for how to provide the `GoogleCredential` directly, based on content from @jskeet:

https://github.com/GoogleCloudPlatform/google-cloud-dotnet/blob/f4fe517002f0636de6321c2c3e8e0c2ac99a1fcc/docs/root/faq.md

https://github.com/GoogleCloudPlatform/google-cloud-dotnet/blob/master/adhoc/Google.Cloud.ScopeTesting/Api.cs

I'll keep digging through this and see if I can make it

[2018-03-02 06:42] jskeet commented on #1941
This isn't as simple as we'd like it to be, but here are the instructions for how to provide credentials for gRPC-based APIs:
https://googlecloudplatform.github.io/google-cloud-dotnet/docs/faq.html#how-can-i-use-non-default-credentials-for-grpc-based-apis

(Closing as for the moment, that documentation is all we can do. We are working on a new auth library, and when that's available we should be a

[2018-03-02 08:38] henkmollema commented on #1937
@iantalarico alright. I'll try to keep them separate 👍

I think passing an `IServiceProvider` in the `ConfigureLogging()` callback is not possible. You won't have access to the application services container as it is still being built. We could register a startup filter and inject an `ILoggerFactory` and configure the logging from there. This allows you to use DI services.

I was thinking it would

[2018-03-02 11:06] jtattermusch commented on #1903
@vuukle   as I don't know your code I can't really help you more, but from the log you posted:
`Status(StatusCode=Unavailable, Details="Deadline Exceeded")`
and `Status(StatusCode=Unavailable, Details="Getting metadata from plugin failed with an error....")` both seem to indicate that there is something wrong with the auth plugin you are using.
First one looks like  that the auth library just got

[2018-03-02 11:20] jtattermusch commented on #1891
Looking at the detailed log above,   the root cause of the problem seem to be this:
[code]

which IMHO translates to: the remote side has hung up on us (by sending GOAWAY) with explanation "session_timed_out" (In HTTP2 the GOAWAY frame has a payload containing debug info).  How long was the connection (channel) active before this error happened. I don't know details about the Firestore API, but pe

[2018-03-02 11:23] jskeet commented on #1891
That feels like something that gRPC should be taking care of though, shouldn't it? I'd expect this to be part of the general channel management side of things. (Note that it's not just Firestore - I saw this with Datastore too.) I'd really rather this wasn't pushed up to applications to manage.

[2018-03-02 12:28] #1941 closed

[2018-03-02 15:26] #1541 closed

[2018-03-02 15:44] iantalarico commented on #1937
@henkmollema The startup filter sounds like a good approach to me.

100% agree.

Very much yes.  This have been on my TODO list for sometime. :)

[2018-03-02 16:48] chrisdunelm commented on #1930
SGTM

[2018-03-03 07:57] vuukle commented on #1903
The only think that has stopped the errors is setting health check to false but the weird issue is that logs still
Show it happening

https://stackoverflow.com/questions/49033393/disable-default-healthcheck-on-google-cloud-app-engine

I have mentioned this to the google Support team on email but no acknowledgment

On Mar 2, 2018, at 4:36 PM, Jan Tattermusch <notifications@github.com<mailto:notific

[2018-03-03 09:58] jskeet commented on #1903
Could you clarify what you mean by "logs still show it happening"? Show *what* still happening, exactly?

- Health checks
- Outgoing error responses
- Datastore errors
- Something else?

[2018-03-03 10:05] vuukle commented on #1903
Just the health checks (_ah/health...) are happening at the same rate mentioned earlier

No other errors have been observed eversince I set the ‘legacy health check ‘ to false. Every time I switch to the ‘updated health check’ 502 errors come back.

I don’t mind using legacy health check but it will be deprecated this September so I’m worried that with the updated health check 502 errors would ret

[2018-03-03 10:09] jskeet commented on #1903
Okay, so presumably *some* aspect of the health check has changed, even if you're still seeing some.
I think the support conversation you're already having is probably the best route to understanding the differences. Hopefully they'll respond soon; if not, I can try to get the conversation going again, but I don't have much insight into the support system, I'm afraid.

[2018-03-05 08:16] #1854 closed

[2018-03-05 13:46] #1930 closed

[2018-03-05 17:01] chrisdunelm commented on #1936
(This is being followed up internally)

[2018-03-07 11:56] Mayank050191 opened #1959 "Update Table Column value in BigQuery using BigQueryClient"
I am uploading my data on daily basis into Bigquery tables from c# application using BigQueryClient UploadJson Method. For few rows , columns value updates after some time duration which I need to update in Bigquery too. It seems Bigquery don't allow updating table column values from c# application. Is it possible to update table it using BigQueryClient ?

[2018-03-07 12:01] jskeet commented on #1959
As far as I'm aware, the only way of updating data in BigQuery is to use [DML](https://cloud.google.com/bigquery/docs/reference/standard-sql/data-manipulation-language). Note that there are pretty strict [DML quota limits](https://cloud.google.com/bigquery/quotas#data_manipulation_language_statements). You should be able to execute the DML just like a regular query from `BigQueryClient`.

BigQuery

[2018-03-07 13:46] marioeu commented on #143
Hi jskeet, I believe that would be great if you could reopen this ticket as we still experience this behavior. Lost few hours trying to understand the issue... till hit this ticket...
Anyway, thanks guys for the light...!

[2018-03-07 13:55] jskeet commented on #143
@marioeu: I'd rather only have open issues within this repository for things that can be fixed in this repository. The change we're hoping for is server-side, which wouldn't be a change in this repository.

[2018-03-07 14:04] #1853 closed

[2018-03-07 16:08] markwalsh-liverpool opened #1966 "Memory leak when creating many ImageAnnotatorClient instances"
Unsure what the root cause of the issue is but I noticed that creating a lot of **ImageAnnotatorClient** instances causes a consistent rise in unmanaged memory (first guess is - it's creating a lot of HttpClients):

![image](https://user-images.githubusercontent.com/1950856/37102862-c44026d0-2220-11e8-8d9d-bb901b032b19.png)

I was initialising a ImageAnnotatorClient per image and I am sending 50-1

[2018-03-07 16:15] jskeet commented on #1966
It should be fine to either use the same `ImageAnnotatorClient` or to use a new one each time, assuming you just use `ImageAnnotatorClient.Create` - the same gRPC channel is pooled in that case. Creating a new client does require creating a bunch of objects, but they should be eligible for garbage collection anyway.

Are you able to use a different profiler to see what type of object is sticking a

[2018-03-07 16:18] markwalsh-liverpool commented on #1966
Hello Jon,

I was indeed creating the client using the static method.  This was the method before I started reusing the client:

`
public ImageAnnotatorClient Create()
        {
            var credential = GoogleCredential
                .FromFile(AppDomain.CurrentDomain.BaseDirectory + "google-cloud-vision-license.json")
                .CreateScoped(ImageAnnotatorClient.DefaultScopes);

[2018-03-07 16:22] jskeet commented on #1966
Apologies, I wasn't clear enough - I'd meant (but definitely didn't write!) `ImageAnnotatorClient.Create()`, which would use the default credentials.

With that code, you're creating channels but never disposing of them... that's a bad idea in terms of creating more network connections than you need *and* potentially leaving garbage. I'd expect the garbage to be cleaned up eventually, but I wouldn

[2018-03-07 16:29] markwalsh-liverpool commented on #1966
Okay, great that makes perfect sense.  In case anyone else is reading and finds they have the same problem I modified my code to be:

[code]

Thanks Jon!

[2018-03-07 16:29] #1966 closed

[2018-03-07 16:55] evildour commented on #1966
Note that if you're using this from multiple threads, you may want to use `Lazy<T>` instead:
[code]

[2018-03-07 18:23] jskeet commented on #1959
@Mayank050191: Can you see any further changes you'd expect in the C# client library with respect to this issue? I'd like to close issues which don't require further action in this repository.

[2018-03-07 20:42] #1830 closed

[2018-03-08 08:12] jtattermusch commented on #1920
@tomerpeled  on what platform / grpc version are you seeing this problem?
Can you provide a minimal snippet that reproduces the issue?

[2018-03-08 08:47] jskeet commented on #1806
I can't reproduce this - I've tried various invalid filters, and they all end up with an exception. Closing for now; we can reopen if we see it again.

[2018-03-08 08:47] #1806 closed

[2018-03-08 09:46] jskeet opened #1969 "docfx failing after VS 15.6 installation"
I've just tried to rebuild documentation, and every project is failing. I suspect this is just a matter of upgrading docfx to a later version, but we'll have to see...

[2018-03-08 10:14] Mayank050191 commented on #1959
@jskeet  Thanx for the suggestion to append new row with a updated date, is seems that is the only possible way to fulfill the requirement. We can close this issue.

[2018-03-08 10:15] #1959 closed

[2018-03-08 10:24] jskeet commented on #1969
This is a docfx issue other users are experiencing, tracked in https://github.com/dotnet/docfx/issues/2491.
I think we're going to need to wait for a new docfx release or a patch to VS15.6.

[2018-03-08 11:32] meteatamel opened #1970 ""The Application Default Credentials are not available" error when configuring logging"
I configure an ASP.NET Core web app to use logging using the code below in Program.cs:

public static IWebHost BuildWebHost(string[] args) {
...
 return WebHost.CreateDefaultBuilder(args)
                .ConfigureLogging((ctx, logging) =>
                logging.AddProvider(GoogleLoggerProvider.Create("project-id")))
}

I run it locally and everything works. When I deploy to App Engine Flex using

[2018-03-08 11:37] chrisdunelm commented on #1970
This looks very similar to #1394. Can you check which version of Google.Apis.Auth you're using? If it's less than v1.32.2, please upgrade.

[2018-03-08 11:43] meteatamel commented on #1970
I'm not using Google.Apis.Auth at all. At least I don't see it in my dependencies. I'm using Google.Cloud.Diagnostics.AspNetCore (2.0.0)

[2018-03-08 11:48] chrisdunelm commented on #1970
`Google.Cloud.Diagnostics.AspNetCore` 2.0.0 ultimately has a dependency on `Google.Apis.Auth` v1.27.1

If you add a dependency in the project to `Google.Api.Gax.Grpc` v2.3.0 (the latest), then this will also bring in `Google.Apis.Auth` v1.32.2, which should have a fix for this problem.

[2018-03-08 12:03] meteatamel commented on #1970
Sure, I can try that but why do I need to pull in these dependencies manually? I have Google.Cloud.Diagnostics.AspNetCore 2.0.0 dependency but that didn't pull in Google.Api.Auth. Another dependency of mine Grpc.Auth 1.8.3 pulled in Google.Apis.Auth 1.31.1. Is that why? If so, how would people know what library needs what version of dependencies to work correctly?

[2018-03-08 12:06] chrisdunelm commented on #1970
`Google.Cloud.Diagnostics.AspNetCore` *does* pull in `Google.Apis.Auth`, but an older version.
We're just about to do a new release of all libraries to bring in the latest versions of all the support libraries, including `Google.Api.Gax.Grpc` and `Google.Apis.Auth`. Once this new release is pushed for all packages, manually adding up-to-date dependencies won't be required.

[2018-03-08 12:12] jskeet commented on #1970
Just to give more clarity: you can always explicitly add a dependency to a more recent version of a library, even if you've got an older version implicitly present. Basically the bug fix is in Google.Apis.Auth, so that's the library you should update to get the fix. Libraries that depend on a fixed library will very often lag behind, but you can always force an update by including the dependency e

[2018-03-08 13:11] meteatamel commented on #1970
Ok, I'll update Google.Apis.Auth then.

FYI, this is the dependency graph I see in Visual Studio. You can see that Grpc.Auth pulls in Google.Apis.Auth but Google.Cloud.Diagnostics.AspNetCore does not...At least according to the Visual Studio.

![capture](https://user-images.githubusercontent.com/1177542/37152655-03f20544-22d2-11e8-90b7-fffe68231f8a.PNG)

[2018-03-08 13:33] jskeet commented on #1903
Hi folks,

Any updates in terms of whether you're still seeing an error-free service, or whether over time the errors have come back? I'll separately attempt to do some investigation about health checks affecting traffic, but it would be good to know if it really looks like this was the root cause.

I'm also slightly confused about what your final configuration looks like - could you post the heal

[2018-03-08 13:35] jskeet commented on #1970
Google.Cloud.Diagnostics.AspNetCore depends on Google.Cloud.Diagnostics.Common, which in turn depends on Google.Cloud.Logging.V2, which in turn depends on Google.Api.Gax.Grpc, which in turn depends on Google.Apis.Auth. I expect if you expand the entries that way, VS will show you them :)

[2018-03-08 15:03] vuukle commented on #1903
in the last 7 days or so no errors except for today but it was for a very brief instance

![image](https://user-images.githubusercontent.com/2103977/37157563-2d79ab76-22b7-11e8-9117-d319bdc0415c.png)

The error is also different

I noticed there is an update for grpc.core, would you recommend going to 1.10.0? Although i didnt want to update unless the release was stable as i noticed some people co

[2018-03-08 15:09] jskeet commented on #1903
Right, the socket being closed is interesting - that sounds like a transient error that I'd *like* gRPC to automatically reconnect for, but I don't know whether that's possible or not.

I'm not on the gRPC team so don't know the details of 1.10, but I believe they fixed some aspects of flakiness - do you have any references for the instability of 1.10?

I'm still surprised by the health checks hav

[2018-03-08 15:32] jskeet commented on #1903
Well I've only heard positive things, from the gRPC team, but I don't know any more than that. We've updated to use 1.10 by default for later library releases, but if there are issues with it, I'd like to know about them.

[2018-03-08 16:44] vuukle commented on #1903
forgot to show you the app.yaml we have been using so far

[code]

[2018-03-09 09:15] #1969 closed

[2018-03-09 10:11] vuukle commented on #1903
@jskeet after upgrading to the latest grpc I am occasionally seeing a different grpc error now “os error”

[2018-03-09 10:15] jskeet commented on #1903
@vuukle: At this point I think you'd be better off creating an issue with details at https://github.com/grpc/grpc/issues - otherwise I'm just passing messages between you and the gRPC team.

[2018-03-09 10:18] meteatamel commented on #1970
@jskeet Of course, you were right :-) Updating Google.Apis.Auth to the latest version worked. Thanks for the help!

[2018-03-09 10:25] jskeet commented on #1970
Phew - glad it worked :)

Closing this issue now. (As new libraries are released with updated dependencies, hopefully fewer people will run into this.)

[2018-03-09 10:25] #1970 closed

[2018-03-09 23:02] SurferJeffAtGoogle opened #1982 "Feature Request: Warn the user if they call app.UseGoogleTrace() after app.UseMvc()"
If they call `app.UseGoogleTrace()` after `app.UseMvc()` they'll see no errors and no warnings and no traces, and have no clue why.

If there is a way to detect and warn users in this scenario, that would save them a lot of time.

[2018-03-10 19:12] jskeet opened #1983 "Remove DeletedFieldAttribute"

[2018-03-12 13:28] #1983 closed

[2018-03-12 15:31] jskeet commented on #1784
Added to the backlog as server changes would be needed (and aren't imminent); closing for now.

[2018-03-12 15:31] #1784 closed

[2018-03-12 21:42] tomerpeled commented on #1920
We're using grpc 1.7.1 on Windows.
I'll try to arrange a snippet, but notice that we're just using the Google Spanner ADO .Net provider, which executes the grpcs commands.

[2018-03-13 15:19] ugavnholt opened #1988 "IServiceCollection.AddGoogleExceptionLogging(), and IServiceCollection.AddGoogleTracing() should both return a IServiceCollection object"
To support syntax like:
[code]

Both AddGoogleExceptionLogging() and AddGoogleTrace should return an IServiceCollection object

[2018-03-13 21:30] #1988 closed

[2018-03-13 21:31] iantalarico commented on #1988
@ugavnholt This will be released in the next major release (hopefully in the next two weeks).  Thanks!

[2018-03-15 06:56] thedmi opened #1992 "Cloud Storage Client: Payload format not set when configuring notifications"
I'm trying to use the cloud storage client to create a notification that publishes changes to a PubSub topic [as described here](https://cloud.google.com/storage/docs/reporting-changes).

[code]

I'm confident the `bucketName` and `topic` are sensible values. The above call fails with the following exception:

[code]

However, the payload format is clearly set in the request, so I assume this is a

[2018-03-15 07:48] jskeet commented on #1992
Ah, got it - this isn't a bug in the library, just an unfortunate disconnect between the `gsutil` command line and the API. The payload format should be `JSON_API_V1`, not `json`. I'll report a bug internally that the error message is misleading though, as you *have* specified a payload format, just not one the service recognizes.

For a complete C# example of notifications, see https://googleclou

[2018-03-15 07:48] #1992 closed

[2018-03-15 07:56] thedmi commented on #1992
👍 indeed, it works with `"JSON_API_V1"`, thanks. Is there a reason why this isn't modeled as enum in the client library?

[2018-03-15 08:01] jskeet commented on #1992
Firstly, I'm really glad it's working for you, and I'm sorry you had to go through this piece of frustration first.

The fact that it's not modeled as an enum is an unfortunate implementation detail, I'm afraid. The Storage client library you're using is a wrapper over the generated client library, which is where the `Notification` type is defined. In many places, enums are represented as strings

[2018-03-15 08:10] thedmi commented on #1992
Thank you for the quick help, like this it didn't even start being frustrating yet :-)

I understand, thanks for the insights!

[2018-03-16 08:10] mhh12121 opened #1998 "[Firestore] CreateAsync() and AddAsync() don't support decimal type"
I wanna upload an object to collection, but seems it doesn't work because this object contains a **decimal value**, which leads to an error ''Unable to convert value of type System.Decimal".
Any solution about it?Thank you!

[2018-03-16 08:12] jskeet commented on #1998
Firestore doesn't have any type that maps cleanly to `decimal`. I haven't included a conversion for it, because I don't want to lose silently lose data.

If you're just after a floating point type and don't need it to be `decimal`, you can use `double` instead. If you need the exact decimal representation, you could store a `string` representation instead, but be aware that you won't be able to pe

[2018-03-16 08:38] mhh12121 commented on #1998
Thank you for your replying! I think I need to consider another stupid way to convert it...

[2018-03-16 08:38] #1998 closed

[2018-03-16 20:41] ryanmats opened #2004 "Trouble Calling SnapshotAsync on a Collection Reference"
Here is the Program.cs file: https://gist.github.com/ryanmats/52535d2242881a58302e64c07f4e2dd3
Here is the QuickStartFirestore.csproj file: https://gist.github.com/ryanmats/8c1673a90de3d07db9c156f0352dd07b
You can run the code by running `dotnet run retrieve-all-documents YOUR_PROJECT_ID` from command line.

Here is the error message I'm getting: https://gist.github.com/ryanmats/59cc0567b93317dc85

[2018-03-16 20:44] jskeet commented on #2004
Yes, if you're using 1.0.0-beta02, the name change is irrelevant.

Do you get that message every time, or just sometimes? Do you have any documents in that collection?

[2018-03-16 20:46] ryanmats commented on #2004
The error message appears every time.

Yes, I have 2 documents in the users collection.

[2018-03-16 20:50] jskeet commented on #2004
Hmm. Slightly shorter program which works fine for me - could you try this?

Project:

[code]

Code:

[code]

I'll try your exact code now...

[2018-03-16 20:54] jskeet commented on #2004
Ah - I see what's wrong with your code - you're calling an async method, but not waiting for it to finish.

If you just change this:

[code]

into

[code]

... and change the async method to return `Task` instead of `void`, then it should work.

Basically at the moment you've got an async method still running while the app is shutting down - I'm not sure there's anything we can do to make that wor

[2018-03-16 22:22] ryanmats commented on #2004
thanks @jskeet it is working now! Completely new to C# so this is helpful.

[2018-03-16 22:22] #2004 closed

[2018-03-19 09:40] ryanmats opened #2006 "Firestore UpdateAsync with Nested Field Path (dot notation) Error"
I'm creating a code sample to show how to update nested fields using dot notation (https://cloud.google.com/firestore/docs/manage-data/add-data#update_fields_in_nested_objects):

// Assume the document contains:
// {
//   name: "Frank",
//   favorites: { food: "Pizza", color: "Blue", subject: "recess" }
//   age: 12
// }

However, when creating my Dictionary<FieldPath, object> for updates to pass

[2018-03-19 09:51] jskeet commented on #2006
You're currently constructing a non-nested field path for a field that contains a dot.

If you update your code to

[code]

that works. Note that in the current non-released code, you'd be able to specify the field names as string instead, and at that point dot-separated names *would* work:

[code]

If you were updating a single field, you could do that without using a dictionary at all:

[code]