[2020-09-02 12:26] tiny-dancer commented on #5278
Thank you, I believe the conversation has led to a feature request for VPCSC to have the ability to incorporate X-Forwarded-For in its evaluation.

The use case is pretty straightforward as we were looking to avoid duplicating firewall restrictions between app and VPCSC. We also enjoyed the thought of VPCSC being the source of truth data layer boundary, where we could allow the app to be more perm

[2020-09-02 12:27] jskeet commented on #5278
Thanks. It sounds like we can close this issue now, as there's no client library work required, at least for now.

[2020-09-02 12:27] #5278 closed

[2020-09-02 12:29] tiny-dancer commented on #5278
Appreciate the quick turn around and responses.

[2020-09-02 15:08] amanda-tarafa commented on #5274
Ok, what we can do is add there relevants links to where the needed roles are defined. We make the information more easily available but also guaratee that it's up to date (as it is defined by the API and not the client libraries). Would that help?

[2020-09-02 16:08] cviktor commented on #5231
We have the same problem with a very similar setup. We have basically a log message that says a message was published and when we receive a message in a different service the first thing we do is another log message to indicate that we received something. Sometimes it is up to 60 sec+ for a published message to be received by a subscriber. We don't have any error or connection issue, because that

[2020-09-02 16:15] EatonZ commented on #5274
Sounds good to me.

[2020-09-03 00:47] skuruppu commented on #5209
I should keep the discussion in the issue instead of the PR.

@thiagotnunes let me know if you want to test this PR against your test dataset or whether I should do it. I won't be able to this week but happy to try next week.

In case you want to do the test, you can use the Docker container by following the instructions [here](https://github.com/googleapis/google-cloud-dotnet/blob/master/ENVIRONM

[2020-09-03 02:18] thiagotnunes commented on #5209
@skuruppu I can do the testing for this. Will let you know once it completes.

[2020-09-03 09:30] amanda-tarafa commented on #5275
@EatonZ this is far from a simple project and what's really a problem for me tu use it to help you diagnose is the several external dependencies, we don't have control over what those do, don't have the code, don't have experience with those, etc. So, let's try to simplify this so I can actually try and use it to confirm or not whether there's a problem with the Diagnostics libraries.

We have man

[2020-09-03 16:11] chrisdunelm commented on #5231
@cviktor thanks for the report - what kind of application is this? I.e. ASP.NET [core]; a console app; ...?
Do you always receive all published messages (albeit with a long delay)? Or do subscriber(s) sometimes just totally stop receiving messages, as seen by @michaelcastle?

I've been running various long-term tests for about a week now, and have not been able to reproduce the error. However I ha

[2020-09-03 17:44] EatonZ commented on #5275
@amanda-tarafa Thanks for your in-depth reply!

I have done some testing today and have uncovered interesting results.

I solved the problem where the trace header wasn't being added to my 5 responses. I needed to set `qpsSampleRate` to `double.PositiveInfinity`. I thought the default, 1.0, meant trace everything like it does in other GCP configurations, but that was not the case here. Oops.

The

[2020-09-03 18:59] EatonZ commented on #5275
It appears that simply adding `UseGoogleDiagnostics` is the minimum to make the sandbox start crashing, and it's not limited to container start, but that's when it happens most frequently.

[2020-09-03 21:26] EatonZ commented on #5275
Alright, I can confirm the problem is reproducible in a standard ASP.NET Core web app, not using any third party libraries besides yours.

[Here is the download](https://github.com/googleapis/google-cloud-dotnet/files/5171214/WebApplication1.zip)
To reproduce:
1. Build/deploy to Cloud Run. Use [GCP buildpacks](https://github.com/GoogleCloudPlatform/buildpacks) to make it easy.
2. Initiate 5 reques

[2020-09-03 21:33] amanda-tarafa commented on #5275
That's definitely something I can work with. I'll take a look on Monday and report here as soon as I know more.

[2020-09-03 21:47] EatonZ commented on #5275
@amanda-tarafa Great! One more thing for you, [here is a video showing the exact behavior](https://streamable.com/lif2jq). This is using the sample app I uploaded for you.
1. I initiate 5 HTTPS requests to my domain (which maps to the Cloud Load Balancer, and then to the Cloud Run service).
2. Each of those 5 requests takes a long time (note the TTFB column). This appears to be due to the membarri

[2020-09-04 08:22] cviktor commented on #5231
@chrisdunelm
We are running ASP.NET Core applications.
We receive every message, no message lost, or possibly received by another client for the same subscription.
It's not totally stopping just "slowing down" but eventually we receive the message.
I will try to create some example but the problem is that I cannot reproduce the error either. Mostly QA reports some bug and we can see in the logs, t

[2020-09-04 23:31] #5181 closed

[2020-09-05 21:26] EatonZ opened #5290 "Updating trace header"
[Please see this comment from a Google engineer.](https://github.com/GoogleCloudPlatform/esp-v2/pull/252#issuecomment-686884547)

It appears that `traceparent` is going to be the preferred header to use with new code.
I suggest updating [this class](https://github.com/googleapis/google-cloud-dotnet/blob/master/apis/Google.Cloud.Diagnostics.Common/Google.Cloud.Diagnostics.Common/Trace/TraceHeaderCo

[2020-09-07 02:30] thiagotnunes commented on #5209
@skuruppu the test completed successfully. Thanks for the fix.

[2020-09-07 02:35] #5209 closed

[2020-09-07 08:57] amanda-tarafa commented on #5290
We are very much aware of the ongoing effort to move to OpenTelemetry, we are tangentially part of it ;).

We won't be making any **related** changes to the Google.Cloud.Diagnostics libraries, at least for the time being and then depending on what the OpenTelemetry library looks like and supports. If and when the `x-cloud-trace-context` header is deprecated there'll be plenty of time to prepare fo

[2020-09-07 08:57] #5290 closed

[2020-09-07 10:45] jskeet commented on #5283
Still failing. The log halts for 5 minutes before getting to actual code, then fails with a timeout. Will investigate further this afternoon.

[2020-09-07 13:01] #5274 closed

[2020-09-07 13:38] amanda-tarafa commented on #5275
Just a heads up, a couple other things have come up, but this is still on my TODO for this week. I won't be looking at it today though.

[2020-09-07 13:39] amanda-tarafa commented on #4750
As an update, a couple other things have come up that stopped me from finishing this work when I had plan. I'm not aiming to have a release this week.

[2020-09-08 14:07] jskeet commented on #5249
Closing this now as I believe my earlier response is the relevant part - but please add a comment if you want me to reopen.

[2020-09-08 14:07] #5249 closed

[2020-09-08 14:23] amanda-tarafa commented on #5283
Closing this one as we have an internal bug. @SurferJeffAtGoogle and @bcoe I'll cc you on the internal issue.

[2020-09-08 14:23] #5283 closed

[2020-09-09 04:31] michaelcastle commented on #5231
I noticed the library has just been updated to version 2.1. I've upgraded my services to use this and I'm currently testing if that has fixed the issue. It's been running 2 days and no failures so far. I will keep monitoring for failures for the next week or so and report back.

[2020-09-10 19:48] neil-119 commented on #1056
I wanted to share how we worked around this problem. We created a new Service Account and gave it the necessary permissions, and then we uploaded its JSON string to GCP Secret Manager. Since Secret Manager can be accessed with the default credentials, we stream the JSON from Secret Manager to create the credential, like so:

[code]

[2020-09-10 21:27] EatonZ opened #5307 "TraceSampled"
Last December you added support for the [TraceSampled LogEntry field](https://github.com/googleapis/google-cloud-dotnet/blob/master/apis/Google.Cloud.Logging.V2/docs/history.md#version-230-released-2019-12-10), but it's unclear how to actually set it. It doesn't appear to get set by default, even if the decision to trace is approved based on provided `TraceOptions`.

Why is this important? I want

[2020-09-11 11:07] amanda-tarafa commented on #5307
The field was only surfaced on the LogEntry trhough library regeneration but it's not acutally being set on the Diagnostics library. I'll work on it next week, it should be straightforward. Thanks for flagging.

[2020-09-12 21:05] danmayor opened #5312 "How do I save a custom data model without using [FirestoreData] and [FirestoreProperty] annotations"
**Context**
I am looking to create a project that exposes an API and provides my users with a .NET Client library.  My thought is that I would like to create a shared library of data models that are used in both the API service and the Client Library. I do not want to ship or require the Google.Cloud.Firestore library in the Client.

**Question**
Is there some other way to configure the data model

[2020-09-12 21:10] jskeet commented on #5312
I can give more details on Monday when I'm back at work if you need more info, but what you want is a *custom converter* which you include in the converter registry for the `FirestoreDb`:
https://googleapis.dev/dotnet/Google.Cloud.Firestore/latest/datamodel.html#converter-registries

[2020-09-13 23:42] EatonZ opened #5313 "Per-log labels"
I want to create some custom labels and add them just 1 log entry. After looking through the code in this project, I found a way:
[code]

It works, but it adds the labels to **every** log. I don't want that - I just want the labels added to 1 specific log.
I think the best approach would be to let users specify labels in the `Log`/`LogInformation`/`LogWarning` etc calls. That base code is [here](h

[2020-09-14 07:20] jskeet commented on #5312
@danmayor: Okay, now back and working - I'm not sure whether the documentation I pointed you at is sufficient. I would *expect* you to be able to do that; if you've got a lot of complex models, writing converters by hand could prove time-consuming, certainly. At the moment I'd prefer not to introduce any further complexity in the serialization code, so if you could see whether that will do what yo

[2020-09-14 08:50] amanda-tarafa commented on #5313
We can't add a new parameter to the the `GoogleLogger.Log` method, this is a method that we are implementing from `Microsoft.Extensions.Logging.ILogger`. And in any case I don't think there's a need for that.

You can implement conditional label providers, they can be based on `HttpContext` values or on any other dependency you set up via ASP.NET Core standard dependency injection mechanism. You c

[2020-09-14 11:16] #5307 closed

[2020-09-14 14:30] danmayor commented on #5312
@jskeet thanks, I think that will get me where I need to be.  I may need to do some reflection or expression over the models in the custom converter. Some early performance tests I did look like it'll be a perfectly acceptable solution.  Although, if there is a way to write directly to the serialization stream that could be even a bit more performant.  (Either way, 100k models of 26 random string

[2020-09-14 15:06] jskeet commented on #5312
If I remember correctly, if you create the protobuf values directly, they'll just be taken as they are rather than going via the dictionary - but the code for that would look significantly uglier. I'd stick to dictionaries or anonymous types as a first pass, at least.

Will close this for now, as it sounds like you're okay - but do add another comment if you run into problems, and we can reopen.

[2020-09-14 15:06] #5312 closed

[2020-09-14 16:17] EatonZ commented on #5313
Hi @amanda-tarafa, adding a condition to my label provider was the first thing I tried, but I wasn't able to because `HttpContext` doesn't provide enough information.

Here is a quick summary of what I am trying to do:
1. At the beginning of requests, log "Request started" under the "RequestStarted" category name.
2. Associate labels to that log, such as tls_version.
3. Only associate labels to th

[2020-09-14 16:30] amanda-tarafa commented on #5275
So, I've been trying to reproduce this issue for a lot of the afternoon and I haven't been able to.

1. I used the buildpacks to build my image from your source code, with no changes: `pack build --builder=gcr.io/buildpacks/builder web-hello`
2. I tagged and uploaded the web-hello image to my GCP project:
[code]
3. On the [Cloud Run home page](https://console.cloud.google.com/run) I clicked on Cre

[2020-09-14 16:45] EatonZ commented on #5275
Are you sending them all at once, like seen in my example video?

You are pushing the Docker image different (I use pack's --publish), but that should not matter.

Just did, still happens.

It's the same.

This is what sticks out to me. It seems like your service could already be warm before you send requests to it? After you deploy the new service, don't send any requests to it until you send the

[2020-09-14 19:23] amanda-tarafa commented on #5275
As much as the computer allows me to ;). But yes, separate tasks. And in any case I also tried with fiddler, sending several at a time and with Chrome, hitting F5 :). All worked.

I agree it shouldn't matter, I'll still try pack's publish tomorrow, just in case.

I'm not sending anything before the test requests. On step 5 I just wait for the service to finish deploying. On step 6 I don't even wai

[2020-09-15 01:41] EatonZ commented on #5275
I'm not quite sure why you can't reproduce, but I would like to try a different approach.
I would like to log the result of the call to the GCP PatchTraces API you are doing internally in the library. I don't see any errors in my Cloud Console, so this is really just logging to make sure the API call actually went through. Since 1 API call can have multiple traces, logging the trace IDs would be g

[2020-09-15 04:09] michaelcastle commented on #5231
So far the issue is still happening after the 2.1 upgrade (possibly less frequently) but so far every time it has fixed itself within 6-10 minutes which is a definite improvement which may or may not be coincidence. Interestingly some failures now happen across services at the same time and fix themselves at the same time, which is unusual.
In our environment we have a single machine (2 vCpu 7.5GB

[2020-09-15 08:31] amanda-tarafa commented on #5275
You can enable [gRPC logging](https://github.com/grpc/grpc/blob/master/TROUBLESHOOTING.md) and see whether the calls go through or not.

[2020-09-15 09:47] amanda-tarafa commented on #5275
A couple other things you can look at:

- To check whether your application is crashing before the diagnostics buffer is flushed, configure tracing to have no buffer and to propagate exceptions as well as shown here [Troubleshooting Tracing](https://googleapis.dev/dotnet/Google.Cloud.Diagnostics.AspNetCore/4.1.0/index.html#troubleshooting-tracing). If the problem is that it crashes before the buff

[2020-09-15 10:43] amanda-tarafa commented on #5313
No, it's not inmediately possible to check on the entry you are creating the labels for. We could do that possibly.

But, to be honest, I'm not entirely convinced that labeling a log entry is the best way to tackle your use case. What I think I would do is create a trace span at the beginning of the request and label that span with all the info I want. The span will contain all the log entries cre

[2020-09-15 12:00] driis commented on #1832
Has there been any development in this ? Is there an easy way to configure the `StorageClient` to use a proxy in the current version of the SDK ?

[2020-09-15 12:30] jskeet commented on #1832
@driis: No, there hasn't been any change here. You can create a `StorageService` yourself, specifying an `HttpClientFactory` - but in most case I'd expect the operating system level proxy configuration to be applied automatically.

[2020-09-15 12:30] #1832 closed

[2020-09-15 16:48] EatonZ commented on #5275
I am still testing, but I wanted to share some results now.

I tried `BufferOptions.NoBuffer()`. It works _so much better_. All traces logged consistently, and they show up pretty much instantly in Trace list.

`BufferOptions.TimedBuffer` just does not seem to work well. Either I see no traces, or they trickle in Trace list very slowly, and I often do not see all of them.

So far, I see no excepti

[2020-09-15 21:48] williecohen-google opened #5325 "Add labels on a per-log basis to Stackdriver upload via Log4net"
**Is your feature request related to a problem? Please describe.**
I am using Log4net with the GoogleStackdriverAppender in a .NET framework project. I want to be able to add labels to our [log entries](https://cloud.google.com/logging/docs/reference/v2/rest/v2/LogEntry) for Cloud Monitoring.  I want to be able to group logs easily using these labels (which is what their purpose seems to be). Howe

[2020-09-15 22:03] EatonZ commented on #5275
To answer your questions:

Logs always show up fine. I plugged in some trace IDs in the logs from yesterday (almost 24 hours ago) and Trace list says they still do not exist. Out of 7 logs from a batch I sent yesterday, only 1 trace ID actually exists. Very strange.

Nothing more than the membarrier issue. However, I figured out the reason I saw a lot of them. It's the cloud run max instances. If

[2020-09-15 22:32] EatonZ commented on #5275
Thank you for the gRPC logging link. I set the following Cloud Run environment variables:
[code]

It looks like we are on the right track. Here's a portion of the logs that seem interesting:
![gRPC](https://user-images.githubusercontent.com/3020941/93271639-c66b8b00-f781-11ea-9b0a-3091e6bcd272.png)

[2020-09-16 01:21] EatonZ commented on #5313
Hi @amanda-tarafa, 2 things:

1. It appears a [similar request](https://github.com/googleapis/google-cloud-dotnet/issues/5325) has just come in.

2. I am reconsidering my implementation and had an idea. Instead of creating a new span, I thought maybe I could update the existing/current/parent span, like this:
`tracer.AnnotateSpan(new Dictionary<string, string> { { "Test", "test" } });`
Unfortunate

[2020-09-16 09:21] amanda-tarafa commented on #5275
OK, that's progress, my thoughts:

- The Diagnostics library is sending all traces, but we are getting a transport timeout.
- The timeout happens on gRPC requests to the Trace API from your CloudRun app, not from mine.
- It only seems to happen when a buffer is involved, it works well without a buffer, in which each trace is sent individually.

Conclusions from this:

- The problem has nothing to

[2020-09-16 09:49] amanda-tarafa commented on #5325
I'll take a look at whether we can do this and how, but just to set expectations, I won't get to it for at least a couple of weeks.

[2020-09-16 10:14] amanda-tarafa commented on #5313
1. The Log4Net implementation is different from the Diagnostics libraries, first it doens't include tracing, which meand there's no alternative to labeling log entries, and second, as far as I know about it, it doesn't have anything like Diagnostic's label providers, so labels are truly static.

2. That's a case of the Diagnostics trace not being there. The span you are showing was created by the

[2020-09-16 14:21] abdurrahmanarikan commented on #4903
I have the same problem :
RROR: (gcloud.app.deploy) Error Response: [4] Timed out waiting for the app infrastructure to become healthy.

[2020-09-16 16:24] EatonZ commented on #5275
If you enable gRPC logging, do you see the same errors in your logs? In my tests the traces eventually went through, but were significantly delayed.

I will play around with it...

Could the Linux distribution that is being used by buildpacks cause a problem like this in gRPC?
Also, is there a way to force the library to send non-gRPC requests?

[2020-09-16 17:07] EatonZ commented on #5313
Yes - so it's impossible to update it? I thought that since it's "in progress" you could at least add an annotation to it.

[2020-09-16 17:23] amanda-tarafa commented on #5275
No, nothing in the logs. And also, my traces show almost inmediately, the default wait time for the timed buffer is 5s, so that's fine.

Yes, I suppose it could, but then why didn't I see it? There's a [known issue with Alpine and gRPC](https://github.com/grpc/grpc/issues/21446), but it's a proper crash, nothing like this.

Not at the moment, no.

[2020-09-16 17:35] amanda-tarafa commented on #5313
Not through the Diagnostics library, we don't modify spans that we don't create and we almost certainly don't want to do so. Also, think that in this particular case, you would be setting application specific information on a Load Balancer span, which might be a little unexpected.
In Diagnostics if we are sampling a trace, we already create a span at the start of the request, in our middleware, an

[2020-09-16 18:14] EatonZ commented on #5313
You're right. I just tested, and it worked.
This is a sufficient solution for me, so I will close this now. Thank you for the suggestions and insight.😁

[2020-09-16 18:25] EatonZ commented on #5313
Oh, this is unfortunate. Turns out those labels in the span don't show up in the Cloud Console Logs Viewer. Only Trace list.
This solution will not work as I need to be able to filter by TLS Version and several other fields I am adding, which was why I was adding a log entry in the first place - to be able to filter.
I think my original suggestion should still stand, unless you have another sugges

[2020-09-17 01:58] EatonZ commented on #5275
I just tried setting TimedBuffer all the way down to 1 second. Surprisingly, it didn't help at all.
Would you mind giving us-east1 a try on your end? That is what I am using. Perhaps you can reproduce there.

That bug doesn't seem to apply here, I see _gRPC native library loaded successfully_.

Let me give you a new observation.

Using the default TimedBuffer - sending just 1 request. Waited sever

[2020-09-17 14:52] amanda-tarafa commented on #5313
Traces can be filtered as well based on the span labels, see below, with the added benefit, in my view, that you can see everything, traces and logs, in one screen.

![image](https://user-images.githubusercontent.com/14878252/93487894-a4971300-f8fd-11ea-8ecf-c68e19905eb4.png)

If you still want to be able to add labels to specific log entries, I can look into adding this feature, but, to set expec

[2020-09-17 17:11] amanda-tarafa commented on #5275
I tried us-east1, as soon as I send the requests I switch to the trace tabs, and there they are, all of them, a couple of the requests take a little over 1s just because the service is really warming up:
![image](https://user-images.githubusercontent.com/14878252/93489607-a2ce4f00-f8ff-11ea-8f76-5a0e5522bb8e.png)
I am using your code, which except for tracing every request, sets everything by defa

[2020-09-17 21:18] EatonZ commented on #5313
@amanda-tarafa Thanks for that. I think that will work for now, but I'd still like this for logs, so I can do all filtering in one place.

I will await your update in a few weeks.🙂

[2020-09-18 19:16] shollyman opened #5330 "BigQuery: audit use of dense JSON encoding"
# Request
Review this library to ensure dense encoding (e.g. `prettyPrint=false`) is specified when possible when communicating with the BigQuery API methods.

# Additional Context
Pretty printed JSON responses from server can have significant response size inflation for complex objects.  BigQuery data APIs tend to exacerbate this.  Library can improve performance by using dense encoding, particul

[2020-09-18 20:52] jskeet commented on #5330
Will look at this next week.

[2020-09-19 17:27] EatonZ commented on #5275
To rule out some things, I created a new project and re-tested.

I deployed the sample app to Cloud Run (us-east1). I may not have mentioned it before, but I use these additional flags:
`--cpu=2 --memory="4Gi" --timeout=30`
You may want to use those settings too so we're on the same page.

To be fully transparent, these are the 2 commands I use to deploy:
1. `pack build --builder "gcr.io/buildpack

[2020-09-19 18:24] EatonZ commented on #5275
See below. You can see the time difference too. Note that some numeric values in the string may change, so it may not match what you see 100%.

![2020-09-19_13-29-11](https://user-images.githubusercontent.com/3020941/93681825-64aa6a00-fa7c-11ea-9c43-ba68c8d1e05a.png)

I think a good way to proceed is to learn why the TimedBuffer starts so late. You should be able to see that easily in the logs whe

[2020-09-19 18:24] EatonZ commented on #5275
I may have found something else. After the request is done, [the CPU is throttled](https://github.com/ahmetb/cloud-run-faq#what-if-my-application-is-doing-background-work-outside-of-request-processing). Could explain the problems with TimedBuffer.

[2020-09-21 04:56] rwanter opened #5333 "Datastore latency"
Greetings,

I have essentially very simple code for an ASP.NET web api:

First I have this at the top of my class for re-use:
`public static DatastoreClient client = DatastoreClient.Create();`

And this in the request handling code;
[code]

Only a few entries are in the db.

I also have the above code wrapped in a span:
`StartSpan("DatastoreOperations")`

The api is deployed to Cloud Run us-centra

[2020-09-21 06:43] jskeet commented on #5333
I'm afraid it's unlikely that the maintainers of this repository are going to be able to give you a useful answer here - we don't know *product* details, only making sure the .NET libraries correctly represent the API. I'd be very surprised if the latency here were due to the library.

That said, it would probably make sense to use a single `DatastoreDb` throughout your code instead of one operati

[2020-09-22 16:10] #5330 closed

[2020-09-23 08:54] jskeet commented on #5330
This is now released in version 2.1.0.

[2020-09-23 09:21] jskeet opened #5343 "Some Firestore conformance tests are currently ignored"
We need to fix the conformance tests, then unskip them.

[2020-09-23 11:52] amanda-tarafa commented on #5275
OK, this explains everything, (and makes total sense btw), including the gRPC timeouts and the fact that I couldn't reproduce (probably because I wasn't scaling down my CPUs).

Is the added time relevant? That of course depends on your context, but just check, it might be that it just adds .1% to the total time of the request and that's acceptable for you.

I will ad a note in the docs linking to

[2020-09-23 14:11] EatonZ commented on #5275
Very much. It can add a lot of latency to request handling, but most importantly, there will be gaps in the trace report.

I think I have some up with a solution, but I need to know how to manually flush the trace buffer. Can you tell me how?

I will make a Cloud Scheduler task to hit a request URL dedicated to flushing traces.
I will also add SIGTERM handling to do a final flush of the traces.

T

[2020-09-23 15:23] amanda-tarafa commented on #5275
There's no way that you can manually flush the buffer right now. I could expose something via standard dependency injection that would allow you to, from a request. I don't think it will available on SIGTERM handling though and I wouldn't do any explicit work for that to be available on SIGTERM. I really really think you don't need to handle SIGTERM and at that point we won't guarantee that the Di

[2020-09-23 17:55] EatonZ commented on #5275
Hm, you are right, my workaround will not work.😫

There doesn't appear to be a good solution here. Just due to the nature of Cloud Run, NoBuffer needs to be used, but that will slow down the request a bit. I suppose that reducing the sample rate will be a compromise to stop it from making _all_ requests slower.

Unless you have anything to add, I believe that NoBuffer with a reduced sample rate ma

[2020-09-23 18:54] rwanter1 commented on #5333
@jskeet Please see [here](https://github.com/GoogleCloudPlatform/google-cloud-datastore/issues/5#issuecomment-184339896).
If others are getting below 20ms then it would seem that the client library could be the bottleneck.

[2020-09-23 18:55] eflorespalma opened #5346 "Status(StatusCode=DeadlineExceeded, Detail="Deadline Exceeded")"
Hi Folks,

I have and Azure Function calling the pubsub gcp service and it is constantly throwing me the following error. Sometimes works correctly and others throw exceptions

[code]
This my connection method.

[code]

[code]

[2020-09-23 19:02] jskeet commented on #5333
@rwanter: Just at a quick scan, it looks like that's for inserts rather than queries. Did I miss a specific example of a *query* taking less than 20ms? I'm definitely to look into it further if we have reason to believe that an equivalent measurement in a different language is performing significantly differently. I might write a quick app myself (maybe on Friday) to perform some measurements for

[2020-09-23 19:05] jskeet commented on #5346
Chris, is this something you're able to look at, at all?

My initial guess is that this could be caused by Azure Functions effectively spinning down the CPU, whereas the PubSub code expects to get enough CPU to work with the PubSub service continuously (perhaps only a trickle of CPU, but not being put to sleep for very long periods - potentially killing network connections within that). Chris, doe

[2020-09-23 19:09] rwanter1 commented on #5333
Inserts are slower for me. I'd think queries would be faster.
I will get new measurements and post in a bit.

[2020-09-23 19:52] eflorespalma commented on #5346
Hi @jskeet we need the publisher client just for publishing, but I use the same strategy with the bigquery client and works perfectly in Azure Function.

[2020-09-23 19:54] jskeet commented on #5346
Yes, BigQuery client is a simpler "make a simple RPC". Chris knows more than me about what the publisher does here... I'm hoping there will be some options here that can help make it work for you.

[2020-09-23 20:34] rwanter1 commented on #5333
Ok I copied the code from here: https://googleapis.github.io/google-cloud-dotnet/docs/Google.Cloud.Datastore.V1/
US central region - the latency varies quite a lot, but generally, insert is usually around 120ms, and query around 60ms.

Both aren't particularly good and way above what that other user reported in the other thread I linked.

[2020-09-23 20:38] eflorespalma commented on #5346
Ok, I will wait for @chrisdunelm

[2020-09-23 20:40] kingerson commented on #5346
I have the same problem using from azure app service any news about this?
@jskeet
@chrisdunelm

[2020-09-23 20:43] jskeet commented on #5346
@kingerson: The issue was only raised 2 hours ago - well outside UK working hours. Please be patient.

[2020-09-23 22:27] amanda-tarafa commented on #5275
I think you can also try SizedBuffer and play a little with the numbers until you find a sweet spot between the latency it adds to the request that makes the buffer go over, the amount of traces you want to sample and the amount of requests that remain unaffected. That is of course if you are fine with not getting traces immediately.

Also, have you tried not using the Diagnostics library and writ

[2020-09-24 00:24] EatonZ commented on #5275
That is indeed an option, still a risk that on low-traffic days, the instance will terminate before the size is reached.

Yes, no problems there. I don't have any logging to do at the moment, though - just tracing.

I agree - I don't think there is anything else that can be done right now. Maybe in the future Cloud Run will change something to open up more workarounds. I'll let you know if that ev

[2020-09-24 05:48] EatonZ commented on #5275
What I have decided to do is disable aspnetcore tracing and just keep logging and error reporting. In cases where that needs to happen, I will tolerate the small amount of added latency added by `NoBuffer`.

However, when logging, it doesn't set the trace ID in `LogEntry` now since tracing is no longer enabled. Is it possible to override that? The trace ID is there, and it comes from the load bala

[2020-09-24 05:58] jskeet commented on #5333
RIght, thanks. I'll probably test this on GKE rather than on Cloud Run, but hopefully we'll be able to try in multiple environments anyway.

As a thought, is it possible that the use of Cloud Run is relevant here due to it spinning down the CPU? I *wonder* whether it's having to re-establish a connection. (I hope that wouldn't be the case unless it had been idle for a long time, but I'm just grasp

[2020-09-24 05:58] jskeet commented on #5333
(On second thoughts, I'll probably use Cloud Functions for this as the absolutely-simplest way of executing some code...)

[2020-09-24 08:09] jskeet commented on #5333
Okay, I've created a function for this - see the end of this comment for the source code.

Here are some interesting preliminary results... on my *laptop* which isn't even in a Google data center (obviously) I get pretty good timings:

[code]

Running in Google Cloud Functions in us-central-1, it's significantly worse:

[code]

I'll investigate whether changing the region of the function makes a d

[2020-09-24 08:29] jskeet commented on #5333
Okay, having deployed my function to europe-west2, I get results that are mostly much better - although with some variation. This was the second request I made:

[code]

After a few more hits, it was better with less variation:

[code]

This does seem to strongly suggest it's a networking latency rather than the client library itself, but we should investigate further.

@rwanter: Would you be happ

[2020-09-24 08:52] amanda-tarafa commented on #5275
Yes, there's a way to do that. If you don't activate Tracing we do assume that you don't want trace information in logs but it's easy to bring that back in.
You have to implement `Google.Cloud.Diagnostics.AspNetCore.IExternalHeaderProvider`, you can even user our own helper clases to extract the trace and span IDs from the header by using `Google.Cloud.Diagnostics.Common.TraceHeaderContext.FromHea

[2020-09-24 09:21] jskeet commented on #5333
Okay, here are the results for that function running on Cloud Run - in europe-west1 as Run isn't supported in europe-west2 yet:

[code]

So those look okay to me.

Along with the function above, here's the Dockerfile and project file I'm using:

[code]

Issue5333.csproj:

[code]

[2020-09-24 12:15] chrisdunelm commented on #5346
The `PublisherClient` requires background processing to continue after the call to the Publish method.
For example, by default it doesn't send the published message until 10ms after your call to the Publish method (in low-traffic scenarios).

On Azure, it may be most suitable to not use `PublisherClient`, but instead use `PublisherServiceApiClient`, which does no background processing and just sen

[2020-09-24 14:30] eflorespalma commented on #5346
Hi @chrisdunelm , thank you so much for the answer, we will do the test and I comment how it goes.

[2020-09-24 14:42] StasPerekrestov commented on #5260
There is a little issue with the fix, it makes the container exposed to CVE-2019-14697 with 7.5 score.

[2020-09-24 14:48] jskeet commented on #5260
@StasPerekrestov: There may be a newer version of libc6-compat which avoids this - it's far from my area of expertise.

I'd recommend commenting on https://github.com/grpc/grpc/issues/21446 - there really isn't anything that the API libraries can do about this; it's in the gRPC library's court.

[2020-09-24 14:49] StasPerekrestov commented on #5260
@jskeet thank you for the update. I'll leave a comment under that thread.

[2020-09-24 14:50] kingerson commented on #5346
Hello @jskeet  sorry I did not realize that the incident had just been registered. On the other hand, @chrisdunelm  do you have an example of how I can make my connection with the PublisherServiceApiClient, since I see that it does not have the same method

[2020-09-24 15:15] chrisdunelm commented on #5346
@kingerson This is the simplest way:
[code]
You may well need to customize client creation, which is easiest done using the `PublisherServiceApiClientBuilder` builder class.

[2020-09-24 15:27] kingerson commented on #5346
Hi @chrisdunelm , I checked the following link in the documentation, but I don't know how I could authenticate as I did before with my json file since using the PublisherServiceApiClientBuilder class I don't see the way to do it

https://googleapis.github.io/google-cloud-dotnet/docs/guides/call-settings.html

[2020-09-24 15:36] jskeet commented on #5346
@kingerson: It's not part of CallSettings - you would set the `CredentialsPath` property on the builder to the path to the JSON file.

[2020-09-24 15:56] rwanter1 commented on #5333
Ran your code in Cloud Run. The results vary like crazy. Here's from one of the requests:

[code]

Why would be be so inconsistent in the same datacenter?

[2020-09-24 16:13] jskeet commented on #5333
With relatively short timing, any small blip - a packet being retransmitted for example, or a cache miss in a server - can cause a significant difference. That's why usually benchmarking focuses on averages as well as 90%, 95%, 99% type values. The insert times do seem vary variable, but the query and lookups seem reasonable.

But the important aspect is that *all* of the queries are significantly

[2020-09-24 16:47] kingerson commented on #5346
Hi @chrisdunelm, @jskeet thank you very much for your quick help I have already done the respective tests and everything is working correctly.

[2020-09-24 16:49] jskeet commented on #5346
@kingerson: That's good to know. If @eflorespalma has the same experience, I suggest we make a note of this in the top-level documentation for the client, but make no code changes.

[2020-09-24 16:54] eflorespalma commented on #5346
Hola @jskeet @chrisdunelm thank you very much for your help. I have carried out the necessary tests to verify if the problem persisted, but everything is working perfectly. Finally I use the following line to authenticate myself.

`PublisherServiceApiClient publisherService = await new PublisherServiceApiClientBuilder { ChannelCredentials = credential.ToChannelCredentials() }.BuildAsync();`

[2020-09-24 16:56] jskeet commented on #5346
Great! Really glad to hear it all worked :) I'll leave this issue open, but assign it to myself to write a little bit more documentation.

[2020-09-24 17:35] rwanter1 commented on #5333
When copying your code into my web API project I get similar results, but some are still high:

[code]

When I spin up a Cloud MySQL instance, I can do **both** insert and query in 20-25ms **consistently**.
I don't understand why people would use Datastore over MySQL with these results - maybe it's price?

[2020-09-24 17:38] jskeet commented on #5333
Again, that's outside the topics I'm comfortable talking about - I'm sure the Datastore team could talk to that, but as a *library* maintainer across a large number of APIs, focusing on "making the right request and getting the right response", it's not in my wheelhouse.

[2020-09-24 17:39] rwanter1 commented on #5333
I understand.

Well, if these results look normal to you and you don't see a problem, feel free to close.

Thank you for looking at this.

[2020-09-24 18:04] jskeet commented on #5333
Thanks, closing - but do feel free to follow up with the Datastore team, of course, as per my first comment.

[2020-09-24 18:04] #5333 closed

[2020-09-25 05:05] EatonZ commented on #5275
Thanks for the tip. Got it working with this code. Had to search for a way to get the header value. Is there a simpler way or am I correct?

[code]

[2020-09-25 09:21] amanda-tarafa commented on #5275
That's about right, except that the span format should be `string.Format("0x{0:X}", spanId)`.
Actually, if you wait for a few days, I can add this into the library, seems reasonable.

I don't inmediately see why not. I'll take a closer look and get back to you.

[2020-09-25 09:34] #5343 closed

[2020-09-25 09:34] amanda-tarafa commented on #5275
(I just saw #5355 on span ID format, commenting there).

[2020-09-25 10:28] #5346 closed

[2020-09-25 10:58] amanda-tarafa opened #5358 "[Diagnostics]: Correct Span ID format in log entries"
See #5355 for context.

[2020-09-25 11:02] amanda-tarafa opened #5359 "[Diagnostics]: Provide a GoogleTraceProvider"
So that it's easier for users than don't activate tracing, to have the Google trace information set in their log entries if it's present.

See https://github.com/googleapis/google-cloud-dotnet/issues/5275#issuecomment-698823407

[2020-09-25 11:04] amanda-tarafa opened #5360 "[Diagnostics]: Add trace information to error reporting log entries, if present."
See https://github.com/googleapis/google-cloud-dotnet/issues/5275#issuecomment-698823407

I'm pretty sure it's possible, but need to confirm.

[2020-09-25 11:25] amanda-tarafa opened #5361 "[Storage]: Review and modify V4 URL signing tests..."
So as to make sure that headers that are now required to be signed, are being so. (all x-goog-* and x-amz-* are now to be signed)

Double check that production code is not affected.

[2020-09-25 12:14] AliSheikhTaheri opened #5362 "Spanner Emulator, CallInvoker is set, contrary to use of EmulatorDetection.EmulatorOnly"
Hi

I would like to use Spanner Emulator for integration tests but when I use it with C# I get CallInvoker is set error.
The below is step by step to produce the error also I am attaching the simple code I have written in C#.

[code]

#### Environment details

  - OS: Mac OSX
  - .NET Core 3.1

#### Steps to reproduce

  1. Followed the instruction on this page: https://cloud.google.com/spanner/do

[2020-09-25 12:25] jskeet commented on #5362
Hmmm... that's definitely not what I'd expect. Will try to look into it this afternoon, but it *may* be Monday before I can get to it.

[2020-09-25 14:25] jskeet commented on #5362
Okay, I've reproduced it with this code:

[code]

I've an idea what's wrong... will just need to validate.

[2020-09-25 14:35] jskeet commented on #5362
I've discovered the problem - it was simpler than I'd feared. We just need to get the change reviewed, and then I'll do another release. Unfortunately I can't think of a simple workaround for this in the meantime, other than performing the DDL manually with `DatabaseAdminClient` for the moment.

[2020-09-25 17:18] rajwilkhu opened #5365 "Latest release of the SDK does not work with Google Datastore emulator"
#### Environment details

  - OS: MacOS
  - .NET version: .Net Core 3.1
  - Package name and version: Google.Cloud.Datastore.V1 3.0.0

#### Steps to reproduce

  1. Start the emulator on the command line or via docker eg
[code]
  2. Set up the code to connect to the Emulator

[code]

Fails with:
[code]

Now, this is the odd bit. If I `downgrade` to the older version of the SDK i.e. `Google.Cloud.D

[2020-09-25 18:09] jskeet commented on #5365
Thanks for reporting this. I'll look into it on Monday.

[2020-09-26 11:42] rajwilkhu commented on #5365
Thanks @jskeet. Looked into this further. Seems like it's not using Http/2 when connecting to the emulator. The following workaround seems to work for me.

[code]

May provide a hint. Will have a look through the code in this repo as well. Sorry, just been lazy about it.

[2020-09-26 12:15] jskeet commented on #5365
It should absolutely be using gRPC (and therefore HTTP 2) talking to the emulator. I'm hoping it'll be easy to sort out on Monday.

[2020-09-26 14:21] amanda-tarafa opened #5366 "[Translate]: Fix translate HTML snippets flakiness."
The flakiness is because sometimes there's a space separating HTML elements on the result, and sometimes there isn't.
#5352 was an attempt to fix it, but the fix only works if there are different, non-zero, quantities of spaces or tabs in the comparants. In this case, the difference is from zero to 1.

I'm loosening the tests some more.

[2020-09-26 17:12] #5366 closed

[2020-09-28 06:30] jskeet commented on #5365
Just starting to investigate this now. That's not a way I've used for starting the emulator before - I've always used [the approach documented here](https://cloud.google.com/datastore/docs/tools/datastore-emulator). Please could you let me know what your DATASTORE_EMULATOR_HOST and DATASTORE_PROJECT_ID environment variables are set to?

[2020-09-28 06:50] jskeet commented on #5365
Okay, I've reproduced the error with the code below, with the following steps:

- In terminal 1:
  - Run `gcloud beta emulators datastore start`
- In terminal 2:
  - `export DATASTORE_EMULATOR_HOST=localhost:8081`
  - `dotnet run`

Code:

[code]

Looking further now.

[2020-09-28 06:56] jskeet commented on #5365
Okay, I've got it now - we weren't setting the credentials. This is a pleasantly-trivial fix - I hope to be able to get a fix created very soon, and then a release shortly afterwards.

[2020-09-28 08:06] #5365 closed

[2020-09-28 08:42] amanda-tarafa commented on #5360
Unfortunately this will requiere more work that what I thought at first, still doable, but will need to consider carefully.

[2020-09-28 13:28] jskeet commented on #5365
This has been released as part of Google.Cloud.Datastore.V1 version 3.1.0 - please let me know if you still have any problems with it.

[2020-09-28 14:43] #5358 closed

[2020-09-28 14:43] #5275 closed

[2020-09-28 14:43] #5359 closed

[2020-09-28 15:55] EatonZ commented on #5275
Thanks for your work on all this. I am glad this discussion resulted in several improvements being made.😁

When will you publish a new version to NuGet?

[2020-09-28 16:16] amanda-tarafa commented on #5275
Probably tomorrow. I want CI to run fully tonight before publishing, just in case. And it will be a beta for a couple of weeks until we've gotten some usage, at least from you ;), and confirm everything is as expected.

The couple of pending features, will still be one or two weeks away.

[2020-09-28 17:01] #5361 closed

[2020-09-29 10:19] KingR1 opened #5378 "You have passed an invalid argument to the service (argument=max_messages)."
I'm using Google.Cloud.PubSub.V1 (v1.0)

I have peace of code where I try to pull:
`var subscriberClient = await SubscriberServiceApiClient.CreateAsync().ConfigureAwait(false);
`
`var pullResponse = await subscriberClient.PullAsync(subscriptionName, true, maxMessages).ConfigureAwait(false);`

When an application calls method which uses that part of code, I receive a warning:

   at System.Runtime.

[2020-09-29 10:23] jskeet commented on #5378
What is the value of your `maxMessages` variable? Given that you're using `SubscriberServiceApiClient`, there's no handwritten code involved here - you're basically just sending an RPC straight to the server. The documentation states that it has to be "a positive integer" but that's the only listed requirement... if you could let us know what the value of `maxMessages` is (ideally logged just beca

[2020-09-29 10:38] KingR1 commented on #5378
@jskeet Hi, Thx for the quick reply. The number should be positive or 1... but let me check if it can be 0 as it is calculated variable.

[2020-09-30 05:35] #5362 closed

[2020-09-30 05:36] jskeet commented on #5362
This is now fixed in source code - I'll work with the Spanner team to schedule a new release with the fix in.

[2020-09-30 11:45] KingR1 commented on #5378
@jskeet yes, looks like in some cases 0 was passed as `maxMessages` value.
Thx for help.

[2020-09-30 11:45] #5378 closed

[2020-09-30 14:50] EatonZ opened #5384 "Log trace association in Google.Cloud.Diagnostics.* 4.2.0-beta01"
If the load balancer decides _not_ to trace (does not send `;o=1` to my service), the log entry is missing `trace`, `spanId`, and `traceSampled`.

I'm not sure if that is correct, because now the log entry will have no association with the span/trace. Shouldn't `trace` and `spanId` still be set, but not `traceSampled` in these cases?

[2020-09-30 15:59] amanda-tarafa commented on #5384
Thanks @EatonZ for using the library so fast and for creating the new issue :).

When the Diagnostics tracing component is configured, if the mask is not set or is set to 0 (;o=0), then we completely ignore the trace/span: we don't set it in entries, we don't set `traceSampled` to `false` either and we don't allow for the creation of new spans, etc. That behaviour is from way before `traceSampled`

[2020-10-01 02:04] EatonZ commented on #5384
It just seems correct to me to put in the span and trace IDs in logs when possible. Mainly to keep things organized. In some cases there won't be any IDs since the library will not create a span/provide any IDs, but the load balancer provides the IDs.

It does. Interestingly, it seems to sample randomly and not according to any setting. [I already filed a bug for that](https://issuetracker.google.

[2020-10-01 09:33] jskeet commented on #5362
This has now been released as part of the 3.3.0 set of libraries.

[2020-10-01 09:58] amanda-tarafa commented on #5384
Yes, agree. But as per my explanation, doing so now is a breaking change. I've taken note to possibly include it in the future, no ETA whatsoever though.

To keep formal track of this, I'm now closing this issue and adding it to our backlog in #5392.

[2020-10-01 09:58] #5384 closed

[2020-10-01 10:53] andreaGhisa opened #5393 "Cannot create TMX Glossary using Google.Cloud.Translate.V3"
#### Environment details

  - OS: Windows 10 Enterprise
  - .NET version: 4.8
  - Package name and version: Google.Cloud.Translate.V3

#### Steps to reproduce
I also open this Stackoverflow thread: https://stackoverflow.com/questions/63919102/cannot-create-tmx-glossary-using-google-cloud-translate-v3-in-c-sharp

  1. Download the latest version of the Google.Cloud.Translate.V3
  2. Try to create a

[2020-10-01 11:33] AliSheikhTaheri commented on #5362
Thank you so much Jon Skeet, you are legend! I will give this a go and let you know if there is any issue. 🙏

[2020-10-01 11:47] jskeet commented on #5393
Okay, I can't reproduce the issue, so I've created an absolutely complete application:

Project file:

[code]

Application:

[code]

I ran with:

[code]

Result:

[code]

Please could you try the same code, and see what result you get? If you get the same result, your issue may be to do with dependencies - if you could provide a similar SDK-style project file showing all the dependencies you have,

[2020-10-01 12:57] andreaGhisa commented on #5393
Thank you Jon Skeet for the code sample.

I've created the sample application outside of my project and I confirm that the error message received is the same as in your code sample:
`Can't create glossary. There are conflicting entries. Number of conflicting entries: 31. Ratio of conflicting entries: 0.0971787`

I'll try to give you a context about the application I'm building. Is a  class library

[2020-10-01 13:11] jskeet commented on #5393
Okay, I *suspect* the problem isn't actually in Google.Apis.Auth, but in another dependency - although anything's possible.

It would be really helpful if you could provide a full list of *all* the assembly versions (for anything to do with Google or gRPC, at least) that you're using at execution time. Then we can try to work out the incompatibility.

You might want to try updating to Google.Api.G

[2020-10-01 13:14] jskeet opened #5394 "Add more Firestore operators"
Apparently there are "not equal" and "not in" operators that we should support.

[2020-10-01 16:15] amanda-tarafa commented on #5384
You can use your GoogleTraceProvider instead of the one that I added. Yours didn't take into account the mask to return the TraceId and the SpanId from the header, but, do take into account that traceSampled will be set to true.

Also, I wonder if you force the mask (;o=1) on the response header, if the trace ends up being sampled. You might be able to do that on your GoogleTraceProvider as well,

[2020-10-01 16:54] EatonZ commented on #5384
Indeed - that's not ideal.

The load balancer has already made up its mind by that point, and I don't want to send that info to the client (load balancer does not send this header to the client by default).

Hopefully you'll consider this for your next major version. In the meantime, as long as [this bug](https://issuetracker.google.com/issues/169522346) gets fixed, everything should be ok for me.

[2020-10-02 02:15] sarensw commented on #2993
As mentioned in #2349, it's now a lot easier to do this (just adding the info here because this is the first issue shown in Google when searching for C# Firestore Client auth). Check out https://googleapis.github.io/google-cloud-dotnet/docs/faq.html#how-can-i-use-non-default-credentials-for-grpc-based-apis

[2020-10-02 06:56] andreaGhisa commented on #5393
This is the list of the dependencies version loaded from memory:

Google.Api.Gax, Version=3.0.0.0, Culture=neutral, PublicKeyToken=3ec5ea7f18953e47
Google.Api.Gax.Grpc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=3ec5ea7f18953e47
Google.Api.Gax.Grpc.GrpcCore, Version=3.0.0.0, Culture=neutral, PublicKeyToken=3ec5ea7f18953e47
Google.Apis.Auth, Version=1.44.1.0, Culture=neutral, PublicKeyToken=4

[2020-10-02 07:02] jskeet commented on #5393
It's unfortunate that the gRPC libraries are only showing as "2.0.0.0" rather than the exact version. Fundamentally I think it's unlikely that I'll be able to help you without being able to reproduce the problem myself - we'd be going back and forth for months. Are you able to create a cut-down version of the application and library in order to reproduce the issue? Fundamentally I think you're lik

[2020-10-02 07:51] jskeet commented on #5284
Closing this for now, as exactly what we'll want is unclear. Can reopen when things become clearer and better specified.

[2020-10-02 07:51] #5284 closed

[2020-10-05 15:44] kingerson opened #5403 "Latency issues with Pub / Sub service"
Hello everyone, I am using the GCP Pub / Sub service, but I am having a problem using it, since in 15 minutes it is only able to process the sending of 20 thousand messages and I would like to know why this is happening ... yes This service is supposed to process millions of events per second, the following lines of code are what I use to be able to send the messages.

This method call my function

[2020-10-05 15:51] jskeet commented on #5403
Hopefully Chris will be able to have a look at this for you as our resident Pub/Sub expect, but as a first pass, this looks odd to me:

[code]

`json` is just a single string - so what you attempting to do with the `string.Join` call?

Separately, it looks like you're using the "raw" API rather than the high-performance clients that wrap them *specifically* to scale better (`PublisherClient` in th

[2020-10-05 15:57] chrisdunelm commented on #5403
Is @jskeet suggests, please use the high-performance `PublisherClient`, as this batches messages and uses multiple network connections to allow higher through-put.
And if you are sending large messages (roughly a few hundred bytes or more), there may be a bandwidth-related performance hit too.

[2020-10-05 16:02] kingerson commented on #5403
Hi  @chrisdunelm @jskeet  I am using PublisherServiceApiClient because it runs on serverless (Azure function)
references Status(StatusCode=DeadlineExceeded, Detail="Deadline Exceeded") #5346

[2020-10-05 16:06] jskeet commented on #5403
Okay, it would have been really useful to give that context to start with. Chris will have more details, but as you're working through a batch of messages (`notifications`) I'd suggest trying to publish batches of messages rather than using one RPC per message.

[2020-10-05 16:07] #5394 closed

[2020-10-05 16:32] kingerson commented on #5403
I'm going to try to send it in batches as you suggest, but I would like to know what is the limit of messages that can be sent in the following code ...

`await _publisherClient.PublishAsync(topicName, new List<PubsubMessage> { message });`

[2020-10-05 16:53] jskeet commented on #5403
I would suggest using [PublisherClient.ApiMaxBatchingSessions](https://googleapis.dev/dotnet/Google.Cloud.PubSub.V1/latest/api/Google.Cloud.PubSub.V1.PublisherClient.html#Google_Cloud_PubSub_V1_PublisherClient_ApiMaxBatchingSettings) to determine the maximum number - note that there are two maximum values here; the number of messages (1000) and the total size in bytes (1,000,000 bytes). If you kno

[2020-10-05 17:56] kingerson commented on #5403
Hi @jskeet , thank you so much for the answer, we will do the test and I comment how it goes.

[2020-10-05 23:00] failure-checker[bot] opened #5405 "Warning: a recent release failed"
The release PR #5404 is still in a pending state after several hours

[2020-10-06 05:37] yoshi-automation opened #5406 "Synthesis failed for Google.Analytics.Data.V1Alpha"
Hello! Autosynth couldn't regenerate Google.Analytics.Data.V1Alpha. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/46a9f1d4-eca1-48c9-b816-06fdf91a1b11/targets/github%2Fsynthtool;config=default/tests;query=google-cloud-dotnet;failed=false).

[2020-10-06 05:59] jskeet commented on #5406
I'll look into this - it sounds like it's probably a configuration issue.

[2020-10-06 06:51] jskeet commented on #5405
Now fixed, and I believe I know what went wrong.

[2020-10-06 06:51] #5405 closed

[2020-10-06 06:52] jskeet commented on #5393
Do you have any more information on this? I'm afraid without more information, we won't be able to help you. At the end of the week I'll close this issue if we haven't heard anything more - we can reopen it later if necessary, of course.

[2020-10-06 06:53] jskeet commented on #5231
@michaelcastle: Now we've had a bit more time for observation, could you let us know if the problem still occurs, and with what frequency? (And is it still fixing itself in 6-10 minutes?)

[2020-10-06 07:06] michaelcastle commented on #5231
@jskeet It is still happening and it still seems to reliably fix itself in about 10 minutes, which is a definite improvement from the previous 2.0 version. We recently migrated our dev environment from VM's to kubernetes (with 1 instance of the subscriber app) and so far I haven't seen it fail there. It's been a week or 2 without a fail in our dev environment. We will soon migrate the UAT environm

[2020-10-06 07:17] jskeet commented on #5231
Interesting, thanks. I don't know enough about PubSub to speculate on why that change would affect things, but I'm glad it's working for you in dev...

[2020-10-06 08:23] yoshi-automation commented on #5406
Autosynth passed, closing! :green_heart:

[2020-10-06 08:23] #5406 closed

[2020-10-06 16:30] kingerson commented on #5403
Hi @jskeet

I have the following scenario

Azure Function to Pubsub service (publish batches of messages - total less 1,000,000 bytes)
then a Cloud Function listens and sends to biqquery in streaming mode (In the cloud function there are no crashes)

But there are messages that are being lost and I don't know why

[2020-10-06 17:13] jskeet commented on #5403
Does the Azure Function complete the publish RPC successfully before the function itself completes? If you can provide a complete example that I could deploy to Azure and reproduce the issue, that would make it easier to help you. It would also be easier if we could only use functions for *one* side of things:

- If you publish via a simple console app on your developer box, does the Cloud Functio

[2020-10-07 15:44] kingerson commented on #5403
Hello @jskeet @chrisdunelm  we have detected that the problem not only occurs in Azure Function but also in a console project locally.

 The case is the following: the program downloads a file from the blob storage and deserializes 200K records, then sends it to the pub / sub service and is received by a cloud function trigger that consequently sends the information to BigQuery in streaming mode.

[2020-10-07 16:59] jskeet commented on #5403
Okay, it's good to know it can be reproduced locally.

When you write:

... that doesn't mean the problem is definitely not in the Cloud Function. (There could be a bug in the Python PubSub library, for example - I'm certainly not saying that's the case, just saying it's possible.)

Have you tried reproducing this with two simple console applications (not downloading a file or anything, just gener

[2020-10-07 17:26] kingerson commented on #5403
@jskeet
Yes, the test was also done by generating records in the console application ... having the same issue.

Now I have added another method in my repository generating records locally.

[https://github.com/kingerson/send-data-pub-sub](https://github.com/kingerson/send-data-pub-sub)

[2020-10-07 17:32] jskeet commented on #5403
Great, thanks. If you don't have a .NET console app that consumes the messages handy, that's fine - I can write one. (I'll have to see whether I get a chance to do this before the end of the week... it may be next week.)

[2020-10-08 09:05] giammin commented on #3204
is this commit https://github.com/googleapis/google-cloud-dotnet/commit/310a1cb  related?

[2020-10-08 09:09] jskeet commented on #3204
@giammin: Yes - each operation will now only create a single Write.

[2020-10-08 10:07] jskeet commented on #5403
Okay, I've now created my own console app to generate and publish 1000 batches of 200 messages, and another console app to pull those messages - which completed (taking rather longer, but it was a single-threaded pull model) and pulled all 200,000 messages.

I'll now try a slightly different tack: a C# Cloud Function that inserts a row in BigQuery like your code does.

[2020-10-08 12:30] jskeet commented on #5403
I'm afraid I still can't reproduce this. I've created a console app and a function: the console app creates a topic, waits for you to hit return, then publishes 200,000 messages to the topic in 1000 batches of 200. Each message contains data that's just a string of the form "Batch {batch} message {message}", e.g. "Batch 23 message 30".

The function inserts a row into a BigQuery table with two val

[2020-10-08 21:26] kingerson commented on #5403
Hi @chrisdunelm  , thank you so much for the answer, we will do the test and I comment how it goes.

[2020-10-09 11:11] jskeet commented on #5393
Closing for now.

[2020-10-09 11:11] #5393 closed

[2020-10-09 19:27] hongalex opened #5419 "pubsub: Check partial client side config settings"
**Is your feature request related to a problem? Please describe.**
Currently, the Pub/Sub client libraries offer different behavior in partial settings of client side configs (flow control, batching).

Using flow control as an example, if `MaxOutstandingMessages` is set by the user, does `MaxOutstandingBytes` stay as the default, or is it set to `null` because the user doesn't specify that setting

[2020-10-10 05:59] jskeet commented on #5419
I believe this is already the case, but I'll check on Monday.

[2020-10-11 21:33] fedjamandic opened #5421 "DocumentUnderstandingServiceClient ProcessDocument Exception "Status(StatusCode=\"DeadlineExceeded\", Detail=\"Deadline Exceeded\""
It was working for a few days and suddenly stopped.
#### Environment details

  - OS: Windows Server 2016 Datacenter, Version 1607
  - .NET version: >Net Framework 4.7.1
  - Package name and version: Google.Cloud.DocumentAI.V1Beta2 1.0.0-beta01

#### Steps to reproduce
here is code snippet, exception is thrown on the line:  `var response = myClient.ProcessDocument(request, settings); `

[code]

[D

[2020-10-12 06:28] jskeet commented on #5421
Okay, well the first thing to check is: how long does it actually take before it fails? If it's failing after 3 minutes, then presumably processing the document takes longer than that, so you need to either process smaller documents or increase the timeout. Having said that, 3 minutes is a pretty long time already.

If your file is very large, you may need to use the batch processing approach, as

[2020-10-12 06:40] fedjamandic commented on #5421
The size of pdf file is 92kB, 4 pages.
Also, I have tried to test it again this morning and actually, it works. The document process takes cc 3-4 sec.

[2020-10-12 06:42] jskeet commented on #5421
Okay - I guess it's possible that there was some problem with the (beta) service last week.

I'll close this for now as it sounds like it's transient - and unlikely to be an issue in the client library itself. If it comes back, please add another comment to this issue and I'll reopen. (That would be better than filing another issue, so we can keep all the context in one place.)

[2020-10-12 06:42] #5421 closed

[2020-10-12 14:10] amanda-tarafa opened #5425 "[CI-Diagnostics]: Investigate and fix issue with outgoing traces and SSL certificate."
[code]
In tests:

[code]

These only fail on Windows CI. They are green on local and on Linux CI.

I'm skipping these tests on Windows until I've taken a look at this.

[2020-10-12 14:20] amanda-tarafa commented on #5425
Tests have been skipped in #5426

[2020-10-12 18:43] #4750 closed

[2020-10-12 20:07] amanda-tarafa commented on #4750
This has been released https://www.nuget.org/packages/Google.Cloud.Diagnostics.AspNetCore3/4.0.0-beta01.

[2020-10-13 02:26] EatonZ opened #5429 "Failed to install Google.Cloud.Diagnostics.AspNetCore3"
My project runs on the latest .NET Core (3.1) so I wanted to swap the package to the newly released Google.Cloud.Diagnostics.AspNetCore3. I am getting an error when installing it on my web DLL:
`NU1202: Package Google.Cloud.Diagnostics.AspNetCore3 4.0.0-beta01 is not compatible with netstandard2.1 (.NETStandard,Version=v2.1). Package Google.Cloud.Diagnostics.AspNetCore3 4.0.0-beta01 supports: netc

[2020-10-13 08:43] amanda-tarafa commented on #5429
Libraries to be used from ASP.NET Core 3 (and upwards) web applications, [under certain conditions](https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs=visual-studio#migrate-libraries-via-multi-targeting), need to target netcoreapp3.* and not netstandard2.1. The Google.Cloud.Diagnostics.AspNetCore3 library meets some of those conditions so it targets netcoreapp

[2020-10-13 09:05] jskeet opened #5433 "Add a "skip" property to smoke test files?"
Sometimes we have a smoke test that we expect to work eventually, but doesn't right now. It would be nice to be able to have the smoke test file present, but skip some of the tests when running.

[2020-10-13 09:10] jskeet opened #5435 "Enable multi-package release commits to be generated"
Currently ReleaseManager commit fails if there's more than one changed project. We now have quite a few APIs that are released as groups of packages, so we should allow it. For simplicity, this would probably be as a new command, commit-group, with an extra parameter of "the commit title".

[2020-10-13 15:32] #5433 closed

[2020-10-13 15:42] yoshi-automation opened #5437 "Synthesis failed for Google.Cloud.Retail.V2Beta"
Hello! Autosynth couldn't regenerate Google.Cloud.Retail.V2Beta. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/f1ff6b6d-81b9-48bd-a843-e85f507aeb6e/targets/github%2Fsynthtool;config=default/tests;query=google-cloud-dotnet;failed=false).

[2020-10-13 15:49] jskeet commented on #5437
Pretty sure this is just me failing to set the executable bit... sorting.

[2020-10-13 17:59] yoshi-automation commented on #5437
Autosynth passed, closing! :green_heart:

[2020-10-13 17:59] #5437 closed

[2020-10-15 00:16] EatonZ commented on #5429
@amanda-tarafa I did not know you could change the class library target framework outside of values listed in the dropdown. Why wouldn't all possible values be listed? Regardless, went into the project file with a text editor and changed it. All good now.👍

[2020-10-15 00:16] #5429 closed

[2020-10-15 06:42] y-nishine opened #5450 "How can I control the number of sessions per grpc channel in spanner?"
Hello!

The document says `We also recommend having no more than 100 sessions per gRPC channel`.
https://cloud.google.com/spanner/docs/sessions?hl=en

I couldn't figure out how to control this using Google.Cloud.Spanner.Data.

Do I just specify MaximumActiveSessions and MaximumGrpcChannels when creating the SpannerConnection?

For example, if I use a SpannerConnection generated as follows, will I

[2020-10-15 08:03] jskeet commented on #5450
The exact channel allocation process is somewhat tricky. The code you've got there won't *guarantee* 100 sessions per channel, but it will sort of aim for it. When a CreateSession request is issued, that will be allocated to the least-loaded existing channel... but looking at the code, it looks like that's based on current active requests rather than sessions allocated to that channel.

Now of cou

[2020-10-15 08:03] jskeet commented on #5450
@skuruppu and @amanda-tarafa please review what I've written above, just in case you're aware of anything I'm not...

[2020-10-15 08:58] amanda-tarafa commented on #5450
I would only add that you can also use `SessionPoolOptions.CreateSessionMaximumBatchSize` to control the size of the batch when batch allocating sessions, which means that less sessions will be bound to a channel _at once_ and that should help reduce the average number of sessions per channel. It defaults to 5, which compared to your `MaximumActiveSessions` of 2000 value is on the small side thoug

[2020-10-15 09:07] y-nishine commented on #5450
Your clear explanations have helped me to understand.
Thank you for your quick reply!

[2020-10-15 09:09] jskeet commented on #5450
@y-nishine: Great! In that case, I'll close this issue for now... but if you have further questions on this topic, or experience any difficulties, please add another comment and we can reopen it.

[2020-10-15 09:09] #5450 closed

[2020-10-15 10:11] jskeet opened #5452 "Add more APIs"
The following APIs have been identified for generation:

- [x] Access Approval API - needs C# namespace option
- [x] App Engine Admin API - if this is google/appengine/v1, needs C# namespace option (in progress)
- [x] Cloud Bigtable Admin API (been generated for ages)
- [x] Binary Authorization API (in google/cloud/binaryauthorization; needs C# namespace option)
- [x] Cloud Build API (in google/de

[2020-10-15 13:15] jskeet commented on #5435
This was implemented in #5438.

[2020-10-15 13:15] #5435 closed

[2020-10-15 15:55] jskeet commented on #5403
Any updates on this? We'd like to either have something actionable, or close it until there *is* something actionable.

[2020-10-15 16:04] kingerson commented on #5403
Hello @jskeet , apparently the problem was with the cloud function in python, since we made the change to dotnet and everything worked correctly, sorry for the delay in responding, but we have been doing many stress tests to ensure that everything is working correctly.

[2020-10-15 16:12] jskeet commented on #5403
Right, glad to hear it - will close this.

[2020-10-15 16:12] #5403 closed

[2020-10-15 16:19] jskeet commented on #5419
Validated, they're merged appropriately:

- [SubscriberClient](https://github.com/googleapis/google-cloud-dotnet/blob/37c7c490cbc95a501b1e5184914feffcf24e1ced/apis/Google.Cloud.PubSub.V1/Google.Cloud.PubSub.V1/SubscriberClient.cs#L376)
- [PublisherClient}(https://github.com/googleapis/google-cloud-dotnet/blob/37c7c490cbc95a501b1e5184914feffcf24e1ced/apis/Google.Cloud.PubSub.V1/Google.Cloud.PubSub.

[2020-10-15 16:20] jskeet commented on #5419
Reopening, because it looks like the FlowControlSettings *aren't* merged...

[2020-10-15 16:22] jskeet commented on #5419
It looks like the batching settings *are* merged appropriately though.

Assigning to @chrisdunelm to have a look at the FlowSettings aspect - I'm particularly looking at [this line](https://github.com/googleapis/google-cloud-dotnet/blob/37c7c490cbc95a501b1e5184914feffcf24e1ced/apis/Google.Cloud.PubSub.V1/Google.Cloud.PubSub.V1/SubscriberClient.cs#L383)

[2020-10-19 01:05] damian4891 opened #5462 "FirestoreChangeListeners throwing unhandled System.AggregateException if any network problems"
Hello,

I am creating several FirestoreChangeListeners (following the User Guide at https://googleapis.github.io/google-cloud-dotnet/docs/Google.Cloud.Firestore/userguide.html) and everything is working fine, but when there is a network problem, _multiple_ unhandled System.AggregateExceptions are being thrown with the inner exception being a Grpc.Core.RpcException with Status of "Transport Closed"

[2020-10-19 06:29] jskeet commented on #5462
Thanks, I'll try to take a look at this today.

[2020-10-19 06:30] jskeet commented on #5462
One side note: could you let me know which version of .NET you're using, and which version of the Firestore library?

[2020-10-19 06:51] damian4891 commented on #5462
Thanks! I'm using .NET Framework 4.7.2 and Google.Cloud.Firestore v2.2.0

[2020-10-19 09:54] jskeet commented on #5462
Okay, progress in terms of creating a minimal example... I originally reproduced in .NET 4.7.2 with an app.config file, but we get cleaner exceptions using .NET Core 2.1, using the `TaskScheduler.UnobservedTaskException` event:

Project file:

[code]

Program.cs:

[code]

Run with `dotnet run -c Release`:

[code]

So that gives a reasonably clear place to look within Google.Cloud.Firestore...

[2020-10-19 10:01] jskeet commented on #5462
However, when I add your `ContinueWith` code, that *does* handle the exception, and no exceptions are deemed unreported.

Will try generating a different failure mode...

[2020-10-19 10:08] jskeet commented on #5462
Okay, I can reproduce it by providing a bad endpoint:

[code]

The connection loop within the watch stream repeatedly tries to connect - but I haven't yet worked out whether this is something where *we're* not observing the exception, or whether gRPC isn't even exposing it.

[2020-10-19 10:10] jskeet commented on #5462
This may well be related: https://github.com/grpc/grpc/issues/24421

[2020-10-19 10:23] jskeet commented on #5462
Okay, I've made *some* progress - oddly enough, it looks like the Firestore library code *is* catching exceptions representing the same failures... but it's as if two exceptions are generated internally in Grpc.Core, only one of which is propagated out to the caller, leaving the other to be unhandled.

I'll see if I can reproduce it with "just bare gRPC code" at which point it would definitely be

[2020-10-19 10:31] jskeet commented on #5462
Okay - I've reproduced this using only the gRPC-generated code, showing that this really *is* a gRPC bug. I'll add the repro to grpc/grpc#24421, but I'm going to close this issue now as we can't fix it within this library.

In terms of the workaround, I believe this should work for you:

[code]

Of course, you may want to add some logging...

[2020-10-19 10:31] #5462 closed

[2020-10-19 10:37] chrisdunelm commented on #5419
Yes, flow settings are not merged.
We do expose a default flow settings, in the `DefaultFlowControlSettings` property, as requested.

[2020-10-19 10:41] jskeet commented on #5419
Sounds like we're okay in that case - not *ideal* necessarily, but okay.

[2020-10-19 10:41] #5419 closed

[2020-10-19 12:27] v0l opened #5467 "No context provided in AnnotateImageRepsonse"
## Environment details

  - OS: Ubuntu 20.04
  - .NET version: 3.1.403
  - Package name and version: Google.Cloud.Vision.V1 Version=2.0.0

#### Steps to reproduce

  1. Create a BatchAnnotateImages request with Image.FromFileAsync
  2. Check AnnotateImageResponse context for any information about the file it was processed for
  3. **AnnotateImageResponse.Context is null**

I also tried to specify

[2020-10-19 12:36] v0l commented on #5467
`Status(StatusCode=InvalidArgument, Detail="Only one of image content and uri should be specified.")`

[2020-10-19 12:45] jskeet commented on #5467
Please show *exactly* what you did for this. Note that "content" and "context" are very different. I would *expect* (but I haven't tried) that if you provide the Context property in the AnnotateImageRequest, that you'd get that same context back in the response. It's not created automatically though - you would need to assign it.

[2020-10-19 12:54] v0l commented on #5467
Im building the batch like this:

[code]

I also tried with 256 images and it said there where too many images in the request, the docs say you can do up to 2000?

[2020-10-19 12:59] jskeet commented on #5467
Right the commented out code is trying to specify both a GCS source and file content in the same object. That won't work.

It doesn't look like there's anywhere in the request to specify the original filename. I suggest you file that as a feature request with the Google Cloud Vision team.

That's also very definitely an API issue rather than a client library issue. I'm afraid the maintainers of th

[2020-10-19 12:59] #5467 closed

[2020-10-19 13:06] amanda-tarafa commented on #5452
Closed by accidentally clicking on the wrong place.

[2020-10-19 16:59] ryandle opened #5470 "Support for Firestore Metadata fields (Id, CreateTimestamp, UpdateTimestamp, ReadTimestamp) in IFireStoreConverter<T>"
**Is your feature request related to a problem? Please describe.**
I'm using a custom converter to convert my type to/from a document (IDictionary<string,object>) to avoid decorating my types with attributes. (I want my types to be shared in other libraries where I can't reference the Firestore lib.)

The custom converter works great, except I don't think it exposes the 4 metadata properties you c

[2020-10-19 17:05] jskeet commented on #5470
I'll try to have a look at what this would take tomorrow, but it's really important to note that the serialization aspects of this library have become pretty overwhelming - and significantly beyond what other Firestore libraries are doing, I believe. If there's a way of designing this in neatly, I'd be happy to do so - but I don't want to go to really extreme lengths.

(I do understand the desire

[2020-10-19 18:43] ryandle commented on #5470
Thanks for giving this consideration @jskeet. I have updated my example above to not use pre-release C# 9 features.

[2020-10-20 12:12] jskeet commented on #5470
Okay, I've had an idea about how we should be able to make these available in an extensible, backwardly-compatible way. Basically you'd be able to configure additional properties that would be populated in the dictionary passed to `FromFirestore`. I'll work on a PR today/tomorrow with that in...

[2020-10-20 14:51] jskeet commented on #5470
If you could have a look at #5474 and see whether you think that would work for you, that would be really good to know. There are other alternatives we could explore, but I suspect they'd mostly involve a sort of "alternative/extended" IFirestoreConverter interface, which wouldn't be ideal... I thought that receiving the values within the existing dictionary is probably the cleanest option.

[2020-10-20 16:12] ryandle commented on #5470
Confirmed, that change will solve my scenario!

[2020-10-23 03:45] damian4891 commented on #5462
Hi Jon,

Thank you very much for your investigation and suggested workaround. That works fine and is a suitable solution.

Thanks again!
Damian

[2020-10-27 16:53] jskeet opened #5493 "Make GitHub Actions work for complete build"
Currently we're running out of disk space. The size of Grpc.Core may well be relevant here, which is being improved. We can probably tidy up as we go to reduce this though.

[2020-10-27 18:17] jskeet commented on #5493
Directory size after local build: 50.6GB.

After removing these files:

- libgrpc_csharp_ext.x64.dylib
- libgrpc_csharp_ext.x86.dylib
- grpc_csharp_ext.x64.dll
- grpc_csharp_ext.x86.dll
- libgrpc_csharp_ext.x86.so

... it's down to 24.9GB, but that's still too big. Hmm.

[2020-10-28 07:32] jskeet commented on #5493
Now trying "let's remove the bin directory for desktop framework builds entirely after building each API". This may well be enough, given that the desktop framework builds are the huge ones.

[2020-10-28 07:33] jskeet commented on #5493
From a log

[code]

[2020-10-29 05:58] cjcurrie commented on #2473
Any progress on this issue? It puts major restrictions on firestore access from C#.

[2020-10-29 06:24] jskeet commented on #5493
This was fixed by #5498.

[2020-10-29 06:24] #5493 closed

[2020-10-29 06:27] jskeet commented on #2473
@cjcurrie: Yes, it was fixed in 2018, and you shouldn't be seeing an exception now. You can optionally see a warning if you've specified a warning logger via `FirestoreDb.WithWarningLogger`, and haven't specified a different `UnknownPropertyHandling` value for `FirestoreDataAttribute`. If you *are* getting an exception, it's probably a different issue - please file a new issue with details of how

[2020-10-29 08:46] #5470 closed

[2020-10-29 16:28] jskeet commented on #5470
This is now implemented in 2.3.0-beta01. (We used an attribute on the method instead of the type in the end.) If you could check that it actually works for you using that release, we can release it as 2.3.0 pretty soon.

[2020-11-02 12:05] LIFEfreedom opened #5507 "Create a PublisherServiceApiClient and SubscriberServiceApiClient using credentials passed in parameters"
**Is your feature request related to a problem? Please describe.**
I want to create a PublisherServiceApiClient, but I don't want to store the authorization data in a file and use the `GOOGLE_APPLICATION_CREDENTIALS `variable. And without this variable, I get the error `"The Application Default Credentials are not available. They are available if running in Google Compute Engine. Otherwise, the en

[2020-11-02 12:15] jskeet commented on #5507
See https://googleapis.github.io/google-cloud-dotnet/docs/faq.html#how-can-i-use-non-default-credentials-for-grpc-based-apis

For example:

[code]

[2020-11-02 12:16] jskeet commented on #5507
(If you're creating the `GoogleCredential` from a string, you could use `JsonCredentials` property of the builder instead, btw.)

[2020-11-02 12:49] LIFEfreedom commented on #5507
Thanks. It works. Itself somehow did not think of it before

[2020-11-02 12:49] #5507 closed

[2020-11-05 07:51] jskeet opened #5518 "Add show-version command to release manager"
I thought you could run `./prepare-release.sh show-version <package name>` but that appears not to be the case. Easily fixed.

[2020-11-05 09:01] jskeet commented on #5518
Fixed by #5519

[2020-11-05 09:01] #5518 closed

[2020-11-06 01:34] williecohen-google commented on #5325
Any updates? We are running into log query latency issues and using log labels would speed things up dramatically (because they are indexed).

[2020-11-06 07:09] jskeet commented on #5325
@williecohen-google: Sorry, not yet - we'll try to have a look next week.

[2020-11-06 13:17] yang-xiaodong opened #5530 "How to configuring a Proxy?"
Hello there,

We are using GCP Pub/Sub and encountered the following error:
[code]

It looks like a problem with my network, since I am in China and we are using a proxy to access the GCP services.

In the google-cloud-java repository I found how to [configuring a proxy](https://github.com/googleapis/google-cloud-java#configuring-a-proxy) but it doesn’t seems to work for dotnet sdk. I didn't find

[2020-11-06 14:23] jskeet commented on #5530
The Grpc.Core implementation is based on gRPC Core, so the [environment variables listed for gRPC Core](https://github.com/grpc/grpc/blob/master/doc/environment_variables.md) are the relevant ones. So I'd *expect* this to be the relevant bit:

Can you try setting `grpc_proxy` and giving it another try?

[2020-11-06 15:05] yang-xiaodong commented on #5530
It works, thanks very much

[2020-11-06 15:06] #5530 closed

[2020-11-11 06:14] ryandle commented on #5470
@jskeet I have pulled  2.3.0-beta01 and confirmed that release now supports my scenario! Thank you for your help.

[2020-11-11 06:44] jskeet commented on #5470
@ryandle: Thanks for the confirmation; that's really useful. Will plan for a 2.3.0 release soon.

[2020-11-11 14:59] amanda-tarafa opened #5548 "[Storage]: Unskip system tests when cross language bucket is restored."
For some system tests we use a cross language bucket named `storage-library-test-bucket`. This bucket has either become inaccessible or has been deleted, and that makes several of our tests fail.

I will now skip tests until the bucket is restored or an alternate bucket is found.

PHP has run into the same, see googleapis/google-cloud-php#3475.

@frankyn as FYI, I will start an internal thread for

[2020-11-12 18:01] failure-checker[bot] opened #5568 "Warning: a recent release failed"
The release PR #5562 is still in a pending state after several hours

[2020-11-12 18:03] jskeet commented on #5568
It's not in a pending state, it's in a failed state... but I'll just change it to closed.

[2020-11-12 18:03] #5568 closed

[2020-11-12 18:34] MrCull opened #5569 "The README file in this repo has some bad links - [404:NotFound]"
#### Environment details
N/A

#### Steps to reproduce
Click the links

"**Google.Cloud.Dataproc.V1**"
Status code [404:NotFound] - Link: https://googleapis.dev/dotnet/Google.Cloud.Dataproc.V1/3.0.0-beta00

"**Google.Cloud.DevTools.ContainerAnalysis.V1**"
Status code [404:NotFound] - Link: https://googleapis.dev/dotnet/Google.Cloud.DevTools.ContainerAnalysis.V1/2.1.0

"**Grafeas.V1**"
Status code [

[2020-11-12 18:52] jskeet commented on #5569
The first link shouldn't be in there - I need to work out why it *is* there at all. (There shouldn't be any beta00 links.)

The other two links should be fine fairly soon - those packages were published less than an hour ago, and it takes a little while for the documentation publication process to catch up. (Another package that was published about 2 hours ago has valid documentation now.)

[2020-11-12 21:15] jskeet commented on #5569
Okay, the second and third links are now sorted.

We do actually have Dataproc set at 3.0.0-beta00 to avoid a breaking change - I'll release 3.0.0-beta01 (or maybe just 3.0.0) next week which will fix that.

Closing this issue now, as it's somewhat separate from the Dataproc issue really.

[2020-11-12 21:15] #5569 closed

[2020-11-13 02:45] michaelcastle commented on #5231
As an update, it doesn't seem to fail as often or as long but **still** randomly fails for several minutes.

[2020-11-13 06:39] yoshi-automation opened #5570 "Synthesis failed for Google.Cloud.Container.V1"
Hello! Autosynth couldn't regenerate Google.Cloud.Container.V1. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/008800c5-ff7f-4eeb-8f26-dd4eb891aeba/targets/github%2Fsynthtool;config=default/tests;query=google-cloud-dotnet;failed=false).

[2020-11-13 07:45] yoshi-automation commented on #5570
Autosynth is still having trouble generating Google.Cloud.Container.V1. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/9e312aea-5bb1-4cbc-bbda-a517d8febb14/targets/github%2Fsynthtool;config=default/tests;query=google-cloud-dotnet;failed=false).

[2020-11-13 10:59] yoshi-automation commented on #5570
Autosynth passed, closing! :green_heart:

[2020-11-13 10:59] #5570 closed

[2020-11-13 11:54] amanda-tarafa commented on #5325
I'm working on this, will have an update early next week.

[2020-11-13 17:35] amanda-tarafa commented on #5325
I believe you can already achieve this using properties, custom labels and patterns for custom labels.

- Configure the `GoogleStackdriverAppender` to use patterns for custom labels by setting the `UsePatternWithinCustomLabels` property to true.
- Add costume labels that use patterns to reference properties, like such:
  `{ "userName", "%property{userName}" }`
- Use any of the log4net [`GlobaConte

[2020-11-14 16:26] olavloite opened #5576 "[Spanner]: CommandTests for QueryOptions don't actually verify the optimizer version that is used"
The tests for checking that the correct optimizer version is used for queries do not actually verify this. Changing the value for the optimizer version [here](https://github.com/googleapis/google-cloud-dotnet/blob/23bc6204765e6a9aba0f8295362b0059b91694ff/apis/Google.Cloud.Spanner.Data/Google.Cloud.Spanner.Data.Tests/SpannerCommandTests.cs#L116) to any random value will not make the test fail. This

[2020-11-14 21:34] jskeet opened #5578 "Update Google.Cloud.Logging.Console with GA Microsoft.Extensions.Logging.Console"
Now Microsoft.Extensions.Logging.Console is GA, we can productionize our logging formatter.

[2020-11-16 09:18] #5576 closed

[2020-11-16 11:04] #5548 closed

[2020-11-16 18:00] williecohen-google commented on #5325
Ok, I think this sounds reasonable. We have a default label, which we could set at GlobalContext to prevent null values, but it would probably be nice for other use cases to strip nulls out. I'll try this out and see if I run into any issues. Thanks!

[2020-11-16 23:48] williecohen-google commented on #5325
Ok I was able to successfully add log labels with this! I do think for a follow up:

1. This should be documented somewhere (which maybe I missed).
2. Adding a StripNullValuedLabels property would be useful for adding labels to select logs.

Thanks for looking into this!

[2020-11-17 06:36] yoshi-automation opened #5585 "Synthesis failed for Google.Cloud.Asset.V1"
Hello! Autosynth couldn't regenerate Google.Cloud.Asset.V1. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/9264f6e7-1447-4846-8a90-439a32f4a9f8/targets/github%2Fsynthtool;config=default/tests;query=google-cloud-dotnet;failed=false).

[2020-11-17 06:59] jskeet commented on #5585
Asset.V1 now has a dependency on OsConfig.V1. Easy to fix.

[2020-11-17 07:07] jskeet commented on #5585
Ah - slightly harder to fix as we need a new release of OsConfig first.

[2020-11-17 09:00] #5585 closed

[2020-11-17 10:33] amanda-tarafa commented on #5325
Thanks for confirming that this solves your issue.

1. I'll make sure to add some docs/samples around this.
2. We'll look int it.

I'll keep open until I've added the docs at least.

[2020-11-18 08:08] rmfogel commented on #3112
I am having the same problem, ping is working fine.

[2020-11-18 08:15] jskeet commented on #3112
@rmfogel: Presumably the way you're pinging it doesn't use HTTP/2 though, which is what gRPC uses. I would ask your network administrators whether they have any specific HTTP/2 rules in place, and whether they have tracing/detection to help you diagnose this. I'm afraid there's not a lot we can do from a libraries perspective.

[2020-11-18 22:05] umitkavala commented on #5261
Hi @jskeet I'd like to take this task.

[2020-11-19 07:38] jskeet commented on #5261
@umitkavala: I'm happy for you to give it a try, but I should say that I've looked at this a couple of times hoping it would be simple, and it's really not... and that's despite me knowing the library infrastructure inside and out.

What I'm trying to say is that if you try but find it all too tricky/confusing, please don't feel any sense of inadequacy :) Of course, if you _can_ sort it out, that

[2020-11-19 08:42] umitkavala commented on #5261
Its better to warm up before. Let me choose less difficult task :) Do you have any recommendations?

[2020-11-19 08:53] jskeet commented on #5261
Not particularly, I'm afraid - where there are easy things to do, we tend to pick them off ourselves when we have little bits of time.

Having said that, https://github.com/googleapis/google-cloud-dotnet/issues/5578 would probably be a good starting place. I'd expect it to involve:

- Updating dependencies
- Creating an integration test
- Productionizing the "currently somewhat prototype" code - a

[2020-11-19 09:02] umitkavala commented on #5261
I think its a good start. I'm happy to work with you (that a big bonus for me :) )

[2020-11-19 09:19] jskeet commented on #5470
@ryandle: I released 2.3.0 yesterday - thanks for working so collaboratively on this.

[2020-11-19 11:53] amanda-tarafa commented on #1038
This has been addressed for several use cases already in #2120 and #5388.
We can expand for different use cases if there's demand, but this issue can be considered addressed.
Removing from backlog.

[2020-11-19 12:09] amanda-tarafa commented on #803
ErrorReportingExceptionFilter is from the Diagnostics.AspNet package which we don't support (except for critical bug fixes) as per  #4828.
Removing this issue from backlog.

[2020-11-19 12:22] umitkavala commented on #5578
I'll start working:

- [ ] Updating dependencies
- [ ] Creating an integration test
- [ ] Productionizing the "currently somewhat prototype" code - and particularly thinking about performance
- [ ] Writing more unit tests
- [ ] Writing documentation

[2020-11-19 12:39] amanda-tarafa commented on #110
This is now part of a bigger project to improve documentation.
Removing from backlog.

[2020-11-19 13:24] umitkavala commented on #5578
Are we going to increase version in apis.json?
[code]

[2020-11-19 13:35] jskeet commented on #5578
Not until it's ready to release

[2020-11-19 14:03] amanda-tarafa commented on #1451
This is being evaluated across client libraries.
Removing from backlog.

[2020-11-19 16:19] amanda-tarafa commented on #5325
I've added documentation on how to translate Log4Net properties into labels. You can find it [here](https://googleapis.dev/dotnet/Google.Cloud.Logging.Log4Net/3.2.0/configuration.html#configuration-example-translating-log4net-properties-to-google-cloud-logging-labels).

As for the `StripNullValuedLabels` property, I've moved this issue to our backlog in #5628 to wait for more user demand.

I'll be

[2020-11-19 16:19] #5325 closed

[2020-11-20 08:04] iocheredko opened #5629 "SecretManagerServiceClient.Create() crash in .NET 5.0 Docker image"
The **SecretManagerServiceClient.Create()** execution is crashing in the official .NET 5 Docker image (mcr.microsoft.com/dotnet/aspnet:5.0 from [https://hub.docker.com/_/microsoft-dotnet-aspnet](https://hub.docker.com/_/microsoft-dotnet-aspnet))
The stack trace is:
[code]

As a workaround I was able to fix that by adding this line to the Dockerfile:
[code]

The error does not appear in the .NET Co

[2020-11-20 08:21] jskeet commented on #5629
This is an issue with Grpc.core on .NET 5.0, which will be fixed in a later version of Grpc.Core. See https://github.com/grpc/grpc/issues/24153 for more details.

I'll close this issue now as there's nothing we can do at a client library level, so there's no change required in this repository. Once an updated version of Grpc.Core is available, we'll of course update our dependencies for future lib

[2020-11-20 08:21] #5629 closed

[2020-11-23 08:27] Mistic92 opened #5632 "Increased latency after adding Google.Cloud.Diagnostics.AspNetCore3"
#### Environment details

  - OS: mcr.microsoft.com/dotnet/aspnet:3.1-buster-slim
  - .NET version: 3
  - Package name and version: Google.Cloud.Diagnostics.AspNetCore3

#### Steps to reproduce

We are running multiple services on Cloud Run. We were using opentelemetry but as it's on very early stage we had a lot of issue as traces were not connected and log's were not added. After Google have add

[2020-11-23 08:40] jskeet commented on #5632
Assigning to Amanda as she owns the diagnostics parts.

Could you give more details about how you're configuring this, and what your application does? (For example, are you doing a lot of logging and a lot of tracing in every request?)

Is the logging and tracing _working_ for you, but just with awful latency, or is it also failing?

[2020-11-23 09:10] jskeet commented on #5632
(Labeled as a bug for the moment, as "question" sounds far too minor. But hopefully it's not a bug in the libraries and merely something we can help with configuring better, or something like that.)

[2020-11-23 09:30] Mistic92 commented on #5632
Hi, our app is chat service. If you need I can open GCP support ticket to share more details as we have role based support.
It's working fine but latency went up a lot as visible on previous screenshots.

- I found that we have sample rate set to 1, might it be the reason for increased latency? On opentelemetry we probably had the same value set. What's the recommendation for this value? We'll als

[2020-11-23 09:35] jskeet commented on #5632
Thanks for the extra information. Hopefully that'll be enough to reproduce it without going via a GCP support ticket. It's been a while since I looked at trace, so I can't say for sure about the sample rate values. We'll get back to you with the results of our investigation.

[2020-11-23 09:54] amanda-tarafa commented on #5632
Thanks for the info. A couple of quick notes although I'll take a better look after.

You have no buffer configured for any of the Diagnostics components so there's an overhead added to each request, that, depending on how you had configured Opentelemtry, might be at least part of the explanation. What was your buffering strategy with Opentelemetry? Since you are running on Cloud Run, which limits

[2020-11-23 14:56] amanda-tarafa opened #5633 "[Diagnostics.AspNetCore3]: Documentation is missing snippet code."
See https://googleapis.dev/dotnet/Google.Cloud.Diagnostics.AspNetCore3/4.0.0-beta01/index.html
This is possibly because we are using the same Snippet project for both Diagnostics.AspNetCore* packages.

[2020-11-23 15:06] jskeet commented on #5633
I thought we'd separated out the snippets into a copy of the projects? The code that finds the snippets does expect it to be in a fixed location.

[2020-11-23 17:26] amanda-tarafa commented on #5632
I've got two similar apps running on Cloud Run, the only difference between them is that one configures and uses Diagnostics and the other one doesn't. I've written a small app that makes requests to these apps and I'll leave that running through the night and share results tomorrow.

[2020-11-24 08:37] Mistic92 commented on #5632
Hi, we just pushed changes suggested by you to production and will monitor it. EOD I'll check traces and latencies but I think it looks good!

[2020-11-24 11:14] orchowski opened #5634 "[Google.Cloud.Logging.NLog] Nlog logging structure"
Hi!
 **Problem description**
I have the following structure at stack driver
![image](https://user-images.githubusercontent.com/17548765/100084798-8264c880-2e4b-11eb-8574-97d357f6e47d.png)
using the following config:
![image](https://user-images.githubusercontent.com/17548765/100084979-c1931980-2e4b-11eb-9453-96dfbfeebf14.png)
and it's pretty understandable but I have to meet some standards where p

[2020-11-24 11:16] amanda-tarafa commented on #5634
I'll take a look as soon as I can, but just to set expectations, it might not be this week.

[2020-11-24 11:18] amanda-tarafa commented on #5632
I'm actually seeing some unexpected overhead on my own tests. I'm trying to pintpoint where that might be and will update here as soon as I can.

[2020-11-24 11:19] orchowski commented on #5634
@amanda-tarafa ok! Thanks <3

[2020-11-24 13:40] jskeet commented on #5634
Actually, I believe we already have the necessary flexibility available.

You can specify the `JsonConverterTypeName` and `JsonConverterMethodName` options to make the specify your own converter. They should identify a method (either an instance method in a type that can be instantiated using `Activator.CreateInstance` or a static method) that accepts `object` and returns `Google.Protobuf.WellKnow

[2020-11-24 13:58] orchowski commented on #5634
@jskeet I'll try to do that in this way

[2020-11-24 14:08] orchowski commented on #5634
@jskeet
JsonConverter is used here to convert each parameter: https://github.com/googleapis/google-cloud-dotnet/blob/5c91cb16066fbf450379171dd574893011ea576d/apis/Google.Cloud.Logging.NLog/Google.Cloud.Logging.NLog/GoogleStackdriverTarget.cs#L522

And then these values are assing to propertiesStruct object. How it should work?
https://github.com/googleapis/google-cloud-dotnet/blob/5c91cb16066fbf45

[2020-11-24 14:28] jskeet commented on #5634
@orchowski: Ah, yes, you're right about this being just for the properties. We could *potentially* have a user-defined JsonLayout, following NLog's own JsonLayout type. That would be quite inefficient, as we'd need to ask the layout to format the log entry as a string, then we'd have to parse it into a protobuf `Struct` value (which is a JSON object) so that we could include it in the log entry th

[2020-11-24 14:32] orchowski commented on #5634
@jskeet okay then the situation is clear now. Thanks!
I can take care of it then

[2020-11-24 17:32] amanda-tarafa commented on #5632
OK, after sevaral tests that I've had running during the day, I'm pretty confident in saying that my initial suggestion of using `SizedBuffer` should get rid of the alarminglingly increased latency. Highlights here:

- I've deployed to a default Cloud Run service, using `mcr.microsoft.com/dotnet/aspnet:3.1-buster-slim` a web app that doesn't even have a dependency on the Google.Cloud.Diagnostics.A

[2020-11-25 14:41] orchowski commented on #5634
@jskeet I have some questions.

-  I have to discover what type of layout is provided in the configuration file and I need advice on which version Is the best.

It's problematic because information about that is nested inside TargetWithContextLayout and that's a private class from NLog.
 1. We can detect it through the value - after rendering we can validate it as a valid JSON object. But value li

[2020-11-25 15:04] jskeet commented on #5634
Hmm... do you mean that even without any code changes, if you specify a `JsonLayout` that will be activated by NLog, possibly in the "rendering" part of the code? (I'm afraid I don't use NLog myself normally, so this is all a bit new to me.)

If that is what you mean, option 3 is probably the cleanest in my view - it's the most predictable, even if it feels a little clunky. In terms of a name, I t

[2020-11-25 15:44] orchowski commented on #5634
Okay then. I'll create PR tommorow with proposition.

And yes. NLog have dedicated renderers for layouts and all we need to do is to define layout at config file. For that it was a little strange for me that library impacts on layout format. But I'm not an expert of NLog too, I only try to manage with sprint task that anyone else don't want to do 😂

[2020-11-26 09:40] amanda-tarafa commented on #5632
@Mistic92 This is in no way to rush you, just to make clear that if using SizedBuffer is not working for you in reducing latency as it dit for me, we can keep looking. Just let me know, because I would then need more info from you.

[2020-11-26 10:00] Mistic92 commented on #5632
Hi, thank you for your support. Implementing buffers solved an issue and times went back to normal!

![image](https://user-images.githubusercontent.com/2607098/100336490-896c1200-2fd6-11eb-86f7-0cb8541f5bfb.png)

[2020-11-26 10:00] #5632 closed

[2020-11-26 13:49] oantawilliam opened #5636 "Custom Firestore Converters with F#"
I was trying to implement in F# Custom Converters as described [here](https://googleapis.github.io/google-cloud-dotnet/docs/Google.Cloud.Firestore/datamodel.html#custom-converters), but I got into the problem of F#'s files ordering.

First, the type that will be converted requires an attribute, which needs to reference the ConverterClass - the actual class that does the conversion:
[code]

At the

[2020-11-26 14:01] jskeet commented on #5636
Does F# really not allow to types to refer to each other even via generics and attributes? That feels like a surprising limitation. I'm afraid I don't know enough F# to suggest a solution to that.

An alternative would be to register the type converter when constructing the `FirestoreDb` as described [here](https://googleapis.dev/dotnet/Google.Cloud.Firestore/latest/datamodel.html#converter-regist

[2020-11-26 20:41] umitkavala commented on #5578
I've did quick experiment for performance.
### **Default Implementation**
![image](https://user-images.githubusercontent.com/3861934/100389911-0c20bb80-302f-11eb-9912-d9ddbcccc722.png)

### **With System.IO.Pipelines** > https://devblogs.microsoft.com/dotnet/system-io-pipelines-high-performance-io-in-net/

![image](https://user-images.githubusercontent.com/3861934/100389814-b3512300-302e-11eb-989f

[2020-11-26 20:42] jskeet commented on #5578
No need to create an issue for it particularly. I won't be able to review anything until I'm back at work on Monday though.

[2020-11-27 21:05] shawn-mccorkell opened #5639 "Google.Cloud.Logging.Log4Net.GoogleStackdriverAppender resourceType = k8s_container"
**Environment details**

  - OS: Windows Server 2016 Node Pool host running in GKE
  - .NET version: 4.6.1
  - Package name and version: Google.Cloud.Logging.Log4Net 3.2.0

We have the logging working using the the markup below in an ASP.NET MVC 4.6.1 project located in the web.config

**Issue**

1. If we let resource type be auto detected, we see the logs, but they are categorized as resource.typ

[2020-11-27 21:05] shawn-mccorkell commented on #5639
[log4net-appender.txt](https://github.com/googleapis/google-cloud-dotnet/files/5609527/log4net-appender.txt)

[2020-11-27 21:06] jskeet commented on #5639
I will look at this on Monday. There's a corresponding Gax issue but I can't remember the details offhand.

[2020-11-28 15:14] shawn-mccorkell commented on #5639
Thanks @jskeet

[2020-11-30 14:39] jskeet commented on #5639
I'm slightly confused - your point 2 says that nothing is logged, but you later say you *do* want that resource type set. Given [this issue](https://github.com/googleapis/gax-dotnet/issues/347) I'd actually expect the resource type to be "gke_container".

But if the autodetected resource type is gce_instance, that's a separate issue.

Could you print out the results of `Google.Api.Gax.Instance()`

[2020-11-30 15:28] jskeet commented on #5639
Whoops - I didn't review that issue carefully enough, which does say: "Those are for legacy Stackdriver; to support Stackdriver Kubernetes Engine Monitoring we need to use "k8s_container" instead."

... and looking at the code, that *is* what it should provide. Testing now to see what happens on my k8s cluster.

[2020-11-30 15:35] jskeet commented on #5639
Okay, now deployed to the k8s cluster, and this is what my monitored resource looks like:

[code]

and the result from `Platform.Instance()`:

[code]

So that all looks to be working okay. I haven't tried the Log4Net integration, but that can come next.

[2020-11-30 16:39] shawn-mccorkell commented on #5639
We are running the website Windows Node pool in GKE cluster, I am thinking it may be Windows vs Linux specific.

Our website is not .NET Core and running ASP.NET MVC 4.6.1, so we need to run on a Windows host.

Agreed I doubt it is a specific Log4Net issue, more of overall inability to classify the resource type automatically and I am wondering if it is a Windows only issue.

I will try to print s

[2020-11-30 16:46] jskeet commented on #5639
Ah, that's interesting. Yes, I wouldn't be surprised if this were an issue on Windows GKE - if you look at the [GKE platform details loading code](https://github.com/googleapis/gax-dotnet/blob/master/Google.Api.Gax/GkePlatformDetails.cs#L75) it assumes Unix-style paths... I've no idea what the equivalent of those would be on Windows.

Apologies for not noticing before that this was Windows, when y

[2020-11-30 18:27] shawn-mccorkell commented on #5639
Thanks,

When I set disableResourceTypeDetection=false an manually populate the resource type (k8s_container) and and associated labels for this type, nothing shows up in my logs under Kubernetes Container, also I the logs don't show up in any other other types. See the attachement above for the code I have commented out in the web.config which I was testing with when I set disableResourceTypeDete

[2020-11-30 18:29] jskeet commented on #5639
Okay. I'll try to reproduce this tomorrow, first logging *with* resource detection (in my Linux cluster) and then with the hard-coded ones.

I don't use log4net very often so I may go down a few cul-de-sacs first I'm afraid, but hopefully we'll get there.

[2020-11-30 22:06] shawn-mccorkell commented on #5639
So, I tested a few scenarios.

With the following in web.config

`  <log4net>
    <appender name="CloudLogger" type="Google.Cloud.Logging.Log4Net.GoogleStackdriverAppender,Google.Cloud.Logging.Log4Net">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message" />
      </layout>
      <logId value="stdout" />

[2020-12-01 11:03] pavelrybar opened #5644 "Unable to set V3.TranslateTextRequest.Contents property - it is marked ReadOnly."
Trying to reproduce code in example https://cloud.google.com/translate/docs/advanced/quickstart#translate_v3_translate_text-csharp (rewritten to VB):

[code]
Library metadata attached (renamed *.vb->*.txt)
[TranslateTextRequest.txt](https://github.com/googleapis/google-cloud-dotnet/files/5622071/TranslateTextRequest.txt)

The same problem using NuGet package 2.1.0

#### Environment details

  - OS

[2020-12-01 11:16] jskeet commented on #5644
The property itself is deliberately read-only, but it returns a mutable collection. See [this FAQ entry](https://googleapis.github.io/google-cloud-dotnet/docs/faq.html#how-can-i-modify-repeated-fields-and-maps-in-protobuf-messages) for more details in general.

I'm not sure that VB supports collection initializers within object initializers in the same way that VB does. (At least, I can't find the

[2020-12-01 11:39] jskeet commented on #5639
(As an aside, in GitHub issues, if you put code/xml/json etc blocks in triple-backtick fences, it makes them *much* easier to read. I've edited your comment above *just* in terms of that. I'm about to try to reproduce the issue.

Please could we keep this issue to *just* the resource type? It's already been about platform detection and resource type handling - I don't want to introduce a third asp

[2020-12-01 11:59] pavelrybar commented on #5644
Thank you for solution.

[2020-12-01 11:59] #5644 closed

[2020-12-01 13:16] shawn-mccorkell commented on #5639
Sounds good, I think the main issue here is that the resource type is not being detected properly, I would prefer that fix then having to specific manually.

Interested to know if it detects on Linux, possible Windows GKE only issue.

[2020-12-01 14:35] jskeet commented on #5639
Okay, update... on my Linux cluster, the `container_name` label is not detected, but the monitored resource otherwise matches the one written by stdout.

I have not yet managed to get *anything* written with the log4net provider, but I *have* managed to write log entries directly with the raw API client. Unfortunately log4net is enough of a black box that it's very hard to work out what's going on

[2020-12-01 15:36] jskeet commented on #5639
Okay, some progress. It turns out that log4net 2.0.11 has a bug that stops it from working properly on Linux. Once I'd upgraded to log4net 2.0.12, I was able to log with a directly-obtained `ILog`.

Both automatic and manual resource specification worked fine - but I'd initially got `-` and `_` mixed up in the cluster name in manual specification, which made it look like nothing was being logged.

[2020-12-01 15:44] jskeet commented on #5639
In terms of the buffering - this isn't a buffer that waits until it's full before logging. It's a buffer so that log entries can still be written *while the logging RPC is taking place*. The RPC happens in the background, to avoid slowing down your application, but they're still written as soon as they can be, while sticking to one RPC in flight at a time. So I *think* you can just remove your `ma

[2020-12-01 19:00] failure-checker[bot] opened #5645 "Warning: a recent release failed"
The release PR #5643 is still in a pending state after several hours

[2020-12-01 19:03] jskeet commented on #5645
This is known - it's due to the release freeze. Should be sorted in about 13 hours.

[2020-12-01 19:03] #5645 closed

[2020-12-01 19:19] shawn-mccorkell commented on #5639
Awesome, thanks for all your work on this, I will try your suggestions

[2020-12-01 22:07] failure-checker[bot] opened #5646 "Warning: a recent release failed"
The release PR #5643 is still in a pending state after several hours

[2020-12-01 22:15] jskeet commented on #5646
Again, will be fixed tomorrow. Will leave this open to stop another issue being created.

[2020-12-01 22:36] shawn-mccorkell commented on #5639
I reverted back to all the suggestions you posted above and switched my log to log4net to make it easier to find, see config below.

The container name is still not showing up, probably related to the GAX detection on Windows in GKE. My logs are showing up under VM Instance and the text payload below.

I think once the GAX detection issues are fixed all will work as expected.

Thanks again for all

[2020-12-01 22:44] jskeet commented on #5639
Great - that's how I'd expect without resource detection. I *would* expect it to all be fine with explicit resource specification though. Will close this now, but please subscribe to the two issues linked above to follow their progress :)

[2020-12-01 22:44] #5639 closed

[2020-12-01 22:45] jskeet commented on #5639
Oh, and I think you can remove the remaining `resourceLabel` bits from your XML - those are *only* used if either you've disabled resource detection, or it doesn't detect anything at all. (So if you've just included it for local debug for example, that's fine.)

[2020-12-02 18:22] jskeet commented on #5636
Any more information about this? Have you been able to try via registering the type converter?

[2020-12-02 18:23] jskeet commented on #5646
Release has now been published.

[2020-12-02 18:23] #5646 closed

[2020-12-04 01:45] michaelcastle commented on #5231
I've now been monitoring this for a while now and it seems to be reliable after the move to k8s. Which is great news for us.

[2020-12-04 07:33] jskeet commented on #5231
@michaelcastle: Very glad to hear it! I'll close this for now, but please add another comment if you have more information or if there are any further issues.

[2020-12-04 07:33] #5231 closed

[2020-12-04 17:53] JohnGalt1717 commented on #2225
Given that most of us would be using Azure Keyvault or similar, it would be highly useful to be able to pull the values of the json values into Azure keyvault and then pass those secrets as simple parameters when creating the credentials.

(even if it was a file in dev, it would be in the config secrets on the dev machine)

The current way is very problematic in C#.

[2020-12-04 18:01] jskeet commented on #2225
@JohnGalt1717:

You can do exactly that - once you've got the JSON, you could use `GoogleCredential.FromJson`...

[code]

... or if you've got a stream, you can use:

[code]

(I don't think `FromJson` existed when I wrote the Noda Time code.)

I think that's about as simple as we can make it from the Google side. What would you expect to be provided to make this simpler?

[2020-12-04 18:03] JohnGalt1717 commented on #2225
@jskeet  That adds an unnecessary step forcing me to push it into json which is redundant and not how C# encourages you to work and defeats the built-in configuration providers.  None of the options provided are consistent with how .NET core works and follow patterns from other languages that aren't desirable in C#.

[2020-12-04 18:10] jskeet commented on #2225
@JohnGalt1717: I still don't really understand what you're asking for. You wrote "it would be highly useful to be able to pull the values of the json values into Azure keyvault" which suggested to me that you *did* want to store the JSON in KeyVault. I certainly think it's simpler to store *one* blob of data (the JSON) in KeyVault than store each of the 10 fields separately in KeyVault.

Additiona

[2020-12-04 18:20] jskeet commented on #2225
Note that if you *do* want to create a `ServiceAccountCredential` directly, you can do so:

[code]

If you want to wrap that in a `GoogleCredential`, you can use `GoogleCredential.FromServiceAccountCredential`.

[2020-12-07 07:03] jskeet commented on #5636
Closing as we can't do anything without more information - and hopefully registering the type converter works anyway. We can reopen if more information is provided.

[2020-12-07 07:03] #5636 closed

[2020-12-07 07:04] jskeet commented on #5633
I'll look into this today.

[2020-12-07 11:19] umitkavala commented on #5578
@jskeet I've updates benchmark test results with proper testing. (above)

[2020-12-07 11:24] jskeet commented on #5578
Thanks. It's still frustrating to me that we have to create a string at all. But I haven't looked at alternatives yet. (Perhaps try using `TextWriter.Write(ReadOnlySpan<char>)`?)

[2020-12-07 11:53] umitkavala commented on #5578
I'll try to avoid string 👍 and try ReadOnlySpan

[2020-12-07 13:16] jskeet commented on #5633
Fixed in #5663 and #5665

[2020-12-07 13:16] #5633 closed

[2020-12-07 17:06] umitkavala commented on #5578
Actually System.IO.Pipe has `ReadOnlySequence<byte>` to write textWriter.
[code]

[2020-12-07 18:41] Talento90 opened #5667 "Google Cloud Diagnostics Tracing - Service Name"
I am using the following package in order to provide tracing metrics to stackdriver (http://googleapis.github.io/google-cloud-dotnet/docs/Google.Cloud.Diagnostics.AspNetCore/index.html).

I can see all traces in Stackdriver but I cannot filter by service name. Is there any way to set the service name when configuring the trace middleware?

[code]

[2020-12-07 18:51] jskeet commented on #5667
(I'll look at this in detail tomorrow.)

[2020-12-07 20:58] amanda-tarafa commented on #5667
Google.Cloud.Diagnostics.AspNetCore and Google.Cloud.Diagnostics.AspNetCore3 rely on the [Google Trace API](https://cloud.google.com/trace/docs/reference/v2/rpc/google.devtools.cloudtrace.v1#google.devtools.cloudtrace.v1.PatchTracesRequest) which doesn't support specifying Service and Service Version at the trace or Span level.
And if you take a look at the [documentation](https://cloud.google.com

[2020-12-07 21:55] umitkavala commented on #5578
![image](https://user-images.githubusercontent.com/3861934/101408933-66e2ce80-38dd-11eb-837a-f82980b7a066.png)
All 3 implementation together (fastest to slowest):
**1- Default Implementation using  `TextWriter.Write(ReadOnlySpan<char>)` ( .NET Standard 2.1)**
[code]
**2- System.IO.Pipelines**
[code]
**3- RecyclableMemoryStream +  `TextWriter.Write(ReadOnlySpan<char>)` ( .NET Standard 2.1)**
Implem

[2020-12-08 06:57] jskeet commented on #5578
I'm surprised that there's still so much allocation, and I'd like to look at that more - but I'm afraid I won't be able to spend any time reviewing anything around this until the New Year.

[2020-12-08 08:21] umitkavala commented on #5578
Sure. In the mean time I'll have a look better solution.
last thing : what would you focus on this issue? utfjsonwriter also has string operations.

I wish happy new year to you and your family.

[2020-12-08 08:58] jskeet commented on #5578
I'm afraid I'd need to spend longer looking at it than I have spare time right now just to work out what to focus on... I suggest you just explore the space.

[2020-12-08 12:05] jskeet commented on #5634
This has now been released in Google.Cloud.Logging.NLog version 3.2.0

[2020-12-08 12:05] #5634 closed

[2020-12-08 16:24] jskeet opened #5671 "Emulator-based builders should use CopyCommonSettings"
Currently with any of the APIs that support EmulatorDetection, if you configure the builder to use the emulator *and* you set a custom GrpcAdapter, the adapter property is ignored. Ditto for UserAgent, QuotaProject etc. Usually for an emulator most of these aren't important, but we should honour them anyway.

We'd want to copy the common settings, then set the emulator detection to None (and proba

[2020-12-08 18:20] tritone opened #5672 "storage: add support for PublicAccessPrevention"
We need to add support for a new field publicAccessPrevention in the bucket IAM configuration for storage. Full details are available in [this doc](https://docs.google.com/document/d/1o_ElQg4c8enEx8OYa3irrUYFKADmHFbRn7dC9g287sI/). This should include ability to create buckets with this field set, get the field, and set the field. We'd also like an integration test that verifies that the feature wo

[2020-12-08 19:35] JohnGalt1717 commented on #2225
So my hack was to convert the .json file into base64 and put that in key vault and then use the fromJson method.  Not optimal but it will do for now.

[2020-12-08 19:38] jskeet commented on #2225
@JohnGalt1717: I don't see why you'd need to use base64 here... the JSON file is inherently text, which is what what `KeyVault` deals with already (via `SecretBundle.Value`) isn't it? Certainly the code I used for NodaTime a long time ago didn't need to base64-encode anything.

What happened when you tried storing the JSON *without* using base64?

[2020-12-08 19:39] JohnGalt1717 commented on #2225
@jskeet The reason why is that you can't put in multi-line strings in the online editor for Azure Keyvault so you can't just paste in a json file as an example.

[2020-12-08 19:44] jskeet commented on #2225
Ah - in that case I'd just take out the line breaks, but still keep it as text :) (Or submit it programmatically still with the line breaks in, which I'd expect to work.) The JSON parsing code definitely doesn't require the line breaks in, so it shouldn't fail on that front.

[2020-12-08 19:46] JohnGalt1717 commented on #2225
@jskeet Or just copy and paste base64 and be done since this is designed to defeat the built in configuration mechanisms of .net.  Hence I took the shortest route between 2 points so that I don't have to deal with Google hostility to .NET.

[2020-12-08 19:49] jskeet commented on #2225
There's no hostility to .NET, and it's not "designed to defeat the built in configuration mechanisms of .NET". I think we should conclude the discussion at this point.

[2020-12-08 19:51] JohnGalt1717 commented on #2225
Ok.  Sure.  Let's ignore the fact that there is virtually 0 documentation for any of firebase for .NET as a small example and the entire setup for FirebaseApp configuration is not don't in a .net way.

Over and out.

[2020-12-08 21:41] Kapusch commented on #5249
Hello @jskeet , it's been a long time but finally, you were right !

I've been able to reproduce this exception in a .NET Core project, and after I switched from Access Token to JSON Google Credentials, it was ok !

Thank you very much.

[2020-12-08 21:52] jskeet commented on #5249
Hooray - thanks so much for getting back to me. It's always nice to get a sense of closure :)

[2020-12-09 08:49] jskeet commented on #5671
Actually it probably makes more sense for there to be a new GAX method specifically for this use case. There are specific properties that *shouldn't* be set here, around credentials etc. So the steps will be to create the new GAX method, then when we next release GAX (which isn't particularly urgent; I don't think it's worth doing a release just for this issue) we can update all the emulator-suppo

[2020-12-09 09:55] amanda-tarafa commented on #5671
When you say a new method, you mean something like `BuildForEmulator`? I'd be fine with that as long as client code can keep calling `Build` only and we internally detect whether the emulator is set or not and call the new `BuildForEmulator`. Else client code has the duplicity of setting the emulation detection property and knowing when to call one or the other method. Or did I understood wrong?

[2020-12-09 10:03] jskeet commented on #5671
It would be something like `CopySettingsForEmulator` - definitely nothing new for *user* to call. This is just an internal tidy-up. We should do a proper audit of which properties make sense to copy and which don't when we create the method.

[2020-12-09 10:13] jskeet opened #5674 "Access Approval service rename is broken"
The service renaming for Access Approval needs to happen _after_ the gRPC code has been generated, as otherwise it will use the wrong names.

Instead of a pregeneration.sh, we need midmicrogeneration.sh, in the same was as for PubSub and Bigtable.

We also need to modify the gRPC service config.

Will get on this now and then release a beta02.

[2020-12-09 10:25] jskeet commented on #5674
As an alternative plan for future clients, we could patch the generated gRPC code - it has a `static readonly string __ServiceName` field that just needs to be fixed up. It depends where we want the change to be visible, basically.

[2020-12-09 10:46] amanda-tarafa commented on #5671
Yep, totally onboard.

[2020-12-09 11:15] orchowski opened #5677 "Google.Cloud.Logging.Nlog - Log correlation with traces"
Hi!

**Is your feature request related to a problem? Please describe.**
I can't correlate stackdriver logs in the tracing panel inside the google console.
![image](https://user-images.githubusercontent.com/17548765/101622328-33a45a80-3a17-11eb-9363-83ea54ee1b0b.png)

I think that's because of the lack of fields like **trace**, **traceId** mentioned here https://cloud.google.com/logging/docs/refere

[2020-12-09 11:22] jskeet commented on #5677
Assigning to Amanda who knows more about the relationship between logging and tracing than I do. I strongly suspect this will be tricky to do without just providing some kind of interface (to be implemented by the user) for "here's how I discover the current trace".

[2020-12-09 11:22] #5674 closed

[2020-12-09 11:29] orchowski commented on #5677
@jskeet or by convention. Do you want to place a trace in the log entry? Then we can look at the JSON payload and assign the same values to it.
**trace** from payload -> **trace** inside logEntry

Less complicated i think. Or it'd be better to copy these fields from contextproperties

[2020-12-09 11:31] amanda-tarafa commented on #5677
We do this automatically for the Google.Cloud.Diagnostics.AspNetCore* libraries, which do both tracing and logging (not suggesting you change to that by the way). I'd have to take a look at the NLog lib in more detail, to confirm the best way to do this, but I believe that indeed, something as what @jskeet  suggests will be necessary, and then we can obtain the trace values provided by that user i

[2020-12-09 11:33] jskeet commented on #5677
@orchowski: I don't think I'd want to tie this to using a JSON payload. It would *perhaps* be reasonable to have a property that could be specified in NLog entries that would be extracted automatically, but I'm not sure yet.

[2020-12-09 16:10] folsen1969 commented on #5249
Hi to both,

Maybe I should post a different question since my case is slightly different in that I have tried access to Firestore using the JSON private key file downloaded from Firebase Authentication console in UWP App and WPF App. They both fail with Access denied on the JSON file. So it may be purely a UWP/WPF issue (I'm learning from scratch). It works fine as a .NET Console app.

Maybe I'll

[2020-12-09 16:36] yoshi-automation opened #5679 "Synthesis failed for Google.Cloud.AccessApproval.V1"
Hello! Autosynth couldn't regenerate Google.Cloud.AccessApproval.V1. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/f1dbb2b9-b2b2-400f-91d2-cc30773fb5db/targets/github%2Fsynthtool;config=default/tests;query=google-cloud-dotnet;failed=false).

[2020-12-09 17:47] jskeet commented on #5679
I'll look into this. I suspect I messed up earlier somehow...

[2020-12-09 17:49] jskeet commented on #5249
@folsen1969: I would suggest asking a new question, although I'm afraid I don't know much about the Firebase Authentication console and what kind of credential it provides. It sounds like the error is about *how you load the file* rather than anything Firestore-specific though. I don't have any specific examples for those or Xamarin, but the file loading part should be fixable via tutorials about

[2020-12-09 18:08] #5679 closed

[2020-12-09 19:03] amanda-tarafa commented on #5677
OK, first for associating log entries to traces we are talking about three values: `TraceId`, `SpanId` and `TraceSampled` (false indicates either that the trace was not sampled on the backend or that whether it was sampled or not was unknown at the time of writing the log entry). `SpanId` and `TraceSampled` don't need to be set, but if we are going to add the feature, we should support it fully. F

[2020-12-09 19:24] snakefoot commented on #5677
For NLog the expected approach would be the use of Layout-properties on GoogleStackdriverTarget.

The user can then configure the Layout-property to use the wanted layoutrenderer, and the user can also register [custom layoutrenderers](https://github.com/NLog/NLog/wiki/How-to-write-a-custom-layout-renderer) to capture context.

[2020-12-09 19:29] christophergunn opened #5682 "Firebase DateTime instances must be UTC"
Hello,

**Is your feature request related to a problem? Please describe.**
I am attempting to store an object containing a non-UTC DateTime in Firestore.

 **Describe the solution you'd like**
I would like non-UTC DateTime values to be able to be persisted.

 **Describe alternatives you've considered**
Writing a custom value converter seems over the top, but I have considered this.

 **Additional

[2020-12-09 19:36] jskeet commented on #5682
Firestore simply doesn't have a type for representing this data. It has a timestamp type, but that's defined in terms of UTC. You might want to consider storing the data as a string instead.

[2020-12-09 19:43] jskeet commented on #5682
To expand a bit now I'm not on a mobile - if you really want to store the values as `Timestamp` entries in the documents, you could use `DateTime.SpecifyKind` to convert to a value with a `Kind` of `Utc` without changing the local value - but I'd think very carefully before doing that, as these aren't really timestamps in the sense of "an instant of time".

[2020-12-09 22:43] amanda-tarafa commented on #5677
@snakefoot thanks for the info. It did feel like I was going down a rabbit hole earlier. I'll reply in more detail tomorrow.

[2020-12-10 06:53] jskeet opened #5683 "Investigate Access Approval failures"
For some reason, ListApprovalRequests is failing with an unknown error. It works using the REST .NET library, and it works using the gRPC API from Java, so we need to work out what's going on here. Although my suspicion is that it's to do with the renaming, I did attempt to effectively test it without the renaming, and it still failed. Need to look into it.

[2020-12-10 15:26] amanda-tarafa commented on #5677
@orchowski I might be able to work on this some next week, but I can't be sure right now. If it's not next week, then I won't get to it till next year.

@snakefoot , again, thanks for the info.

We probably wound't do that. After all, Google.Cloud.Diagnositcs.* is just one way in which traces can be managed. We even, recently, got a feature request (#5044) to support external traces in the logging

[2020-12-10 15:31] amanda-tarafa commented on #5667
@Talento90 I'll be closing this issue because I believe there's nothing we can do on this repo. But please do leave a comment if you believe otherwise.

[2020-12-10 15:31] #5667 closed

[2020-12-10 16:02] snakefoot commented on #5677
The NLog.Web.AspNetCore-nuget-package contains a layoutrenderer called [${aspnet-request-headers:HeaderNames=MyHeaderName}](https://github.com/NLog/NLog/wiki/AspNetRequest-Headers-Layout-Renderer). Maybe it is just a matter of transforming the contents of the Google-Request-Header ?

[2020-12-10 19:19] Kapusch commented on #5249
Hi @jskeet ,

I remember you said that this library is expected to be used for server-side applications.
And as you said, this is probably why access token doesn't have transaction permissions.

However, I have implemented security rules for Cloud Firestore (and Storage), and these rules are based on Authenticated User Uid. For example :
`request.auth.uid`

These rules cannot work if I use GoogleS

[2020-12-10 19:31] jskeet commented on #5249
I'm afraid I know nothing about the security rules for Firestore itself - I make sure the credentials that you provide get to the server correctly, and that's about it.

I don't have any recommendations around the use of transactions in this sort of environment - I would suggest following one of the paths described in the normal [Firebase support](https://firebase.google.com/support) for advice fr

[2020-12-10 20:43] Kapusch commented on #5249
You're kidding, you were very reactive and helpful from the beginning ! :)

Thanks for your very good support, I will ask for some help through Firebase support.
Will get back at you in case I've got anything new related to this denied permission.

[2020-12-11 16:59] jskeet opened #5687 ""Diff" GitHub action should handle ServiceDirectory changes"
#5686 failed in the Diff GitHub Action with this log:

[code]

We should sort that out...

[2020-12-12 01:58] EatonZ commented on #5629
@jskeet When can you update the version? I am getting this crash too, and NuGet in VS isn't showing any updates for anything.

[2020-12-12 07:17] jskeet commented on #5629
@EatonZ: I'm not on the gRPC team. The only thing *I* can update is the dependency on Grpc.Core, which I will do - but I'm not intending to then release 50+ packages imminently.

It looks like Grpc.Core 2.34.0 has been released now, so you should be able to add a dependency to that yourself, which should solve the problem. I don't know why VS isn't showing you any updates, but adding a direct depe

[2020-12-12 20:46] EatonZ commented on #5629
Yes, that is what I was referring to 🙂

Probably because I don't have it directly installed into my project. Only Google libraries reference it.

Yes, this has fixed it. Thank you.

[2020-12-13 02:39] EatonZ opened #5689 "Google.Cloud.Diagnostics.AspNetCore5"
A version of Google.Cloud.Diagnostics.AspNetCore, named Google.Cloud.Diagnostics.AspNetCore3, was made for .NET Core 3.
Can we expect another "special" version optimized for .NET 5?

[2020-12-13 04:08] amanda-tarafa commented on #5689
It's not about optimization, it's about the breaking changes from ASP.NET Core 2 to ASP.NET Core 3 and that we depended on some of the affected components. That does not seem to be the case for ASP.NET Core 3 to APS.NET Core 5 in which [breaking changes](https://docs.microsoft.com/en-us/aspnet/core/migration/31-to-50?view=aspnetcore-5.0&tabs=visual-studio)  seem to be around Blazor and around mode

[2020-12-14 08:52] jskeet commented on #5682
Please add more information to this issue if you still think it needs further work, otherwise I'll close it at the end of the week.

[2020-12-14 09:11] jskeet commented on #5683
Update: generating *just* the gRPC client, this succeeds:

[code]

[2020-12-14 09:13] #5687 closed

[2020-12-14 09:21] jskeet commented on #5683
Okay, I'm now very confused - it seems to be okay. Maybe my smoke test was broken and the newly recreated one is okay... hard to say.

[2020-12-14 09:50] #5683 closed

[2020-12-14 12:18] amanda-tarafa commented on #5689
@EatonZ are you seeing any specific problems when attempting to use Google.Cloud.Diagnostics.AspNetCore3 in ASP.NET Core 5? Or did my answer addressed your question?
Of course if you encounter problems please let us know and we'll look at them.

[2020-12-14 13:49] jskeet commented on #5629
Looks like Grpc.Core 2.34.0 has issues in terms of strong-naming - if it's working for you, that's great... if you run into problems, follow https://github.com/grpc/grpc/issues/24935 for progress.

[2020-12-14 16:20] EatonZ commented on #5629
@jskeet Fortunately .NET Core doesn't seem to have problems with that anymore.🙂

[2020-12-14 16:21] EatonZ commented on #5689
@amanda-tarafa You answered it - thank you!

[2020-12-14 16:21] #5689 closed

[2020-12-15 14:08] #5261 closed

[2020-12-15 17:00] failure-checker[bot] opened #5704 "Warning: a recent release failed"
The following release PRs may have failed:

* #5700

[2020-12-15 17:13] jskeet commented on #5704
Yes, this was replaced by #5703 .

[2020-12-15 17:13] #5704 closed

[2020-12-18 06:44] yoshi-automation opened #5709 "Synthesis failed for Google.Cloud.PubSub.V1"
Hello! Autosynth couldn't regenerate Google.Cloud.PubSub.V1. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/5999ee11-d790-40f5-97d0-d47a0e5ac572/targets/github%2Fsynthtool;config=default/tests;query=google-cloud-dotnet;failed=false).

[2020-12-18 07:56] yoshi-automation commented on #5709
Autosynth is still having trouble generating Google.Cloud.PubSub.V1. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/088c5a3b-f1ff-4798-9724-43b77a028085/targets/github%2Fsynthtool;config=default/tests;query=google-cloud-dotnet;failed=false).

[2020-12-18 08:41] yoshi-automation commented on #5709
Autosynth passed, closing! :green_heart:

[2020-12-18 08:41] #5709 closed

[2020-12-18 19:16] jskeet commented on #5682
Closing.

[2020-12-18 19:16] #5682 closed

[2020-12-18 19:39] jskeet opened #5713 "Pub/Sub is semi-broken?"
AppVeyor has failed to build Pub/Sub, but GitHub Actions seem to be okay. I'm confused. Either way, we need to sort it.

[2020-12-18 19:56] jskeet commented on #5713
GitHub actions has failed now too... although it passed in PR #5712 itself, which still concerns me. I believe it'll be easy to fix, but I want to understand it first.

[2020-12-19 07:28] #5713 closed

[2020-12-19 15:32] shawnshaddock commented on #2755
I have the exact same scenario, my server is creating resumable urls and sending them back to the browser. When the browser attempts to POST the file to the URL I'm getting the CORS error. I've set CORS on my bucket and also included Orgin = "*" in my UploadObjectOptions when initiating the upload request.

The files do appear in my bucket, but they are only 2KB in size.

I also read that the API

[2020-12-19 15:47] jskeet commented on #2755
@shawnshaddock: Everyone on the team is now on vacation until January, but if you could provide all the parts for me to reproduce this when we're back at work, I'll definitely have a look.

[2020-12-19 16:14] shawnshaddock opened #5715 "CORS issue when posting to URI produced by Google.Cloud.Storage.V1.StorageClient.CreateObjectUploader in browser"
@shawnshaddock: Everyone on the team is now on vacation until January, but if you could provide all the parts for me to reproduce this when we're back at work, I'll definitely have a look. Please open a new issue for this rather than using this one, just to keep things clearer.

_Originally posted by @jskeet in https://github.com/googleapis/google-cloud-dotnet/issues/2755#issuecomment-748490529_

[2020-12-19 16:22] shawnshaddock commented on #5715
Here is relevant client and server code

[code]

[code]

This is a sample of the URI that is returned
``https://storage.googleapis.com/upload/storage/v1/b/BUCKET-NAME/o?uploadType=resumable&upload_id=UPLOAD-ID``

[2020-12-19 16:45] jskeet commented on #5715
Thanks - will look at this when I get a chance. It's just possible it'll be before January, but probably not I'm afraid.

[2020-12-19 17:33] shawnshaddock commented on #5715
@jskeet does Google.Cloud.Storage.V1.StorageClient use the Cloud Storage JSON API?

[2020-12-19 17:36] jskeet commented on #5715
Yes.

[2020-12-19 20:08] shawnshaddock commented on #5715
I should point out that even though the browser is throwing a CORS error the files do get successfully uploaded into the bucket. This is still an issue because it prevents me from getting the JSON response from the storage api and also prevents me from being able to handle actual upload errors.

[2020-12-20 19:51] shawnshaddock opened #5716 "Google.Cloud.DocumentAI.V1Beta2 - StatusCode="InvalidArgument", Detail="Invalid request fields: parent.""
I'm trying to process a document using Google.Cloud.DocumentAI.V1Beta2 but am getting an error when I call DocumentUnderstandingServiceClient.ProcessDocumentAsync

The full error message is:
[code]

This is my code
[code]

[2020-12-20 20:04] jskeet commented on #5716
I'm afraid the maintainers of this repository can't really provide support for API-specific errors for the most part. Looking at the documentation, it *looks* like you shouldn't have to specify the `Parent` property, but I suggest you try doing so. (If you're specifying `Parent` somewhere that you haven't shown us, check the value carefully, as that looks like it's the problem.)

[2020-12-21 02:48] shawnshaddock commented on #5716
I tried that and still got the same error

On Sun, Dec 20, 2020, 3:04 PM Jon Skeet <notifications@github.com> wrote:

[2020-12-21 03:23] shawnshaddock commented on #5716
[code]

[2020-12-21 03:51] shawnshaddock commented on #5716
It turns out that the location in the parent should be "us" not "us-east1"

[2020-12-21 03:51] #5716 closed

[2020-12-23 16:57] mancku opened #5719 "When using WhereIn in a field alongside with a range operator on another field, it throws an exception"
Hi,

After reading the documentation on [query limitations](https://cloud.google.com/firestore/docs/query-data/queries#query_limitations) I understood that the current behavior is a bug, but as I'm not 100% sure, I'm rather opening the issue as a Support request.

I'm trying to filter a collection by some document ids (less than 10) and by a property of the document, to know which users logged in

[2020-12-23 17:05] jskeet commented on #5719
Firstly, I'm on vacation at the moment (as is the rest of the .NET client library team) so please forgive any delays in response. But I suspect this is more of an issue with the documentation of Firestore queries rather than a bug in the .NET library - I expect this is a server-side query limitation.

I'll check your query when I'm back at work (January 5th) but until then you might want to try pe

[2020-12-24 11:19] mancku commented on #5719
@jskeet thank you for getting back to me, especially while being on vacation.
You were absolutely right, I tried with Node.js and got the same error.

Here's my Node.js code
[code]
And here's the error

    at Object.callErrorFromStatus (C:\Dev\node-firestore\node_modules\@grpc\grpc-js\build\src\call.js:31:26)
    at Object.onReceiveStatus (C:\Dev\node-firestore\node_modules\@grpc\grpc-js\build\sr

[2020-12-24 13:19] jskeet commented on #5719
Thanks for testing that. I'll close this issue, but when I'm back at work I'll raise this with the Firestore team to clarify the documentation.
Thanks for raising it so clearly.

[2020-12-24 13:19] #5719 closed

[2020-12-30 18:57] Snyder9195 opened #5722 "Grpc.Core.RpcException: Status(StatusCode="Unavailable", Detail="failed to connect to all addresses")"
Unable to pull message from Google Pub/Sub

Please reference issue #3112 as similar.

#### Environment details

  - OS: Windows 10 Pro version 2004
  - .NET version: .Net Core 3.1
  - Package name and version: Grpc.Core v2.34.0

![image](https://user-images.githubusercontent.com/7947336/103374902-b2d0ff80-4aa6-11eb-8d06-21d17510f52c.png)

#### Steps to reproduce

  1. Pass in project id, subscript

[2020-12-30 19:11] jskeet commented on #5722
I'll look at this next Tuesday when I'm back from vacation.

But my guess is that you're behind a proxy that doesn't handle http/2 properly.

Note that the Google Cloud Storage library doesn't use gRPC, so that working is consistent with this being a gRPC connectivity issue.

[2021-01-04 01:21] davidobrien1985 opened #5818 "Compute API"
Hi,

We were trying to use the dotnet SDK (our app is written in dotnet standard) to interact with some Compute resources (VPCs, Firewalls, Instances etc) but had to realise that the dotnet SDK doesn't support any compute APIs.

When is this planned for?
It seems like the node SDK has a much broader support: https://github.com/googleapis/google-cloud-node

@jskeet any timeline here for this?

Than

[2021-01-04 07:28] jskeet commented on #5818
I believe you're looking for the [Google.Apis.Compute.v1](https://www.nuget.org/packages/Google.Apis.Compute.v1/) library.

There are two "styles" of .NET client libraries for Google APIs - the libraries in this repository target APIs that support gRPC, but the Compute API doesn't do that yet, so you need to use the older "REST-style" libraries. The repo for those libraries if you need to raise an

[2021-01-04 07:28] #5818 closed

[2021-01-04 11:08] davidobrien1985 commented on #5818
@jskeet thanks. That SDK did not come up when following the documentation for dotnet sdks.
Might be worth updating the docs, even if that SDK is in maintenance mode.

[2021-01-04 11:27] jskeet commented on #5818
@davidobrien1985: Could you tell me exactly which page you were on? We have a lot of different documentation describing what's available, and it would be useful to know which part was confusing. (Some parts of it is easier to update than others.)

[2021-01-04 22:38] davidobrien1985 commented on #5818
@jskeet yep, this one here: https://cloud.google.com/dotnet/
It only links to https://github.com/googleapis/google-cloud-dotnet

[2021-01-04 22:40] jskeet commented on #5818
@davidobrien1985: Great, thanks. There are tricky aspects in terms of exactly how to emphasize which libraries, but I'll definitely bring it up internally.

[2021-01-05 08:03] jskeet commented on #5722
Okay, taking another look at the code and description, this really does sound like it's a network configuration issue. One way to test that would be to try using a different gRPC-based API.

Here's a reasonably minimal example.

Program.cs:

[code]

And the project file:

[code]

Could you try that (editing it to use your project ID) and see whether it works? I suspect you don't even need to enabl

[2021-01-05 08:49] jskeet commented on #5715
Just as an FYI, I'm now back to work, and trying to get my head round this. I've hardly done anything with CORS, so I don't yet understand all the details... I'll need to plod through it.

Out of interest, are you able to share what the browser request and response look like in terms of headers etc? I don't know enough about what I'm looking at to say whether that's going to be relevant, but it ma

[2021-01-05 11:48] #5672 closed

[2021-01-05 12:55] jskeet commented on #5715
Okay, I've had a look now... and with `Origin="*"` there's no `Access-Control-Allow-Origin` header in the response to the second request (the one that actually performs the upload)... but if you specify an *actual* origin, that's then returned in the response, which I believe would make the browser happy.

In your application, are you able to specify a particular origin in the `UploadObjectOptions

[2021-01-05 13:26] Snyder9195 commented on #5722
Performing the test above I still get the same error as before with the Translate package installed.  I'm assuming by getting the same error as before using a different library that we are not handling http2 correctly.  Would you say that is correct based on this additional test?

![image](https://user-images.githubusercontent.com/7947336/103651350-74689400-4f2f-11eb-8cfa-884a214db68e.png)

Status

[2021-01-05 14:23] jskeet commented on #5722
Right, so that definitely sounds like a network issue. I'd talk to your network administrator to find out more about your network topology and see if they can help you. If you need to specify a proxy, the GRPC_PROXY, HTTP_PROXY or HTTPS_PROXY environment variables are the ones to set.

[2021-01-05 15:08] shawnshaddock commented on #5715
I can provide an actual origin, I was using * as a desperate attempt to fix the issue and also so that I didn't have to manage different origins in development/testing/production. But if that's how to solve it I can do it.

[2021-01-05 15:18] jskeet commented on #5715
Right - I don't know whether there is any *other* way of doing it, but I believe that approach *will* work, and hopefully isn't too hard.

[2021-01-05 15:22] shawnshaddock commented on #5715
I will try it and report back my results. I'm busy with something else ATM so I don't think it will be today, but hopefully sometime this week.

[2021-01-05 15:32] jskeet commented on #5715
@shawnshaddock: Great, thanks. I'll leave the issue open for the moment, in the hope that we'll be able to close it when you've been able to try it.

[2021-01-05 17:00] failure-checker[bot] opened #5822 "Warning: a recent release failed"
The following release PRs may have failed:

* #5819

[2021-01-05 17:52] jskeet commented on #5822
Ah - the release hasn't failed, it just hasn't been triggered. Closing this. Will sort out tomorrow.

[2021-01-05 17:52] #5822 closed

[2021-01-06 22:00] jskeet commented on #5452
Closing as we've now released everything we think we want to.

[2021-01-06 22:00] #5452 closed

[2021-01-07 14:31] doubbz commented on #5715
hi here,

We have the same problem on our project :
* POST request initiating upload (with url for resumable upload in response header `Location`) OK
* next PUT request is KO because there is no cors header in the response

CORS configuration on the bucket is ok (confirmed by the first POST request initiating upload)

Setting the origin header to something particular rather than `*` **does not fix

[2021-01-07 15:05] jskeet commented on #5715
@doubbz: I think it would be worth filing that as a separate issue with more details, if you're happy doing that.

[2021-01-07 15:47] Snyder9195 commented on #5722
Working with my network administrator we were able to successfully make a good connection.  I will close the issue as resolved, thank you for the assistance.

[2021-01-07 15:47] #5722 closed

[2021-01-07 15:52] jskeet commented on #5722
Wonderful - I'm so glad to hear it all worked out. Thanks for getting back to us.

[2021-01-07 17:25] doubbz commented on #5715
@jskeet sure and thank you for your answer. I should maybe open a new issue because, here's the thing, we are working with a ReactJS frontend client and a PHP backend.

IMO the problem might be the same because the scenario is identical as shawnshaddock's one. My js client needs an auth signature in order to perform the first POST request initiating the [resumable upload session](https://cloud.goo

[2021-01-07 17:38] jskeet commented on #5715
@doubbz: I don't believe the URL in the original question is a signed one. If it were, I'd expect it to use `UrlSigner`.

Given that .NET isn't involved *at all* in your scenario, I think it would be better to either ask in one of the [language-neutral Storage support routes](https://cloud.google.com/storage/docs/getting-support) or the google-cloud-php repo... as I don't work in either Javascript

[2021-01-07 17:44] doubbz commented on #5715
@jskeet I think you're right, it may not be the same use case because of this first step for the signature.

Thank you anyway

[2021-01-07 20:51] TiagoBrenck opened #5826 "Not able to invoke POST request to google cloud function"
#### Environment details

  - OS: Win64
  - .NET version: Core 3.1
  - Package name and version:  Google.Cloud.Functions.V1

#### Steps to reproduce

  1. Use the [Google Docs cloud function sample](https://cloud.google.com/functions/docs/writing/http#parsing_http_requests) that expects a `POST` request with data in the body.
  2. Create a .NET console app, that leverages `Google.Cloud.Functions.V

[2021-01-07 20:53] jskeet commented on #5826
I'll have a look at this tomorrow.

[2021-01-07 20:55] jskeet commented on #5826
(I'd note that this library uses gRPC though - I wouldn't expect to see any regular HTTP/1.1 request from this code, other than to obtain credentials.)

[2021-01-07 21:27] TiagoBrenck commented on #5826
I see. Well, either way, the sample function didnt receive the `name` attribute. It should have returned the message "Hello world, my name is post", but name is null.

[2021-01-08 06:22] shawnshaddock commented on #5715
I tested setting a specific Origin in the UploadObjectOptions and it does indeed add the access-control-allow-origin header and works without error.

[2021-01-08 06:22] #5715 closed

[2021-01-08 07:08] jskeet commented on #5715
Great - thanks for getting back to us.

[2021-01-08 08:17] jskeet commented on #5826
Hmm... just tried this with a test function that dumps the HTTP request, and it came through with the expected body.

Can I ask how you're checking what was returned? I can't see how you're getting the HTTP response from the function in your code. (The `CallFunctionAsync` method just starts it executing; it doesn't contain any response.)

I've just tried the [C# version of the Cloud Functions samp

[2021-01-08 20:30] TiagoBrenck commented on #5826
@jskeet I deleted my Cloud Function and created again copying/pasting the C# version as is, and it works. Before I was posting a more complex object in the body, so I might have messed up something there.

Thanks,

[2021-01-08 20:30] #5826 closed

[2021-01-08 20:45] jskeet commented on #5826
@TiagoBrenck: Okay - feel free to open another issue if you end up with things broken again and don't know why.

[2021-01-11 23:52] michaelcastle opened #5828 "Remove dependency for libdl from .net 5 pubsub library"
I've recently updated my project to .net 5.0 and use Google.Cloud.PubSub.V1 2.2.0. I run the code in a linux docker container.

Since the upgrade to .net 5 I have an error when attempting to check if a topic exists and create it if it doesn't, using the following code

`var topicName = TopicName.FromProjectTopic(gcpPubSubSettings.ProjectId, topicId);`
`var publisher = await PublisherServiceApiClie

[2021-01-12 06:47] jskeet commented on #5828
I strongly suspect this isn't really a dependency on libgdiplus itself - I suspect it's just that adding libgdiplus adds libc-dev, which is what the native gRPC code depends on.

No, we're not going to remove our dependency on Grpc.Core - gRPC is the underlying transport the libraries use, and it's fundamental to the libraries.
It *is* possible to use the Microsoft gRPC implementation, but for Pub

[2021-01-12 06:47] #5828 closed

[2021-01-12 13:06] TomasWeg opened #5832 "DocumentSnapshot ConvertTo<> set null to property values"
Its simple. When I run the following code:
`List<CustomerDetails> customerDetails = snapshot.Documents.Select(x => x.ConvertTo<CustomerDetails>()).ToList();`

The only property that is parsed correctly is the document id. I will show the CustomerDetails.cs class.

[code]

It does not throw any exception, only all the properties are null except the Id.

[2021-01-12 13:41] jskeet commented on #5832
So what does the document look like, and what created it? Can you provide a complete example that creates the document, stores it, then loads it?
Note that if the document has fields of `email`, `businessName` etc, that would explain it - you'd need to use `[FirestoreProperty("email")]` etc.

[2021-01-12 13:50] TomasWeg commented on #5832
@jskeet  The document is created with that c# class, and the field names are Pascal Case, just like the C# class. Its strange because it stopped working today!
Here is an example of a Document.

![2021-01-12 10_50_07-Window](https://user-images.githubusercontent.com/31850785/104322662-f7579480-54c3-11eb-9402-10773b78ba9d.png)

[2021-01-12 14:03] jskeet commented on #5832
So the exact same code was working before? That's very strange. If you examine the snapshot (or convert each document to a `Dictionary<string, object>`), does it have all the right data? I'm wondering whether the query is selecting only some fields.

If you could provide a complete repro (e.g. a console app that creates a document, stores it, then reloads it) that would help to reproduce the probl

[2021-01-12 14:05] TomasWeg commented on #5832
I tried to convert to a dictionary and contains the right data. And yes,
the exact same code was working yesterday, I will test it out with a
console app

El mar., 12 de enero de 2021 11:03, Jon Skeet <notifications@github.com>
escribió:

[2021-01-12 20:30] TomasWeg commented on #5832
@jskeet hey look at this. I tried creating a new document from CustomerDetails.cs and
![2021-01-12 17_30_02-Window](https://user-images.githubusercontent.com/31850785/104369195-d4e16d80-54fb-11eb-8c50-ae160a553dcc.png)

"This document does not contains any data"

[2021-01-12 20:34] jskeet commented on #5832
Again, please provide a complete example, so I can run it and see it for myself. It now sounds like there are two different problems: one serializing and one deserializing. But without a complete example that I can reproduce the problem, I won't be able to help I'm afraid.

[2021-01-12 20:39] #5832 closed

[2021-01-12 20:40] TomasWeg commented on #5832
I'm so sorry, I have created an internal class FirestorePropertyAttribute which extends Attribute with keyboard shortcuts. I found it and deleted and now it's working. So sorry.

[2021-01-12 20:40] jskeet commented on #5832
Ah, that would definitely explain it. Glad we got to the bottom of it.

[2021-01-13 01:27] michaelcastle commented on #5828
Thanks for the quick response, workaround and explanation.

[2021-01-13 07:02] jskeet commented on #5671
This is now ready to be implemented next time we do a GAX release - which may well be for self-signed JWTs.

[2021-01-13 08:43] davidobrien1985 opened #5835 "Google.Cloud.Asset.V1 exception System.IO.FileNotFoundException"
Hi all,

`<PackageReference Include="Google.Cloud.Asset.V1" Version="2.6.0" />`

A few days ago we started getting the following error:

[code]

![image](https://user-images.githubusercontent.com/8554521/104427543-77baea00-55d7-11eb-862f-f0406d2c44d9.png)

@jskeet any idea why this might be?

[2021-01-13 08:54] jskeet commented on #5835
We'll need more context I'm afraid - which version of .NET are you using, etc? You say this started a few days ago - I doubt that it would have changed from not working to working without *something* else changing, so did you change how you were deploying this, or some dependency?

Are you able to provide a minimal example that would help us to reproduce the issue, e.g. a Dockerfile + C# code? (I

[2021-01-13 09:04] davidobrien1985 commented on #5835
As someone used to people telling me "nothing changed" and then discovering that "lots of things changed", I'm afraid the only thing that did change was that we renamed the solution / project. The way the code is built and deployed hasn't changed at all.

All we do is:

[code]

This runs `netcoreapp3.1` on Linux (this hasn't changed either).

[2021-01-13 09:39] jskeet commented on #5835
Hmm. The actual code calling the client is very unlikely to be the problem - because basically it's failing to load the gRPC library which is used for all the communication.

Are you able to inspect the file system in the deployed environment? If you look at the exception, it shows which files it's looking through - is libgrpc_csharp_ext.x64.so present at all as far as you can find?

Could you tel

[2021-01-13 11:22] olavloite opened #5837 "[Spanner] ClrType `decimal` is currently mapped by default to `FLOAT64`"
The .NET `decimal` ClrType is [currently mapped](https://github.com/googleapis/google-cloud-dotnet/blob/34b71e8b87efdbc3043906d9b2dd7d1b8e9bb43d/apis/Google.Cloud.Spanner.Data/Google.Cloud.Spanner.Data/SpannerDbType.cs#L279) to the Spanner `FLOAT64` data type. That is correct in the sense that both are floating point types. It does however not correspond with the default mapping for other database

[2021-01-13 11:29] jskeet commented on #5837
It sounds like that could break users who are currently using FLOAT64. The FromClrType method looks like it's only called by SpannerParameter.SpannerDbType, if the type hasn't been set explicitly. So I can see that change causing a problem if someone were trying to update a FLOAT64 column, and only specifying the value (as a decimal). Does that sounds correct as a compatibility issue?

We could ma

[2021-01-13 11:30] jskeet commented on #5837
(Assigned to @olavloite just so that it *has* an assignee, but we don't need to decide just yet who will make the change.)

[2021-01-13 11:30] olavloite opened #5838 "[Spanner] feat: Add `SpannerDate` struct"
The Spanner client library currently uses `datetime` as the default type for both `TIMESTAMP` and `DATE` columns. That produces some challenges:
1. Setting a `datetime` value on a `SpannerParameter` without explicitly also setting the `DbType` or `SpannerDbType`, will always create a `SpannerParameter` with type `TIMESTAMP`. This makes it difficult to make a good default mapping for generic framew

[2021-01-13 11:31] olavloite opened #5839 "[Spanner] feat: add `SpannerDate` struct"
The Spanner client library currently uses `datetime` as the default type for both `TIMESTAMP` and `DATE` columns. That produces some challenges:
1. Setting a `datetime` value on a `SpannerParameter` without explicitly also setting the `DbType` or `SpannerDbType`, will always create a `SpannerParameter` with type `TIMESTAMP`. This makes it difficult to make a good default mapping for generic framew

[2021-01-13 11:31] olavloite commented on #5838
(Sorry for the double report, GitHub gave a 404 on the first submit)

[2021-01-13 11:31] #5838 closed

[2021-01-13 11:33] jskeet commented on #5839
This sounds like something that would be hard to do comprehensively without it being a breaking change - perhaps we should wait until we next want to do a new major version?

[2021-01-13 11:35] olavloite commented on #5837
Yes, but I think that Spanner will [automatically coerce](https://cloud.google.com/spanner/docs/conversion_rules) that value to a `FLOAT64` server side. I'll try to see if I can test that to verify if my assumption is right.

[2021-01-13 11:40] jskeet commented on #5425
Closing as this will be handled internally.

[2021-01-13 11:40] #5425 closed

[2021-01-13 12:16] amanda-tarafa commented on #5837
But even if Spanner coerces the NUMERIC value to FLOAT64, the potential precission loss has already happened, just because of going through NUMERIC first? So, the surprise might not be a conversion error, but (arguiably worst) a silent loss of precission?
Or am I missing something?

[2021-01-13 13:01] olavloite commented on #5837
1. In the [current implementation](https://github.com/googleapis/google-cloud-dotnet/blob/42669a736bf56e8f02873d03dfa9d549340d6957/apis/Google.Cloud.Spanner.Data/Google.Cloud.Spanner.Data/SpannerDbType.ValueConversion.cs#L169) the `decimal` value will be converted to a `double`. This conversion [can loose precision](https://www.geeksforgeeks.org/decimal-todouble-method-in-c-sharp/#:~:text=This%20m

[2021-01-13 15:17] amanda-tarafa commented on #5837
I think the worry is not that there might be precission loss (it's actually unavoidable unless we had 1 to 1 type mapping). My worry would be that this would introduce a _different_ type of precission loss. If someone using decimals to update a FLOAT64 column (clr double and Spanner FLOAT64 seem to be the same, so converting to double has not added "extra" precission loss) has worked around _that_

[2021-01-13 22:44] nathan-c opened #5840 "PubSub: Server-side flow control"
Following #5119, we have been waiting for server-side flow control to be enabled on the server. In the [release notes](https://googleapis.github.io/google-cloud-dotnet/docs/Google.Cloud.PubSub.V1/history.html) for v2.2.0 (2020-12-02) it is mentioned that `Server side flow control is on track to be enabled by the 2nd week of December 2020.`

I cant see any mention of server-side flow control being

[2021-01-14 07:01] jskeet commented on #5840
I'll ask the PubSub team today and update this issue when I hear something.

[2021-01-14 16:19] jskeet commented on #5840
I've now heard back:

So it should already be live. Please let me know if you have any issues with this; I'll close the issue now, but we can reopen it if necessary.

[2021-01-14 16:19] #5840 closed

[2021-01-14 16:50] nathan-c commented on #5840
This is great news, thanks!

[2021-01-18 12:43] davidobrien1985 commented on #5835
Sorry for the delay, I tested a bit further and also went to SO
https://stackoverflow.com/questions/65774297/built-azure-function-for-linux-doesnt-include-dependency

Works fine on Windows, but not on Linux. Can you confirm this behaviour on your side, @jskeet ?

[2021-01-18 13:15] jskeet commented on #5835
@davidobrien1985: We have integration tests running with Linux and there's no problem. When you say "Works fine on Windows but not on Linux" how were you testing it? Was that in Azure Functions as well, or locally?

Fundamentally I suspect this is an oddity with how Azure Functions deploys things, which makes it hard for me to investigate.

[2021-01-18 15:56] jskeet commented on #5835
Okay, I've reproduced it now in Docker using the Azure Functions host. Looking into it...

[2021-01-19 01:54] davidobrien1985 commented on #5835
@jskeet thanks for reproducing this while I was asleep ;) I reached out to @anirudhgarg from the Azure Functions team and made them aware of this issue as well. Let's see what they see. It does look like a bug there.

[2021-01-19 02:26] smdelacruz opened #5856 "Error while loading assemblies: /Users/runner/.nuget/packages/grpc.core/2.34.0/runtimes/win/native/grpc_csharp_ext.x64.dll"
We want to build our Xamarin iOS using Microsoft Azure Hosted agent with MacOS VM but we are having an error when it tries to load the GRPC assemblies.

The closes error I saw on the web regarding this issue is [GRPC error](https://github.com/googleapis/google-cloud-dotnet/issues/1186#issuecomment-313594914) which was closed long time ago.

#### Environment details

  - OS: Macos-latest
  - .NET v

[2021-01-19 06:43] jskeet commented on #5856
I don't see any relation to the Google Cloud Client Libraries in this question, and Xamarin isn't a supported platform for those libraries anyway, so I'm going to close this issue. However, I may still be able to help you in passing, so to speak.

I know that Grpc.Core split out its mobile support into separate packages as of Grpc.Core 2.34.0, so that may well be the problem. There's a new Grpc.Co

[2021-01-19 06:43] #5856 closed

[2021-01-19 08:13] jskeet commented on #5835
(Copied from the Stack Overflow answer. Closing the issue now.)

It looks like this is a problem that was fixed in Grpc.Core 2.34.0 (by [this commit](https://github.com/grpc/grpc/commit/7324c5cae76a9748873e0f21af807d088a41a2d2#diff-2c65a0fc0ff30ef55102682b95465c44e758e53921b0f36be1b427f1feb12e18), I believe). If you add an explicit dependency on Grpc.Core 2.34.0, like this:

[code]

... that seems

[2021-01-19 08:13] #5835 closed

[2021-01-19 08:14] jskeet commented on #5835
(When Grpc.Core 2.35.0 is out, we'll probably start depending on that instead - but I'm not in a rush to do that just because of this, given that it's a relatively rare deployment scenario for Google libraries, and the workaround is fairly simple.)

[2021-01-19 09:52] davidobrien1985 commented on #5835
@jskeet amazing. Thanks for your help. This did fix it for me. I forwarded this to the Azure Functions team. Let's hope they do fix this soon.

[2021-01-19 13:36] olavloite opened #5857 "[Spanner] `WITH` clause is not recognized as query command type"
The Cloud Spanner SQL dialect allows queries to start with either `SELECT` or `WITH`. The latter is currently not recognized as a keyword indicating the start of a `SELECT` command in the client library.

See https://cloud.google.com/spanner/docs/query-syntax for full query syntax reference.

Example query that is a valid Cloud Spanner query, but that is not recognized:

[code]

[2021-01-19 13:54] jskeet commented on #5857
I suspect this is what needs changing: https://github.com/googleapis/google-cloud-dotnet/blob/master/apis/Google.Cloud.Spanner.Data/Google.Cloud.Spanner.Data/SpannerCommandTextBuilder.cs

[2021-01-19 13:56] olavloite commented on #5857
Yes, I already have a fix, I'm just adding a number of test cases for other types of commands as well.

On the same note: The current implementation also does not work if the user has specified statement hints and/or comments. That seems to me like a lot less of a problem, but still not 100% correct in this case.

[2021-01-19 14:00] jskeet commented on #5857
Right. Happy to see any degree of fix, whether it's a really complete one or a stop-gap.

[2021-01-20 01:51] davidobrien1985 commented on #5835
@jskeet any idea why I'd now be seeing this error here?

![image](https://user-images.githubusercontent.com/8554521/105115817-a2e49280-5b1d-11eb-90a2-e8eea8e2f877.png)

This is still only an issue on Linux and only since that issue with the GRPC.Core library started.

This snippet here should be enough to reproduce:

[code]

[2021-01-20 03:50] jskeet commented on #5835
Expanding the results view needs to iterate over all the pages, making RPCs as it goes. You're trying to do that *in the debugger* which may well have all kinds of restrictions in terms of how it interoperates with native code... I'm not particularly surprised that fails, even if it's a bit of a pity. It's also possible that it *does* work, but takes longer than the debugger is willing to wait.

I

[2021-01-20 05:11] davidobrien1985 opened #5861 "Google.Cloud.Asset.V1 issue enumerating results on Linux"
[code]

netcoreapp3.1

As mentioned on the other [issue ](https://github.com/googleapis/google-cloud-dotnet/issues/5835#issuecomment-763272314) we referenced the Grpc directly and that got rid of the `FileNotFound` error.
However, now we are, still only on Linux, experiencing issues where our GCP Asset Inventory query fails.

We see this error in prod and also locally with the debugger attached.

[2021-01-20 05:16] jskeet commented on #5861
Are you able to reproduce the error on Linux in a regular console app, or is this *only* a problem under the Azure Functions host?

[2021-01-20 05:18] jskeet commented on #5861
Also please clarify this:

Do you mean you're only seeing the problem when the debugger is attached, but both locally and in prod? If you're seeing it when a debugger *isn't* attached, what does that look like? (The only error you've shown so far is in the debugger.)

[2021-01-20 05:21] davidobrien1985 commented on #5861
Need to test this. Might have to get one of our devs to do this though later on. I'm dangerous enough with code to make small changes ;) I'll let you know how we go. For now, this happens on the Azure Functions host.

No, there's no debugger in prod.
In prod the Function times out after 5 minutes and the app stops. No exception is thrown.

[2021-01-20 05:26] jskeet commented on #5861
Okay. I'll write a small console app myself first to check I can get that working on Linux and see sensible results, then I'll try it as a function. It may not be today though (with lots of other things going on).

[2021-01-20 06:17] davidobrien1985 commented on #5861
Well, what do you know... I managed :D

[code]

![image](https://user-images.githubusercontent.com/8554521/105134857-295f9b00-5b43-11eb-8cb3-4c76dc2122ba.png)

Works as a console app then.
Any idea why this wouldn't work in an Azure Functions runtime? (I know you're far from being responsible or even super familiar with that runtime) Appreciate any pointers.

[2021-01-20 06:27] jskeet commented on #5861
I'm just looking at your do/while loop, by the way - it seems to be equivalent to just:

[code]

The returned `PagedAsyncEnumerable` is specifically designed to avoid user code having to include that sort of loop.
(I'm still trying it with your code though... I wouldn't expect that to be the issue.)

I note there's a potentially-significant difference between your console app and the function, by

[2021-01-20 06:32] jskeet commented on #5861
Okay, I've reproduced the issue now. Investigating - although I suspect unless it's actually pretty simple to fix, I'll rapidly be in "I don't know enough about gRPC to fix this" territory.

[2021-01-20 06:34] davidobrien1985 commented on #5861
Sorry, ignore the `async`, no, that was just a test and shouldn't have been copied here. It doesn't make a difference to the issue.

Any help is appreciated. Great OSS support @jskeet !

[2021-01-20 06:53] jskeet commented on #5861
Okay, so far:

- I've reproduced it in Linux in Docker; the console app works, and the function doesn't
- Using the simpler code of `var resources = assetClient.SearchAllResources(requestOptions).ToList();` doesn't change this (although I'd recommend using it)
- Changing to Grpc.Core versions 2.34.1 or 2.35.0-pre1 doesn't help

Will keep looking (although again, time will be spotty). Ideally I'd l

[2021-01-20 09:09] stinkidog opened #5862 "Code breaking without throwing any failure when trying to work with firestore emulator"
I've been searching everywhere for direction with this, but not had the fortune of finding any help. I have a project which contains the gcp emulator (including firestore, pubsub, realtime db, cloud functions etc), and a .NET 5 service, both running in their own separate docker containers.

I want to be able to push to the firestore in the emulator from my .NET service using this library, but I'm

[2021-01-20 09:30] jskeet commented on #5862
I find it hard to understand how a method can return abruptly but without throwing an exception... I normally find that when something looks like that, there's really an exception being swallowed somewhere.

Please could you provide a complete example? A console application (which could still run in your container of course) would be ideal as it would make it simpler to reproduce completely than a

[2021-01-20 12:44] jskeet commented on #5861
I've reproduced this in a simpler way without involving the client libraries at all, and filed https://github.com/grpc/grpc/issues/25208 to cover it. I'll close this issue now as there's nothing we can do within the client library repo to fix this, I'm afraid. You may well want to share that issue link with the Azure Functions folks as well.

[2021-01-20 12:44] #5861 closed

[2021-01-20 15:58] stinkidog commented on #5862
Thank for the reply Jon. So what I've done to play with this, is to create a .NET 5 console app - absolutely nothing special about it.
I've added the google.cloud.firestore nuget package, and added the following DummyClass:

    public class DummyService
     {
        public async Task PushToFirestoreEmulator(string someData)
        {
            FirestoreDb db = new FirestoreDbBuilder

[2021-01-20 16:10] jskeet commented on #5862
Right - I suspect that may well be the problem.

I expect this has been solved by a later version of Grpc.Core - please try adding an explicit dependency to Grpc.Core version 2.34.0 or higher in your project file.

[2021-01-20 17:15] psyonix-ecarpenter opened #5866 "PubSub AckDeadline of 10-14 seconds causes subscriber failure"
#### Issue Summary

We wanted to be able to control our `SubscriberClient.Settings` values without needing an image rebuild/deploy, so made changes in code to expose these as environment variables via the deployment's YAML. Previously this was done manually and required an image rebuild/deploy. The two notable fields we're attempting to control are `AckDeadline` and `FlowControlSettings` -> `maxOu

[2021-01-20 17:22] jskeet commented on #5866
Please could you add logging to record what values for the environment-configured variables are actually getting?

There's nothing in the client library that should care where the values in the settings came from. If some combination of values is causing a problem, it should be possible (and simpler) to demonstrate the problem by hard-coding them in the settings - and I'd expect to be able to see

[2021-01-20 17:37] psyonix-ecarpenter commented on #5866
Here's what we emit via Console.WriteLine and see in logs when a pod comes up:
[code]

An interesting point about hardcoding - in prior images with hardcoded settings we didn't experience this issue, only when we moved to pulling them in from env. I'll work on getting this to repro locally and post back here with my findings.

[2021-01-20 17:41] jskeet commented on #5866
If you *do* find that hard-coding works, then I suspect you've got a timing issue - where you're starting the subscriber before the static fields have been populated. (We can't currently see that code.)

Reproducing locally will be very helpful indeed - thanks. (We'll get there :)

[2021-01-20 21:55] psyonix-ecarpenter commented on #5866
Running our consumer locally I was able to consistently reproduce this issue and got an error back as well. Here's some pseudo'ish code of main:

[code]

I specified settings (initialized within `Processor()`) as:
[code]
And then to determine whether there were messages being processed added a little one-liner into our message processing:
[code]

Interestingly I didn't even get to the point of pro

[2021-01-20 22:21] jskeet commented on #5866
I will have a look tomorrow. It would still be easier to help with a complete example instead of snippets though.

[2021-01-20 22:28] jskeet commented on #5866
Oh, and do you have a complete stack trace for that inner exception? That would be very helpful.

[2021-01-20 22:54] psyonix-ecarpenter commented on #5866
Sure, here's the stack trace:
[code]

[2021-01-21 02:21] smdelacruz commented on #5856
@jskeet Thank you for the suggestion. I have created this issue https://github.com/grpc/grpc/issues/25202.

[2021-01-21 06:11] davidobrien1985 commented on #5861
@jskeet thanks Jon! Very much appreciate your great support with this and the other issue!

[2021-01-21 09:03] jskeet commented on #5866
Notes to self: the `Delay` exception is from this line:

[code]

So presumably `_autoExtendInterval` is invalid, although it's not clear what it would be yet.

[2021-01-21 09:11] #5857 closed

[2021-01-21 09:25] jskeet commented on #5866
The auto-extend interval is determined here:

[code]

Here `_modifyDeadlineSeconds` will be the value you've used for `AckDeadlineSeconds` and the default ack extension window is 15 seconds, so we'd end up with a negative `_autoExtendInterval` - hence the exception.

I suspect that arithmetic is wrong, but this is an area I'm not familiar with.

[2021-01-21 09:27] jskeet commented on #5866
Okay, I've got a minimal, complete example that demonstrates the problem:

[code]

Steps:

- Create a pubsub topic, and include the default subscription
- Run the above code, passing in the project ID and subscription ID
- Wait for just over 30 seconds
- Observe the exception from HandleExtendLease

[2021-01-21 09:43] stinkidog commented on #5862
Added Grpc.Core has progressed past the point where it would break without error! Your suggestion of creating a demo console app is proving valuable as its giving much more information than the main service which is still a bit odd.

Still no success in posting to the emulator in firestore as of yet, that's for me to figure out though unless you have any direction on good resources for this?

Than

[2021-01-21 09:46] jskeet commented on #5862
To connect to the emulator, you should just be able to set the EmulatorDetection property as you're already doing, and make sure that the `FIRESTORE_EMULATOR_HOST` environment variable is set.

If you know you want to connect to the emulator and never production (for now) I'd recommend using `EmulatorDetection.EmulatorOnly`. That way it will fail if the environment variable isn't set, which should

[2021-01-21 10:18] chrisdunelm commented on #5866
This looks like a settings validation (and possibly documentation) issue, rather than a bug in the deadline calculations.

`AckDeadline` is the lease time for pulled messages. `AckExtensionWindow` is the duration before `AckDeadline` when a lease-extension is performed.
Currently it is not being validated that `AckDeadline` is greater than `AckExtensionWindow`.
Because `DefaultAckExtensionWindow`

[2021-01-21 12:25] stinkidog commented on #5862
Thank you for your help so far - I've been trying many things again before coming back this morning but I feel I'm so close. I can push to the production firebase in the cloud successfully, but still not the emulator. This is what I'm trying to do to work with the emulator:

    public async Task PushToFirestoreEmulator(string someData)
        {

            FirestoreDb db = new FirestoreDbBuilde

[2021-01-21 12:42] jskeet commented on #5862
If your emulator is in a different container, then I wouldn't expect `localhost:8080` to work from the client - because *its* idea of localhost will be the client container, not the emulator container.

Does that same code work if you run both the client and the emulator in the same container? (That's what I'd expect.)

I expect that to run them in separate containers, you'll need to start the emu

[2021-01-21 16:51] #5866 closed

[2021-01-22 08:11] jskeet commented on #5866
Until the new version is released (which will be on Monday) I would recommend setting AckDeadline to 20s. This means you'll take out a lease for 20s, but after 5s the lease will be renewed. (If you set AckDeadline to something smaller, you'll currently be renewing the lease almost *immediately*, which I suspect will lead to more lease renewal.)

[2021-01-22 10:31] stinkidog commented on #5862
So that entirely makes sense, but since your answer I've still had no luck getting this running. The emulator has been provided from an external source and runs via docker-compose which triggers some script to set it up. I may be able to modify that, but my gut feeling is it wont help.

I've verified that the code works, as I was able to push to the production firestore my slightly modifying to co

[2021-01-22 11:24] jskeet commented on #5862
I suspect this is the problem:

[code]

My understanding - which may well be incorrect - is that that's telling the emulator to expose itself just on the loopback device, which it won't be exposed externally.

That should be easy to test: start your emulator container, and try to connect to port 8080 from outside. (Just using wget, curl or telnet should be enough to confirm whether anything's actu

[2021-01-22 15:26] psyonix-ecarpenter commented on #5866
That was my thinking as well. Thank you guys for the quick attention and turnaround!

[2021-01-25 09:53] jskeet commented on #5866
The fix has now been released in 2.3.0. Please let us know if you run into any issues.

[2021-01-25 11:29] jimfum opened #5881 "INFO: Unit testing techniques for code using GC libraries"
I've been searching a lot but getting good enough information or guidance around how to unit test code that uses google cloud library in .NET has been so far hidden from me. Hope you could point me to the right direction.

As the interaction with the library is through static methods it makes it harder to abstract. GC library isn't the only one doing it this way (actually many basic .NET framework

[2021-01-25 11:58] jskeet commented on #5881
Please could you clarify what you mean by "google cloud library"? We have many, many packages, and it would be helpful if we could talk about one very concrete package to avoid miscommunicating.

The gRPC-based packages generally expose an abstract class with virtual methods on - so you could write your own fake or mock based on that.

You talk about "interaction with the library through static me

[2021-01-25 12:14] jimfum commented on #5881
Hi jskeet, thanks for a prompt reaction. We can be specifically talking about `Google.Cloud.PubSub.V1` and `Google.Cloud.Storage.V1`.

Spot on, the main issue is typically the static `XyzClient.Create` (static being a problem) and that it doesn't return a type of an interface but a class (possibly a problem although they are ways to mock classes without interfaces, not sure they're applicable in t

[2021-01-25 12:21] jskeet commented on #5881
The fact that the creation methods return a class rather than an interface *shouldn't* be a problem - because they're abstract classes. I'd expect any decent mocking library to cope with that, and we mock them in unit tests.

You shouldn't need to mock the creation methods at all - instead, inject the *results* of those creation methods, and put the calls to the actual creation methods into the pr

[2021-01-25 15:08] Uvindu96 opened #5882 ""Request had invalid authentication credentials" issue with Vision API"
Hi all,

Recently I'm using Google Vision API in my image processing application, I got everything right but after deploying the application in the Kubernetes cluster I'm getting an error like this,

![Screenshot from 2021-01-24 23-03-52](https://user-images.githubusercontent.com/31029812/105721974-2aca0280-5f4b-11eb-88c3-bd95c55e514a.png)

And this is the code sample

![Screenshot from 2021-01-25

[2021-01-25 15:56] amanda-tarafa commented on #5882
A few questions to try and find out what might be happening.

Can you post a screenshot of your Cluster's and Pool's configuration? In particular the Security section and the Metadata section for each? (Black out any sensitive info that might be showing of course).

When you try with your service account:
- When you specify your service account, are you doing so with the `GOOGLE_APPLICATION_CREDEN

[2021-01-25 16:52] jimfum commented on #5881
Thanks again. I'm still missing a piece here:
[code]
The client I'm getting from StorageClient.Create() needs to be my mocked client because really, I don't want to call the real client that touches the cloud - instead I want to mock the call and its result and as far as I know I cannot inject/replace code that's behind a static call. Still the only solution that comes to mind is to create my own

[2021-01-25 17:03] jskeet commented on #5881
The idea is to have something half way between: inject the dependency (StorageClient) rather than initializing it in the constructor:

[code]

... and use the fact that `StorageClient` is just an abstract class to use mocking - or other test double approaches, such as a fake - to make it testable.

Your production code would call `StorageClient.Create()` to pass the client into the constructor, wh

[2021-01-25 17:10] jimfum commented on #5881
Got it. Will give that a try. Didn't think I could be faking an abstract class as I'm used to do that with interfaces. Also I hope ASP.NET Core dependency injection will be able to inject the real client into the constructor for production.

Much appreciated.

[2021-01-25 18:00] jskeet commented on #5881
That much is easy. [Here's an example](https://github.com/GoogleCloudPlatform/functions-framework-dotnet/blob/master/examples/Google.Cloud.Functions.Examples.StorageImageAnnotator/Function.cs) I use in the Functions Framework, using ASP.NET Core dependency injection for Storage and the Vision API:

[code]

[2021-01-26 10:46] amanda-tarafa commented on #5882
I'm trying to reproduce, but with no luck so far. It would be useful if you could share some of the information I've requested above.

[2021-01-26 10:48] Uvindu96 commented on #5882
@amanda-tarafa  Thanks for the quick response. These are the screenshots of my cluster configuration

Node pool security
![Screenshot from 2021-01-26 15-20-37](https://user-images.githubusercontent.com/31029812/105830387-72a06680-5feb-11eb-9338-4e2c6a71dfe4.png)

Node pool metadata section
![Screenshot from 2021-01-26 15-25-34](https://user-images.githubusercontent.com/31029812/105830454-89df5400-

[2021-01-26 10:59] Uvindu96 commented on #5882
When I try to create new credientials for the vision API it says I already got the required credentials.
![Screenshot from 2021-01-26 16-23-48](https://user-images.githubusercontent.com/31029812/105836755-abdcd480-5ff3-11eb-97d2-be129683c89c.jpg)

[2021-01-26 11:07] amanda-tarafa commented on #5882
That's perfect info @Uvindu96 . I'll try to reproduce with your configuration and get back here as soon as I know more.

Can I ask you to do one last test. Can you disable Workload Identity and try again? Report back even if you get a different error.

[2021-01-26 12:12] jimfum commented on #5881
@jskeet so far so good and quite clean. However, `SubscriberClient.CreateAsync(subscriptionName)` is tougher. Because of the argument that in my case is known only at runtime and within the same class that calls it, I cannot extract it our and inject the same way as `SubscriberServiceApiClient` where we call just `SubscriberServiceApiClient.Create()`.

[2021-01-26 12:16] jskeet commented on #5881
So you might want to wrap *just that* part into a provider... you could even just inject a `Func<string, Task<SubscriberClient>>` rather than writing your own abstraction. Then use `name => SubscriberClient.CreateAsync(subscriptionName)` for the production code, and `name => Task.FromResult(fakeSubscriberClient)` in your tests.

[2021-01-26 15:18] Uvindu96 commented on #5882
@amanda-tarafa  yes sure, I will try this without workload identity and let you know the results.

[2021-01-26 18:45] aruns05 opened #5885 ""Wildcard resource ids must not contain / (Parameter 'value')""
"Wildcard resource ids must not contain / (Parameter 'value')"
Getting this error while running the code.

[code]

[2021-01-26 18:50] jskeet commented on #5885
Please could you post the full stack trace? That will make it easier to work out what's going wrong. I strongly suspect there's a problem in the proto that this is generated from.

[2021-01-27 01:03] aruns05 commented on #5885
@jskeet

System.ArgumentException: "Wildcard resource ids must not contain / (Parameter 'value')"
  at Google.Api.Gax.PathTemplate.Segment.ValidateWildcardValue(String value)\n   at Google.Api.Gax.PathTemplate.ValidateResourceIds(String[] resourceIds)\n   at Google.Api.Gax.PathTemplate.ExpandWithService(String serviceName, String[] resourceIds)\n   at Google.Api.Gax.PathTemplate.Expand(String[] re

[2021-01-27 07:16] #5881 closed

[2021-01-27 07:17] jskeet commented on #5885
That stack trace doesn't look like it corresponds to the code you've provided - it looks like you're setting the `ResourceAsResourceName` property of a `GetIamPolicyRequest`, and that's where it's failing.

I will say that this part of your code looks like it could cause a problem though, and indeed cause the exception you're seeing.

[code]

The second argument there is meant to just be the secre

[2021-01-27 07:34] aruns05 commented on #5885
Hello @jskeet     Below is the code and the stack trace. I am getting error at
            AccessSecretVersionResponse result = client.AccessSecretVersion(secretVersionName);
Also when I go and see Secret manager i didnt find secret iD , I could see only name. Can you advise
<img width="1792" alt="Screenshot 2021-01-27 at 1 02 12 PM" src="https://user-images.githubusercontent.com/15269023/10595797

[2021-01-27 07:48] jskeet commented on #5885
Right, that's not the stack trace you showed before, but that makes more sense.

As I say, the problem is the second argument you're passing to the `SecretVersionName` constructor. You should just pass the secret ID, not the complete resource name.

[2021-01-27 10:50] aruns05 commented on #5885
@jskeet   Thanks a lot that worked. Also is there any way we can restrict access to the secret manager altogether NOT the individual secrets

[2021-01-27 10:52] jskeet commented on #5885
I'm afraid I don't know exactly what you mean, but I doubt I'd have the answer anyway - the maintainers of this repository know a lot about the client libraries, but not about the individual APIs. I suggest you use one of the support routes listed at https://cloud.google.com/secret-manager/docs/getting-support to ask SecretManager-specific questions.

I'll close this issue now as I don't think any

[2021-01-27 10:52] #5885 closed

[2021-01-27 13:03] Uvindu96 commented on #5882
@amanda-tarafa I tested again as you requested, First I disable the workload identity. And also I manually disable the vision API and enable the API again. After those steps, I deployed the application  again and now I'm getting a different error,

![Screenshot from 2021-01-27 18-27-20](https://user-images.githubusercontent.com/31029812/105994556-c4b9b880-60cd-11eb-97f9-14778f8f170e.png)

This the

[2021-01-27 14:55] amanda-tarafa commented on #5882
OK, but this is now something that is expected because of how you have configured your pool:

- For using the [Vision API annote image](https://cloud.google.com/vision/docs/reference/rpc/google.cloud.vision.v1#imageannotator) features, you need one of the following scopes: https://www.googleapis.com/auth/cloud-platform or https://www.googleapis.com/auth/cloud-vision.
- The default access scopes (y

[2021-01-28 10:55] Uvindu96 commented on #5882
@amanda-tarafa  Finally it worked...!!!! The only change I did was adding OWNER permission to the compute engine service account (Which allows all the resources). Thanks for the efforts you took to fix this and for your time. I had a good support from you.

![Screenshot from 2021-01-28 16-22-01](https://user-images.githubusercontent.com/31029812/106128482-710aa600-6185-11eb-8642-06778c34f774.png)

[2021-01-28 11:21] amanda-tarafa commented on #5882
I'm glad it worked! I will close this issue now, since I'm looking at the Workload Identity related problems that you were having at first, internally. If there's some relevant infor, I will share here.

[2021-01-28 11:21] #5882 closed

[2021-01-28 15:36] nathan-c opened #5889 "PubSub: High TCP Connection usage"
I recently upgraded my dev PC (running ubuntu based pop_os) to Ryzen 5900x and found I was regularly seeing the following two exceptions while running a service that is subscribed to 36 subscriptions using SubscriberClient's and also publishing to the same number using PublisherClient's.
[code]
[code]
We maintain a single instance of PublisherClient per topic.

After some debugging, I noticed that

[2021-01-29 11:16] chrisdunelm commented on #5889
Thanks for reporting this, and I agree that this is not ideal - using default parameters should generally not cause errors like this.
Setting `ClientCount` to `1` is indeed the most appropriate way of solving this.

These `PublisherClient` and `SubscriberClient` classes are optimized for high-throughput scenarios, and defaults were chosen with this in mind.
The code avoids multiplexing over a sing

[2021-01-30 10:45] nathan-c commented on #5889
Thanks for the detailed explanation. I agree, changing default behaviour that users may be depending on is usually a bad idea. If it is a server-side bandwidth cap, I wonder if it is possible to use network link speed to scale client counts? I suppose it might also be possible to add some scaling logic to add clients as throughput becomes throttled but I realise this would add a fair bit of comple

[2021-02-01 07:12] jskeet commented on #5889
@nathan-c: That's good feedback, thanks. Chris, let's chat about who gets to write those docs, and we can get them ready for the next release.

[2021-02-01 08:02] dustinmoris opened #5893 "PubSub: PublisherClient.CreateAsync and ShutdownAsync"
I have a quick question and some minor feedback on the PubSub library.

[According to the documentation](https://googleapis.dev/dotnet/Google.Cloud.PubSub.V1/2.3.0/index.html) a `PublisherClient` must be created via the `PublisherClient.CreateAsync` method and later shut down via `publisher.ShutdownAsync`.

My quarrel or misunderstanding with these methods is that they feel very unidiomatic and di

[2021-02-01 08:44] dustinmoris commented on #5893
Also the linked documentation is wrong on the `PublisherServiceApiClient`:

[code]

The Publish method doesn't take a `PubsubMessage` as an argument. It demands a `PublishRequest` and there is no documentation on how to turn a `PubsubMessage` into a `PublishRequest`. There is also no factory method or constructor which tells me how to create a `PublishRequest`.

Is this library still maintained or

[2021-02-01 08:54] jskeet commented on #5893
Yes, the library is still definitely maintained, and that code compiles - it's compiled as part of publishing the documentation.

The `Publish` method of `PublisherServiceApiClient` has the following overloads:

- `PublishResponse Publish(PublishRequest request, CallSettings callSettings = null)`
- `PublishResponse Publish(string topic, IEnumerable<PubsubMessage> messages, CallSettings callSetting

[2021-02-01 08:59] dustinmoris commented on #5893
Ah thanks, my bad! I quickly opened my project in VS Code and there the Intellisense didn't show me more than one overload, but Rider shows me everything 😃

[2021-02-01 10:35] jskeet commented on #5862
Any update on this? We won't be able to help without more information, I'm afraid.
(I'll close this issue at the end of the week if there are no updates.)

[2021-02-01 10:56] stinkidog commented on #5862
It is running now yes. The steps here certainly helped, the missing pieces I believe were down to my own inexperience with Docker.
A bridge network has been explicitly defined in the dockerfile, which hosts all the containers. We can then reference the emulators address simply via:

    environment:
      EMULATOR_HOST: "emulator:8084"

It also turns out that there's some port mapping going on wit

[2021-02-01 10:56] #5862 closed

[2021-02-01 10:59] jskeet commented on #5862
Great - glad it all worked out in the end :)

[2021-02-01 14:52] chrisdunelm commented on #5893
To answer your specific questions:

If you are regularly publishing messages to the same topic then you should create a singleton `PublisherClient` and always use this same instance to publish messages for the lifetime of your application.
You are correct that it's not entirely clear how to do this best in a DI context, although blocking on the `Task<PublisherClient>` returned from `CreateAsync(..

[2021-02-01 16:00] dustinmoris commented on #5893
Thank you for answering all my questions and confirming some of my thoughts! This is very helpful information which I think would be nice to add to the documentation :)

[2021-02-01 16:33] jskeet commented on #5893
Just to clarify one of Chris's points - *most* of the time it's okay to block on CreateAsync, but if it uses default credentials and needs to contact the Compute Engine metadata server, it will be genuinely async.

Chris's PR manages to make it properly synchronous.

[2021-02-01 20:51] jstafford5380 opened #5897 "Establish a trace context in a non-http context."
**Is your feature request related to a problem? Please describe.**
Tracing seems dependent on an HTTP Context. When I am performing a function in response to a message coming in off of pubsub for example, I cannot establish an http context for the "request" nor would I want to, however the trace information may be available on the bus message so I should be able to re-establish the trace context a

[2021-02-01 21:12] jskeet commented on #5897
Tracing itself isn't dependent on an HTTP context. Our ASP.NET Core part is, for natural reasons.

I suspect that the real answer is going to be integration with [OpenTelemetry](https://opentelemetry.io/) - to be honest, I hope that we can provide a good logging format to stdout that will avoid needing a logging API, and OpenTelemetry integration for tracing, allowing us to avoid a "heavy" integra