[2018-07-20 21:20] #2358 closed

[2018-07-20 22:45] tomerpeled commented on #1920
We still see those errors. In the last day there were approx. 700 errors on one of our server machines.

[2018-07-21 08:06] jskeet commented on #1920
Thanks for the information. While obviously it's sad that you're still seeing them, I'm quite glad that it's frequent enough that we'll be able to tell when we *have* sorted it out!

[2018-07-22 11:36] sleepy123 commented on #2371
Hi, i awaited everything but I am still not getting any exception. It is directly jumping from speech = SpeechClient.Create(); to await Initial1():

[2018-07-22 12:20] jskeet commented on #2371
That really would only happen in the case of an exception. Could you prepare a small but complete example so that I can reproduce the problem? Without being able to reproduce this, it's very hard to help further.

[2018-07-23 17:13] amanda-tarafa opened #2375 "Diagnostics.ErrorReporting: We always store 200 OK on ErrorEvent Response Status in Error Reporting."
We aren't really able to get the proper response code anywhere on middleware pipeline so we end up storing 200 in all error entries. This is misleading. We should stop storing http response status code on all error entries.

[2018-07-24 09:12] amanda-tarafa commented on #2169
Partially addressed via #2374.
Pending:

- Asp.Net MVC Error Reporting Snippets

- Asp.Net MVC and Web Api Trace Snippets.

[2018-07-24 17:50] timtye opened #2377 "V2 Support for Browse Carousel Responses"
Browse Carousel responses can be configured via Dialogflow, but are not included in the MessageOneOfCase class and the responses are not included in the FulfillmentMessages list.

[2018-07-25 09:39] Eamonn-Duffy opened #2379 "Why getting Grpc.Core.RpcException StatusCode=Unavailable, Detail=“Connect Failed”, with Google Cloud Firestore 1.0.0-beta05 C# SetAsync? HTTP/2.0 issue?"
Jon Skeet (@jskeet) suggested we file an issue here.

Jon provided a link that _suggests_ HTTP/2.0 may be used in all traffic.

Is this true?

We are behind a Company Proxy (squid-cache) and it **does not** allow HTTP/2.0 traffic.

If this is the issue, is there any way to downgrade the traffic to HTTP/1.1?

The original issue is as follows:

We are using C# with the Google.Cloud.Firestore.1.0.0-b

[2018-07-25 09:54] chrisdunelm commented on #2379
@Eamonn-Duffy The firestore package uses HTTP/2.0 only; and unfortunately there is currently no way to downgrade this to use HTTP/1.1

As far as I can see, squid-cache does not yet support HTTP2, so I guess the only options are to bypass the proxy somehow, or change the proxy to one that supports HTTP2.

[2018-07-25 09:59] Eamonn-Duffy commented on #2379
@chrisdunelm Thank you very much for the clarification. It explains a lot.

Our Systems people need a list of IP Addresses to bypass the Proxy.

Do you know if there is anywhere I can get such a list of IP Addresses for accessing Firestore and any other associated services/domains?

[2018-07-25 11:11] chrisdunelm commented on #2379
@Eamonn-Duffy I don't think there is a list of such IP addresses; partly because I would expect the IP addresses to change over time and location.

However the hostname used by firebase is "firestore.googleapis.com" ([see the code here](https://github.com/GoogleCloudPlatform/google-cloud-dotnet/blob/master/apis/Google.Cloud.Firestore.V1Beta1/Google.Cloud.Firestore.V1Beta1/FirestoreClient.cs#L514))

[2018-07-25 12:31] chrisdunelm commented on #2379
@Eamonn-Duffy Thanks for your feedback; it would seem a shame if only a lack of proxy-HTTP2 support prevents you using firestore, especially as HTTP2 is not exactly new so I'm surprised there are still proxies that don't support it!

If we can be of any further help, please do open a new issue.

I'll close this issue now, but yes you can close an issue you open, and yes generally it's correct to c

[2018-07-25 12:31] #2379 closed

[2018-07-27 06:34] jskeet commented on #2371
Ping for more information. I'm afraid at the moment we're unable to help further. I *strongly* suspect this is just a matter of the `GOOGLE_APPLICATION_CREDENTIALS` environment being set correctly on one machine but not on another, leading to the task returned by `Initial1()` being faulted on the incorrectly-configured machine.

To avoid clutter in this issues list I'll close this issue in a few d

[2018-07-27 10:54] jskeet commented on #2377
Actually, scratch my previous comment - I'm now a bit confused. [MessageOneofCase](https://googlecloudplatform.github.io/google-cloud-dotnet/docs/Google.Cloud.Dialogflow.V2/api/Google.Cloud.Dialogflow.V2.Intent.Types.Message.MessageOneofCase.html) contains "CarouselSelect" and Message has a [CarouselSelect](https://googlecloudplatform.github.io/google-cloud-dotnet/docs/Google.Cloud.Dialogflow.V2/a

[2018-07-27 12:20] timtye commented on #2377
No, browse carousel and select carousel are different and can both be set up in dialog flow. Select carousel let’s you pick an option and submit it in the chat window. Browse carousel lets you specify links that take you out of the app to whatever webpage is specified.

Sent from my iPhone

On Jul 27, 2018, at 5:54 AM, Jon Skeet <notifications@github.com<mailto:notifications@github.com>> wrote:

A

[2018-07-27 12:59] jskeet commented on #2377
Okay - in that case I don't see any support for it in those protos yet.

I'll ask internally, but until the protos have been published, I won't be able to do anything.

[2018-07-27 23:58] snakefoot commented on #2355
Created PR for improving on this #2384

[2018-07-30 11:19] jskeet commented on #2371
Closing for now.

[2018-07-30 11:19] #2371 closed

[2018-07-30 11:21] jskeet commented on #2295
@JustinBeckwith: Given that we have no specific plans to change the .NET client libraries themselves for this, would you be okay with us closing this issue?

[2018-07-30 14:31] theacodes commented on #2295
As long as you are okay with us deprecating or removing this functionality
at some point in the future without any warning to your users, yes.

It's unfortunate that .net does not have a mechanism to warn developers.

On Mon, Jul 30, 2018, 4:21 AM Jon Skeet <notifications@github.com> wrote:

[2018-07-30 14:40] jskeet commented on #2295
@theacodes: In reality it would often be end users rather than the developers, which makes it trickier. (But yes, a side-channel for warnings in general might be useful.)

I think so long as it starts failing with a good error message, I think that's okay. We can put up prominent docs etc.

[2018-07-30 14:40] #2295 closed

[2018-07-30 18:34] timtye commented on #2377
Here is an example from the DialogFlow UI:
<img width="537" alt="screen shot 2018-07-30 at 1 33 12 pm" src="https://user-images.githubusercontent.com/3943903/43416181-329523da-93fd-11e8-9b96-e5a7d4092bc6.png">

[2018-07-30 19:05] jskeet commented on #2377
I've reported this internally as a feature request - there's nothing I can do until it's exposed in the protos, I'm afraid. I'll update this issue when I hear something.

[2018-08-01 14:39] amanda-tarafa commented on #2169
Asp.Net Web Api Trace Snippets cannot be made runnable with OWIN hosted Web Apis because the Asp.Net tracer relies heavily on `HttpContext.Current` and `global.asax` events, none of which are available through OWIN. In fact our Tracer won't work for self hosted Asp.Net Web Apis, which might not be a huge problem in itself specially after .Net Core.
So, we still have pending:

- Asp.Net MVC Error R

[2018-08-01 14:58] amanda-tarafa commented on #2167
Asp.Net Web Api Trace integration tests cannot be written on top of an OWIN hosted Web Apis because the Asp.Net tracer relies heavily on `HttpContext.Current` and `global.asax` events, none of which are available through OWIN. In fact our Tracer won't work for self hosted Asp.Net Web Apis, which might not be a huge problem in itself specially after .Net Core.
So, we still have pending:

- Asp.Net

[2018-08-01 18:57] YASSERRMD opened #2391 "WebhookRequest not binding the parameters"
Hi

I am trying to use parameters property in the WebhookRequest but always having null for the value of parameter property. but when i try get as dynamic i am having all the values.

[code]

the request json

[code]

[2018-08-01 21:02] jskeet commented on #2391
That will be using Json.NET to parse the request - which won't work, I'm afraid. You need to get the Google.Protobuf library to parse the request. At some point we want to make all of this simpler and provide samples, but it's buried in a list of other work to do at the moment.

If you look at #2238 however, you'll see a lot of discussion and code there. To simplify things, this should work for yo

[2018-08-01 21:03] jskeet commented on #2391
(I'll leave this open for the moment in case that doesn't cover it, but I believe you should be fine at that point.)

[2018-08-02 04:08] YASSERRMD commented on #2391
Thank you for the suggestion but your code snippet doesn't work for me but i have choose another way from your suggestion and it worked for me

[code]

[2018-08-02 04:08] #2391 closed

[2018-08-03 15:35] veatcha opened #2405 "[Firestore] Question: Lifecycle recommendations for FirestoreClient / FirestoreDb"
I'm spinning up my own FirestoreDb/FirestoreClient/Channel/Credential chain as part of initializing our connection to Firestore, as recommended, where our credential management doesn't work with the built-in methods.

I'm wondering if there are recommendations for the lifecycle of the FirestoreClient and FirestoreDb - are they expensive to create?  Can I initialize a singleton for the life of my a

[2018-08-03 15:52] jskeet commented on #2405
I'd be interested to know more about the "stream removed" issue as a separate matter (perhaps you could file it as a new issue with more details?) but basically: if you only have a single `ChannelCredential` to use, then the recommended approach is indeed to use a singleton for the life of the app. Note that we did have issues with earlier versions of Grpc.Core - if you're not using 1.13.1 it woul

[2018-08-03 16:04] veatcha commented on #2405
Thanks @jskeet - We had both as a singleton, so I will keep the Channel/Client there, but make a new Db per usage.

We're on 1.13.1, but I can also bring that up to 1.14, and the Firestore package to beta6.

I will see about collecting some more data on the "steam removed"

[2018-08-03 16:07] jskeet commented on #2405
Ooh, Grpc.Core 1.14 is *very* new. (I checked yesterday when I rereleased everything for GAX 2.5.0) I've no idea whether that'll help, but it's worth trying.

Updating the Firestore package shouldn't make any change if you're on a recent version - the update yesterday was really just to get all the dependencies up to date. There aren't any recent code changes.

[2018-08-03 16:09] veatcha commented on #2405
Probably not the best place to ask this, but since you're here - is Retry baked into any of the calls in the Firestore package?  I didn't any mention in the docs, but I did see it in a stack trace...

[2018-08-03 16:13] jskeet commented on #2405
I'd have to check to be honest - I believe we retry transactions, and we definitely try to "self-heal" stream issues in Watch/Listen API.

[2018-08-06 08:47] Thaina commented on #2048
@schmidt-sebastian Hello, how this feature was discussed. Is it already accepted or rejected?

[2018-08-06 15:58] schmidt-sebastian commented on #2048
I am generally in favor of this, but haven't been able to come up with a convincing API design. I'll prioritize this for August.

[2018-08-06 15:59] Thaina commented on #2048
Thank you very much

[2018-08-07 00:15] JustinBeckwith opened #2407 "Use new urls for authentication"
[Parent issue](https://github.com/GoogleCloudPlatform/google-cloud-common/issues/260)

The following specific library changes are required:

### OAuth 2.0 Authorization Grant Flow (aka 3LO)

For clients using this flow, change (and test):
- https://accounts.google.com/o/oauth2/token -> https://oauth2.googleapis.com/token
- https://accounts.google.com/o/oauth2/revoke -> https://oauth2.googleapis.co

[2018-08-07 01:37] jskeet commented on #2407
@chrisdunelm do you want to copy this into google-api-dotnet-client?

[2018-08-07 07:35] ratneshkumarcs opened #2408 "need help how to call google.apis.dialogflow.v2beta02 method using C#"
Hi,
I want English conversation in my product (Robot). I have created some sample agent and intent on dialogflow now i want a develop one simple application which pass my microphone audio stream to dialog flow and return some result if it mach any intent.

As per Dialogflow support, i have download C# code from https://github.com/GoogleCloudPlatform/google-cloud-dotnet/tree/master/apis/Google.Clou

[2018-08-07 07:40] chrisdunelm commented on #2407
Copied to https://github.com/google/google-api-dotnet-client/issues/1269
Closing this issue.

[2018-08-07 07:40] #2407 closed

[2018-08-07 12:27] jskeet commented on #2408
I'm afraid we don't have any samples for Dialogflow yet, and I haven't used it myself, but as far as I'm aware most of the time you'd be implementing a webhook. In ASP.NET or ASP.NET Core, you need to be careful how you do that using Google.Cloud.Dialogflow.V2, as you need to get the body of the request as a string and use

[code]

We hope to have samples at some point, but I'm afraid I haven't ha

[2018-08-07 13:11] lx223 opened #2410 "Use of Fieldmask in some APIs"
Hi there, probably a very simple question. There are many APIs with `UpdateMask` of `Fieldmask` type. I don't see a way to instantiate a `Fieldmask` object with `Path` field set. Am I missing something obvious?

[2018-08-07 13:13] jskeet commented on #2410
`Path` is a repeated field - you can populate it with a collection initializer:

[code]

[2018-08-08 00:37] ratneshkumarcs commented on #2408
Hi,
what i observe about webhooks is, it connect agent to some sort of service that provide dynamic data (current stock market). here i am only want to access my simple agent like Small talk agent. i have seen one example on guthub but not sure how much accurate and i havent try yet . https://github.com/GoogleCloudPlatform/dotnet-docs-samples/tree/master/dialogflow/api.

there is one more API call

[2018-08-08 00:52] jskeet commented on #2408
I'm afraid I don't really understand your comment. You may be better off in the Dialogflow-specific support community, to be honest.

[2018-08-08 01:14] ratneshkumarcs commented on #2408
let me try one more time in very sort words,
I want to connect dialogflow using C# window application.. how can we do it bu using google-cloud-dotnet github source code?

[2018-08-08 01:32] jskeet commented on #2408
Sorry, I'm still not sure what "connect" means in terms of Dialogflow and something like a Windows Forms app. It may be that what you're looking for just isn't a supported use case. But it definitely sounds like it's worth asking in the Dialogflow group, just in terms of making sure you're talking to folks with more DF experience.

[2018-08-08 07:39] Thaina commented on #1825
@jskeet GRPC for unity was now in beta. Would we have firestore API built upon it or would you switch the firebase unity SDK to wrapped on android/ios ?

https://github.com/grpc/grpc/tree/master/src/csharp/experimental#unity

[2018-08-08 07:40] Thaina commented on #2219
Just a reminder that GRPC for both xamarin and unity is now exist as experimental

https://github.com/grpc/grpc/tree/master/src/csharp/experimental

[2018-08-08 09:49] amanda-tarafa commented on #836
Closed via #2402

[2018-08-08 09:49] #836 closed

[2018-08-08 12:39] jskeet commented on #2219
@Thaina: Thanks for the reminder, but there's still more work to do beyond *just* gRPC - there's authentication, and making sure we can test reliably as well. We're still keen on doing this, but please don't expect it in these libraries any time soon.

[2018-08-08 12:40] jskeet commented on #1825
@Thaina: I would *definitely* use the Firebase Unity SDK from mobile. It has all kinds of code that's designed specifically for running on mobile platforms. It's the way you're *expected* to use Firestore from Unity.

(I also wouldn't regard "experimental" as the same as "beta".)

[2018-08-08 13:15] sebastianbk opened #2411 "Using UrlSigner with ComputeCredential and IamService is painfully slow"
Hi,

First of all, I would like to thank the entire .NET team at Google Cloud working on making the whole development experience so much nicer within the GCP ecosystem. I really appreciate your huge efforts and I hope you will stay committed to supporting .NET in GCP for many years to come.

Almost all of the features related to deploying .NET applications in App Engine have been really pleasant.

[2018-08-08 13:31] jskeet opened #2412 "Investigate unusual Storage integration test failure"
This only happens in Kokoro, only in Ubuntu, and not on a test instance I've been trying it with.

The failing test is UploadObject_BucketHasDefaultKmsKey_UploadWithNoSpecifiedKey_DownloadWithClientWithCsek, which fails when downloading the object with an error of:

That's true, it's not - but it should be encrypted by the CMEK, which we'd expect to make the CSEK ignored. It's not hugely important

[2018-08-08 13:34] #2405 closed

[2018-08-08 13:40] jskeet commented on #2411
That's to be expected: the IAM approach is making a network call and the service account approach isn't.

Fundamentally, you've decided not to keep sensitive information locally - which helps meet various requirements, but then means that in order to perform operations that *require* sensitive information, you need to make a network call. It's a trade-off.

If you don't mind the service account fi

[2018-08-08 16:49] mehtanilay10 opened #2414 "Add Proper Documentation for DialogFlow V2 SDK"
Required Proper documentation for DialogFlow V2 SDK for C#.
It is very difficult to find any example/snippet for using.
Even official docs directory contains an empty template.

https://github.com/GoogleCloudPlatform/google-cloud-dotnet/blob/master/apis/Google.Cloud.Dialogflow.V2/docs/index.md

[2018-08-08 18:40] german95n opened #2415 "Google.Cloud.Dialogflow.V2 Problem using the built in ToString."
I have been using the Binding Redirect as explained in this website: https://codopia.wordpress.com/2017/07/21/how-to-fix-the-assembly-binding-redirect-problem-in-azure-functions/

But now I face this problem. Whenever I try to convert the WebhookRequest to string or the WebhookResponse to string so I can send back to Dialogflow the response. It gives me this error:

[code]

[2018-08-08 19:06] jskeet commented on #2414
That's the *source* docs directory - the *result* documentation is at least slightly better: https://googlecloudplatform.github.io/google-cloud-dotnet/docs/Google.Cloud.Dialogflow.V2/index.html

However, that's still not all that's required, of course. While I'd like to see that page grow, that's not the location you should expect to find comprehensive documentation. The [Dialogflow site](https://

[2018-08-08 19:10] jskeet commented on #2415
It's not clear to me exactly *what* binding redirects you provided - and personally I haven't tried that workaround.

To work out what redirects you would need, I would suggest creating a new .NET full-framework project, add all the dependencies you have in your Azure Function, and looking at the generated redirects. It's also worth checking the Google.Api.CommonProtos.dll is even being deployed.

[2018-08-08 19:33] german95n commented on #2415
I have only specified the Google Protobuf in the local.settings.json:

`"BindingRedirects": "[ { \"ShortName\": \"Google.Protobuf\", \"RedirectToVersion\": \"3.5.1.0\", \"PublicKeyToken\": \"a7d26565bac4d604\" } ]"`

The Google.Cloud.Dialogflow.V2 uses Google.Api.Gax.Grpc which uses Google.Api.CommonProtos (>= 1.3.0)

I will try to make a new project and see the redirects as you say.

[2018-08-08 19:38] jskeet commented on #2415
Right, yes, you should definitely be looking at *all* the dependencies and creating appropriate bindings for them. There are rather a lot of them you'll need to specify, I suspect.

[2018-08-08 20:14] german95n commented on #2415
I surrender.

While try again if there is proper documentation in the future, I will use plain anonymous objects for the moment.

[2018-08-08 21:35] jskeet commented on #2415
I hope that the underlying issue gets fixed by Microsoft at some point - I completely agree that it shouldn't be this hard :(

[2018-08-08 21:35] #2415 closed

[2018-08-09 01:54] MrMonotone opened #2416 "Firestore BaseClientInitializer?"
I am aware of how to initialize using the environment variable. However, If I want to initialize in the code, could I do it with the baseclient?

[code]
How would I specify the credentials in Firestoredb object? I am assuming its somewhere in the client I just dont know where.

[2018-08-09 02:47] jskeet commented on #2416
No, `BaseClientService.Initializer` is how you initialize our REST-based clients. Google.Cloud.Firestore is a gRPC-based library. You'd need to create the `FirestoreClient` from a `Channel` with suitable authentication (not an API key) and then pass that `FirestoreClient` into the `FirestoreDb.Create` method.

See [this FAQ entry](https://googlecloudplatform.github.io/google-cloud-dotnet/docs/faq.

[2018-08-09 02:47] jskeet commented on #2416
(Please let me know if you need more help than that; otherwise I'll close this issue after a while.)

[2018-08-09 02:54] MrMonotone commented on #2416
@jskeet Thanks for the quick response. I have the necessary config for the javascript api I am just trying to convert that for use with the C# api.

[code]

Is there a way for me to use these to authenticate?

[2018-08-09 02:58] jskeet commented on #2416
No, you can't use an API key to authenticate using Google.Cloud.Firestore.

[2018-08-09 03:01] MrMonotone commented on #2416
Sorry I guess that was redundant. But thanks for the quick response haha!

[2018-08-09 03:01] #2416 closed

[2018-08-09 05:29] Thaina opened #2417 "Firestore "arrayContains" query and ArrayUnion/ArrayRemove ?"
https://firebase.google.com/docs/firestore/query-data/index-overview?authuser=1#automatic_indexing

https://cloud.google.com/blog/products/gcp/expanding-the-cloud-firestore-beta-to-more-users

There was already exist in ios and js SDK. How was it in C# ?

[2018-08-09 11:52] jskeet commented on #2417
I was aware that was coming up, but hadn't realized it was already available. I'm currently working mostly on Spanner things, but will definitely get to this in time. (I'll review what's required and see if I can fit it in earlier.)

[2018-08-09 16:01] mehtanilay10 commented on #2414
Hi, First of all, thanks for the link, it is really helpful.
I need to dynamically create DialogFlow apps. But each app required different Project too.
So can you help me to find out how to create Project via .Net SDK?

[2018-08-09 16:14] jskeet commented on #2414
Do you mean creating a Google Cloud Project? That wouldn't be part of the Dialogflow SDK - and I'm not sure how automatable it is at all.

[2018-08-10 00:17] german95n commented on #2415
Yeah, I figured it now.

The problem was that I was trying to use the manual binding redirect as specified in the website in the V2 of the Azure Functions. .Net core doesn't actually use the functions that we build for the binding redirect, so that solution doesn't work.

I switched to the V1, applied that fix with the following bindings redirects, and it worked out!!!

with the following Nuget pa

[2018-08-10 18:35] german95n opened #2418 "Google.Cloud.Dialogflow.V2 The WebhookRequest from Dialogflow has added a new field alternativeQueryResults"
As specified in the official Actions on Google documentation, they have added a new field called alternativeQueryResults.

https://cloud.google.com/dialogflow-enterprise/docs/reference/rest/v2beta1/DetectIntentResponse

If you have active the "Enable beta features and APIs" section on the Dialogflow panel, the request will contain this field and the WebhookRequest.Parser.ParseJson will fail giving

[2018-08-10 18:52] jskeet commented on #2418
You can - and probably should - use a parser which ignores unknown fields. I'm not in a position to provide an example right now, but I'll do so when I get a chance.

[2018-08-10 18:56] jskeet commented on #2418
(But you won't be able to retrieve that value until we build a v2beta1 library.)

[2018-08-10 19:06] german95n commented on #2418
I tried:

WebhookRequest webhookRequest = new JsonParser(new JsonParser.Settings(100)).Parse<WebhookRequest>(json);

var webhookRequest = WebhookRequest.Parser.ParseJson(json);

And both fail to parse the request.

[2018-08-10 19:08] jskeet commented on #2418
Yes, you'd need to create a settings object which explicitly permits unknown fields. Your first attempt is nearly there - I think there's an "WithAllowUnknownFields" or similar method on the JsonParser.Settings. Again, will check when I'm in a suitable position.

[2018-08-10 19:41] german95n commented on #2418
Yeah that's it.
`WebhookRequest webhookRequest = new JsonParser(new JsonParser.Settings(100).WithIgnoreUnknownFields(true)).Parse<WebhookRequest>(json);`

[2018-08-10 19:41] #2418 closed

[2018-08-10 20:25] jtromans commented on #2144
fwiw I think I'm getting this bug using Pub/Sub with the google cloud python API.

I repeatedly see the issue on both Windows and Linux (Ubuntu 18.04), running Python 3.6.5. When I try to get __version__ on the pubsub or google.cloud libraries, I am not provided with a helpful response to share here. Otherwise, the symptoms are exactly the same as the OP. @chrisdunelm let me know if there is a mor

[2018-08-11 01:15] manigandham commented on #2144
@jtromans This is the repo for the C#/.NET libraries. The Python client libraries are here: https://github.com/GoogleCloudPlatform/google-cloud-python

It would be best to create a new issue there...

[2018-08-13 14:02] naasking opened #2419 "Datastore client does not connect to emulator using environment vars"
As discussed in [this stackoverflow issue](https://stackoverflow.com/questions/47849971/connecting-to-google-datastore-emulator-with-asp-net-core-application), the .NET datastore client seems to ignore the environment variables which are supposed to direct connections to the local emulator.

There is no discussion in the .NET documentation about connecting to the emulator, so a manual configuratio

[2018-08-13 15:45] jskeet commented on #2419
This is effectively a duplicate feature request of #162. We have a [FAQ entry](https://googlecloudplatform.github.io/google-cloud-dotnet/docs/faq.html#how-can-i-use-emulators) about this, but we don't currently intend to support this via the environment variables at the moment - they vary by product, and aren't terribly convenient in general.

We hope that there will be a more general emulator fra

[2018-08-13 19:58] ssong3k opened #2420 "Setting up output contexts object for DialogFlow.V2 in response"
I need help creating context objects for storing information. The Parameter field inside of the Context object is Protobuf.WellKnownType.Struct and I have not managed to find any documentation on initializing its value. I simply want to add a key value pair of <string, List<string>>.

[2018-08-13 20:47] jskeet commented on #2420
`Struct` is designed to mimic JSON in structure. It's not as user-friendly as it might be, but if you could give me an example of a JSON document containing the kind of data you're looking for, I could translate that example into C# that generates the equivalent `Struct`, which should get you started.

[2018-08-13 20:57] ssong3k commented on #2420
Thanks for replying so fast. I want my output context to look like the picture below.
![image](https://user-images.githubusercontent.com/10621422/44057567-d0c110ee-9f08-11e8-85fb-efb8a961c33a.png)

The only difference is that I want the parameters to instead have "param" : <List of string identifiers>.

I have tried making my own JSON and parsing it in as a Struct but that gives me an issue where

[2018-08-13 21:06] jskeet commented on #2420
Okay, here's an example:

[code]

[2018-08-13 21:08] ssong3k commented on #2420
How about setting params to be a list of strings?

[2018-08-13 21:14] ssong3k commented on #2420
Also leaving a comment here for visibility. Context name apparently only need
**$"{obj.Session}/contexts/accountList"**
![image](https://user-images.githubusercontent.com/10621422/44058488-76630e38-9f0b-11e8-9257-f063c5937787.png)

[2018-08-13 21:14] jskeet commented on #2420
It turns out there are static factory methods on `Value` that I'd forgotten about, that make this rather simpler:

[code]

[2018-08-13 21:25] ssong3k commented on #2420
Thank you so much! I just tested it with a simple list and it works.
![image](https://user-images.githubusercontent.com/10621422/44058934-faf29c30-9f0c-11e8-9441-60daa69d4758.png)

[2018-08-13 21:26] jskeet commented on #2420
Great! I'll close this issue now. Glad it worked :)

[2018-08-13 21:26] #2420 closed

[2018-08-14 07:02] jskeet commented on #2408
Closing this now as I don't think there's any further work required in this repo.

[2018-08-14 07:02] #2408 closed

[2018-08-14 12:46] naasking commented on #2419
Thanks for the reply. In my limited spare time over the past 6 months, I've run over a dozen queries using the keywords .NET/dotnet google datastore and emulator and didn't find either of those pages, nor did reading all of the documentation or perusing a number of the datastore sample projects yield any reference to the emulator or how to connect a datastore client to any endpoint other than Goog

[2018-08-14 13:04] jskeet commented on #2419
The feedback is welcome, and I'll look into improving the docs to make this more discoverable. I don't think we'd want to provide a constructor as you suggested though - the idea that unless you're talking to the "regular" production `DataStore` you definitely want insecure credentials seems the wrong way round to me. (For example, some customers may need to connect to a custom endpoint for troubl

[2018-08-14 13:41] jskeet commented on #2419
No, it suggests that you're likely to start off by just poking around: creating a random entity etc, possibly following a quick-start. By "production server" I mean "the production DataStore endpoint", not a production server run by the developer in question.

I think we'll need to agree to disagree on that front. Whenever I'm exploring a Cloud service for the first time, I'll poke around a little

[2018-08-14 14:07] naasking commented on #2419
Yup, that's exactly what I did. Did a few walk throughs, looked promising, tried to setup a local dev environment, failed miserably. Tried repeatedly over the next few months when I had time, so no doubt things were forgotten or missed, but got no further. There was just no incremental ramp up. Maybe I'm an outlier, probably wouldn't be the first time (although a recent HN thread suggests otherwis

[2018-08-16 08:42] jskeet opened #2422 "Update Bigtable code generator"
Since updating to Visual Studio 15.8, the VS code generator isn't working for me. I suspect we need a later set of Roslyn dependencies. Will investigate.

[2018-08-16 20:55] #2422 closed

[2018-08-16 22:47] riiight opened #2425 "WebhookRequest is missing Parameters"
I have a webhook set up in ASP.NET Core 2.1. If I use:

`public ContentResult Post([FromBody] Google.Apis.Dialogflow.v2.Data.GoogleCloudDialogflowV2WebhookRequest webhookRequest)`

I can get my parameter by using the following syntax:

`queryResult.Parameters["MyParameter"]`

However, if I use:

`public ContentResult Post([FromBody] Google.Cloud.Dialogflow.v2.WebhookRequest webhookRequest)`

There

[2018-08-17 06:27] jskeet commented on #2425
Firstly, I'm sorry that we don't have documentation for implementing a Dialogflow web hook in C# yet. This has bitten a number of users, and it's on my list of things to do - with some progress this week. It's unlikely that we'll have very comprehensive documentation in the near future, but I'm hoping we can at least have *something* in the next couple of weeks.

This is effectively the same quest

[2018-08-17 08:45] DenSmoke opened #2426 "DocumentSnapshot.ConvertTo<T> System.ArgumentException"
I get exception System.ArgumentException: "Unable to convert value type IntegerValue to System.Double" when trying to convert DocumentSnapshot to my attributed class.
I think this exception is excess because there is implicit conversion from integer to double in C#

[2018-08-17 09:29] jskeet commented on #2426
I don't want to start adding every possible implicit conversion in - and I believe it would be dangerous to do so. If you've got a field which is an integer in Firestore, but you try to use it as a `double` in your attributed class, that means when the value is serialized *back* to Firestore, it would overwrite the integer value with a floating point value, and anything which was assuming it was a

[2018-08-17 09:45] DenSmoke commented on #2426
Yeah but I don't want to have integer in Firestore, it supposed to be real number, but Firestore decises it for me because in some cases numbers are integer and I can't do anything with it

[2018-08-17 09:54] jskeet commented on #2426
What do you mean by "Firestore decides for me"? You should absolutely be able to store the type you want. I believe that storing the value with the type you want should be the focus of your efforts. What stored the integer value in the first place?

[2018-08-17 10:00] DenSmoke commented on #2426
Application on Android or iOS creates document in Firestore using value from textbox (stores "cost") parsed to double. Sometimes cost has no decimal point so this value becomes integer in Firestore

[2018-08-17 10:03] jskeet commented on #2426
I don't believe it should do that if you've actually parsed it to a `double`. For example, in the Java SDK's UserDataConverter class, [a double always ends up converted to DoubleValue](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-clients/google-cloud-firestore/src/main/java/com/google/cloud/firestore/UserDataConverter.java#L119)

I suggest you check the code yo

[2018-08-17 10:25] jskeet commented on #2426
Great - thanks for letting us know.

[2018-08-17 12:57] jskeet opened #2427 "Docfx broken post VS (or SDK?) update"
Humbug:

[18-08-17 12:58:00.775]Warning:[ExtractMetadata](C:/Users/jon/Test/Projects/google-cloud-dotnet/apis/Google.Cloud.Dialogflow.V2/Google.Cloud.Dialogflow.V2/Google.Cloud.Dialogflow.V2.csproj)Workspace failed with: [Failure] Msbuild failed when processing the file 'C:\Users\jon\Test\Projects\google-cloud-dotnet\apis\Google.Cloud.Dialogflow.V2\Google.Cloud.Dialogflow.V2\Google.Cloud.Dialogflo

[2018-08-17 13:08] jskeet commented on #2427
Filed https://github.com/dotnet/docfx/issues/3225

[2018-08-19 18:35] lextm commented on #2427
I could not reproduce the immutable assembly issue even after upgrading to 2.38.1, so I fired https://github.com/dotnet/docfx/issues/3231 and listed my own workaround.

[2018-08-19 20:33] jskeet commented on #2427
@lextm: Thanks. Interesting that there are multiple symptoms of this. Let's hope the docfx team investigates soon. Thanks for your workaround.

[2018-08-20 08:00] jskeet opened #2430 "dotnet sln add broken in our project generation"
I've just generated a new API, and the solution file is empty. Running `dotnet sln add path/to/csproj` I get an error message of:

I suspect this is related to the VS15.8 update...

[2018-08-20 08:02] jskeet commented on #2430
Looks like it's due to this: https://github.com/dotnet/cli/issues/9477

It appears to be fixed in SDK 2.1.400, so we could potentially update to that?

cc @chrisdunelm for thoughts.

[2018-08-20 08:09] chrisdunelm commented on #2430
Upgrading to 2.1.400 seems like the best option to me (assuming it really is fixed there!)

[2018-08-20 08:30] jskeet commented on #2430
It's definitely fixed there, yes - temporarily updating to that generated the correct solution file. My only concern is Travis/AppVeyor/Kokoro support. Will investigate.

[2018-08-20 08:46] jskeet commented on #2425
I've now added an example of how to implement a web hook in ASP.NET Core in the documentation:

https://googlecloudplatform.github.io/google-cloud-dotnet/docs/Google.Cloud.Dialogflow.V2/index.html

I'll close this issue now, but do add more comments if it doesn't help.

[2018-08-20 08:46] #2425 closed

[2018-08-20 08:47] jskeet commented on #2414
I've now added an example of how to implement a web hook in ASP.NET Core in the documentation:

https://googlecloudplatform.github.io/google-cloud-dotnet/docs/Google.Cloud.Dialogflow.V2/index.html

That was the most important bit of missing documentation, IMO. I'll let the Dialogflow team know about that example, and they can either include it themselves or link to it. I'm going to close this issu

[2018-08-20 08:47] #2414 closed

[2018-08-20 08:48] jskeet commented on #2411
@sebastianbk: Any more feedback on this? I don't anticipate there being any more changes in this repo for this, so I'd like to close the issue if possible.

[2018-08-20 09:47] chrisdunelm commented on #2430
sgtm

[2018-08-20 10:14] DenSmoke opened #2432 "Deserializing empty object to attributed class"
Deserializing converts null object in array field of Firestore document to requested object type with same fields containing default values (null or zero).
After
[code]
this
![image](https://user-images.githubusercontent.com/16131575/44333303-1aa6c280-a477-11e8-8b5d-e28e626e981d.png)
becomes this
![image](https://user-images.githubusercontent.com/16131575/44333371-41fd8f80-a477-11e8-90a2-ab7196711

[2018-08-20 10:27] jskeet commented on #2432
You say it's a "null object" - are you sure it's not an *empty* object? Those are very different. This is the exact behavior I'd expect if your array is populated with empty objects. I don't know offhand whether a Firestore array *can* contain null entries, but if it can, I'd only expect null references at that point.

Are you able to provide the content of your document in its JSON representation

[2018-08-20 10:39] DenSmoke commented on #2432
Yes, object is really empty according to debugger (Firebase console doesn't shows it clearly):
![image](https://user-images.githubusercontent.com/16131575/44335793-2cd82f00-a47e-11e8-968b-3d0d8809cdaa.png)

I created this document (on first screenshot) manually via console

[2018-08-20 10:42] jskeet commented on #2432
Right - in that case, it's behaving exactly as I'd expect it to. Each object in the array is being deserialized in the same way as if you presented an empty value to the individual deserializer: create an instance of the object, and then set "all" the fields (of which there are none).

To get null values, you'd need to have `nullValue` values instead of `mapValue` values.

Does that make sense?

[2018-08-20 10:53] DenSmoke commented on #2432
It seemed to me strange that the read operation changes source object

[2018-08-20 11:13] jskeet commented on #2432
I'm not sure what you mean - it was an empty object before, and reading it you still get an effectively empty object. I'd be more concerned about turning an empty object into null.

[2018-08-20 15:56] jskeet commented on #2432
It does. It's not clear what you think is happening here - or what you'd expect to happen.

It's just like deserializing `"{}"` with Json.NET - you end up with an object with no properties explicitly set, so they have their default values.

Perhaps I've misunderstood what you're seeing - could you provide a short but complete example in code rather than the screenshots? (It's not clear to me what

[2018-08-20 16:48] tillig opened #2435 "Enable configuration support for Google.Cloud.Diagnostics.AspNetCore"
When using the `Google.Cloud.Diagnostics.AspNetCore.GoogleDiagnosticsWebHostBuilderExtensions.UseGoogleDiagnostics` extension, there is an assumption that the Google Cloud project ID is hardcoded. This is seen [in the examples](http://googlecloudplatform.github.io/google-cloud-dotnet/docs/Google.Cloud.Diagnostics.AspNetCore/index.html#initializing-google-diagnostics-aspnet-core-20):

[code]

Looki

[2018-08-20 16:59] iantalarico commented on #2435
CC: @henkmollema who did the initial work here.

[2018-08-20 17:15] henkmollema commented on #2435
The intention behind this extension method is to retrieve the project ID (and service name/version) from the GCP resource where the application is deployed to. Calling `UseGoogleDiagnostics()` without parameters will just work when deployed to Google Cloud. Specifying the values explicitly is merely for testing and overriding. At least, that was _my_ intention.

I wonder what your scenario is that

[2018-08-20 17:37] tillig commented on #2435
I'm really just getting started trying to use this and found that having something hardcoded isn't great. We have a diverse set of teams with more than one cloud project, so each team being able to override what the dev/test project is has value. Especially as we try to create some boilerplate app setup libraries that get shared across teams.

We are working on a system that is primarily a set of

[2018-08-20 19:48] chrisdunelm commented on #2355
@snakefoot I don't consider protection from "serializing the world" is required.
Users should recognise that they can't just throw ***any*** object at this and expect it to work. And if a user has a particular serialization requirement, then they can use a custom serializer.
So I'm happy to call this done and close this issue. What do you think?

[2018-08-20 21:45] snakefoot commented on #2355
@chrisdunelm Have thought about exposing the serialization logic in NLog a little more (used for JSON-output). Thus using that engine to provide controlled serialized output (Nested Collections of simple types).

But no need for this issue to stay open for that to complete.

[2018-08-20 22:41] tillig commented on #2435
I think part of what I'm running into is that I'm not running on Google App Engine. It appears that's the only platform that does allow the simple call to `UseGoogleDiagnostics()` to just work.

With `UseGoogleDiagnostics()` the project name, service name, and service version [are retrieved by passing a `null` instance of `MonitoredResource`](https://github.com/GoogleCloudPlatform/google-cloud-dot

[2018-08-21 01:39] athrayee opened #2436 "not an easy way or consistent way to use publisher client to post to Google Pub/Sub."
I am trying to use Pub/Sub from .NET client library. There is no easy and consistent way to create Publisher Client and pass Credential. The library is expecting to set environment variable only. You can find more details in the issue I have opened here in stackoverflow.

https://stackoverflow.com/questions/51801386/how-to-pass-google-credential-to-google-pub-sub/51813713?noredirect=1#comment90828

[2018-08-21 04:18] Thaina commented on #1825
@jskeet Do we have a repo for the wrapper or it would be auto generated code?

[2018-08-21 05:04] jskeet commented on #1825
@Thaina: I don't know details, I'm not working on that. It's definitely not *entirely* auto-generated though. The aim is to make it similar to the API I'm working on where possible.

[2018-08-21 05:05] Thaina commented on #1825
@jskeet Thank you and sorry for bother you, are there anyone working on that project I could contact with?

[2018-08-21 05:30] jskeet commented on #1825
As it'll be part of the Firebase SDK, I'd suggest asking through their normal channels - [Firebase Slack](https://firebase.community/) or the [Google Group](https://groups.google.com/forum/#!forum/firebase-talk).

[2018-08-21 08:07] DenSmoke commented on #2432
I understood now why empty objects becomes this object. This situation is impossible when using Dictionary to store objects so this behaviour was not clear for me.
So there is no problem there, it is just Json.NET serializarion/deserialization feature.

My document in Firestore was updating because of trigger which updates document when serialized object differes from stored json

[2018-08-21 08:07] #2432 closed

[2018-08-21 08:12] jskeet commented on #2432
Just to be clear - Json.NET itself isn't involved here. I was only giving an example of a similar situation.

There's no difference between "An object which has been created and no properties have been set" and "An object which has been created and its properties set to their default values."

It sounds like we're mostly on the same page now though :)

[2018-08-21 08:25] amanda-tarafa commented on #2435
@tilling I'll get a look at this and get back on this thread

[2018-08-21 09:14] chrisdunelm commented on #2355
OK, closing this issue.

[2018-08-21 09:14] #2355 closed

[2018-08-21 16:50] amanda-tarafa commented on #2435
@tillig I've been looking at the code and both yours and @henkmollema's comments, and here are some comments of my own:

- The `UseGoogleDiagnostics()` extension method was meant as a helper method for configuring all of Diagnostics at once and cleanly when either running on GAE or running on GCE/GKE and having fixed (hardcoded) `serviceName` and `version` or running outside of Google Cloud and ha

[2018-08-21 17:10] tillig commented on #2435
I think the proposed overload is fine. Flexible enough to get the information from different places if needed; easy enough to wrap with a more convenient call with custom code.

I am working through the legal portion of getting the CLA signed. After I have that done I'd be happy to work on the PR for that.

Ostensibly I could get the values from command line args, the environment, or anywhere. We

[2018-08-22 16:15] bdhess opened #2441 "Overloads for flattened ByteString method args"
See also GoogleCloudPlatform/google-cloud-java#3590

It would be nice if flattened RPC calls had overloads that accepted standard .NET types (i.e. a .NET `byte[]`) instead of always requiring a protobuf `ByteString`.  The latter ends up leaking an implementation detail to callers.

As an example, in Cloud KMS we currently have:
[code]

It would be nice if the final line could be
[code]

[2018-08-22 16:19] bdhess opened #2442 "Stringly-Typed Paths"
Of the GAPIC-generated clients, .NET is the only environment where paths cannot be passed as strings.  This proves unwieldy in instances where multiple kinds of paths are accepted.  For example, in Cloud KMS, encrypt and decrypt cannot accept the same path object.

[code]

In contrast, the Java client accepts string overloads.  It would be ideal if the .NET clients did as well, to enable this styl

[2018-08-22 16:22] bdhess opened #2443 "Path Formatting Helpers"
Assuming that we feel like #2442 is worth completing, then a further level of convenience would be provided by adding static formatting methods to the path types.

For example, instead of
[code]

A caller could do
[code]

The latter feels more canonical to a .NET programmer.

[2018-08-22 16:26] bdhess commented on #2443
Note that the equivalent already exists in Java; see e.g. https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-api-grpc/proto-google-cloud-kms-v1/src/main/java/com/google/cloud/kms/v1/CryptoKeyName.java#L70

[2018-08-22 19:22] codeaid opened #2444 "Serializing and deserializing embedded classes (Firestore)"
I have recently started using Firestore and your C# library and everything is working great, apart from one thing that is quite important to me, and hopefully other people too.

As you know it's very easy to serialize and deserialize root properties of custom models by [annotating](https://googlecloudplatform.github.io/google-cloud-dotnet/docs/Google.Cloud.Firestore/userguide.html#writing-document

[2018-08-22 21:26] jskeet commented on #2442
I believe this is already planned, but I can't remember whether we're tracking it anywhere.

@chrisdunelm do you have an issue for this somewhere?

[2018-08-22 21:30] jskeet commented on #2441
This one I'd rather not do. We'd end up with an explosion of overloads, particularly with the string-formatted path values as well. There are many different types you might want to create a `ByteString` from:

- A `byte[]`
- A `Span<byte>`
- A `ReadOnlySpan<byte>`
- A `string`
- A `Stream`

In a method with multiple parameters, you may well have different source types. And how would we choose whet

[2018-08-22 21:33] jskeet commented on #2441
Note that we expose the protocol buffer types *all over the place* - any response objects returned, the overloads accepting request objects, any resources returned are protobuf messages etc. It's not like we're trying to hide protobuf away, wrapping it so that we can exchange it for a different transport later on etc. (We *do* do that in the Firestore API - Google.Cloud.Firestore doesn't expose an

[2018-08-22 21:54] bdhess commented on #2441
You've outlined a number of drawbacks I hadn't considered, and ultimately convinced me that this is a bad idea.  I'm going to withdraw this request. :)

[2018-08-22 21:54] #2441 closed

[2018-08-22 21:56] bdhess commented on #2442
I'm happy with no mixing.  An exponentially increasing number of overloads in autocomplete would be super unhelpful.

[2018-08-23 05:14] jskeet commented on #2444
Okay, I've tried it, and it worked as I expected to. Here's my test code, using Json.NET just to show the structure of the object in a simple way. I've used your `Parent` and `Child` classes without any modifications.

[code]

Output:

[code]

That's working as you intended, right? Could you clarify what behavior you want that isn't covered?

[2018-08-23 05:47] Thaina opened #2445 "Please expose Google.Cloud.Firestore.Precondition.MustNotExists"
It used for document creation id collision. So it would not update overwrite document that already exist

https://github.com/GoogleCloudPlatform/google-cloud-dotnet/blob/fdeff43831550f65783fab0a38244182e048824b/apis/Google.Cloud.Firestore/Google.Cloud.Firestore/Precondition.cs#L34-L40

[2018-08-23 06:00] jskeet commented on #2445
This is automatically applied on document creation operations. What's the use case for specifying it manually?

[2018-08-23 06:12] Thaina commented on #2445
@jskeet Sometimes I have operation on many documents. Some need to be `MustUpdate` and some `MustNot`

Currently I have write it as
[code]

I wish I could just

[code]

[2018-08-23 06:15] jskeet commented on #2445
Okay, this is another decision for @schmidt-sebastian then. Personally I think I'd just write a helper method - you only need to do this in a single place, after all.

[2018-08-23 18:41] jskeet commented on #2445
Closing - at least for now.

[2018-08-23 18:41] #2445 closed

[2018-08-23 18:42] #2417 closed

[2018-08-23 18:42] jskeet commented on #2417
Okay, this is now implemented. Do you have a particular time frame when you'd like a release, or just "as soon as possible"? (I'd rather not release on a Friday, but I could do next week.)

[2018-08-23 19:56] codeaid commented on #2444
You are indeed correct. I'm not even sure how to explain my stupidity as I'm as I was convinced I had tried doing it that way. Apparently I hadn't...

I updated the few models that I have at the moment and everything seems to work as expected. One thing I noticed though is that it's not possible to pass an instance of a model to the `Update` method of the `Transaction` class (not sure about other

[2018-08-23 20:28] jskeet commented on #2444
`Update` is intended to update either a single field or a specified set of fields. If you want to replace the document entirely, use `Set`:

[code]

The `Set/Update` operations are consistent between `DocumentReference`, `WriteBatch` and `Transaction`. See the [user guide](https://googlecloudplatform.github.io/google-cloud-dotnet/docs/Google.Cloud.Firestore/userguide.html) for more details.

[2018-08-23 20:29] #2444 closed

[2018-08-23 21:59] codeaid commented on #2444
Now it makes total sense. I did look at using `Set` but didn't read the API reference. Lesson learned.

Thanks a lot for spending your time helping out with this. Really appreciated! Looking forward to Firestore being rolled out to GA.

[2018-08-24 01:06] Thaina commented on #2417
@jskeet No it don't need to be hurried. I just want it to exist and so I could plan to fix my service sometimes in the future. Thank you very much

[2018-08-24 07:43] jskeet commented on #2411
Closing for now; this can be reopened in the future if there is more feedback or specific requests.

[2018-08-24 07:43] #2411 closed

[2018-08-24 07:46] jskeet commented on #2412
We're still seeing the test pass, at least from Europe. At this point I'd expect it to fail everywhere. I've seen the test fail from my laptop when running in the US. Will try from a VM in the US when I get the chance.

[2018-08-24 07:47] jskeet commented on #2313
(This work is still ongoing. I've made big strides, but we're not there yet.)

[2018-08-24 08:01] #2419 closed

[2018-08-24 08:08] jskeet commented on #2419
The sample is now available on https://googlecloudplatform.github.io/google-cloud-dotnet/docs/Google.Cloud.Datastore.V1/index.html

I'll talk to the Datastore team about including a link to it from the Datastore docs, and also what the plan is for the future.

[2018-08-25 10:11] Watanyou opened #2452 "Firestore get Inner exception "ECall methods must be packaged into a system module.""
I'm using VS2017 and try to use Google.Cloud.Firebase with my project (That start dev with .Net 4.5.6 in VS2015 and moved to .Net 4.6.1) but I found a exception when I use FirestoreDb.Create() which I never seen or found before `"Exception has been thrown by the target of an invocation."`
and I'm looking Into Inner Exception it said `"ECall methods must be packaged into a system module."`
and Stac

[2018-08-25 11:06] jskeet commented on #2452
It sounds like you're trying to use the package from Unity, which isn't a supported platform at the moment, I'm afraid.

[2018-08-25 13:50] Watanyou commented on #2452
Problem Solved
It have a conflict with QRCoder which use UnityEngine

[2018-08-25 16:32] jskeet commented on #2452
Glad it's solved. Not sure I quite follow how you solved it, but I'll close this issue now anyway :)

[2018-08-25 16:32] #2452 closed

[2018-08-25 20:52] bdhess commented on #2443
Yeah, calling `static string Format` "more canonical" was probably the wrong way to characterize it.  I should've said something like "feels more right" (at least, to me).  In any case, I'd raise the following points in support of offering something other than `new Foo(bar, baz).ToString()`:

1. Relying on a `ToString` value will always requires a visit to the documentation, if for no other reason

[2018-08-26 02:06] Dafeesh opened #2453 "Re-inserting identical entity throws 'InvalidArgument' and not 'AlreadyExists'"
When attempting to insert an identical entity twice, the expected GrpcException status code has been: 'Grpc.Core.StatusCode.AlreadyExists'. But sometime along the way this exception has changed to throw 'Grpc.Core.StatusCode.InvalidArgument'.

When attempting to add an entity that already exists in the DB it would make the most sense to throw 'AlreadyExists' and use 'InvalidArgument' for strictly

[2018-08-26 06:40] Watanyou commented on #2452
Just change from QRCoder library to ZXing for building QR Code :)

[2018-08-26 11:36] jskeet commented on #2453
I'll have a look at this on Tuesday. (Monday is a public holiday in the UK.) If it only happens in the emulator, it's probably an emulator bug. (It's very unlikely that this is a client library issue. We don't do much with errors other than retry some operations in some cases.)

[2018-08-27 11:52] 20092738 opened #2455 "Problem with google cloud speech client on UWP application"
When attempting install google cloud speech client library to UWP application, I got the error message from nuget console as below:

[2018-08-27 11:57] jskeet commented on #2455
Yes, I'm afraid our client libraries don't currently support UWP.

[2018-08-28 02:07] 20092738 commented on #2455
Thank you @jskeet , shall your client libraries support UWP application in the future ?
Currently, is there any way to use google cloud speech service on UWP application ?

[2018-08-28 04:31] frankyn opened #2456 "Release Storage library"
Hi,

GCS CMEK is now GA. Based on developer feedback, developers are unable to use the CMEK features for DotNet as the features are only in `2.2.0-beta01`, [based on release history](https://github.com/GoogleCloudPlatform/google-cloud-dotnet/releases/tag/Google.Cloud.Storage.V1-2.2.0-beta01).

If possible, request is to release a non-beta version of `2.2.0-beta01` library so it will be picked up w

[2018-08-28 05:51] jskeet commented on #2455
We would *like* to support UWP, but it's further down the priority list than Unity and probably Xamarin support.

You could *try* using the Google.Apis.Speech.v1 API, which talks via HTTP1/REST instead of HTTP2/gPRC, but:

- That library still doesn't officially support UWP, and in particular the authentication aspects may well cause problems. (You'd be able to use a service account, but distribut

[2018-08-28 05:51] #2455 closed

[2018-08-28 05:51] jskeet commented on #2456
Yes, I'll try to get to that today.

[2018-08-28 05:52] frankyn commented on #2456
Thanks @jskeet!

[2018-08-28 09:52] jskeet commented on #2453
I can't reproduce this, either against the emulator or the production environment. Here's an example which attempts to reproduce it:

[code]

In both cases, the first insertion succeeds; the second fails with:

Set the `DATASTORE_PROJECT_ID` environment variable, and then either set or clear `DATASTORE_EMULATOR_HOST` based on whether you want to test against the emulator or not.

Could you try tha

[2018-08-28 14:09] jskeet commented on #2456
Released as Google.Cloud.Storage.V1 version 2.2.0.

[2018-08-28 14:09] #2456 closed

[2018-08-28 14:34] jskeet commented on #2417
I've released this as version 1.0.0-beta08. (NuGet will take a little while to update.)

[2018-08-28 14:46] chrisdunelm commented on #2442
Thanks, yes, was is planned to be done.
We're currently working on a new code-gen implementation (soon to be in github), which will contain this feature. We don't have a firm release-date for this, but should be in the next couple of months.

[2018-08-28 14:48] chrisdunelm commented on #2443
Yes this looks like a helpful feature.
We're currently working on a new code-gen implementation (soon to be in github), in which we'll put this feature. We don't have a firm release-date for this, but should be in the next couple of months.

[2018-08-29 04:34] Dafeesh commented on #2453
I'm confused how I got to this point but I was somehow running an extremely old version of the datastore emulator even after updating. After cleaning out my installation and installing the SDK again I'm now up to date and it's giving me the expected result similar to what you posted above. Thank you for investigating.

I found that this specific issue was fixed in datastore emulator version 1.4.
"

[2018-08-29 06:34] jskeet commented on #2453
Great - glad to hear it's all resolved :) Will close this issue. Obviously if you see anything similar again, please do raise it!

[2018-08-29 06:34] #2453 closed

[2018-08-29 15:50] haf opened #2460 "MonitoredResource logs not showing up under the monitored resource"
https://github.com/logary/logary/blob/master/src/targets/Logary.Targets.Stackdriver/Target_Stackdriver.fs#L110

Repro: `dotnet build` and `dotnet run` here https://github.com/logary/logary/tree/master/src/tests/Logary.Targets.Stackdriver.Tests with another resource here https://github.com/logary/logary/blob/master/src/tests/Logary.Targets.Stackdriver.Tests/Program.fs#L52

In case a more extensive

[2018-08-30 07:43] #2412 closed

[2018-08-30 10:38] amanda-tarafa commented on #2460
@haf I'm off for the rest of the week, but will take a look at this early next week when I'm back.

[2018-08-30 18:28] YanlongLi commented on #1920
I got the same problem in my program. Everything is normal in server side bud the client throws exception *Grpc.Core.RpcException: Status(StatusCode=Cancelled, Detail="Cancelled")*.
When I was trying to debug it and found that the problem could be caused by the assignment of a list variable.
In my program, I have a ResponseType with a list attribute, I initialize this attribute with value gotten f

[2018-08-30 19:58] jskeet commented on #1920
@Yanlongli: Do you mean you're seeing this with a task returned to the client, or an unobserved task like the one to tomerpeled is seeing? It may be a very different problem. The more detail (and sample code to reproduce if possible) you can give the better.

[2018-08-31 02:33] YanlongLi commented on #1920
@jskeet  My issue is solved.
Yes, The server returned a task to client, and the exception was happening in client side. The root cause for my case is that one field in some list values is null while it is not nullable according to the IDL (I use bond). The exception gone after I update the IDL.

It is weird that the server seems handled the request successfully but actually not, there are no messa

[2018-08-31 20:39] ssong3k opened #2466 "Sending a Simple Response back in Webhook Response for Dialogflow"
I'm currently working on DialogFlow with Google Assistant and I would like to send a response with the fields display text and ssml. Specifically I want Google Assistant to say a phrase that is different than what is displayed in the chat bubble. Please point me in the right direction if this is not the correct repository to ask this question.

[2018-09-01 09:10] jskeet commented on #2466
I'm afraid contributors here don't have much experience with Dialogflow - you're best off at https://dialogflow.com/ for that - specifically the [fulfillment documentation](https://dialogflow.com/docs/fulfillment)

We *do* know more about the .NET side of things though. There's a sample for writing a web hook in ASP.NET Core on the [Dialogflow package page](https://googlecloudplatform.github.io/go

[2018-09-01 09:10] #2466 closed

[2018-09-02 05:59] sjpritchard opened #2467 "Unable to configure PhraseHints in Google.Cloud.Dialogflow.V2"
The PhraseHints property of an InputAudioConfig object is readonly and so cannot be set after object creation, or when using object initializer syntax. However, there is no constructor that allows you to pass in PhraseHints, therefore I can't see a way to actually set this property. Not sure if this is a bug, or if there is another way to set this property that I'm unaware of.

[2018-09-03 08:48] #2427 closed

[2018-09-03 12:58] Watanyou opened #2471 "Need help for Setting timeout in Firestore"
I'm look for setting a timeout in case of cable connected but unable to access internet. as I see in this document.
https://jskeet.github.io/google-cloud-dotnet/docs/Google.Cloud.Firestore.Data/api/Google.Cloud.Firestore.V1Beta1.FirestoreSettings.html
Default timeout was 10 mins. and I try but I can't change the setting (get only, I can't set).

this is what I try for now but I don't know how to s

[2018-09-03 13:37] jskeet commented on #2471
Configuring timings can be tricky, I agree - there are lots of different options to consider, including the basic "do you want an expiration or a retry". Here's an example that uses a flat 10 second timeout:

[code]

Does that help?

[2018-09-03 15:43] #2430 closed

[2018-09-03 15:44] Thaina commented on #2048
Sadly the august was passed

[2018-09-04 12:37] Watanyou commented on #2471
Thank you @jskeet that help me a lot but how to set a Project Id?

[2018-09-04 13:02] jskeet commented on #2471
Just pass it into the `FirestoreDb.Create` method as normal:

[code]

or

[code]

[2018-09-05 04:04] pauloevpr opened #2473 "Firestore - DocumentSnapshot.ConvertTo fails with ArgumentException"
I have found an interesting issue when using Firestore (currently 1.0.0-beta08) in my C# project. Calling `ConvertTo<T>()` from a document snapshot fails when T does not contain properties to accommodate all document's fields. An ArgumentException is thrown in this case.

This is how the issue can be reproduced:

Given the following POCO class:

[code]

And the following Firestore document:

[code

[2018-09-06 00:32] pauloevpr opened #2477 "Firestore - ValueDeserializer fails with NullReferenceException"
I have found an issue when using Firestore (currently 1.0.0-beta08) in my C# project. Calling `ConvertTo<T>()` from a document snapshot fails when T has a property with `FirestorePropertyAttribute `that has a non-public setter.

The exception is `System.NullReferenceException: 'Object reference not set to an instance of an object.' System.Reflection.PropertyInfo.GetSetMethod(...) returned null.` I

[2018-09-06 06:39] pauloevpr commented on #2477
Thank you for your reply.

Mapping `DocumentSnapshot` to a `Dictionary<string, object>` is costly enough, provided that the current serialization capabilities are far from optimal. Applying another serialization operation on top of that will come with a performance penalty.

If the idea is to keep the library simple, I think there should be at least room for extension. The simplest solution I can

[2018-09-06 07:58] jskeet commented on #2477
Working out the right extension points is itself a point of complexity. We definitely need to find a balance here, and it's probably too restrictive right now - but I'm very conservative when it comes to adding additional API aspects, simply because it's a lot easier to add functionality later than it is to remove it. (Obviously more so once the library is GA.) It becomes even more complex when th

[2018-09-06 08:52] pauloevpr commented on #2477
Maybe getting a copy of `Document` as a `Dictionary<string, Google.Cloud.Firestore.V1Beta1.Value>` out of `DocumentSnapshot` should be enough to allow custom serialization. Cloning `Google.Cloud.Firestore.V1Beta1.Value` seems to be a lightweight operation.

[2018-09-06 11:42] haf commented on #2460
@amanda-tarafa Sounds plausible, but we read the metadata ourselves and parse it on app start, if we set them as part of the resource, explicitly. Did you try just creating a console app and sending another source? Because I haven't tested this issue in a few months and things may have changed.

[2018-09-06 11:56] amanda-tarafa commented on #2460
@haf I'm looking into this issue right now. I'll update here when I have more info and have confirmed or not if the 2 issues are related.

[2018-09-06 13:52] jskeet commented on #2477
Okay, I've been speaking with a colleague, and for now, our plan is:

- As the properties are explicitly attributed, we *will* allow internal and private ones (both for get and set). If we ever introduce the idea of "just fetch every property" we may need more nuance on that setting, e.g. PublicProperties etc
- We'll introduce a *very* crude opt-in warning mechanism in the form of an `Action<strin

[2018-09-06 15:34] amanda-tarafa commented on #2460
@haf I've ran the following code (basically logary's own F# Hello World example tweaked to use Stackdriver as a target) and I can confirm that the entry does not appear under Global but under the proper GKE container, and all the labels for the resource have their correct value. That is I can't reproduce the issue.
As you can see the values I used are hard-coded, but I got them from a test cluster

[2018-09-06 21:59] pauloevpr commented on #2477
Great news! I am looking forward to that. Thank you.

[2018-09-07 02:38] Thaina opened #2479 "Is it possible to update document that not exist?"
I use `Precondition.None` and it throw `NullReferenceException`

[code]

I think this is a bug because what will be usage of `Precondition.None`

But then I wonder if it really intended. Is it the limitation that we could not really update document that not yet exist?

If it really be the case I would like to have `Precondition.None` be deprecated because it has no usage. But if it was a bug in th

[2018-09-07 09:01] haf commented on #2460
@amanda-tarafa That is great! Now we can also improve Rutta to ship into the GCP Compute Instance resource :) /cc @akselsson

[2018-09-07 09:01] #2460 closed

[2018-09-07 11:14] jskeet commented on #2479
Okay, it turned out to be a simple bug. Yes, it's possible to use Update with a document that doesn't already exist, and I now have an integration test for that.

The bug will be fixed by #2481. It's a trivial fix, but I'll want to get #2480 merged as well before doing a release - and I wouldn't want to do a release on a Friday anyway. Hopefully this will mean a new release on Monday.

[2018-09-07 12:19] #2479 closed

[2018-09-07 12:51] #2473 closed

[2018-09-07 12:51] jskeet commented on #2477
Fixed; will release on Monday.

[2018-09-07 12:51] #2477 closed

[2018-09-11 13:05] jskeet commented on #1776
The partial class can (and must) now be removed, but I need to check exactly how far it's really implemented.

[2018-09-11 15:54] tillig commented on #2435
I haven't abandoned this, just still working through legal. Sorry for the delay.

[2018-09-11 16:51] amanda-tarafa commented on #2435
No worries, and thanks for the update.

[2018-09-13 07:53] jskeet opened #2499 "Add support for Datastore emulator"
There's no imminent plan for a non-environment-variable-based emulator, so we should make it easier.

It will still be explicitly opt-in, and we probably only need it on `DatastoreDb.Create`.

[2018-09-13 17:36] jskeet commented on #2479
Apologies for the delay in the release - I tagged it, but apparently forgot to trigger a build. This is now available in v1.0.0-beta10.

[2018-09-13 20:00] german95n opened #2507 "[Google.Cloud.Dialogflow.V2] When returning a WebhookResponse, the field FulfillmentText is marked as optional, but Actions on Google returns error."
I am trying to send back a response like:

[code]

But on Actions on Google I get:
MalformedResponse
'final_response' must be set.

If I send the same response with the field FulfillmentText set as "Phrase", then everything works.

[2018-09-13 20:17] jskeet commented on #2507
My *guess* is that you're letting Json.NET serialize the response. Don't do that - it won't work. Follow the example on https://googlecloudplatform.github.io/google-cloud-dotnet/docs/Google.Cloud.Dialogflow.V2/index.html so that you serialize the response properly.

If that isn't it, please provide some more context for the code.

[2018-09-13 21:52] german95n commented on #2507
I am using the ToString method from the Google Protobuf.

The thing is that It seems like the documentation of the field FulFillmentText from the WebhookResponse is wrong. I mean, Dialogflow parses correctly the response, but then when Dialogflow pases the response to Actions on Google, then Actions on Google throws the error specified before.

If I respond with this, then all works fine, Actions

[2018-09-13 23:36] german95n commented on #2507
Wait a Second. Am I supposed to use the Payload field for the responses for Actions on Google and not use the FulfillmentMessages field?

[2018-09-14 06:06] jskeet commented on #2507
I'm afraid at this point we're way beyond my knowledge - the contributors here have to work with a *lot* of APIs; we don't know the APIs well, but we're good at finding out if there's a problem with the .NET-specific parts.

It sounds like you're able to produce the JSON you expect, at which point I don't think we can help you any further, so I'm going to close this issue. I'd suggest looking thro

[2018-09-14 06:06] #2507 closed

[2018-09-14 16:13] german95n commented on #2507
I was my fault. I was misunderstanding the documentation.

What I needed to do is to mark the message with the appropriate platform. And if you want to send a card back to Actions on Google, you need to provide a simple response too.

[code]

[2018-09-15 14:32] yetanotherchris opened #2511 "Paging with StorageClient"
Is it possible to page with the `StorageClient` in the current version of the .NET Api?

I've looked at the source and can see the nextPageToken is being set by an internal `PageManager`, for one big page, but there doesn't seem to be a manual way of:

1. Fetch 100 items, page 1
2. Fetch 200 items, page 2
3. so on..

[2018-09-15 16:30] jskeet commented on #2511
I'm not *quite* sure what you're trying to achieve, but it sounds like you're after the `ReadPage` method, which will read the next page of data up to a certain page size, performing multiple requests if necessary to ensure you get the exact page token for your page boundary. There's an example here:

https://googlecloudplatform.github.io/google-cloud-dotnet/docs/guides/page-streaming.html#display

[2018-09-15 17:01] yetanotherchris commented on #2511
Hi Jon, I'm after the equivalent of AWS's `ContinuationToken` - the docs link you gave seems to be it, but I can't see how you specify it for `StorageClient`

[2018-09-15 17:08] jskeet commented on #2511
Just to check, do you mean you don't know how to *get* at the page token, or how to specify it? Because you'd *get* it from the `Page<Object>` (returned by `ReadPage`),  but you're right - there's nowhere to specify it in `ListObjects` or `ListBuckets`, which definitely surprises me!

I'd normally expect this as a separate parameter in the calls, but introducing that would be a breaking change at

[2018-09-15 17:12] yetanotherchris commented on #2511
How to set it for subsequent requests

[2018-09-17 06:49] pauloevpr opened #2513 "Firestore: Expose sufficient state to manually restart a Listen operation"
**Edited 2018-09-21: This was originally a bug report, and the context is preserved for informational purposes. It's now a feature request to permit clients to perform recovery from long-lasting network outages.**

----

I have found two issues which indicate that `FirestoreChangeListener `does not handle network outage properly:

1. If the network connection is restored after being down for a few

[2018-09-17 07:55] jskeet commented on #2513
I'll certainly treat it as a bug for now, but I'd like more information about each case.

Caveat for all of this: while I implemented the API, I'm not on the Firestore team so some subtleties may be outside my knowledge. I'll let the Firestore team know about this so they can check my assertions.

**Case 1**

I'd expect updates to be visible, but potentially bundled up. For example, I think this i

[2018-09-17 10:17] #2511 closed

[2018-09-17 15:50] jskeet commented on #2511
This was released as Google.Cloud.Storage.V1 version 2.3.0-beta01. If you get a chance to try it out, it would be great to hear whether it works for you.

[2018-09-18 02:36] pauloevpr commented on #2513
Thank you for replying.

This is exactly the behavior I get for each case:

**Case 1**

Value set to 1
Callback fired with value 1
Network dies
Value set to 2
Value set to 3
Network recovers
**Callback is not fired**
Value set to 4
Callback fired with value 4
Value set to  (a significant time after the network recovery)
Callback fired with value 5

**Case 2**

It happens just like you described. T

[2018-09-18 05:33] yetanotherchris commented on #2511
Looks good to me, the previous failing test on the project I'm working on pass now 👍

[2018-09-18 06:28] jskeet commented on #2513
Okay, let's deal with case 2 first. This is out of scope for this library. The expectation is for this library to be used for server-side applications, so there's relatively little connection-handling and offline support, which the client-side SDKs would provide. There *is* a callback of sorts that the connection has failed, in that the task changes state to `Faulted` - you can await that or add a

[2018-09-18 06:54] Thaina commented on #2048
@schmidt-sebastian Are there any problem on this specific request?

[2018-09-18 06:55] jskeet commented on #2048
Sebastian is out at the moment. I'll ask another team member whether they can share the result of the discussion.

[2018-09-18 06:55] Thaina commented on #2048
@jskeet What happen? Is him alright?

[2018-09-18 06:57] jskeet commented on #2048
@Thaina: Yes, he's fine - but I'm not going to go into the personal lives of Googlers on a public web site.

[2018-09-18 06:58] Thaina commented on #2048
@jskeet That's OK I just worried

[2018-09-18 12:27] 20092738 opened #2519 "Some time there is no final response in Response stream result"
I'm making an real time speech to text application with Microphone.
While streaming audio, normally my application receives final response after received some interim results.
but some time, there is no final response even interim result is received long time before.
Is there any way to make my application always received final result after received interim result ?

[2018-09-18 12:34] jskeet commented on #2519
Did the stream end in the normal way? If so, I suspect that's a matter of the speech recognition engine deciding that it didn't have a good enough final option to include. I doubt that this is an issue in the .NET client library specifically, so it's unlikely to result in a code change here.

If you have a sample file we could use to reproduce this, I could report it to the Speech team internally,

[2018-09-18 12:38] enriko-riba opened #2520 "Make serialization/deserialization without FirestoreData/FirestoreProperty attributes"
Currently we have to either use property decoration or serialize via maps.

1st approach works for owned classes but not for classes in 3rd party assemblies as we can not decorate them. In addition mapping to enums or structs is also an issue.

2nd approach requires writing code to convert POCO instances to `Dictionary<string, object>` and vice versa. This is practical only for most simple classes

[2018-09-18 12:43] jskeet commented on #2520
We're definitely *not* going to take a dependency on Json.NET. That approach leads to potentially harmful version mismatches which we've had experience of before.

You can serialize to and from a `Dictionary<string, Value>` to effectively retain the protobuf representation - and your application could even depend on Json.NET and have a way of using their annotations to perform the serialization an

[2018-09-18 13:17] enriko-riba commented on #2520
You are actually rephrasing my statement that the serialization is impractical as it results in working with Dictionary objects instead with strongly typed objects. I understand serialization is low on your priority list but I am searching for guidelines how to accomplish this with maintainable code.

Am I missing an obvious way of converting those dictionaries into strongly typed objects?
You men

[2018-09-18 13:20] jskeet commented on #2520
You'd still need to write conversions from the `Value` proto to your classes, yes. Doing so directly from `Value` would probably be better than going via the "default" deserialization/serialization to .NET types. There's no quick win there: it would involve writing code, either on a case-by-case basis or writing your own serialization framework.

In terms of protobuf, no, creating a protobuf messa

[2018-09-19 04:09] 20092738 commented on #2519
Hi @jskeet ,
Thank you for your support!
I've already recorded to sample file with sample rate 16000Hz. But my test language is Japanese.
Please refer to attachment bellow:
[FileStream.zip](https://github.com/googleapis/google-cloud-dotnet/files/2395368/FileStream.zip)

I think it's difficult to analyze this problem with Japanese but please help me if you can.
With this sample file, I expect to re

[2018-09-19 08:40] jskeet commented on #2519
Okay - while I personally don't understand Japanese, hopefully that'll be okay for the Speech team to investigate. Please could you show the exact settings you're using? It would be unfortunate if I made assumptions and then found out we'd been trying different code.

(If you could supply a complete console app that demonstrates the problem, that would be ideal - but otherwise just the settings wo

[2018-09-19 12:01] 20092738 commented on #2519
You can procedure this problem with Sample Recognize application already existed here:
https://github.com/GoogleCloudPlatform/dotnet-docs-samples/tree/master/speech/api/Recognize
(Use StreamingRecognizeAsync() function for audio file streaming recognize)
about recognize setting, I kept all of them as sample source code except language code.
you should change language code to "ja" for Japanese reco

[2018-09-19 13:46] jskeet commented on #2519
Hmm. I can't reproduce the problem - I always get a final response (4 of them in fact).

Here's the code:

[Repro.zip](https://github.com/googleapis/google-cloud-dotnet/files/2397294/Repro.zip)

And here's the output:

[code]

Could you try that exact same code yourself?

[2018-09-19 16:15] 20092738 commented on #2519
hmmm.
I also get the same result.  It may be not bug.
But it take a long time to receive final result almost 30 seconds (00:30.138). could you tell me why ?
Moreover, duration between two interim results also to long (for example 00:06.782 -> 00:09.644). is possible to reduce it ?

[2018-09-19 16:31] jskeet commented on #2519
No, I think this is just a consequence of the complexities of Speech recognition, particularly for long pieces of speech. (The first "final" result has a long transcript.)

Without the `Task.Delay(500)` in the code, the whole file completes after 14 seconds for me - but as streaming speech is not intended to be delivered much faster than real-time, I suspect that that will reduce reliability.

[2018-09-20 05:10] jskeet commented on #2519
No, I don't know anything about the implementation. If you're still seeing situations where you don't get a final response, it would be good to try to reproduce that - that was the original intention of asking for a sample.

[2018-09-20 21:29] SurferJeffAtGoogle opened #2532 "Memory leak issue while publishing message"
Copied from https://github.com/GoogleCloudPlatform/dotnet-docs-samples/issues/547

Hi,
The memory size is increasing and crashing the application at the below line.

publishTasks.Add(publisher.PublishAsync(text));

Any idea how to clear the memory after a message? We have to send 1000's of records in a minute and the memory is keep on increasing.

[2018-09-20 22:08] pauloevpr commented on #2513
For case 1, I have tested two different scenarios:

**Network shutdown**

This scenario can be emulated by disconnecting the network cable or by disabling the network interface on Control Panel\Network and Internet\Network Connections. The `ListenerTask` fails pretty much immediately:

[code]

**Connection timeout**

This scenario can be emulated by disconnecting the WAN port of the LAN router or

[2018-09-20 22:18] pauloevpr commented on #2513
I will agree with you on case 2. Auto recovering really sounds like a client-side feature which is not the purpose of this library.

The real problem is **case 1** when dealing with **network timeout** scenario. If connection goes up before the timeout (which is btw too long), the listener does not receive the updates (not even the latest) received during connection outage, and the task does not f

[2018-09-21 03:07] pauloevpr commented on #2513
After testing this solution more carefully, I found out that there was an issue with my network which was causing the strange behavior of not receiving updates after a short network outage (30-60 seconds). So I confirm that the **case 1** is actually working as expected. The **callback is fired** whenever the connection is restored **before timeout**.

Only three cases cause the listener to fail:

[2018-09-21 03:19] pauloevpr commented on #2513
Regarding **case 2**, it seems pretty simple to restart the listener manually. The only issue is, if the same `IWatchState.ResumeToken` is not used when creating the new listener, the state will be lost.

So my suggestion is to leave this thread as feature request to allow the manual creation of a listener using an existent state.

[2018-09-21 06:06] jskeet commented on #2513
Works for me. I've edited the title of the issue and the first comment. I haven't looked into how hard it would be to expose enough state to resume listening - and there may be other reasons why it's not feasible at the server side, such as resume tokens only being relatively short-lived - but I'll ask the Firestore team what they think.

[2018-09-21 06:08] jskeet commented on #2532
Code causing a problem is [here](https://github.com/GoogleCloudPlatform/dotnet-docs-samples/blob/8aab65220c26cce1ed03edd3cfd4b23b907e6d76/pubsub/api/PubsubSample/Program.cs#L281)

[2018-09-21 07:11] chrisdunelm commented on #2532
OK... Then I guess I'll update the sample

[2018-09-21 07:21] chrisdunelm commented on #2532
@SurferJeffAtGoogle Created https://github.com/GoogleCloudPlatform/dotnet-docs-samples/pull/645 adding a comment to the sample. Please can you review?

[2018-09-21 08:34] 20092738 commented on #2519
yes, I see.
I have last question about final result.
in my test, while receiving interim result, I send complete streaming command using WriteCompleteAsync(). Normally I received final result right after send complete streaming.
Is Google Speech API always send final result after complete stream ?

[2018-09-21 08:48] jskeet commented on #2519
I honestly don't know about that - I would expect so if there has been some speech, but if there's been no speech detected I wouldn't expect a final response. That's a question which isn't really about the .NET API - I'd suggest asking via one of the [general support mechanisms](https://cloud.google.com/speech-to-text/docs/support) for the Cloud Speech-to-Text API. The [Google Group](https://group

[2018-09-21 08:48] #2519 closed

[2018-09-21 08:50] pauloevpr commented on #2513
In the mean time, I would like to share a temporary workaround which I am using to auto recover faulty listeners. It basically follows Jon's suggestion to add task continuation to detect faulty listeners. The listener is then **re-created** using the original parameters.

There is very little work for the caller to do. Instead of calling `documentReference.Listen(snapshot => { })`, call `documentR

[2018-09-21 14:10] chrisdunelm commented on #2436
Sorry for the delay in responding, Answered on stackoverflow.

[2018-09-21 14:10] #2436 closed

[2018-09-22 12:30] rupreetg opened #2533 "Status(StatusCode=Unavailable, Detail="Deadline Exceeded")"
I am getting this error when I am calling the Upsert call on the datastore. All the Get/query calls are passing and have no issues but upsert calls are failing with this error.

I've added only this package to my .net core 2.1 solution
    <PackageReference Include="Google.Cloud.Datastore.V1" Version="2.2.0-beta01" />

Initially I thought I need to add some other packages are detailed out in #1903

[2018-09-23 16:10] jskeet commented on #2533
This wouldn't be caused by missing packages - it would basically be caused by an operation timing out.

Are you setting a deadline manually at all, or just using the default? It's BeginTransaction that looks like it's failing, and that's got a one minute timeout.

Are you able to reproduce this in a simple console application which just performs an upsert operation? Is there anything unusual about

[2018-09-25 00:12] pauloevpr opened #2534 "Firestore: more flexible serialization"
I am having some issues trying to get Firestore API to convert between `StringValue` and DDD value objects which are fully convertible from/to string. Let me give an example:

[code]
When calling `snapshot.ConvertTo<UserAccount>()`, `ValueDeserializer` fails with `System.ArgumentException: 'Unable to convert value type StringValue to Email'`.

It seems `ValueDeserializer` ignores type converters a

[2018-09-25 00:13] pauloevpr commented on #2534
The issue is the same for `ValueSerializer`.

[2018-09-25 06:19] jskeet commented on #2534
I *definitely* don't want to support `TypeConverter` - that would have to be for the `net45` target only (as it's not in netstandard1.5), which could cause some really subtle issues. Adding a dependency on an extra package could change which version of Google.Cloud.Firestore is used, suddenly breaking code.

While we *could* support the implicit conversion, it does introduce extra complexity which

[2018-09-25 06:53] pauloevpr commented on #2534
Thank you for your response.

I wasn't aware of `net45` dependency of `TypeConverter`. I will agree with you on this. Keeping a low `netstandard` dependency is definitely something I support.

I will also agree that implicit conversation is not a good solution either.

Since this is clearly a feature request, I would like to propose a more generic solution to handle this and other scenarios where

[2018-09-25 07:03] jskeet commented on #2534
That sounds reasonable - I suspect there'll need to be a lot of warnings about not reusing `Value` instances etc, but it will at least be pretty flexible. I'll need to check that the Firestore team is happy with this plan as well.

I suspect the `DeserializeValue` method will want to take a target type as well, which would be the declared type of the property.

It's unlikely that I'll get to this

[2018-09-25 07:08] pauloevpr commented on #2534
I am happy with the workaround for now. Thank you.

Btw, are pull requests welcome on this repository?

[2018-09-25 07:28] jskeet commented on #2534
Yes, although I may well not be able to prioritize reviewing a PR any higher than writing the code itself, I'm afraid :(

[2018-09-25 17:08] rupreetg commented on #2533
Sorry for the delay, Initially I thought it got resolved but I can still see the issue. Here are more details -

I was able to get it working, Upsert is working now (I wasn't using UpsertAsync initially).

Since morning, I've been running heavy test - doing get/save calls quite frequently and now I am seeing similar errors. Below is the latest error -

Exception in UpdateInternal: stock: ADANIPOWE

[2018-09-26 00:29] pauloevpr opened #2536 "FirestoreChangeListener won't receive updates after 1 hour"
I have been facing an issue with the real time capabilities of Firestore API. I was reading Firestore documentation when I found out that [user authentication tokens expire in 1 hour](https://firebase.google.com/docs/auth/admin/manage-sessions). This led me to the question: If the token expires in 1 hour, what happens to FirestoreChangeListener after expiration?

I then proceeded to run a simple t

[2018-09-26 06:32] jskeet commented on #2536
Hmm... I'll have to ask the team about both of these aspects, I'm afraid. I think I'd *expect* the server to request a reset, which would cause the library to issue a new request with a new auth token. (It performs refreshes automatically.)

I have absolutely no idea on the billing side.

Thanks for bringing this up, and I hope I'll be able to provide more information in the next day or two.

[2018-09-26 06:40] jskeet commented on #2533
A few questions:

- Do you have any timings for how long the calls took in each case? When the calls fail, are they genuinely timing out as far as you can see?
- Is there any reason you're upserting each entity individually, rather than using batches? I'd expect that to be more efficient
- Do you have a rough idea of how many requests of what kind you were making, over what period of time?
- Was t

[2018-09-26 06:44] pauloevpr commented on #2536
Thank you for taking the time once again to reply.

[2018-09-26 13:26] kabilan-ravi opened #2537 "Firestore offline sync support for xamarin (dot net)"
Firestore offline sync support for xamarin (dot net). When can we expect this to happen? Currently we are using couchbase. We are thinking of moving our entire data storage to firestore. Getting the offline sync support is the main blocker for us to proceed with firestore. Can anyone give me an update on this?

[2018-09-26 16:09] jskeet commented on #2537
I can't speak to this myself - it would be best to ask on the [Google Group](https://groups.google.com/forum/#!forum/firebase-talk). While I could ask a Firestore team member for comments, it's not productive for me to relay messages back and forth - and asking in the Google Group would also be better for visibility.

It won't be the same codebase as the library in this repo, so I'm going to close

[2018-09-26 16:09] #2537 closed

[2018-09-26 17:49] schmidt-sebastian commented on #2536
Hi @pauloevpr, let me try to answer your questions.

First off, what SDK are you using? As far as I am aware, the .Net SDK only supports Service Account authentication. Please do prove me wrong here :)

Secondly, your stream will stop once an hour when the auth token expires. The SDK should re-connect automatically and hide this from you. Since we will resume the query from the last state that the

[2018-09-27 06:52] jskeet commented on #2536
Service account vs user account: the client code doesn't care which authentication mechanism you use. I don't know whether there are any server-side differences that could affect things though.

I'll look into both aspects of this when I get the chance. (We'll want to add a cross-platform conformance test for the non-reporting of non-changes, too.) Thanks for reporting it.

[2018-09-27 07:42] pauloevpr commented on #2536
Hi @schmidt-sebastian, thank you for taking the time to reply.

I am using .Net SDK, and I am using an user account, not a service account. I am working on a Windows desktop application. This is how I am getting authentication done for an user account:

[code]
Note that `bearerToken` is obtained via Firebase REST authentication.

I am getting this from the Listener. I am using the package publishe

[2018-09-27 07:46] jskeet commented on #2536
Ah - if you're implementing credentials yourself, then that could well be the cause of the "one hour" problem. There's no token refresh in your code.

If you can go through `Google.Apis.Auth.OAuth2.UserCredential` (and then call the `ToChannelCredentials` extension method) that should refresh automatically.

If you need to keep using the Firebase authentication, you should implement token refresh.

[2018-09-27 07:49] pauloevpr commented on #2536
I am going to give this a try. I will keep you posted.

[2018-09-27 07:56] pauloevpr commented on #2536
Could you please point me to any documentation about using `Google.Apis.Auth.OAuth2.UserCredential` with Firebase authentication?

[2018-09-27 08:05] jskeet commented on #2536
I'm afraid I don't know anything about Firebase authentication. It may not be applicable for `UserCredential`, which is designed for Google users to authenticate to APIs.

Note that the library here is really designed for servers, using service accounts - that's why there's no offline support etc. I don't know what the plans are for desktop applications. (We should probably make that clearer in th

[2018-09-27 08:08] pauloevpr commented on #2536
Refreshing the token is not a problem. I known how to do that. What I dont know is, after getting a new token, how to pass it to FirestoreDb so the listeners keep working.

[2018-09-27 08:14] jskeet commented on #2536
I would *hope* it would just work automatically, once your credentials do the right thing. I need to try the same test with a service account when I get time, but I'd expect the streaming request to fail, and then the listener to recreate it transparently - at which point it will use the new token, and work.

[2018-09-27 11:00] schmidt-sebastian commented on #2536
Re: The 10 minute update interval.

I suspect that you are hitting a request timeout here, possibly due to an RPC timeout that is defined by the client. The retry logic that we have build into the Watch protocol should essentially hide this from you - but maybe the C# client always issues a Watch Snapshot once the stream has been re-established?

[2018-09-27 11:20] pauloevpr commented on #2536
Once again you are correct. I have spent the day testing the behavior to conclude that the SDK behaves as expected as long as  the underlying `ChannelCredentials` provides an up to date authentication token.

This is the output now after fixing the `ChannelCredentials`. The listener continues to work after 1 hour.

[code]
Notice how the token is refreshed right before expiring. Also notice that ev

[2018-09-27 13:52] jskeet opened #2542 "FirestoreChangeListener provides empty updates"
The server disconnects every 10 minutes, and the listener automatically reconnects - but it then provides an empty update to the code that set up the listen operation.

Originally part of #2536, but split out of that to avoid confusion.

[2018-09-27 13:53] jskeet commented on #2536
Hooray. Given that we've learned a lot more, I'm going to close this issue so that we can keep track of it in #2542 without confusion.

Thanks for all your efforts tracking things down!

[2018-09-27 13:53] #2536 closed

[2018-09-27 17:12] #2532 closed

[2018-09-27 18:55] rupreetg commented on #2533
Thanks @jskeet for followup.

I've done some more optimization but yet to run the full test so will share the results. I've done batching at both Get and Save calls so it should reduce the number of calls significantly - somewhere around 1-2 get calls in an hour and around 2-4 save calls in an hour.

Before the optimization, I was doing get and save - 4 get calls per minute but might be 100-400 sa

[2018-09-28 12:45] sasog23 opened #2544 "FirestoreChangeListener"
is it possible to query/listen to the collection based on the last update time,
without adding additional field(last update time) to the document

CollectionReference collectionListen = firestoreDb.Collection("saso-test");
Timestamp _ts= new Timestamp();
Query queryListen = collectionListen.WhereGreaterThanOrEqualTo("timestamp", _ts);
FirestoreChangeListener listener = queryListen.Listen( callback

[2018-09-28 13:14] jskeet commented on #2544
No, I don't believe it is - you basically need to add it to your document, and use the server timestamp special value when you modify the document. That's certainly what I've been led to believe in conversations with the Firestore team before, when asking about #2250.

I'm going to close this issue now as it's not really about the .NET library - I suggest that if you want to talk more about it wit

[2018-09-28 13:14] #2544 closed

[2018-09-28 13:17] jskeet commented on #2520
Closing as we don't expect to act on this directly. With the proposal in #2534, you'd be able to potentially create a single wrapper class with the attribute specifying a serializer. That feature request is far from certain at the moment, but it's probably your best way forward here - I suggest you subscribe to that issue for updates.

[2018-09-28 13:17] #2520 closed

[2018-09-28 13:30] jskeet commented on #2542
I've looked into this now, and I strongly suspect it's a cross-language issue. I've passed details onto the Firestore team to decide how best to handle it. (The internals are pretty hairy, and the Firestore team understands them much better than I do.)

[2018-09-28 14:48] rupreetg commented on #2533
Yes, I also thought that 400 calls were not high, yet I was intermittently getting errors related to deadline, etc.

I'll keep updating this thread with the results of the optimizations.

Regarding the other issue, it is not specific to node, its specific to datastore. As I understand from the other thread, its about how datastore projection types like datetime. I'll open a new issue for this.

[2018-09-28 15:02] rupreetg opened #2546 "Datastore query projection with datetime returns integer"
I have datetime type in my projection and it returns me integer value instead of timestamp value. If I remove the datetime type from projection, I get correct type back. Below is sample query -

[code]

queryResult.Entities.Properties[date] return back Integer value.

I read about similar issue here (https://github.com/googleapis/google-cloud-node/issues/1319) and the workaround given is not worki

[2018-09-28 15:04] jskeet commented on #2546
Could you show some code that populates the document? (A complete example that populates the document and then executes the query would be ideal.)

[2018-09-28 15:08] rupreetg commented on #2546
Sure, here you go

[code]

[2018-09-28 15:16] jskeet commented on #2546
Okay, it's not exactly a complete example, but I'll try to produce something that *is* a complete example based on this.

[2018-09-28 16:03] jskeet commented on #2546
Okay, I've reproduced it with this complete example:

[code]

You need an index like this:

[code]

Sample output:

[code]

The broken part is here:

[code]

[2018-09-28 16:04] jskeet commented on #2546
I'll need to ask the team about this - it looks like it's probably a server bug, but we'll see.

[2018-09-28 23:34] rupreetg commented on #2546
Sure, thanks @jskeet. In case there is a quick workaround for this, do let me know so that I can continue with my work.

[2018-09-28 23:49] rupreetg commented on #2546
just to add to that, not sure if it helps you investigate, my index file has orderby too - something like this -

indexes:

- kind: test
  properties:
  - name: type
  - name: stocksymbol
    direction: desc
  - name: lastrefreshed
    direction: desc

[2018-09-29 03:14] rupreetg commented on #2533
Update, now that my save is only 1-2 calls (with 500 records in a batch), I am getting the below error -

Message: Status(StatusCode=Unknown, Detail="Stream removed")
StackTrace:

[code]

Below is the code I am using to save data

[code]

[2018-09-29 07:28] rupreetg commented on #2533
I'm outside right now but here are quick details:

- Running in window 10 laptop at home without any proxy or load balancer. Still in development phase.

- network is stable, have been fetching data from multiple sources without any issues.

- running in debug mode in visual studio as I am still developing the system.

[2018-09-29 08:06] jskeet commented on #2533
Thanks for the extra information - although it leaves me a little stumped. Out of interest, is your app loading the CPU heavily? One of the comments in the gRPC issue referred to that as making the problem happen more frequently. I would still suggest adding a comment to the gRPC issue - the gRPC team may be able to suggest additional diagnostics that would help us track down what's going on.

Hav

[2018-09-29 10:18] rupreetg commented on #2533
Unfortunately, no. This is a simple job which will fetch data from multiple source and push to datastore in a structured manner, nothing much beside this. I did see that issue you mentioned before posting this issue, I don't see any high CPU or any specific patterns. My wild guess is the amount of data might be causing so am reducing the batch size and adding retry pattern to see if it works.

Do

[2018-09-29 10:45] rupreetg commented on #2546
Thanks, it worked!

[2018-09-29 11:30] jskeet commented on #2533
I'm afraid I'm unlikely to be able to think of anything more in the short term - and I'm travelling next week. I suspect the gRPC team are your best hope, but again there may not be much feedback on a weekend.

[2018-09-29 15:30] rupreetg commented on #2533
I tried couple of things like reducing the batch size to 200, retrying in case of failure but its just not working. By gRPC team, do you mean I should open a bug somewhere else or are you including them in this thread? Seems like batching isn't working for me. I was able to save records individually but with batching can't save.

Aren't other people facing similar issues - these are simple get/sav

[2018-09-29 16:14] jskeet commented on #2533
I'm saying you should add a comment to [this gRPC issue](https://github.com/grpc/grpc/issues/15623) that I linked to before. That looks like it's affected multiple users with various different client libraries (including ones that aren't for Google APIs at all). I don't believe this is specific to the Datastore library, and no, we haven't had reports of other people facing this issue with this spe

[2018-10-02 06:03] Watanyou commented on #2471
@jskeet Sorry to ask but how I secure credential json file in production stage?

[2018-10-02 11:18] jskeet commented on #2471
@Watanyu: That's a bit beyond the scope of questions suitable for this repo, and certainly away from the topic of this issue. It will depend very much on where you're deploying. On GCP you wouldn't need a credential file at all, for example - you can use the ambient credentials of the machine you're deployed on. On other platforms, the best way of securing information will depend on that platform.

[2018-10-02 14:09] jskeet commented on #2542
This fix was released in Google.Cloud.Firestore version 1.0.0-beta11.

[2018-10-03 16:50] MRomeror opened #2555 "Problem SensitiveCase Fulfillment response dialogflow"
Hello,
Have a project lambda .NET Core and main function return WebhookResponse, the name of the objects starts with a capital letter and forms the following JSON
`{
  "Payload": null,
  "Source": null,
  "FulfillmentText": "Hola Mundo",
  "OutputContexts": null
}`

When I call the intent I get the following status: `"Webhook call failed. Error: Failed to parse webhook JSON response: Cannot find f

[2018-10-03 17:02] jskeet commented on #2555
You need to use the Protocol Buffers library for JSON parsing and formatting.

We have an example at https://googleapis.github.io/google-cloud-dotnet/docs/Google.Cloud.Dialogflow.V2/index.html which should help you.

[2018-10-03 20:24] ILMTitan opened #2556 "SpannerConnectionStringBuilder: More settable properties."
SpannerConnetionStringBuilder properties Project, SpannerInstance and SpannderDatabase should all be settable.

I would like to be able to do
[code]
instead of
[code]

[2018-10-03 20:50] jskeet commented on #2556
Hmm... will see what I can do in the rewrite. If the existing connection string can be parsed, it's fine - if we don't currently have a valid data source, "replacing" just the SpannerInstance may not make much sense.

[2018-10-04 06:50] sabiland opened #2558 "Working with EntityTypesClient"
I have started refactoring our company's backend from DialogFlow V1 to V2 gRPC API.

I have already many problems and am totally confused. Say I want to get ONLY one entity info.

1) I have created NEW agent, set-up Google IAM, credentials, etc.
2) I have imported our current V1 agent and converted it to API V2
...
3) EntityTypesClient
4) Among our entitites is one: **"program"**
5) When I call cl

[2018-10-04 08:23] ef-computas opened #2559 "BigQueryResults.TotalRows throws InvalidOperationException"
version: Google.Cloud.BigQuery.V2 1.3.0-beta05 and Google.Cloud.BigQuery.V2 1.2.0

Running a query that selects rows from a source table and appends to a destination table:

[code]
The query seem to run ok, but an exception is thrown when attempting to access bigQueryResults.TotalRows:

System.InvalidOperationException: Nullable object must have a value.
  at System.ThrowHelper.ThrowInvalidOperati

[2018-10-04 10:57] jskeet commented on #2555
That's part of ASP.NET Core.

[2018-10-04 11:02] MRomeror commented on #2555
My project is lambda function and use .NET Core 2.1. Is there another solution?

[2018-10-04 11:05] jskeet commented on #2555
You need to find whatever you need to do to just send back a JSON string directly. I'm sure it's easy, but I haven't used lambda functions myself.

[2018-10-04 11:07] MRomeror commented on #2555
Ok, Thanks :)

[2018-10-04 11:36] jskeet commented on #2558
I'm glad you've solved the problem - I'll close the issue.

I'm afraid we're *mostly* unable to help with API-specific detail in this repo; we're responsible for making sure the APIs can be accessed reliably from C#, but we don't know the details of all the APIs. (For some where we write significant wrapper code by hand, we're more likely to have an idea, but Dialogflow is purely generated.) For f

[2018-10-04 11:36] #2558 closed

[2018-10-04 11:40] jskeet commented on #2559
Hmm... that's worrying. That suggests the underlying `TotalRows` property is null. I don't know why that would be. I'd expect that to always bye populated on a successful query. I'll have to look into this. I'm afraid I'm travelling over the next couple of days, which is going to delay things somewhat, although I'll see if I can find pockets of time.

Does this happen every time, or just occasiona

[2018-10-04 12:17] JustinBeckwith commented on #2313
👋 just wanted to check in here.  This one is starting to show up on a few dashboards.  Is this a customer impacting P1?  Anything we can do to help it along?

[2018-10-04 12:43] jskeet commented on #2313
The code is nearly finished, with more unit tests required. It will then take pretty careful review - this is a big deal.

It'll be easier to start getting code in once the Spanner DML branch has been merged, but there's nothing holding it up that can be helped.

We haven't heard about this directly as a customer issue, although there's one issue that *might* be resolved by this.

[2018-10-04 12:44] JustinBeckwith commented on #2313
Hah, no rush at all :) I just wanted to check in and make sure this is rockin and rollin, which it appears to be.  Thanks Jon!

[2018-10-04 12:49] sabiland commented on #2558
Thx for info Jon (I mean "The Jon Skeet" on StackOverflow ;)).

Yes, I have solved the issue.
Basically I needed 2 days to refactor from old V1 REST to new V2 gRPC. I have tested everything and V2 over gRPC works like a charm 👍 .

Ok, I'll ask possible further questions on Dialogflow forum. The only problem is there is so little happening on that forum :).

[2018-10-05 11:59] amanda-tarafa commented on #2559
@ef-computas I haven't been able to reproduce this issue. It would be of great help if you could provide more info to try and reproduce as faithfully as possible. For instance:

- How many rows are you expecting to get from your query?
- Have you tried accessing some of the other properties on `bigQueryResults`, what do you get? Specifically as @jskeet asked, can you access the rows themselves, an

[2018-10-07 23:16] luistejadaa commented on #2533
I'm having the same problem.

` System.Environment.SetEnvironmentVariable("GOOGLE_APPLICATION_CREDENTIALS", @"credential.json");
            var credential = GoogleCredential.GetApplicationDefault();

            FirestoreDb firesToreDb = FirestoreDb.Create("sta-managertest");
            CollectionReference lessonsReference = firesToreDb.Collection("Lessons");
            var v = new Dictionary<s

[2018-10-08 00:10] luistejadaa commented on #2533
I have checked that if I first make a query and then try to insert if it works.

Example:

`await lessonsReference.WhereEqualTo("isLocked", true).WhereEqualTo("isGenerated", false).GetSnapshotAsync();
            await lessonsReference.Document("DSA").SetAsync(new Dictionary<string, object>() { { "a", 3 } });`

[2018-10-08 15:08] naasking commented on #2419
Small suggestion: the code sample is missing the namespaces, so I suggest using the fully qualified names for anything not under Google.Cloud.Datastore.V1. I just tried setting up some tests to access the local emulator for a project after not playing with this for months, and wasted 30 minutes hunting for the namespace in which to find Channel and ChannelCredentials.

Ended up having to look at s

[2018-10-08 15:12] jskeet commented on #2419
Ah, good point. Unfortunately the `ToChannelCredentials` call really requires a `using` namespace directive as it's an extension method. I think I'll just add a note saying what's required.

We have a certain amount of traction on building this into the library though, so hopefully you won't need the code for long anyway :) (It's not really imminent, mind you.)

[2018-10-09 07:57] jskeet opened #2569 "Consider using dotcover from dotnet"
We can use a dotnet CLI tool to run dotcover:

https://www.jetbrains.com/help/dotcover/Running_Coverage_Analysis_from_the_Command_LIne.html#using-dotnet-exe-to-run-coverage-analysis-of-unit-tests

That might make our coverage XML files a little simpler. (We still need them for exclusions etc.)

I'll investigate this when I get the chance.

[2018-10-09 11:04] jskeet commented on #2555
Closing as I assume this is now resolved. (If not, we need more information.)

[2018-10-09 11:04] #2555 closed

[2018-10-09 13:24] jskeet opened #2572 "Travis error on realpath"
We're seeing this in Travis:

I'm not sure why, but we should look into it.

[2018-10-09 13:52] jskeet commented on #2572
Ignore the PR references here - that was me failing to get the right issue number in a commit.

[2018-10-09 14:48] #2569 closed

[2018-10-09 18:40] projectzerotohero opened #2574 "BigQuery - unable to correctly autodetect header for uploaded CSV"
## ISSUE:
Unable to correctly autodetect header for CSV that contains "only string" values

### Notes:
- Same behavior when uploading the CSV in the Web UI.
- If the CSV contains even just a column of int values, it works as expected.

Package version: Google.Cloud.BigQuery.V2 1.3.0-beta05 and Google.Cloud.BigQuery.V2 1.2.0

Here's a sample code:
<pre>
BigQueryJob job = await _client.UploadCsvAsyn

[2018-10-10 06:18] jskeet commented on #2574
If you get the same behavior uploading the CSV in the web UI, that suggests the problem is server-side rather than an issue with the client library itself. (The maintainers of this repository work with the API teams, but we're not experts in the individual APIs, and won't have the same level of insight about server-side issues as the API teams themselves.)

I'd suggest looking at the [BigQuery sup

[2018-10-10 06:19] #2574 closed

[2018-10-10 18:50] samuela opened #2579 "Google Cloud Tasks link broken"
The readme links "Google Cloud Tasks" to https://cloud.google.com/cloud-tasks/ but that link 404s. Perhaps it's meant to be https://cloud.google.com/tasks/?

[2018-10-10 18:54] jskeet commented on #2579
Thanks, will fix the link tomorrow

[2018-10-11 09:58] amanda-tarafa commented on #2559
@ef-computas friendly ping in case you have more context to share with us or maybe this have sorted out for you? Thanks!

[2018-10-11 10:42] #2579 closed

[2018-10-11 10:56] #2572 closed

[2018-10-11 11:02] jskeet commented on #2546
(As an update, I'm chasing this internally - I suspect this *won't* be fixed at the server side as it's been like this for a long time. Instead, I expect I'll include a workaround in the library somewhere. That'll need a bit of design consideration though.)

[2018-10-11 11:04] jskeet commented on #2313
Lowering this to P2 as we haven't heard anything from customers about it impacting them, even though I suspect it may do so. We're getting close to being able to merge the fix though...

[2018-10-11 16:35] jskeet commented on #2556
How would you feel about exposing the DatabaseName property (of type DatabaseName, which is a fully-qualified name with project and instance) instead? That way:

[code]

That way we don't need to worry about partially-populated builders with an instance but no project, for example.

[2018-10-11 20:53] ILMTitan commented on #2556
That looks like a good way to do it. It removes the format string, which was my biggest concern. The only downside is lower discoverability, but I think avoiding the partially-populated builders problem is worth it.

[2018-10-11 20:58] jskeet commented on #2556
Great! Will add that tomorrow - but we're still a little way off the next release with the new session pool...

[2018-10-11 21:04] ef-computas commented on #2559
@amanda-tarafa sorry for the late reply. I don't have all the information yet and I will hopefully have time to look more into this next week, but I can try to answer some of your questions.

The number of selected rows from the source table should normally be less than ~67 000 000, but can be more in some cases. In the normal case I think that the number of selected rows from the source table is

[2018-10-12 07:23] samuela opened #2587 "Support for Google Cloud Build"
There's currently no support for Google Cloud Build AFAICT. Can we haz pretty plz?

If not, how can we use this library in order to do the necessary auth for the available cloud build REST API?

[2018-10-12 07:40] jskeet commented on #2587
Thanks for the feature request.

For the moment you can use the [Google.Apis.CloudBuild.v1](https://www.nuget.org/packages/Google.Apis.CloudBuild.v1/) REST-based library, with the [normal authentication mechanisms](https://cloud.google.com/docs/authentication/getting-started) for our libraries.

Internal teams need to perform additional work for the gRPC-based library generation, and this hasn't b

[2018-10-12 07:40] #2587 closed

[2018-10-12 07:46] samuela commented on #2587
@jskeet Thanks so much for pointing me to https://www.nuget.org/packages/Google.Apis.CloudBuild.v1/! I had no clue that such a library existed at all.

[2018-10-12 07:58] jskeet commented on #2587
No problem - in general, if you're looking for a library for Cloud API "FooBar", check here first (or on NuGet for Google.Cloud.FooBar) but if it doesn't exist, look for Google.Apis.FooBar or Google.Apis.CloudFooBar.

It's unfortunate (from a confusion perspective) that there are the two styles of library with two naming conventions... but it's good from the perspective of being able to provide be

[2018-10-12 08:43] Thaina opened #2588 "[firestore] Shouldn't a start/end query cursor allow empty set?"
[code]

This above line cause an error `does not allow empty set at a start/end query cursor`

But doesn't this should be allowed for query the empty array and null? Actually it should let me got the whole documents which has value of that field not an array nor object?

Is it really a limit in firestore or just this library?

[2018-10-12 09:07] jskeet commented on #2588
Am I right in saying the error message is actually the following?

[code]

It's helpful if you copy/paste the *exact* error message - I initially searched for what you posted (with "does not" instead of "Cannot") and that's not in the repo, so it took longer to find this.

But yes, this is a deliberate restriction, and is documented. (`fieldValues` can't be empty.) If you created an array with a s

[2018-10-12 09:08] Thaina commented on #2588
@jskeet Yes that's the correct message

[2018-10-12 09:11] jskeet commented on #2588
Right. I've asked internally about the intended behavior. It should be easy to fix if it *should* be allowed - and we'll add a conformance test either way to make sure all languages are consistent.

[2018-10-13 06:03] Plasma opened #2597 "Speaker Identification (diarization) option and response missing from CloudSpeech SDK"
Hello,

Per https://cloud.google.com/speech-to-text/docs/multiple-voices#enabling_speaker_diarization_in_a_request we can set ``enableSpeakerDiarization`` to receive information about who's speaking, but this option is not available on ``RecognitionConfig`` nor is ``speakerTag`` an accessible property in the response.

Thank you

[2018-10-13 07:50] jskeet commented on #2597
These features are only available in the v1p1beta1 API. We do generate that API, but we don't currently advertise it for C# (and there aren't samples etc).

If you use the [Google.Cloud.Speech.V1P1Beta1 nuget package](https://www.nuget.org/packages/Google.Cloud.Speech.V1P1Beta1/1.0.0-beta02) you should fine the properties you're looking for.

[2018-10-14 22:36] Plasma commented on #2597
Thank you!

[2018-10-15 07:27] #2556 closed, assigned to jskeet

[2018-10-17 09:46] alec-anikin opened #2613 "Dialogflow.v2beta1 package with beta features"
Hi!

There is no package for this reference
https://cloud.google.com/dialogflow-enterprise/docs/reference/rpc/google.cloud.dialogflow.v2beta1

I'd like to use Environments feature but in current Dialogflow.V2 package I have to manually build session urls. Not big deal but looks fragile.

[2018-10-17 13:09] jskeet commented on #2546
I've just confirmed this *doesn't* happen with Firestore. Sample code:

[code]

[2018-10-17 13:10] jskeet commented on #2377
Just to say, I'm still chasing this internally.

[2018-10-18 06:20] jskeet commented on #2613
I've now heard back from the team, and they don't intend to publish the V2Beta1 library for C#. The features will be in V2 sooner or later. It sounds like you have some workarounds you can use for the moment. I realize this isn't ideal for you though.

[2018-10-18 06:20] #2613 closed

[2018-10-18 10:55] alec-anikin commented on #2613
Thanks Jon.
My workaround, can be helpful for someone else.
[code]

[2018-10-19 11:02] amanda-tarafa commented on #2559
@ef-computas Just to let you know that I haven't had the chance to try and reproduce the issue with the new info you sent, I'll try to get on it early next week. Will update here when I know more.

[2018-10-19 13:30] gurnor28 opened #2621 "Unable to find source code to listen to Pub/Sub messages continuously"
You suggested some source code in an answer on this question:
https://stackoverflow.com/questions/46790075/how-to-listen-for-pub-sub-messages-in-an-asp-net-core-app-continuously

Link to that Git is not working? Can you please share any source code you think that can be used at enterprise level to get messages out of Pub/Sub continuously? Preferably .Net code, thanks!

[2018-10-19 15:49] jskeet commented on #2621
The class was renamed to `SubscriberClient`. It's now [here](https://github.com/googleapis/google-cloud-dotnet/blob/master/apis/Google.Cloud.PubSub.V1/Google.Cloud.PubSub.V1/SubscriberClient.cs).

In terms of sharing source code, I'd suggest reading the [documentation here](https://googleapis.github.io/google-cloud-dotnet/docs/Google.Cloud.PubSub.V1/index.html) and [here](https://cloud.google.com/

[2018-10-19 20:45] tonyatl opened #2622 "Unable to download messages from google pub/sub"
I am using essentially api documentation to test downloading messages from our development pub/sub instance. The StartAsync code is never executed. I am new to pub/sub and have not found where to get error messages assuming that any are generated. If this is a communications/network issue, I don't know the endpoints or ip addresses to help the network people trace the call. Are there any test diag

[2018-10-19 21:13] tonyatl commented on #2622
after further discussions with our network people, it appears that proxy servers may be the cause of my problems. as such this matter should be closed until the proxy issues are resolved.

[2018-10-19 21:13] #2622 closed

[2018-10-22 08:33] jskeet commented on #2546
This is now documented:

- [Limitations on projections](https://cloud.google.com/datastore/docs/concepts/queries#limitations_on_projections)
- [Notes on date/time values](https://cloud.google.com/datastore/docs/concepts/entities#date_and_time)

I don't think we want to *implicitly* convert Int64 values to timestamps, but I can look creating a separate method for that, or similar. I've converted th

[2018-10-23 08:53] DenSmoke opened #2628 "Google.Cloud.Firestore.ValueDeserializer System.OverflowException: Arithmetic operation resulted in an overflow."
I got exception when was trying to deserialize `DocumentSnapshot` by `ConvertTo<T>`

[code]
![image](https://user-images.githubusercontent.com/16131575/47348256-be039600-d6b9-11e8-9f75-a9e495f8b777.png)

[2018-10-23 09:49] #2628 closed

[2018-10-23 13:32] amanda-tarafa commented on #2559
@ef-computas I've just tried to reproduce your issue with a table with over 100 million rows and everything works as expected. If there is some error in the query or I force the query to timeout I get the expected Exception. If the query is correct, then queryResult.TotalRows always has the expected value. I'm not able to reproduce your issue. Here's the code I use:
[code]
Only thing I've had to c

[2018-10-23 19:09] gabrielmus opened #2629 "Use of TraceHeaderPropagatingHandler in .NET Core 2.1"
I am using Google.Cloud.Diagnostics.AspNetCore version 3.0.0-beta06.
Due to the [change of paradigm for creating HttpClient](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-2.1), the [following code](http://googleapis.github.io/google-cloud-dotnet/docs/Google.Cloud.Diagnostics.AspNetCore/index.html) for tracing outgoing http requests via Stackdriver Trace do

[2018-10-23 22:02] SurferJeffAtGoogle opened #2630 "Passing the wrong Project Id to loggerFactory.AddGoogle() yields no warnings, errors, or exceptions."
I accidentally passed the wrong Project Id to loggerFactory.AddGoogle().  It did not match the Project Id of my service account.  I was running the app locally.  I saw no warnings, errors, or exceptions.  This is extremely frustrating, because I could never find my log statements in the logging dashboard..  Users mistake their Project Id all the time.

    <PackageReference Include="Google.Cloud.D

[2018-10-23 22:05] jskeet commented on #2630
Hmm. I'm not sure whether we'd want to make a sort of "test call" on start-up just to check that it's all working, although that might be an option. Assigned to Amanda to think about.

[2018-10-23 23:15] SurferJeffAtGoogle commented on #2630
To be useful, it doesn't have to throw an exception when I call loggerFactory.AddGoogle().  If it threw an exception at the first attempt to log something, that would still 100% wake me up to my error.

[2018-10-24 09:56] jtattermusch commented on #2405
If you are still able to reproduce the "stream removed" problem, please consider posting additional info in grpc's tracking bug as requested in https://github.com/grpc/grpc/issues/15623#issuecomment-432592307.

[2018-10-24 09:57] jtattermusch commented on #2533
If you are still able to reproduce the "stream removed" problem, please consider posting additional info in grpc's tracking bug as requested in grpc/grpc#15623 (comment), that should help with debugging.

[2018-10-24 12:48] jskeet commented on #2630
We've typically tried to avoid throwing exceptions when logging. Maybe we should do so in developer mode but not in production mode... if I've misconfigured logging and deployed my site to production, I suspect that continuing is still better than having a web site that throws user-facing errors. More pondering and discussion required, I think.

(Maybe we could make this an option when configuring

[2018-10-24 13:53] amanda-tarafa opened #2631 "[Diagnostics]-Samples in generated docs are outdated with respect to Snippets."
The code samples shown for [Diagnostics.AspNetCore](http://googleapis.github.io/google-cloud-dotnet/docs/Google.Cloud.Diagnostics.AspNetCore/) are not the ones we are currently running as Snippets.

The code samples shown for [Diagnostics.AspNet](http://googleapis.github.io/google-cloud-dotnet/docs/Google.Cloud.Diagnostics.AspNet/index.html) are not the ones we are currently running as Snippets.

[2018-10-24 14:16] sduskis commented on #1776
@jskeet, what's your take on this?

Also, can you please remove the "p2" label?

[2018-10-24 14:21] iantalarico commented on #2630
I'm going to echo what Jon said a little and give some context.  When building these libraries by design made them never throw exceptions as this could result in us taking down users applications as we run with the application (we are not a separate process).  We do have some optional configuration where you can change this behavior to throw, retry and throw or just ignore if the stackdriver calls

[2018-10-24 14:33] jskeet commented on #1776
I think it's best to continue the discussion via the internal mail thread. (I won't be terribly active on that right now as I'm travelling, but it seemed to have stalled anyway.)

 I can't remove the P2 label as otherwise it'll come up as untriaged - any particular reason it's causing a problem?

[2018-10-24 15:37] amanda-tarafa commented on #2629
The introduction of `IHttpClientFactory` and its consumption patterns does not mean that directly creating `HttpClient` instances with custom `HttpMessageHandler` has stopped working. Hence, the sample code you referenced (as follows) still works as expected for AspNet Core 2.1.
[code]
It's true that as our Diagnostics.AspNetCore library stands, client code cannot take advantage of the features in

[2018-10-24 15:42] sduskis commented on #1776
@jskeet, oh sorry.  I didn't realize that "type: cleanup" also required a "priority: *" label.

[2018-10-24 15:51] jskeet commented on #1776
@sduskis: I *believe* it does, but I could be wrong. Will kill that label (the alert one) - I can always reapply it if it comes back saying it needs triage :)

[2018-10-24 16:00] rupreetg commented on #2533
Thanks but with GCloud, I was facing lot many issues without timely help/fixes so I had to switch over to AWS. I won't be able to help you on this issue now.

[2018-10-24 16:17] SurferJeffAtGoogle commented on #2630
How about logging an error?  That should announce itself pretty loudly in my debugging session.  And I like  your idea of only throwing an exception or logging an error once, the first time.

[2018-10-24 16:20] gabrielmus commented on #2629
Thanks for looking into this.
Yes, creating `HttpClient` the old way still works and the Diagnostics.AspNetCore library is fine in that context.
Sorry for making it sound more critical than it probably is, it's just that our team moved to the new features introduced with `IHttpClientFactory` to avoid the known problems (e.g. [leaking sockets](https://aspnetmonsters.com/2016/08/2016-08-27-httpclien

[2018-10-24 16:23] jskeet commented on #2630
How though? We're saying there's a problem with logging, so how would I log the error? While we *could* write to the console, I'm generally really reluctant to do that.

A one-time exception would definitely avoid the "production web site is permanently broken" issue.

[2018-10-24 16:23] jskeet commented on #2621
Closing this now as it's not clear that more information is required. (And if it is, it may well be that it should be in the PubSub site - we can pass that request on if necessary.)

[2018-10-24 16:23] #2621 closed

[2018-10-24 17:44] amanda-tarafa commented on #2629
No worries, we defintely want to support the recommended way of doing things, and as soon as possible, so stay tuned. I will update here with any more info and PRs soon.

[2018-10-24 19:14] SurferJeffAtGoogle opened #2634 "It's hard for users to find their logs on console.cloud.google.com."
After collecting friction logs from many people, I've observed a common issue that users suffer is that it's difficult to find their logs in console.cloud.google.com.  If the app is running locally, then they appear under Global.  If the app is running on App Engine flex, then the logs appear under App Engine.

Admittedly, this client library is far removed from the user experience of console.clou

[2018-10-25 10:32] amanda-tarafa commented on #2634
Shouldn't that information be part of normal user documentation instead? We can describe the different scenarios in which logs end up under one or another "environment label".

[2018-10-25 15:52] SurferJeffAtGoogle commented on #2634
Yes, it should and it is.  But it's just really hard for users to find the logs.  3 of the 5 of us who recorded friction logs had trouble finding our logs in console.cloud.google.com.

[2018-10-25 16:06] jskeet commented on #2634
Drive-by thought: suppose our *samples* had something that wrote the URL to the console. If we expose an easy way of getting it printed to the console, but without writing to the console by default, then users following the samples will see it, but then can easily remove it once they know where to look.

Does that work, or do you think people don't follow the samples closely enough?

[2018-10-27 07:03] pauloevpr commented on #2534
Any updates on this case?

[2018-10-27 07:45] pauloevpr opened #2639 "Firestore: Serialization fails for classes with non-public parameterless constructors"
Hi,

It seems `ValueDeserializer` uses` System.Activator.CreateInstance()` to build classes for deserialization. This causes `snapshot.ConvertTo<T>()` to fail when `T` does not have a public parameterless constructor.

Since Firestore-related classes are explicitly marked with the `[FirestoreDataAttribute]`, I don't see any compelling reason not to allow non-public parameterless constructors.

Thi

[2018-10-27 10:03] jskeet commented on #2639
Yes, the intention was to allow private constructors too. Will look into this next week.

[2018-10-29 09:35] #2639 closed

[2018-10-29 17:01] jskeet commented on #2639
This is now available in version 1.0.0-beta13.

I haven't forgotten about #2534, although I didn't spot your comment a couple of days ago - will leave an update now.

[2018-10-29 17:02] jskeet commented on #2534
No updates at the moment, other than that I need to write a doc to present to the Firestore team about this. (We're not developing in a vacuum here - it gives us slightly less flexibility, but will help with consistency.)

I do have that on my work backlog, but Spanner work is higher priority right now.

[2018-10-29 19:01] pauloevpr commented on #2534
Thank you for the feedback.

[2018-10-30 18:10] jskeet commented on #2313
This is now effectively fixed - hooray! There's a little tidying up to do (e.g. a migration guide) but we're basically there.

[2018-10-30 18:10] #2313 closed

[2018-11-01 20:13] tonyatl opened #2654 "Cannot Pull Messages from PubSub"
Environment: Windows 10, Google.Cloud.PubSub.V1 1.0.0, c#, console application, .NET 4.6.2
https://stackoverflow.com/questions/46790075/how-to-listen-for-pub-sub-messages-in-an-asp-net-core-app-continuously

I am having trouble downloading message from our google pubsub development instance when running locally. I have confirmed that messages are in the queue.

the code I am using is very basic an

[2018-11-02 09:11] jskeet commented on #2654
(Left without a priority, for Chris to decide that.)

[2018-11-02 10:01] chrisdunelm commented on #2654
I'm unable to reproduce this.
I've create a new .NET 4.6.2 Console application on Windows 10, with almost exactly your code, except I'm printing received messages to the console rather than logging them.
Then used the Google Cloud Console (https://console.cloud.google.com/) to create a pubsub topic; and a subscription for that topic.
Then executed the console app, which shows nothing yet because n

[2018-11-05 16:28] chrisdunelm commented on #2654
I suspect gRPC doesn't respect the `defaultProxy` setting in app.config, as the code performing the network connection is not written in C#, it's the C-Core gRPC runtime.
Looking here: https://github.com/grpc/grpc/blob/master/doc/environment_variables.md
suggests that the `http_proxy` environment variable needs to be set to use a proxy server. @jtattermusch is this correct?

[2018-11-06 08:18] jskeet commented on #2534
Right, we've made some progress in internal discussions, and we'd like some feedback if possible.

We'd like the interface to use POCOs rather than protos, so that users don't *have* to know anything about protos at all. At first glance, that would suggest an interface like this:

[code]

However, I suspect it's actually going to be cleaner to view this as an interface that you use to decorate a t

[2018-11-06 11:17] pauloevpr commented on #2534
Hi John, thank for your feedback.

I will follow you on this one. Decorating a type rather than every property of that type is much cleaner. This would completely satisfy my requirements.

Regarding `IFirestoreConverter`, I was wondering if `T FromFirestore(object value);` should have a `Value` parameter instead of `object`. It seems easier to work with `Value`.

[2018-11-06 11:46] jskeet commented on #2534
The intention is that users shouldn't need to know about `Value` at all. (The Firestore team is very keen on this.) Instead, you'd just deal with regular .NET types - the "natural" deserialization of each `Value`, including `Dictionary<string, object>` for maps etc.

It's possible that we could add an option to the interface saying "Just pass me the value, I'll do everything" but that would probab

[2018-11-06 12:44] amanda-tarafa commented on #2559
@ef-computas I'll be closing this for now, but if you continue to see this problem or can share a way to reproduce please feel free to reopen. We haven't found a way to reproduce this.

[2018-11-06 15:55] chrisdunelm commented on #2654
Permission to access the project/topic/subscription is all managed by the credentials you are using.
So if you're using the same credential on the server and on your local machine, then you have exactly the same level of access.
If you're using different credentials, then there could indeed be different permissions between the machines. You can check the permissions given to each credential on the

[2018-11-06 16:10] tonyatl commented on #2654
I am using the same credential file in both places. so back to configuring http_proxy as you suggested.

[2018-11-06 18:28] pauloevpr commented on #2534
It makes sense. I am happy with this solution.

[2018-11-06 18:32] jskeet commented on #2534
Hooray. I'll keep this issue updated with progress. (Even if the API is exactly as written, my current prototype implementation is decidedly not production-ready, or comprehensively tested!)

Thanks for all the feedback, helping to make the API better for all users.

[2018-11-06 18:33] pauloevpr commented on #2534
Thank you.

[2018-11-07 20:38] tonyatl commented on #2654
turned out to be a proxy server configuration issue. I finally got the right proxy server which I plugged into http_proxy environment variable, which in turn allowed the code above to work on my laptop.

[2018-11-07 20:38] #2654 closed

[2018-11-08 08:57] chrisdunelm commented on #2654
Glad to hear you've got it sorted out :)

[2018-11-08 16:54] jskeet commented on #2588
@Thaina I'm reopening this because we've rethought the policy across all SDKs. Previously, C# was the only SDK to validate this explicitly, although Node.js did so _implicitly_, throwing a not-terribly-helpful exception.

We (the Firestore team and client library developers) have decided that we *should* validate this and prohibit an empty set of values - reverting the previous change. We don't th

[2018-11-08 17:04] Thaina commented on #2588
I think this should not be the case to prohibit

The reason is. The empty array value is the valid value of field in firestore

[code]

Also what happen if we use this document as the StartOf? Suppose we query by `OrderBy("field").Limit(10)` and this document just happen to be the 10th and so we use the same query to `OrderBy("field").Limit(10).StartAfter(results.Last())`

Also in the specificatio

[2018-11-08 17:10] jskeet commented on #2588
It's fine to pass an empty value as "a value in the StartAt sequence". What's *not* fine is to post on values.

So for example, I'd expect this to work:

[code]

But this shouldn't:

[code]

That's trying to start at "an empty sequence of values" rather than "a sequence of values with a single element, which is an empty list/array".

[2018-11-08 17:13] Thaina commented on #2588
@jskeet I think in firestore we could not have array in array?

And also I think the array with 1 element would be ordered after the array with 0 element too

[2018-11-08 17:37] Thaina commented on #2588
@jskeet My point is, suppose we have this kind of document in database

[code]

I would expect it to work like this

[code]

[2018-11-08 17:43] Thaina commented on #2588
@jskeet Also by empty set, I think you would also mean empty object?

Empty object also ordered after every array. And it would be hard to specified the least value of object too

And also I think the firestore REST API does not prohibit the empty array or empty object isn't it? If firestore server itself permit the value, I don't think it should be any reason to prohibit it on the SDK

[2018-11-08 17:44] jskeet commented on #2588
I think *all* of this is explained by `StartAt` accepting a parameter array. `StartAt(null)` doesn't try to start at a single null value - it's passing `null` *as the sequence* itself. Likewise `StartAt(new object[0])` is passing the empty array *as the sequence of values*. That's not what you intended to do.

It's easy to fix that: just cast to `object` first or use an `object` local variable:

[

[2018-11-08 17:45] jskeet commented on #2588
That's completely irrelevant, because you're not passing in an empty object as "the thing to start at". You're passing *no* objects as "the sequence of values to start at" and that's the problem. See my previous comment for how to get it to do what you want.

[2018-11-08 17:54] Thaina commented on #2588
@jskeet If I understand you correctly, what you trying to say is, because firestore `StartAt` function (and `Console.WriteLine`) are using `params` so it ambiguously between `object[0]` as params or as an array itself

But then this is not related to passing empty set. It should just be solved by putting `StartAt(new List<object>())` which would not ambiguous with `params`, without the need to wra

[2018-11-08 17:56] jskeet commented on #2588
Yes.

Yes, I'd expect that to be fine - the compiler will wrap it in an `object[]`. There are lots of ways of making sure that what the method receives is an array with a single element, rather than an empty array.

[2018-11-08 18:03] jskeet opened #2675 "MultiChannel Bigtable test is failing"
Since we updated Bigtable to use Google.Api.Gax.Grpc.Gcp 2.6.0-beta02, MultiChannelTest is failing - it's not creating as many channels as we want.

It's not immediately clear why; I need to dig into this.

[2018-11-08 18:06] Thaina commented on #2588
@jskeet I see. Thank you for your clarification

[2018-11-08 18:11] jskeet commented on #2588
Okay - with all that sorted out, are you happy for me to revert the previous change "pretty much immediately"?

[2018-11-08 18:13] Thaina commented on #2588
@jskeet Yes, but could you please add a test for `StartAt(new List<object>())` too?

[2018-11-08 18:14] jskeet commented on #2588
Sure, happy to. (It's effectively covered in the new conformance tests which I haven't merged yet, but I can do it more explicitly.)

[2018-11-08 22:48] beccasaurus opened #2677 "Request: Vision API Helper Method for PRODUCT_SEARCH"
Vision service client should have a helper method added for invoking just the `PRODUCT_SEARCH` [`Feature.Type`](https://cloud.google.com/vision/docs/reference/rpc/google.cloud.vision.v1p3beta1#type_1)

See similar previous issues for `OBJECT_LOCALIZATION`:
 - PHP https://github.com/googleapis/google-cloud-php/issues/1303
 - Go https://github.com/GoogleCloudPlatform/google-cloud-go/issues/1160
 - R

[2018-11-08 22:49] beccasaurus commented on #2677
Related issues for `PRODUCT_SEARCH`:
 - PHP https://github.com/googleapis/google-cloud-php/issues/1412
 - Go https://github.com/GoogleCloudPlatform/google-cloud-go/issues/1214
 - Ruby https://github.com/googleapis/google-cloud-ruby/issues/2593
 - C# https://github.com/googleapis/google-cloud-dotnet/issues/2677

[2018-11-09 09:15] jskeet commented on #2677
We could do with more information on this:

- Does product search *always* require a ProductSearchParams in order to be useful?
- Are any of the other ImageContext fields useful in product search? (I'm trying to work out what the signature should look like - whether it should just take an ImageContext, or a ProductSearchParams)
- Are there test images and requests we could use for snippets and int

[2018-11-09 10:36] jskeet commented on #2675
This was caused by updating to Grpc.Core 1.16.0, I believe. It's non-deterministic because it depends on the order in which tests are executed, as far as I can see.

I've dug into this and the right number of Channel objects is being created, but not enough log entries containing "New connected subchannel" are being created. I'm asking the gRPC team for more info about this. For the moment, skippi

[2018-11-09 11:04] #2588 closed

[2018-11-09 11:38] jskeet commented on #2675
We now understand this (Grpc.Gcp isn't creating sufficiently unique channel options) and we're investigating a fix.

[2018-11-09 13:01] amanda-tarafa commented on #2629
Closing via #2661 and #2674 . Will be included on our next beta release.

[2018-11-09 13:01] #2629 closed

[2018-11-10 00:09] jnachman123 opened #2683 "Error: A model description could not be created. Duplicate model name 'Button' was found for types 'Google.Cloud.Dialogflow.V2.Intent"
Error when calling anything to do with nuget package, on web api .net

 "A model description could not be created. Duplicate model name 'Button' was found for types 'Google.Cloud.Dialogflow.V2.Intent+Types+Message+Types+Card+Types+Button' and 'Google.Cloud.Dialogflow.V2.Intent+Types+Message+Types+BasicCard+Types+Button'. Use the [ModelName] attribute to change the model name for at least one of th

[2018-11-10 08:33] jskeet commented on #2683
That sounds like an error created by ASP.NET Web API, not be the library. Please could you give a lot more context for exactly what you're trying to achieve, and what code you're trying to use to do it?

Note that if you're trying to implement a web hook, you shouldn't use default JSON parsing to do it, but hook into the protobuf JSON parsing and formatting instead, as shown in the example at http

[2018-11-10 11:29] jnachman123 commented on #2683
Replaced the package with json and error , reoccurred.

Closing as not due to this package.

[2018-11-10 11:29] #2683 closed

[2018-11-12 15:41] jskeet commented on #2677
Implemented in #2688.

[2018-11-12 15:41] #2677 closed

[2018-11-12 17:22] amanda-tarafa commented on #2629
This is now released!
https://www.nuget.org/packages/Google.Cloud.Diagnostics.AspNetCore/3.0.0-beta07

[2018-11-12 17:29] jskeet commented on #1905
Further FYI, I'm hoping to start on the implementation for this really soon.

[2018-11-12 17:41] amanda-tarafa commented on #2631
This has now been fixed with the release of Diagnostics.* 3.0.0-beta07

[2018-11-12 17:41] #2631 closed

[2018-11-12 19:30] mkelle commented on #1905
sounds good @jskeet 👍

[2018-11-12 21:13] SurferJeffAtGoogle opened #2694 "I never expected "foreach (var obj in objectsInBucket)" to throw an exception."
#### Environment details

  - OS:

Windows.

  - .NET version:

All.

- Package name and version:
[code]
#### Steps to reproduce

Full code here:
https://github.com/GoogleCloudPlatform/dotnet-docs-samples/blob/5d0fd9bab0d23a801c0dd3546ba815a865e80c5e/testutil/TestBucket.cs

I never expected the foreach statement in the code below to throw an exception.

[code]

If there are no objects in the bucke

[2018-11-12 21:14] SurferJeffAtGoogle commented on #2694
Here's the exception:
[code]

[2018-11-13 05:07] Thaina commented on #2588
@jskeet A little bit wonder

Is it possible to revise the API of `StartAt(params object[] items)` to `StartAt(object item,params object[] additionals)` ?

Because this API actually require at least one item, it would be better to design the API to reflect the requirement at compile time. And it would also solve the one argument ambiguous for both `StartAt(null)` and `StartAt(new object[0])`

[2018-11-13 07:07] jskeet commented on #2588
@Thaina: I considered that, but then it would make it *much* harder to call if you already had an `object[]`. (You'd have to extract the first item, then create a separate array with the other items.) The various workarounds with the current design are really simple. If you find yourself wanting this frequently, you could always create your own extension method for a single item (`StartAtOneValue`

[2018-11-13 07:13] jskeet commented on #2694
Hmm. I do have sympathy for this, but making the operation "fully lazy" makes various other aspects simpler and more consistent. It's also consistent with other lazy loading scenarios, e.g. LINQ against a database, where constructing the `IQueryable<T>` won't fail if the table has been deleted. I do understand that's a less likely scenario than a bucket not being present. (Note that this isn't jus

[2018-11-13 10:49] amanda-tarafa commented on #1894
Still blocked on OpenCensus .NET integration. Renamed issue.

[2018-11-13 11:12] amanda-tarafa commented on #2182
Moving to the backlog as we don't have a good solution for where to log these.

[2018-11-13 11:18] amanda-tarafa commented on #2166
Moving to the backlog.

[2018-11-13 11:18] #2166 closed

[2018-11-13 16:15] SurferJeffAtGoogle commented on #2694
I put my cursor on `ListObjects`, press **F12**, and see this:

[code]

Could we add a note in the Returns on Remarks section that the iterating over the enumerator may throw an exception?

[2018-11-13 16:36] jskeet opened #2702 "Storage labels tests are flaky"
We run into quota issues when running integration tests in CI. (Not as often on a developer machine, oddly...)

Looking into it; will skip the tests for now.

[2018-11-15 03:13] cirvladimir commented on #2354
What would it take to get this to work? If I have the user session access token and all other app tokens in hand, can I just override some base grpc call to pass those on?

[2018-11-15 05:12] joshuabooker commented on #2349
Hello, any guidance in my issue? I've been searching feverishly for a resolution and haven't come across one yet.
**I'm using Visual Studio For Mac,** developing for xamarin android

**Problem **
I am not able to successfully authenticate and create Channel using the recommendation above. I am able to successfully get my credential, but line 58 - **creating channel** it crashes.

<img width="1079"

[2018-11-15 05:17] joshuabooker opened #2708 "Manually Configure Firestore Db"
Hello,
Any guidance in this issue? I've been searching feverishly for a resolution and haven't come across one yet.
I'm using Visual Studio For Mac, developing Xamarin Android

**Problem **
I am not able to successfully authenticate and create Channel using the recommendations from [Firestore] Manual auth thread.

I am able to successfully get my credential, but line 58 - creating channel it crash

[2018-11-15 07:09] jskeet commented on #2349
@joshuabooker: Xamarin isn't a supported platform, I'm afraid. Our libraries depend on the gRPC library, which contains a native library. While it's technically feasible for that to be cross-compiled for all the relevant platforms, and packaged up appropriately, we have higher priority work items at the moment. We'd *like* to support a broader range of platforms, but I don't expect that to happen

[2018-11-15 07:10] jskeet commented on #2354
@cirvladimir: No, I don't believe so. As @schmidt-sebastian said, this isn't a supported scenario.

[2018-11-15 07:39] jskeet opened #2710 "CopyObject fails with an Invalid Request error"
CopyObject uses the "object rewrite" API call, which can require multiple requests before completing.

In 2.3.0-beta02 and earlier, we detected the completion of the call via the rewrite token being absent in the response.
Recently it looks like the service has started returning an empty rewrite token on completion, which meant that we'd make an extra request, which would fail.

The solution is to

[2018-11-15 08:50] chrisdunelm commented on #2349
@joshuabooker This isn't produced or supported by us, but might this package allow you to use firestore on xamarin? https://www.nuget.org/packages/Xamarin.Firebase.Firestore/

[2018-11-15 09:52] jskeet commented on #2710
Reopening - I'd failed to implement the async change at the same time :(

[2018-11-15 10:09] #2710 closed

[2018-11-15 15:55] #1905 closed

[2018-11-15 15:55] jskeet commented on #1905
Now finally implemented :) What level of demand is there for a new release that includes this?

[2018-11-15 15:56] jskeet commented on #2702
This was fixed in #2717

[2018-11-15 15:56] #2702 closed

[2018-11-15 19:00] schmidt-sebastian commented on #2354
While this is a popular feature request, this requires both backend and client work that is still pending. I am sorry that we don't have better news for now.

[2018-11-15 23:04] ricsmania commented on #2354
@schmidt-sebastian I understand the reasons, now I'm just curious about what would need to be changed on the backend. Isn't the backend code platform independent, so that the dotnet client could use the same authentication method as the Javascript SDK?

[2018-11-19 13:57] moander commented on #856
@jskeet does this apply to all dotnet clients? Found this looking for info about FirestoreDb thread safety

[2018-11-19 13:59] jskeet commented on #856
@moander: Yes, it should be fine for all clients.

[2018-11-21 14:50] moander commented on #2477
Are there any examples available for how to store a simple poco class using Firestore in dotnet?

I come from the nodejs Firestore library where it is very straight forward.

[2018-11-21 15:10] amanda-tarafa commented on #2477
I think you are looking for something like this: [Writing Documents](http://googleapis.github.io/google-cloud-dotnet/docs/Google.Cloud.Firestore/userguide.html#writing-documents)

[2018-11-21 15:17] jskeet commented on #2477
And also this: http://googleapis.github.io/google-cloud-dotnet/docs/Google.Cloud.Firestore/datamodel.html

[2018-11-21 15:50] moander commented on #2477
Thank you very much. I still have issues though. Is it a bug that it fails for class Person?

[code]

[2018-11-21 15:52] jskeet commented on #2477
You haven't applied the attribute to the class and property. Do that as per examples and it should work fine. Sorry for being terse - doing this on a mobile in an airport.

[2018-11-21 15:56] moander commented on #2477
I know but I expected that plain objects like Person just works the same way anonymous types does.

Is there any reason for this design? Sorry for making you type on your mobile ;)

[2018-11-21 15:58] jskeet commented on #2477
Yes, serialising arbitrary types could easily end up causing problems. You need to use one of the options listed on the link I gave before. We're introducing more flexible serialisation with custom converters, but that wouldn't help in the example you gave.

[2018-11-21 16:21] moander commented on #2477
Ok, I got it working except for enums. Is there another attribute for enums? FirestoreData is for class only.

[2018-11-21 16:22] jskeet commented on #2477
Enums should just work, unless I neglected them accidentally. If so, please
file a new issue as we're now a very long way from this original issue.

On Wed, 21 Nov 2018, 17:21 Morten Andersen <notifications@github.com wrote:

[2018-11-21 16:29] moander opened #2720 "FirestoreProperty on enums is not working"
ArgumentException Unable to convert value of Gender

#### Environment details

  - Package name and version: 1.0.0-beta13

#### Steps to reproduce

[code]

[2018-11-21 16:31] jskeet commented on #2720
In the next week I intend to implement the custom serialisation code, so will probably do this as part of that. Thanks for reporting

[2018-11-23 03:20] nicksav opened #2721 "FireStore listener as a service stop working after a day"
Version: Google.Cloud.Firestore-1.0.0-beta13

Guys, I am having some issues with FireStore real time updates. I have deployed a web app to Azure Web Site. On a start up, this application subscribes to the updates in the FireStore users table.
`

            GoogleCredential googleCredential = googleCredential = GoogleCredential.FromJson(JsonConvert.SerializeObject(secret));
            var channel

[2018-11-23 06:42] jskeet commented on #2721
When you say "without any errors" - what happens to the task exposed as `listener.ListenerTask`? Does that:

- Complete
- Stay uncompleted
- Become faulted

? That would be the first piece of interesting information.

In terms of further diagnostics, there's nothing particularly built into the library to help here, unfortunately. You could turn on gRPC tracing, but that would generate a huge amoun

[2018-11-23 10:12] #2720 closed

[2018-11-26 14:56] madmax19 commented on #1926
Sigorbor, I'm facing the same issue. Could you please explain what was the GCP permissions misconfiguration from your side?

[2018-11-27 16:03] jskeet commented on #2534
PR #2734 is the first pass of the "real" version of this.

[2018-11-28 15:25] dansiegel opened #2736 "Update documentation around custom authentication"
# Description

According to the [Authentication Documentation](https://cloud.google.com/docs/authentication/production) I should be able to create my own credential object and pass that into whatever client I need. Unfortunately this doesn't appear to be supported or at least it's a round about way that isn't documented for this library.

## Expected

[code]

## Actual

Credentials must be a servi

[2018-11-28 15:37] jskeet commented on #2736
Unfortunately there are several sets of client libraries with different characteristics here. There are roughly three groups:

- The autogenerated REST API clients, where you'd specify your credential in the `HttpClientInitializer` property of the `BaseClientService.Initializer` passed to the service constructor
- Wrappers for those REST API clients, for Storage, BigQuery and Translate, where you

[2018-11-28 17:57] SurferJeffAtGoogle opened #2738 "Stackdriver Error Reporting should display the contents of Exception.Data."
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

.NET exceptions have a Data dictionary, where I can add any tags I want.  For example:

[code]

However, the Data dictionary is not visible in stackdriver error reporting:
![image](https://user-images.githubusercontent.com/11778530/49171664-dc316700-f2f3-11e8-809f-8bc6152465c2.png)

It would be useful

[2018-11-28 18:05] amanda-tarafa commented on #2738
I think this is doable, I'll take a look.

[2018-11-29 09:17] #2048 closed

[2018-11-29 13:29] jskeet commented on #2534
Implemented in #2739 and #2734. I'll cut a new release soon (hopefully today) and update this issue accordingly.

[2018-11-29 13:29] #2534 closed

[2018-11-29 15:55] jskeet commented on #2720
Available in version 1.0.0-beta14.

[2018-11-29 15:55] jskeet commented on #2048
Available in version 1.0.0-beta14.

[2018-11-29 15:56] jskeet commented on #2534
Available in version 1.0.0-beta14.

[2018-11-29 15:57] jskeet commented on #1905
Available in version 1.0.0-beta14.

[2018-11-30 00:14] pauloevpr commented on #2534
Great! Thank you very much. I will give it a try next week.

[2018-11-30 07:19] mkelle commented on #1905
Nice jskeet, thank you!

[2018-11-30 11:54] amanda-tarafa commented on #2435
Closed via #2741 . We'll be releasing probably by the end of next week.

[2018-12-01 17:50] SiarheiSurnin opened #2747 "Possibility to Copy one source file into multiple destinations using Google.Cloud.Storage.V1"
For .Net client library Google.Cloud.Storage.V1 even in 2.3.0-beta04 there is no way to perform multiple coping of files from one key to another key. I can perform only  single file copy operation.

public virtual Task<Apis.Storage.v1.Data.Object> CopyObjectAsync(string sourceBucket, string sourceObjectName, string destinationBucket = null, string destinationObjectName = null, CopyObjectOptions op

[2018-12-01 17:52] jskeet commented on #2747
I can't change what the API itself allows. Each copy request is cheap - it's not like it's physically copying the data to the client and back. I'd suggest just making multiple requests, in parallel if you want to.

[2018-12-03 16:47] #2546 closed

[2018-12-03 16:49] jskeet commented on #2546
@rupreetg: I've added two instance methods to `Value`, but I don't have any releases particularly planned right now. Let me know if you would like me to create a release just for this.

[2018-12-03 17:05] jskeet commented on #2533
Given the lack of additional information, I'm going to close this for now. I've seen the error message myself when a laptop wakes up from sleep, but I think that's reasonable.
If we get any more reports, we can reopen.

[2018-12-03 17:05] #2533 closed

[2018-12-03 18:45] SiarheiSurnin commented on #2747
The problem that we are performing copy > 100 items per 1 web request.
And even if I collect all items in Task<Object_From_Google_Storage_Api_Type> it took unacceptable long time to wait until all items were copied.

In general , during API development google should provide some flexibility level for api usage.
Allow only copy by 1 file, it is not farsightedly from google point of view.
We should

[2018-12-03 19:14] jskeet commented on #2747
I can certainly mention it, but I don't think "copying a single file to 100+ destinations and needing to do that in a very short space of time" is a common use case.

[2018-12-04 07:37] jskeet commented on #2747
I've asked internally. I'll close this now as there's no work to do in the client library unless the underlying API supports it.

[2018-12-04 07:37] #2747 closed

[2018-12-04 10:51] nicksav commented on #2721
Hey jskeet. Was working ok after some time?

[2018-12-04 11:43] jskeet commented on #2721
Eek! I sincerely apologise - I dropped the ball on this one. I started it running on my laptop first, and of course that dropped the connection when the laptop went to sleep.

Will get it running on a desktop, writing to a file so I can see what's going on...

[2018-12-04 14:56] jskeet commented on #1920
Hi @tomerpeled,

The latest version of Google.Cloud.Spanner.Data (2.0.0-beta05) contains an entirely new session pool implementation, as well as updated references to Grpc.Core etc.
There are some breaking changes (as described at https://googleapis.github.io/google-cloud-dotnet/docs/Google.Cloud.Spanner.Data/migration-to-2.html) - but if you could try your code against the new package, that would

[2018-12-04 15:15] jskeet commented on #2721
(It's been running for 4 hours now - no problems so far, but we'll see what happens over the next 24-48 hours...)

[2018-12-04 15:22] tomerpeled commented on #1920
Hi @jskeet,

Sounds good!
We will check this ASAP.

I'll let you know the results.
Thanks!

[2018-12-04 15:29] Lutando opened #2755 "No way to specify CORS on resumable upload initiate session"
So I am sending consumers a session url to use as a point to do resumable uploads using the `StorageClient.CreateObjectUploader()` method
[code]

I would like to add `Origin : *` or `Origin : http://something.com` headers to this InitiateSession request. how do I do that? using the package version `2.2.1`, all help greatly appreciated :)

[2018-12-04 15:37] jskeet commented on #2755
I don't quite understand what you're trying to achieve - could you give a little more context? I'm not aware of any *simple* way to include extra headers in a resumable upload here... but it's not clear whether you'd need it to be in the initial request or in the "resume" calls later.

cc @chrisdunelm who may know more about this. (Not much about this is specific to Google.Cloud.Storage.V1; it's m

[2018-12-04 16:17] Lutando commented on #2755
So we issue out the session url using a similar approach as outlined in my snippet above, we initiate the resumable upload without "starting" the upload  however on subsequent calls to the resumable upload uri I get the following from the browser. maybe my real question is what is the proper way to issue out a resumable upload session uri that any origin can upload to.
[code]

[2018-12-04 16:24] jskeet commented on #2755
When you say "we" - what is doing what here? Could you describe the components of your system? It's not clear to me what's issuing the error here - something at your client side, or the Storage server.

Note that the URL created by the upload here doesn't include any authentication information, so you'd need whatever was then uploading the file to have the same credentials available.

Perhaps you'

[2018-12-05 08:07] Lutando commented on #2755
I have a .NET backend that issues out the session URL for resumable uploading to a particular bucket for consumers in a very similar way to [this ](https://github.com/googleapis/google-cloud-dotnet/blob/master/apis/Google.Cloud.Storage.V1/Google.Cloud.Storage.V1.Snippets/StorageClientSnippets.cs#L346-L359), after initiating the session the backend would give consumers the uploadUri to do their res

[2018-12-05 08:16] jskeet commented on #2755
Okay, thanks, that documentation helps a lot.

I suspect we'll need more support in the underlying library (the one that contains ResumableUpload) for this. We'd then add the origin into UploadObjectOptions as well, so that's where you'd set it in your code.

While investigating this with @chrisdunelm I'll see if there's a workaround that will help you until we've got a more elegant approach.

[2018-12-05 08:21] Lutando commented on #2755
also fyi there was a similar question on the java sdk side of things that i found [here](https://github.com/googleapis/google-cloud-java/issues/1336).

[2018-12-05 09:19] jskeet commented on #2755
Aha - it looks like we should be able to add this option after all, using the `ResumableUploadOptions.ModifySessionInitiationRequest` property. Will look into that further today.

[2018-12-05 10:08] nicksav commented on #2721
Yep, also deployed to Azure. Will provide link tomorrow. So if its running on Azure how to prevent from getting ServiceUnavailable error? Just to re-attach the listener to continue listening for changes?

[2018-12-05 11:05] DenSmoke commented on #2721
I had the same issue but it disappeared by itself somehow. I mean listeners stopped to work without exception after about one day

[2018-12-05 11:11] jskeet commented on #2721
@DenSmoke: I'm not quite sure I understand what you mean by "it disappeared by itself" - the issue disappeared, or the listener disappeared? If you still have listeners that are stopping reporting changes (but without the task failing), that's what we're trying to reproduce.

@nicksav: The *listener* should reattach itself on ServiceUnavailable errors (I think - it certainly does for *some* errors

[2018-12-05 11:20] DenSmoke commented on #2721
@jskeet I couldn't reproduce the issue again so "issue disappeared". It was on beta11

[2018-12-05 14:20] jskeet commented on #2755
@Lutando: I've now created a fix in #2756. Given my lack of experience in this particular area, I'd really like to check that it solves your issue before I merge it. Would it be possible for either:

- You to pull my branch (https://github.com/jskeet/google-cloud-dotnet/tree/cors) and build the library yourself
- You to use a .nupkg file that I create locally and put on Google Drive or somewhere s

[2018-12-05 14:30] Lutando commented on #2755
I'm on it. Thanks :)

[2018-12-05 16:47] jskeet commented on #2694
This was fixed in #2753, although we haven't released the new Storage/BigQuery libraries yet.

[2018-12-05 16:47] #2694 closed

[2018-12-06 08:31] jskeet commented on #2721
The new test has been running for 25 hours with no problems so far. That doesn't mean it won't happen eventually though...

[2018-12-06 20:12] Lutando commented on #2755
Preliminary Result - It works! but since we are doing chunked uploads we get the cors error on the last uploaded chunk request, but it still completes the resumable upload (despite the CORS error on resumable upload completion), I am under the impression that we might be doing something wrong on the client side.

[2018-12-06 20:32] jskeet commented on #2755
That's very odd - particularly that it did actually work. Presumably by that point the client library is not on the scene anyway?

[2018-12-06 21:01] Lutando commented on #2755
exactly, its out of band wrt the client library so its something on the our side but I will investigate further tomorrow

[2018-12-06 21:38] jskeet commented on #2755
Fabulous - thanks ever so much. I'll merge the change and close this issue then. Thanks so much for testing the change - I really, really appreciate it.

[2018-12-06 21:38] #2755 closed

[2018-12-06 22:52] tomerpeled commented on #1920
Hi @jskeet,

We've upgraded the lib to 2.0.0-beta05. Unfortunately, the exceptions are still thrown.
Any additional info to look on?

Thanks!

[2018-12-07 06:33] jskeet commented on #1920
@tomerpeled: Rats - that's a pity. I've still never seen it, but as it's a background task, I probably wouldn't. It's particularly odd that all your Spanner operations are succeeding.

Could you give a bit more information about what your app is doing? If you have some tasks that only do reads and some that only do writes, it would be particularly interesting to know whether they both see the prob

[2018-12-07 12:10] DenSmoke commented on #2721
Problem happen again in .NET Core 2.2 console app with Google.Cloud.Firestore beta14 on Ubuntu 18.04 running in Compute Engine f1-micro instance.

[2018-12-07 12:37] pauloevpr commented on #2721
I have a similar issue. I am running a Asp.Net Core 2.1 Web API on Google Cloud App Engine. The FirestoreListener stops working eventually. I can't say it is precisely after 24 hours. It seems just random.

From my analysis so far, it seems to be an issue with Firestore backend rather than the Firestore .NET SDK. Firestore randomly fails when reading/writing documents. It is not just about the lis

[2018-12-07 12:57] jskeet commented on #2721
Thanks for the updates everyone - and particularly for that extra detail, @pauloevpr.
My own test is still going strong after about 52 hours, so isn't giving any more information :(

I'll contact the Firestore internal team and point them at this issue. They may have some ideas about what's going on.

[2018-12-08 01:44] tomerpeled commented on #1920
Cool!

Curious to hear about your findings, when you'll have those.

[2018-12-10 07:50] jskeet opened #2760 "Retry stream operations for Firestore"
In issue #2721 it was noted that sometimes the server returns a status code of Unavailable when reading documents. We don't (currently) have transparent retry for streaming operations; this has been implemented over the top in Node, so we may wish to examine that implementation.

[2018-12-10 07:53] jskeet commented on #2721
Internal feedback suggests this *may* be a gRPC issue rather than a server side issue. Obviously it being hard to reproduce doesn't help us :( (The test I started 5 days ago is still going strong...)

@pauloevpr: I've filed #2760 for the Unavailable issue. The PermissionDenied issue is odder. Have you seen it more than just the once? If you see it again, could you send me an email (jonskeet@google

[2018-12-10 16:11] jskeet commented on #1920
Just to update the thread: I'm still trying to work out how to reproduce this more reliably. It's frustrating, but I'll get there, I'm sure...

[2018-12-11 08:01] jskeet commented on #1920
Good news! I've managed to reproduce it! It can be demonstrated with `ExecuteScalar`, although I suspect that anything that opens a results stream and starts but then doesn't *finish* reading it will exhibit the problem.

Sample code:

[code]

[2018-12-11 08:38] lkts opened #2763 "PubSub: Unobserved InvalidOperationException in AsyncSingleRecvQueue"
Hi,

My application that uses PubSub has logging handler for `TaskScheduler.UnobservedTaskException`.
Recently i have found out that such exceptions are constantly produced with stacktrace leading to PubSub (can be up to hundred in 10 minutes).
Exception:
[code]

Looks like race in code below since it is not in `lock`.
https://github.com/googleapis/google-cloud-dotnet/blob/2dc1fb754463a7b08c58e999

[2018-12-11 08:44] jskeet commented on #2763
Thanks for reporting this! (I'm currently looking at unobserved task exceptions in Spanner, but I don't expect it's caused by the same issue.)

[2018-12-11 12:04] jskeet commented on #1920
Right, it looks like this really is a gRPC bug - I've seen it in Bigtable as well, and I can reproduce it without using any of the Google.Cloud.Spanner.Data code.
I've filed [this issue](https://github.com/grpc/grpc/issues/17458) with the gRPC team.

@tomerpeled are you happy to subscribe to that issue, and we'll close this one? Or would you prefer to keep this one open?

[2018-12-11 12:34] tomerpeled commented on #1920
Good investigation!

Sure, I'll subscribe that issue and close this one.
BTW, do you think it has any affect?

Thanks for your help!

[2018-12-11 12:34] #1920 closed

[2018-12-11 12:36] jskeet commented on #1920
I honestly don't know if it has any other effect, I'm afraid :(

[2018-12-11 16:47] jaredhughes1012 opened #2764 "BigQuery: System.OutOfMemoryException thrown when deleting data from large tables"
When executing "Delete" queries on large BigQuery tables (100 million+ rows), a System.OutOfMemoryException is being thrown from the BigQuery .NET driver. Occasionally, this will cause the process to terminate unexpectedly instead of throwing an exception.

An example table with this issue has 1.2 billion rows, 26 columns, and 292 GB of data

#### Environment details

  - OS: Ubuntu 18.04
  - .NET

[2018-12-11 16:51] jskeet commented on #2764
I'll look into exactly what's going on here. We *may* need extra overloads for DML scenarios where we only want a row count in the result.

Thanks for the clear report.

[2018-12-11 18:04] jskeet commented on #2764
As a workaround for now, I suspect you could use `BigQueryClient.CreateQueryJob` to create the job, rather than using `ExecuteQuery`. You could then wait until the job is complete, without fetching the "query" results of that job. Is that useful?

[2018-12-11 19:17] jaredhughes1012 commented on #2764
Yes that is useful. I will give this a try and post back here if there is an issue. Thank you for the quick response

[2018-12-11 20:57] jaredhughes1012 commented on #2764
The workaround failed. The process is now terminating with exit code 9 instead of throwing an exception.

[2018-12-11 21:33] jskeet commented on #2764
Do you know where it's dying? That's very odd, for no exception to be thrown...

[2018-12-12 07:09] jskeet commented on #2559
I've now seen this when trying to diagnose #2764. Will investigate further.

[2018-12-12 08:03] jskeet commented on #2764
I'm still trying to reproduce this (it takes a while for the streaming buffer to flush) but in the meantime, I'm surprised that just `ExecuteQuery` is failing for you - because that shouldn't be fetching any query results. Are you sure you're not then calling `ToList()` on the results or something similar? (It looks like the code you've provided isn't the *exact* code as otherwise it wouldn't comp

[2018-12-12 08:14] jskeet commented on #2559
@ef-computas: Can I check whether you're still seeing this for queries? I would now expect it to happen for DML, but not for regular queries.

Unfortunately as we expose a `ulong`, it's hard to provide any appropriate value here. I'm considering adding a `HasTotalRows` property so you can easily check whether using `TotalRows` will be okay - would that help you? It's annoying to have to check the

[2018-12-12 08:16] jskeet commented on #2559
(Another alternative: add a `SafeTotalRows` property of type `ulong?`. That might be better...)

[2018-12-12 13:39] jskeet commented on #2764
Okay, I've tried to reproduce this, but haven't managed. I created a new table with 100 million rows in, and deleted it like this:

[code]

I've watched the HTTP traffic, and there's hardly any - in particular, it *doesn't* return more data just because there were lots of rows.
My suspicion is that your process was already running out of memory, and it so happened that a not-terribly-large respons

[2018-12-12 15:01] amanda-tarafa commented on #2738
Hi @SurferJeffAtGoogle, in a few minutes I'll submit a PR that addresses this FR. Just wanted to add a few clarification notes.

The [ErrorEvent](https://cloud.google.com/error-reporting/reference/rest/v1beta1/ErrorEvent) resource does not define a property in which to include extra information similar to `System.Exception.Data` so you will never see this information on the Error Reporting section

[2018-12-12 15:31] jskeet commented on #2559
@ef-computas: While we still don't know why you saw this in a query, #2765 (unreleased as yet) provides a way of getting the total rows in a safer way - so if you're still seeing the issue, you should be able to start using that new property when we next do a release.

[2018-12-12 15:31] #2559 closed

[2018-12-12 17:58] jaredhughes1012 commented on #2764
I've done some investigating and I've discovered the issue is that the BigQuery result is returning every remaining row in the table after executing the delete query. This is partially an issue with the way we are handling the response and I believe we can work around it, but this could probably be safeguarded by the library itself.

The code in the example above did not include where the issue wa

[2018-12-13 06:18] jskeet commented on #2764
Iterating over an empty result set is generally fine - `TotalRows` only throws an `InvalidOperationException` if that value isn't present in the initial JSON response. (And if I'd known that would ever be missing, I'd have made the property nullable.)

I'm surprised that it's returning the non-deleted rows, but I assume that's deliberate. If you're choosing to then store all of those in memory, th

[2018-12-13 09:33] ishwara-bhat opened #2767 "FileNotFoundException with Google.Cloud.Speech.V1 while using with .Net core 2.0 target for Unity Game"
I am getting fileload exception for Google.Cloud.Speech.V1
FileNotFoundException: Could not load file or assembly 'Google.Cloud.Speech.V1, Version=1.1.0.0, Culture=neutral, PublicKeyToken=185c282632e132a0' or one of its dependencies.

 I searched for package dependencies online and installed the same.

I use Unity 2018 game environment. I created a dll plugin using Visual Studio 2017. Framework ve

[2018-12-13 09:37] jskeet commented on #2767
It sounds like this is probably an assembly binding redirect issue, but fundamentally we don't support Unity, I'm afraid.
While some of the REST-based APIs *may* work (e.g. Google.Cloud.Storage.V1) with some effort, the gRPC-based APIs are much more complicated to enable due to the native code involved.

While we would *like* the APIs to work in Unity, I'm afraid it's very unlikely that that will

[2018-12-13 09:37] #2767 closed

[2018-12-13 12:34] jskeet commented on #2764
Would you mind if I closed this issue, but created a new one of "DML statements return query results over whole table"? We can then work out how we wish to proceed in terms of either documenting it (with tests) or modifying the behavior (which would be a breaking change, so unlikely). I think that would be clearer for anyone reading the issue than trying to understand this one.

[2018-12-13 15:13] jaredhughes1012 commented on #2764
Yes, we just added a second wrapper that ignores the returned rows, which resolved the issue for us. We hadn't considered that the result of the operation would be the resulting table (though we probably should have), but simply documenting that behavior would probably be enough to prevent others from running into the same issue.

[2018-12-13 15:13] #2764 closed

[2018-12-13 15:18] jskeet commented on #2764
Great, thanks. I'll add a test to verify that it's the case, and add documentation to that effect - as well as raising it with other languages.

[2018-12-14 00:54] nicksav commented on #2721
Ok left to run on Azure and again, stooped working after time.
![pic](https://user-images.githubusercontent.com/9266365/49976676-a85e6e80-ff8e-11e8-870d-e3c7adc71709.png)

[2018-12-14 06:08] jskeet commented on #2721
Thanks - will check mine!

[2018-12-14 07:02] jskeet commented on #2721
@nicksav: Thanks very much for the log - that's interesting to see. Interestingly, my test failed, but in a different way: the process was aborted.

I realized that the Main method wasn't going to tell me the listener task status, either. I've changed it to:

[code]

I've restarted the test. I suspect eventually we'll need to capture gRPC detailed logs, but as lots of folks are now going on holida

[2018-12-14 15:16] DenSmoke commented on #2721
This issue with listeners started to happen suspiciously often. I had to restart our server 3 times today. Is there some good workaround to detect listener disfunction? I can restart listeners after some interval but this will consume operations quota

[2018-12-14 15:43] DenSmoke commented on #2721
Thanks for explanation. I never awaited ListenerTask result so didn't see that exception was thrown. I can easily observe it now and restart listener on failure

[2018-12-14 15:50] jskeet commented on #2721
@DenSmoke: Should I take it from that comment that you'd prefer not to test a speculative fix? (I *completely* understand if so - just making sure I've understood you correctly.)

I'm going to try that speculative fix now... (with a tiny bit of extra diagnostic code to observe when it's happened).

[2018-12-14 16:01] DenSmoke commented on #2721
@jskeet Yes, you understood correctly. I have not enough time to test the fix now

[2018-12-14 16:18] pauloevpr commented on #2721
@jskeet: Regarding the PermissionDenied error, Stackdriver reports that it has happened 10 times in the past 30 days. It was last seen 2 hours ago, btw. I will email you with addition details.

[2018-12-14 16:21] jskeet commented on #2721
@pauloevpr: Thanks. I think it's probably worth opening a separate issue about that.

[2018-12-14 16:43] pauloevpr opened #2771 "Firestore.DocumentReference.GetSnapshotAsync fails with RpcException: Status(StatusCode=PermissionDenied, Detail="Missing or insufficient permissions.")"
Hi,

I have an ASP.NET Core 2.1 Web API running on Google Cloud App Engine Flexible. The application uses Firestore 1.0.0-beta13 with default authentication.

Eventually, calling `Google.Cloud.Firestore.DocumentReference.GetSnapshotAsync()` throws the following exception:

[code]

According to Stackdriver reports, I have seen this error at least 10 times in the past 30 days. It is hard to reproduc

[2018-12-14 16:44] pauloevpr commented on #2721
I have opened #2771 for the PermissionDenied error.

[2018-12-14 16:53] pauloevpr commented on #2760
I have seen this error in my ASP.NET Core 2.1 Web API running on Google Cloud App Engine Flexible. The application uses Firestore 1.0.0-beta13 with default authentication.

Stackdriver reports that my application has seen the following Firestore Unavailable errors:

- Grpc.Core.RpcException: Status(StatusCode=Unavailable, Detail="The service is temporarily unavailable.")
- Grpc.Core.RpcException:

[2018-12-14 16:57] jskeet commented on #2760
Thanks for the additional information. Related GAX issue: https://github.com/googleapis/gax-dotnet/issues/227

I'll need to work with @chrisdunelm on this - I'm afraid it won't be until January at this point.

[2018-12-14 16:57] jskeet commented on #2760
(I'm going to change it to a bug though, as I think it's reasonable to expect that we *would* retry this.)

[2018-12-14 16:58] pauloevpr commented on #2760
Great. Thank you.

[2018-12-15 10:57] jskeet commented on #2771
@pauloevpr: Quick question from the backend team - are you hitting Firestore from any other platforms, e.g. a mobile SDK? If you could let us know which platforms you're using, that would help us understand the logs better. (Feel free to send that by email if you'd rather keep it private, of course.)

[2018-12-15 11:02] pauloevpr commented on #2771
Besides the Asp.Net Core Web API, I am also hitting Firestore from a .NET Desktop application (WPF). Both use Firestore .NET SDK 1.0.0-beta13.

[2018-12-15 16:11] LeXa777 opened #2772 "Google.Cloud.Firestore can view any collection or document regardless of security rules"
I have just installed Google.Cloud.Firestore 1.0.0-beta14 yesterday and started playing with it without setting up any sort of authentication. I soon discovered that I was able to access parts of my firestore database that had security rules around them.

To eliminate any sort of confusion on my part, I created a brand new Firebase project with a Firestore database in a locked mode. Sure enough, I

[2018-12-15 21:53] pauloevpr commented on #2771
That is right. I only access Firebase services from .NET applications.

[2018-12-15 22:06] jskeet commented on #2772
The server SDK uses service account credentials, and doesn't use the Firestore-specific security rules.

From the [documentation](https://firebase.google.com/docs/firestore/security/get-started)

Basically, those libraries are designed for situations where you're giving service-based access to your data rather than user-based access.

[2018-12-15 22:19] LeXa777 commented on #2772
Hi @jskeet, but wouldn't I need to take some steps to provide access for my console app to my firestore database? I have done something similar in NodeJS where I had to create a service account key. I believe in .NET there are similar steps, and I also need to set my environment variable GOOGLE_APPLICATION_CREDENTIALS to point to the key file. I haven't done any of these. I had created a blank Fir

[2018-12-15 22:40] jskeet commented on #2772
Are you running your code on a GCP instance? If so, you're using the default Compute credentials you get that way. If you're not, and you're not specifying the credentials any other way, I'd be surprised.

[2018-12-15 22:43] LeXa777 commented on #2772
I'm running the code on my local machine.

[2018-12-15 22:45] jskeet commented on #2772
Then I believe you must have default credentials of some form, either specified through code, or an environment variable, or through the gcloud SDK. Without credentials, we wouldn't even get as far as setting up a connection with the server.

[2018-12-16 10:09] nicksav commented on #2721
Hi @jskeet
I am ok to get a test fix and deploy to Azure to let it running and test.

Thanks
Nick

[2018-12-17 14:53] jskeet commented on #2559
The v1.3.0-beta06 package is now available that includes the new property.

[2018-12-17 17:40] easchimidt opened #2774 "[Dialogflow] StreamingDetectIntentResponse always returning null RecognitionResult"
#### Environment details

  - OS: Windows 10
  - .NET version: 4.5
  - Package name and version: DialogFlow V2

Hello,

I am trying to create a streaming communication with DialogFlow using audio. I followed some of the documentation available (honestly, this is really poor documented). One of refs is this one: https://googleapis.github.io/google-cloud-dotnet/docs/Google.Cloud.Dialogflow.V2/api/Go

[2018-12-17 17:45] jskeet commented on #2774
I'll have a look at this tomorrow morning. If you have a sample audio file, that would be helpful.

[2018-12-17 18:55] easchimidt commented on #2774
Hi jsdkeet,

I've attached two audio files:

- audio_from_float_array.wav: an original sound file, before converting to ByteString. It is perfectly detected by Google STT.
- audio_from_byte_string.wav: audio unqueued and sent to Google - it's not very good, maybe related to byte->float conversion. It might be a conversion problem. It's not recognized by Google TTS.

Maybe I am not converting from

[2018-12-17 19:12] easchimidt commented on #2774
Just to give some more information...

I printed the first bytes of data before converting and after, and the conversion looks really close, at least byte-wise.

For example:

original audio: 0.06134033 (first float)
byte string: 0 64 123 61 (first four bytes)

0.06134033 = 0x3d7b3fff, or, in integers with swiped indianess, 255 63 123 61. Probably the difference between the byte string and my manu

[2018-12-18 08:45] jskeet commented on #2772
Closing as everything is working as intended as far as I can see.

[2018-12-18 08:45] #2772 closed

[2018-12-18 08:47] jskeet commented on #2771
Can I check how you're acquiring/providing the access token? You'll see this error if you pass in an empty access token, but that's the only way I've managed to reproduce it. If you're using the default credentials, the tokens should just be refreshed for you automatically - but based on your feedback in #2772 I wonder whether the problem is some custom code that's dealing with access tokens?

[2018-12-18 09:14] jskeet commented on #2774
When I run the code (changed very slightly, just in terms of diagnostics) with `audio_from_float_array.wav`, I see the following:

[code]

So the API is working fine. I don't really understand what you're doing for the second file, but it definitely looks like it's the audio file conversion that's the problem, not the API or the client library.

Unless there are any further API/library-specific pr

[2018-12-18 10:57] pauloevpr commented on #2771
I am using custom authentication only for the client application. The server application, where I have seen the PermissionDenied error, is an Asp.Net Core WebAPI running on Google Cloud App Engine, and it uses default credentials.

[2018-12-18 11:05] pauloevpr commented on #2771
This how I create instances of FirestoreDb on my server application:

[code]

[2018-12-18 11:10] pauloevpr commented on #2771
It is important to point that the PermissionDenied error happens very rarely. The operations that fail with this error are the same ones which work just fine most of the time. Could it be that the faulty operations take place right in the moment the SDK is refreshing the authentication token?

[2018-12-18 11:53] jskeet commented on #2771
@pauloevpr: That's good to know, thanks.

Just to check, this is without GOOGLE_APPLICATION_CREDENTIALS being set anywhere - it's just the ambient credentials you get for being on GCP? That would be `ComputeCredential` if so. (If you have the time to confirm that, logging `GoogleCredential.GetDefaultApplicationCredential().UnderlyingCredential.GetType()` would be great.)

I know that we changed th

[2018-12-18 11:55] jskeet commented on #2721
I saw a failure yesterday and this morning which was unrelated (and which I've asked about internally). I *could* merge my expected fix in and do another release today; I don't believe it's *harmful*, and it would let others test over Christmas.

[2018-12-18 12:33] jskeet commented on #2771
Great, thanks. I've looked over the code and can't see anything wrong with it by inspection, but I'll see if I can stress test it this afternoon. (I'll use 10 tasks that do nothing but ask for tokens all the time, and log any time they see a "new" token. We'll see if they ever end up returning a null or empty token.)

Thanks for being so responsive - it's really helpful!

[2018-12-18 12:35] pauloevpr commented on #2771
It sounds promising. Looking forward to the results.

[2018-12-18 14:18] jskeet commented on #2771
Sample code I'll be running:

[code]

Project file:

[code]

(Unfortunately we're likely to only see changes once every hour, but...)

[2018-12-18 14:56] jskeet commented on #2721
I've now released 1.0.0-beta15. I won't close this issue just yet, but your feedback would be much appreciated. (The only change compared with 1.0.0-beta14 is swallowing exceptions when closing the listener stream.)

Note that if you get an exception about "Server removed watch target" that's a separate issue - I've seen it twice so far today, but never before.

[2018-12-18 15:00] easchimidt commented on #2774
Hi jskeet,

Thanks for testing it.

I was improving that conversion yesterday. Now I have a perfect conversion, but still doesn't get any results. Do I need to enable anything at DialogFlow for streaming audio recognition? I try on the console but it works fine.

Can you tell what changes you made, please? Maybe something related to the write of the data? Is there any way to debug the messages sen

[2018-12-18 15:13] jskeet commented on #2774
Here's my complete code - you pass in the project ID and filename from the command line. If this code works with your file, then it may be a problem with how you're queuing the data.
(The buffer size and delay should probably be tweaked - this was fairly rough and ready, but as it worked first time, I didn't tweak it.)

[code]

Project file:

[code]

[2018-12-18 15:35] easchimidt commented on #2774
hi jskeet,

Thanks again.

In your code you are limiting the send to 8192. Maybe that's the problem. I am doing only one write, and my InputAudio has 64000 elements (a lot of bytes). Don't know if under the hood it would split in packages that fits the network MTU. I will do like you and break into smaller requests.

One question regarding the Task Delay. Is it needed to avoid causing some desynch

[2018-12-18 15:37] jskeet commented on #2774
My `Task.Delay` was to match your original description:

If you have a 16-bit mono 16KHz wav file, I'd expect a 32K buffer sent once every second to be fine.

I'll try changing my code to do that, but I doubt that it'll make a difference.

[2018-12-18 15:38] jskeet commented on #2774
Are you able to attach the file that you'd expect to work but which doesn't? Then we can both be testing with the same data.

[2018-12-18 16:06] jskeet commented on #2771
I've got this running on 3 machines, btw. It looks like Compute credentials are only valid for 30 minutes rather than an hour, and we refresh them 6 minutes before we need to, so I'm seeing changes (x3) every 24 minutes. No empty access tokens yet though...

[2018-12-18 16:24] jskeet opened #2776 "Firestore watch should handle more server errors"
If the Firestore watch implementation sees a server response of "remove watch target" it throws an exception at the moment.
In some cases it should instead retry.

We should make sure the precise required semantics are well understood, and implement this in conformance tests that can be tested on all platforms.

Related to #2721.

[2018-12-18 16:34] jskeet commented on #2721
Note that until #2776 is fixed (and even after that, really), it's still worth watching the `ListenerTask` to detect failures.
I'll be looking at 2776 in the New Year.

[2018-12-18 16:59] easchimidt commented on #2774
Hi jskeet,

Now I am getting some results, but with really bad recognition. I've attached the series of audios (some hellos, "hello, how are you", etc). Each file has 1 second. I've tried with 3 seconds files, but the results weren't good either.

We can close the bug, as I'm getting some results at least. Not what I expect, as the recognition isn't good, but will try some tweaks and see if someth

[2018-12-18 17:42] easchimidt commented on #2774
I am thinking that maybe my problem is that my case is not the same as all the examples at DialogFlow documentation.

I am live recording the microphone, and sending samples every 1 second. But, these samples might not be the end of the speech - it can last a few seconds. But, in my Task, I am creating a new StreamingDetectIntent every time I have a new audio (line  duplexStream = dfClient.Streami

[2018-12-18 18:02] jskeet commented on #2774
You *absolutely* shouldn't be creating a new stream for each 1 second of audio. The whole point of it being a streaming call is that you can send multiple pieces of information in the same call.

You should basically keep a single stream open for the user, and send the audio as it's being captured, only closing the stream when either you spot that the intent has been detected, or the user stops it

[2018-12-18 18:46] easchimidt commented on #2774
Yes, that was my suspects. As I said, there's no documentation for this usage, unfortunately. I will try changing the way the tasks are executed - probably getting the microphone data inside the task until it detects an intent. Let's see.

Thanks, jskeet. Have a nice day!

[2018-12-18 21:37] alyaros opened #2777 "C# Google.Cloud.Spanner.Data Driver - Query 50K records - throw NPE"
Version:
Google.Cloud.Spanner.Data -Version 2.0.0-beta05.
Google.Cloud.Spanner.V1 -Version 2.0.0-beta05

**Simple select query "select * from My50KRecordsTable" throw NPE.**

Object reference not set to an instance of an object.

   at Google.Cloud.Spanner.V1.ReliableStreamReader.MergeChunk(Value currentValue, Value nextValue)
   at Google.Cloud.Spanner.V1.ReliableStreamReader.<NextAsync>d__40.Mov

[2018-12-18 21:47] jskeet commented on #2777
Eek, that's annoying/worrying/irksome.

I'm on vacation now until January, but hopefully Amanda will be able to look into it. Could you tell us what the structure of your table is, just in terms of the schema? That couls easily affect things.

[2018-12-18 21:50] alyaros commented on #2777
Something random for testing:

UniqueId | STRING(MAX) | Yes
CreationDate | TIMESTAMP | Yes
IsRandom | BOOL | Yes
RandomNumber | INT64 | Yes

I've just made few more attempts with 60K and it worked so this is not stable in terms for reproducing it.

[2018-12-19 08:11] #2774 closed

[2018-12-19 09:19] amanda-tarafa commented on #2777
I'll take a look at this this week. Will aim for today else on Friday.

[2018-12-19 16:58] DenSmoke opened #2778 "Query.Collection as public property"
Why ```Query.Collection``` property is internal? I faced with case when it is convenient to get collection id or path when ```Query``` object is passed as parameter to some function. I see no reason of inaccessible ```Collection``` property except that it will be weird to have ```CollectionReference.Collection``` property

Code showing above mentioned case:
[code]

As you see ```collectionName```

[2018-12-20 07:46] jskeet commented on #2778
This is by design. Although *currently* any given query is only for a single collection, it's possible that in the future we may support multi-collection queries, at which point we'll need to change the internals of `Query` but won't need any breaking API change. That wouldn't be the case if we'd made `Collection` part of the `Query` itself.

[2018-12-20 08:43] DenSmoke commented on #2778
Oh, I understand now

[2018-12-20 08:43] #2778 closed

[2018-12-21 16:17] amanda-tarafa commented on #2777
@alyaros I haven't been able to reproduce this.

I've created a table with the same schema that you provided. I filled that table using the following code:
[code]
I ran the above code several times, querying the data in between, until I got to 50k rows. As you can see I've added some null values here and there in case that was the source of the problem. Also I manually added a couple other rows, o

[2018-12-21 20:23] alyaros commented on #2777
Hey,

The data is the same, nothing special in my case.

Although EF is involved and maybe has some contribution to the case - i.e in some strange way it generates it - I think it is less relevant. You can think of it as just another caller\user of your code - as bad as it can be :)

Anyway, Unfortunately, the issue isn't reproducible in my code as well - originally, I ran it for several times and

[2018-12-22 15:59] amanda-tarafa commented on #2777
As soon as I'll get back from holidays I'll take a closer look at the code to see if I can find where and why the exception might be thrown and then do something about it. I'll update here with whatever I find.

[2018-12-28 02:54] nicksav commented on #2721
hi guys
Can anybody provide a good code example on how to correctly handle exceptions and restart listener?

[2018-12-28 04:52] DenSmoke commented on #2721
@nicksav the most simple way:
[code]

[2018-12-29 21:54] alyaros opened #2779 "Spanner.Data 2-Beta-5 - C# - Nullable Timestamp is dropping results without an error from a select query results."
Running the following scalar query on the web console or C# driver 2-beta-5 is resulting 476577 results.
SELECT count(*) FROM Players;

Running the following query with C# Spanner.Data 2-beta-5 is resulting 452593 results.
SELECT p.PlayerId, p.FirstRealPurchaseTime FROM Players As p;

When I removed the p.FirstRealPurchaseTime which is a Nullable Timestamp and ran:
SELECT p.PlayerId FROM Players A

[2018-12-30 02:53] jskeet commented on #2779
Thanks for the report. I'll investigate as soon as I'm back from holidays, which will be January 2nd.

In the meantime, could I just check:

- Is this consistent, as in you get the same results every time?
- Is the difference between the two (i.e. 452593 - 476577 = 23984) the same as the number of records where FirstRealPurchaseTime is null?